tmp/eml-spatialVector.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:res="eml://ecoinformatics.org/resource-2.2.0" xmlns:doc="eml://ecoinformatics.org/documentation-2.2.0" xmlns:con="eml://ecoinformatics.org/constraint-2.2.0" xmlns:att="eml://ecoinformatics.org/attribute-2.2.0" xmlns:spref="eml://ecoinformatics.org/spatialReference-2.2.0" xmlns:ent="eml://ecoinformatics.org/entity-2.2.0" xmlns="eml://ecoinformatics.org/spatialVector-2.2.0" targetNamespace="eml://ecoinformatics.org/spatialVector-2.2.0">
  <xs:import namespace="eml://ecoinformatics.org/documentation-2.2.0" schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/spatialReference-2.2.0" schemaLocation="eml-spatialReference.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/entity-2.2.0" schemaLocation="eml-entity.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/resource-2.2.0" schemaLocation="eml-resource.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/attribute-2.2.0" schemaLocation="eml-attribute.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/constraint-2.2.0" schemaLocation="eml-constraint.xsd"/>
  <xs:annotation>
    <xs:documentation>
    '$RCSfile: eml-spatialVector.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: obrien $'
          '$Date: 2009-02-25 23:51:54 $'
      '$Revision: 1.43 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:documentation>
moduleName: eml-spatialVector

moduleDescription: 
          
            
              The eml-spatialVector module - Logical information about
              non-gridded geospatial image data
            
          
        

recommendedUsage: all spatial datasets that contain spatial data
        entities represented as vector features.

standAlone: yes
</xs:documentation>
  </xs:annotation>
  <xs:element name="spatialVector" type="SpatialVectorType">
    <xs:annotation>
      <xs:documentation>
tooltip: Spatial Vector

summary: Description of a spatial data entity based on features
        represented by vectors

description: Description of a spatial data entity based on features
        represented by vectors
</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SpatialVectorType">
    <xs:annotation>
      <xs:documentation>
tooltip: Spatial Vector Type

summary: 

description: 
</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:group ref="ent:EntityGroup"/>
        <xs:element name="attributeList" type="att:AttributeListType">
          <xs:annotation>
            <xs:documentation>
tooltip: Attribute List

summary: The list of attributes associated with this
              entity.

description: The list of attributes associated with this
              entity.  For more information see the eml-attribute
              module.
</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="constraint" type="con:ConstraintType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
tooltip: Constraint

summary: Description of any relational constraints on
              this entity.

description: Description of any relational constraints on
              this entity.  For more information see the eml-constraint
              module.
</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="geometry" type="GeometryType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
tooltip: Geometry

summary: Type of geometric feature(s) represented in the
              entity.

description: Geometric feature classification is based on an
              enumeration of simple feature classes defined by the OpenGIS
              consortium and implemented in Geographic Markup Language as
              simple feature types.
</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="geometricObjectCount" type="res:NonEmptyStringType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
tooltip: Geometric Object Count

summary: Total number of the geometric objects
              occurring in the dataset.

description: Total number of the geometric objects
              occurring in the dataset.
</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="topologyLevel" type="TopologyLevel" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
tooltip: Topology Level

summary: Code which identifies the degree of
              complexity.

description: This element describes the relative complexity
              of the geometric information in the data file.
</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="spatialReference" type="spref:SpatialReferenceType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
tooltip: Spatial Reference

summary: 

description: 
</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="horizontalAccuracy" type="DataQuality" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
tooltip: Horizontal Accuracy

summary: Horizontal positional accuracy of the data

description: Horizontal positional accuracy of the data
              expressed as either text or quantitative assessment.
              
</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="verticalAccuracy" type="DataQuality" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
tooltip: Vertical Accuracy

summary: Vertical positional accuracy of the data

description: Vertical positional accuracy of the data
              expressed as either text or quantitative assessment.
              
</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:group ref="res:ReferencesGroup"/>
    </xs:choice>
    <xs:attribute name="id" type="res:IDType" use="optional"/>
    <xs:attribute name="system" type="res:SystemType" use="optional"/>
    <xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
  </xs:complexType>
  <xs:simpleType name="GeometryType">
    <xs:annotation>
      <xs:documentation>
tooltip: Geometry Type

summary: 

description: 
</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Point"/>
      <xs:enumeration value="LineString"/>
      <xs:enumeration value="LinearRing"/>
      <xs:enumeration value="Polygon"/>
      <xs:enumeration value="MultiPoint"/>
      <xs:enumeration value="MultiLineString"/>
      <xs:enumeration value="MultiPolygon"/>
      <xs:enumeration value="MultiGeometry"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TopologyLevel">
    <xs:annotation>
      <xs:documentation>
tooltip: Topology Level Type

summary: 

description: 
</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="geometryOnly"/>
      <xs:enumeration value="nonPlanarGraph"/>
      <xs:enumeration value="planarLineGraph"/>
      <xs:enumeration value="fullPlanarGraph"/>
      <xs:enumeration value="surfaceGraph"/>
      <xs:enumeration value="fullTopology3D"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DataQuality">
    <xs:annotation>
      <xs:documentation>
tooltip: Data Quality Type

summary: 

description: 
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="accuracyReport" type="res:NonEmptyStringType">
        <xs:annotation>
          <xs:documentation>
tooltip: Accuracy Report

summary: A qualitative statement about the accuracy of the data.

description: A text statement of the data quality, included the means by which it was determined.
            
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantitativeAccuracyReport" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
tooltip: Quantitative Accuracy Report

summary: A quantitative assessment of the data quality.

description: A quantitative assessment of the data quality expressed as a value and
            the method of its determination.
</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="quantitativeAccuracyValue" type="res:NonEmptyStringType">
              <xs:annotation>
                <xs:documentation>
tooltip: Quantitative Accuracy Value

summary: The value resulting from the accuracy test.

description: The value resulting from the accuracy test. Typically, this will be expressed
                  in units corresponding to those declared for the parameter being assessed.
</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="quantitativeAccuracyMethod" type="res:NonEmptyStringType">
              <xs:annotation>
                <xs:documentation>
tooltip: Quantitative Accuracy Method

summary: The method used to calculate the accuracy value.

description: Identification and explanation of the method used to calculate the quantitative
                  accuracy assessment.
</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
