eml-entity.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:entity" 
           xmlns="eml:entity" 
           xmlns:cov="eml:coverage" 
           xmlns:doc="eml:documentation" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="eml:documentation" 
             schemaLocation="eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-entity.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: cjones $'
          '$Date: 2001-12-14 20:26:08 $'
      '$Revision: 1.19 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-entity</doc:moduleName>
      <doc:moduleDescription>
        The EML Entity Module defines the logical characteristics of every
        entity in the dataset.  Entities are usually tables of data with a
        fixed logical structure, but could also be other types of data such
        as raster or vector image data.  The "table-entity" element is used
        to describe all table entities, and the "other-entity" element would
        be used to describe all other types of entities.  Specific details of
        non-tabular entities are left to other standards (e.g., for remote
        sensing data, one should include a spatial metadata module such as
        the FGDC Content Standard for Digitial Geospatial Metadata [CSDGM]).
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="eml:coverage" schemaLocation="eml-coverage.xsd"/>
  <xs:element name="table-entity">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Table Entity descriptor
        </doc:tooltip>
        <doc:summary>
          Descriptor of one table entity in the dataset.
        </doc:summary>
        <doc:description>
          The table entity element is a descriptor of one entity in the dataset
          identified by its name. The entity element can contain information 
          about the entity's orientation, number of records,
          case sensitiveness, and temporal, geographic and taxonomic coverage.
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The entity element was introduced into EML 1.4 as file.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="EntityBase">
          <xs:sequence>
            <xs:element name="orientation" nillable="true" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Entity's record orientation
                  </doc:tooltip>
                  <doc:summary>
                    Specification of the entity's record orientation.
                  </doc:summary>
                  <doc:description>
                    This element contains specification of the entity's
                    record orientation by element's attribute "columnorrow".
                  </doc:description>
                  <doc:example>
                    The valid attribute values are "columnmajor" or "rowmajor".
                    If the attribute is not specified, "columnmajor" is used.
                  </doc:example>
                  <doc:lineage>
                    The orientation element was introduced into EML 1.4.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="columnorrow" use="optional" default="columnmajor">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                          Attribute of orientation element
                      </doc:tooltip>
                      <doc:summary>
                          Specification of the entity's record orientation.
                      </doc:summary>
                      <doc:description>
                          This attribute specifies the entity's
                        record orientation.
                      </doc:description>
                      <doc:example>
                        The valid attribute values are "columnmajor" or
                        "rowmajor".  If the attribute is not specified,
                        "columnmajor" is used.
                      </doc:example>
                      <doc:lineage>
                        The columnorrow attribute was introduced into EML 1.4.
                      </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="columnmajor"/>
                      <xs:enumeration value="rowmajor"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="caseSensitive" nillable="true" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Data case sensitiveness
                  </doc:tooltip>
                  <doc:summary>
                    Specification of text case sensitiveness in the entity.
                  </doc:summary>
                  <doc:description>
                    This element contains specification of text
                    case sensitiveness of the data in the entity. It is 
                    specified from element's attribute "yesorno".
                  </doc:description>
                  <doc:example>
                    The valid attribute values are "yes" or "no".
                    If the attribute is not specified, "yes" is used.
                  </doc:example>
                  <doc:lineage>
                    The caseSensitive element was introduced into EML 1.4.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="yesorno" use="optional" default="yes">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                        Attribute of caseSensitive element
                      </doc:tooltip>
                      <doc:summary>
                        Specification of text case sensitiveness in the entity.
                      </doc:summary>
                      <doc:description>
                        This attribute specifies text case sensitiveness of 
                        entity's data.
                      </doc:description>
                      <doc:example>
                        The valid attribute values are "yes" or "no".
                        If the attribute is not specified, "yes" is used.
                      </doc:example>
                      <doc:lineage>
                        The yesorno attribute was introduced into EML 1.4.
                      </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="yes"/>
                      <xs:enumeration value="no"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="numberOfRecords" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Number of records
                  </doc:tooltip>
                  <doc:summary>
                    The integer count of the number of records inthe entity
                  </doc:summary>
                  <doc:description>
                    This element contains a count of the number of records
                    in the entity.  This is typically an integer value,
                    and only includes records that represent observations.
                    It would not include any details of physical formatting
                    such as the number of header lines (see eml-physical
                    for that information).
                  </doc:description>
                  <doc:example>
                    <![CDATA[<numberOfRecords>975</numberOfRecords>]]>
                  </doc:example>
                  <doc:lineage>
                    Introduced in EML 2
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="other-entity">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Other Entity descriptor
        </doc:tooltip>
        <doc:summary>
          Descriptor of one one non-table entity in the dataset.
        </doc:summary>
        <doc:description>
          The other entity element is a descriptor of one entity in the
          dataset identified by its name. The element can contain information
          about the entity's basic identity, its temporal, geographic and
          taxonomic coverage, and its type.
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The entity element was introduced into EML 1.4 as file.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="EntityBase">
          <xs:sequence>
            <xs:element name="entityType" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Entity type
                  </doc:tooltip>
                  <doc:summary>
                    Contains the name of the type for this entity.
                  </doc:summary>
                  <doc:description>
                    This element contains the name of the entity's type.
                    The entity's type is typically the name of the data
                    type represented in the entity, such as raster image,
                    vector image, etc.
                  </doc:description>
                  <doc:example>
                    <![CDATA[<entityType>Raster Image</entityType>]]>
                  </doc:example>
                  <doc:lineage>
                    The entityType element was introduced into EML 1.4 as 
                    entityFormat.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EntityBase">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Base Entity descriptors
        </doc:tooltip>
        <doc:summary>
          Basic information about an entity common to all entity types.
        </doc:summary>
        <doc:description>
          Basic information about all entity types, including name and
          coverage of the entity.  The term entity is used in the sense of
          an entity in a relational model; it generally represents a table,
          but can also represent an image or other
          type of data.
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The eml-entity was introduced into EML 1.4 as eml-file.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Unique identifier
            </doc:tooltip>
            <doc:summary>
              The unique identifier of this metadata file or object.
            </doc:summary>
            <doc:description>
              The identifier field provides a unique identifier for this
              metadata documentation.  It will most likely be part of a 
              sequence of numbers or letters that are meaningful in a 
              larger context, such as a metadata catalog. That larger
              system can be identified in the "system" attribute. Multiple
              identifiers can be listed corresponding to different catalog
              systems.
            </doc:description>
            <doc:example>
              <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
            </doc:example>
            <doc:lineage>
              The 'identifier' field is derived from the eml-dataset 
              meta_file_id filed in EML 1.4.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="system" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                  Catalog system
                </doc:tooltip>
                    <doc:summary>
                  The catalog system in which this identifier is used.
                </doc:summary>
                    <doc:description>
                  This element gives the name of the catalog system in which
                  this identifier is used.  It is useful to determine the
                  scope of the identifier, and to determine the semantics
                  of the various subparts of the identifier. Unresolved issue:
                  can or should this be a URI/URL pointing to the catalog
                  system, or just the name?
                </doc:description>
                    <doc:example><![CDATA[
                  <identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
                    <doc:lineage>
                  New to EML 2.0.
                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="entityName" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Entity name
            </doc:tooltip>
            <doc:summary>
              Entity name specifier
            </doc:summary>
            <doc:description>
              The name identifies the entity in the dataset: file name, 
              name of database table, etc.
            </doc:description>
            <doc:example>
              SpeciesAbundance1996
            </doc:example>
            <doc:lineage>
              The entityName was introduced into EML 1.4.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="entityDescription" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Entity description
            </doc:tooltip>
            <doc:summary>
              General description of the entity and its contents
            </doc:summary>
            <doc:description>
              A paragraph of text generally describing the entity, its type, and
              relevant information about the data in the entity.
            </doc:description>
            <doc:example>
              Species abundance data for 1996 at the VCR LTER
            </doc:example>
            <doc:lineage>
              Introduced in EML 2
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="cov:temporalCov"/>
      <xs:element ref="cov:geographicCov"/>
      <xs:element ref="cov:taxonomicCov"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
