eml-dataset.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml://ecoinformatics.org/dataset-2.0.0rc1" xmlns:v="eml://ecoinformatics.org/view-2.0.0rc1" xmlns:sp="eml://ecoinformatics.org/storedProcedure-2.0.0rc1" xmlns:sv="eml://ecoinformatics.org/spatialVector-2.0.0rc1" xmlns:md="eml://ecoinformatics.org/methods-2.0.0rc1" xmlns:sr="eml://ecoinformatics.org/spatialRaster-2.0.0rc1" xmlns:proj="eml://ecoinformatics.org/project-2.0.0rc1" xmlns:dat="eml://ecoinformatics.org/dataTable-2.0.0rc1" xmlns:ent="eml://ecoinformatics.org/entity-2.0.0rc1" xmlns:acc="eml://ecoinformatics.org/access-2.0.0rc1" xmlns="eml://ecoinformatics.org/dataset-2.0.0rc1" xmlns:res="eml://ecoinformatics.org/resource-2.0.0rc1" xmlns:rp="eml://ecoinformatics.org/party-2.0.0rc1" xmlns:txt="eml://ecoinformatics.org/text-2.0.0rc1" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.0rc1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="eml://ecoinformatics.org/documentation-2.0.0rc1" schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/resource-2.0.0rc1" schemaLocation="eml-resource.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/party-2.0.0rc1" schemaLocation="eml-party.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/access-2.0.0rc1" schemaLocation="eml-access.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/entity-2.0.0rc1" schemaLocation="eml-entity.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/dataTable-2.0.0rc1" schemaLocation="eml-dataTable.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/project-2.0.0rc1" schemaLocation="eml-project.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/methods-2.0.0rc1" schemaLocation="eml-methods.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/spatialRaster-2.0.0rc1" schemaLocation="eml-spatialRaster.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/spatialVector-2.0.0rc1" schemaLocation="eml-spatialVector.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/storedProcedure-2.0.0rc1" schemaLocation="eml-storedProcedure.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/text-2.0.0rc1" schemaLocation="eml-text.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/view-2.0.0rc1" schemaLocation="eml-view.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-dataset.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: mccartne $'
          '$Date: 2002-09-09 14:43:54 $'
      '$Revision: 1.38 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-dataset</doc:moduleName>
        <doc:moduleDescription>The eml-dataset module contains general
        information that describes dataset resources. It is intended to provide
        overview information about the dataset, including title, abstract,
        keywords, contacts, and the links to associated metadata for the given
        resource. It also describes the temporal, geographic, and taxonomic
        coverage of the overall dataset. A dataset can be (and often is)
        composed of a series of data entities (tables) that are linked together
        by particular integrity constraints.</doc:moduleDescription>
        <doc:recommendedUsage>all datasets</doc:recommendedUsage>
        <doc:standAlone>yes</doc:standAlone>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="dataset" type="DatasetType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Dataset Resource</doc:tooltip>
        <doc:summary>The container for fields describing a dataset
        resource.</doc:summary>
        <doc:description>The dataset element extends the standard Resource
        metadata in order to provide information that is specific to describing
        a set of data. Therefore, dataset elements contain all of the general
        resource elements, but also specific dataset
        elements.</doc:description>
        <doc:lineage>This element was introduced in EML 2.0, and is derived
        from the eml-dataset module in EML 1.4.</doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DatasetType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Dataset Resource</doc:tooltip>
        <doc:summary>The container for fields describing a dataset
        resource.</doc:summary>
        <doc:description>The dataset element extends the standard Resource
        metadata in order to provide information that is specific to describing
        a set of data. Therefore, dataset elements contain all of the general
        resource elements, but also specific dataset
        elements.</doc:description>
        <doc:lineage>This element was introduced in EML 2.0, and is derived
        from the eml-dataset module in EML 1.4.</doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:group ref="res:ResourceGroup"/>
        <xs:element name="purpose" type="txt:TextType" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Purpose</doc:tooltip>
              <doc:summary>A description of the purpose of this data
              resource.</doc:summary>
              <doc:description>A description of the purpose of this data
              resource.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="maintenance" type="MaintenanceBase" minOccurs="0">
          <xs:annotation>
            <xs:appinfo><doc:tooltip>Maintenance</doc:tooltip>
<doc:summary>A description of the maintenance of this data
              resource.</doc:summary>
<doc:description>A description of the maintenance of this data
              resource. This includes information about the frequency of
              update, and whether there is ongoing data
              collection.</doc:description>
<doc:example/>
<doc:lineage>ISO CD 19115.2</doc:lineage></xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="contact" type="rp:ResponsibleParty" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Data Set Contact</doc:tooltip>
              <doc:summary>The contact for this data set</doc:summary>
              <doc:description>The contact for this data set. This is the
              person or institution to contact with questions about the use,
              interpretation of a data set.</doc:description>
              <doc:example/>
              <doc:lineage>New in EML2.0.0.</doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Data Set Publisher</doc:tooltip>
              <doc:summary>The publisher of this data set</doc:summary>
              <doc:description>The publisher of this data set. At times this is
              a traditional publishing house, but it may also simply be an
              institution that is making the data available in a published (ie,
              citable) format.</doc:description>
              <doc:example/>
              <doc:lineage>New in EML2.0.0.</doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="pubPlace" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Publication place</doc:tooltip>
              <doc:summary>The location that the resource was
              published.</doc:summary>
              <doc:description>the 'pubPlace' field is the location where the
              resource was published, which may be different from where the
              resource was created.</doc:description>
              <doc:example>San Francisco, CA, USA</doc:example>
              <doc:lineage>This element was derived from elements described in
              the FGDC-STD-001.1-1999 standard
              (nbii-fgdc-std-001.1-1999)</doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="method" type="md:MethodsType" minOccurs="0"/>
        <xs:element name="project" type="proj:ResearchProjectType" minOccurs="0"/>
        <xs:element name="access" type="acc:AccessType" minOccurs="0"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="dataTable" type="dat:DataTableType"/>
          <xs:element name="spatialRaster" type="sr:SpatialRasterType"/>
          <xs:element name="spatialVector" type="sv:SpatialVectorType"/>
          <xs:element name="storedProcedure" type="sp:StoredProcedureType"/>
          <xs:element name="view" type="v:ViewType"/>
          <xs:element name="otherEntity" type="ent:OtherEntityType"/>
        </xs:choice>
      </xs:sequence>
      <xs:element name="references" type="xs:string"/>
    </xs:choice>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="system" type="xs:string" use="optional"/>
    <xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
  </xs:complexType>
  <xs:complexType name="MaintenanceBase">
    <xs:sequence>
      <xs:element name="description" type="txt:TextType">
        <xs:annotation>
          <xs:appinfo><doc:tooltip>Maintenance Description</doc:tooltip>
<doc:summary>A text description of the maintenance of this data
              resource.</doc:summary>
<doc:description>A text description of the maintenance of this data
              resource.</doc:description>
<doc:example/>
<doc:lineage>ISO CD 19115.2</doc:lineage></xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="maintenanceUpdateFrequency" type="MaintUpFreqType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo><doc:tooltip>Maintenance Update Frequency</doc:tooltip>
<doc:summary>Frequency with which changes and additions are made to the datset after the initial dataset is completed.</doc:summary>
<doc:description>Frequency with which changes and additions are made to the datset after the initial dataset is completed.</doc:description>
<doc:example/>
<doc:lineage>SO/CD 19115.2</doc:lineage></xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="changeHistory" type="ChangeHistoryBase" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo><doc:tooltip>Change History</doc:tooltip>
<doc:summary>A description of changes made to the data since its release.</doc:summary>
<doc:description>A description of changes made to the data since its release.</doc:description>
<doc:example/>
<doc:lineage>EML 2.0</doc:lineage></xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MaintUpFreqType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="annually"/>
      <xs:enumeration value="asNeeded"/>
      <xs:enumeration value="biannually"/>
      <xs:enumeration value="continually"/>
      <xs:enumeration value="daily"/>
      <xs:enumeration value="irregular"/>
      <xs:enumeration value="monthly"/>
      <xs:enumeration value="notPlanned"/>
      <xs:enumeration value="weekly"/>
      <xs:enumeration value="unkown"/>
      <xs:enumeration value="otherMaintenancePeriod"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChangeHistoryBase">
    <xs:sequence>
      <xs:element name="changeScope" type="xs:string">
        <xs:annotation>
          <xs:appinfo><doc:tooltip>Change Scope</doc:tooltip>
<doc:summary>An expression describing the scope to which the documented change was applied.</doc:summary>
<doc:description>The expression should unambigously identify the entity(s) and attribute(s) that were changed.</doc:description>
<doc:example/>
<doc:lineage>EML 2.0</doc:lineage></xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="oldValue" type="xs:string">
        <xs:annotation>
          <xs:appinfo><doc:tooltip>Old Value</doc:tooltip>
<doc:summary>The previous value of the data prior to the change.</doc:summary>
<doc:description>The previous value or an expression that describes the previous value of the data.</doc:description>
<doc:example/>
<doc:lineage>EML 2.0</doc:lineage></xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="changeDate" type="xs:date">
        <xs:annotation>
          <xs:appinfo><doc:tooltip>Change Date</doc:tooltip>
<doc:summary>The date the changes were applied.</doc:summary>
<doc:description></doc:description>
<doc:example/>
<doc:lineage>EML 2.0</doc:lineage></xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
