eml-entity.dtd

<!--
       '$RCSfile: eml-entity.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2001-07-10 17:14:44 $'
      '$Revision: 1.9 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->
<!-- EML DTD document that defines the structural
     characteristics of every entity in a dataset. -->
<!ENTITY % coverage SYSTEM "./eml-coverage.dtd">
%coverage;
<!ENTITY % EntityBase "(identifier+, entityName, entityDescription?,
                       temporalCov*, geographicCov*,taxonomicCov*)">
<!ELEMENT table-entity (%EntityBase;, orientation?, caseSensitive?, numberOfRecords?)>
<!ELEMENT other-entity (%EntityBase;, entityType)>
<!-- fields for EntityBase -->
<!ELEMENT identifier (#PCDATA)>
<!ATTLIST identifier
  system CDATA #IMPLIED
>
<!ELEMENT entityName (#PCDATA)>
<!ELEMENT entityDescription (#PCDATA)>
<!-- fields for table-entity -->
<!ELEMENT orientation EMPTY>
<!ATTLIST orientation
  columnorrow (columnmajor | rowmajor) "columnmajor"
>
<!ELEMENT caseSensitive EMPTY>
<!ATTLIST caseSensitive
  yesorno (yes | no) "no"
>
<!ELEMENT numberOfRecords (#PCDATA)>
<!-- fields for other-entity -->
<!ELEMENT entityType (#PCDATA)>
<!-- End of file -->
