eml-package.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:res="eml:resource"
           targetNamespace="eml:package" >

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-package.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-03-27 00:04:44 $'
      '$Revision: 1.11 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>
        eml-package
      </moduleName>
      <moduleDescription>
        The EML Package Module describes the relationships between metadata and 
        data file(s).
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>

  <xs:import namespace="eml:resource" 
             schemaLocation = "./eml-resource.xsd"/>
  
  <xs:element name="package">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Package descriptor 
        </tooltip>
        <summary>
          Package element represents a list of relationships between 
          metadata and data file(s). 
        </summary>
        <description>
          Package element represents a list of relationships between metadata 
          and data file(s). The relationships are in the form of:
          <![CDATA[<subject> <relationship> <object>]]>
        </description>
        <example>
          someMetadataFile.xml isMetadataFor someDataFile.dat
        </example>
        <lineage>
          The package element is derived from package.dtd, version 1.5
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "identifier" type = "xs:string"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Unique identifier
              </tooltip>
              <summary>
                The unique identifier of this metadata file or object.
              </summary>
              <description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </description>
              <example>
               <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
              </example>
              <lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="system" use="optional" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    Catalog system
                  </tooltip>
                  <summary>
                    The catalog system in which this identifier is used.
                  </summary>
                  <description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </description>
                  <example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]>
                  </example>
                  <lineage>
                    New to EML 2.0.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>

        <xs:element name="name" type="xs:string"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Package name
              </tooltip>
              <summary>
                Decsriptor to identify the package 
              </summary>
              <description>
                The name is used to identify the package.
              </description>
              <example>
              </example>
              <lineage>
                The package name element was introduced into EML 2.0 Proposed.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="resource" type="res:Resource"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Package contact information
              </tooltip>
              <summary>
                Contact information for the people or organization that manage/
                own this package.
              </summary>
              <description>
                Contact information for the owners/managers/PIs of this package.
                This should contain contact information for anyone who has
                contributed to this package.
              </description>
              <example>
                see examples in eml-resource.xsd
              </example>
              <lineage>
                new to EML 2.0
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="relation"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Relationship list 
              </tooltip>
              <summary>
                Descriptor to list all relationships in the package
              </summary>
              <description>
                The relation element lists all relationships in the package.
                The relationships are in the form of:
                <![CDATA[<subject> <relationship> <object>]]>
              </description>
              <example>
                someMetadataFile.xml isMetadataFor someDataFile.dat
              </example>
              <lineage>
                Relation element was introduce into EML 2.0 Proposed.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="relation">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          relation between objects
        </tooltip>
        <summary>
          The definition of a relationship between objects
        </summary>
        <description>
          A relation allows a user to define a relationship between two
          objects.  This relationship can also be recursive so that an
          object can point back to the package of which it is a part.
        </description>
        <example>
          Normal (nonrecursive):
          &lt;subject&gt;knb.3.4&lt;/subject&gt; &lt;isFileMetadataFor&gt; &lt;object&gt;knb.5&lt;/object&gt;
          Recursive:
          &lt;subject&gt;lter.123&lt;/subject&gt; &lt;isPackageMember&gt; &lt;object&gt;lter.18&lt;/object&gt;
          where object lter.18 is the package file in which this relationship
          exisists.
        </example>
        <lineage>
          new to EML 2.0
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subject" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Subject element
              </tooltip>
              <summary>
                Subject element of the relationship.
              </summary>
              <description>
                Subject is URL specifier of metadata file that is refered by other metadata
                or data file specified in object element in the way of relationship.
              </description>
              <example>
                metacat://dev.nceas.ucsb.edu?docid=nceas.57
              </example>
              <lineage>
                Subject element was introduce into EML 2.0 Proposed.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="relationship" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Relationship type
              </tooltip>
              <summary>
                The type of relationship between metadata and data file.
              </summary>
              <description>
                Relationship is any descriptive word(s) that specifies the 
                relation of the subject to the object specifier.
              </description>
              <example>
                isMetadataFor, isACLFileFor, isFileMetadataFor, etc.
              </example>
              <lineage>
                Relationship element was introduce into EML 2.0 Proposed.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="object" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Object element
              </tooltip>
              <summary>
                Object element of the relationship.
              </summary>
              <description>
                Object is URL specifier of metadata or data file that refers to the
                metadata file specified in subject element in the way of relationship.
              </description>
              <example>
                http://dev.nceas.ucsb.edu/berkley/testdata1.txt
              </example>
              <lineage>
                Object element was introduce into EML 2.0 Proposed.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
           
</xs:schema>

