eml-spatialGrid.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:spatialGrid-2.0.0beta8" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:doc="eml:documentation-2.0.0beta8" 
           xmlns:cov="eml:coverage-2.0.0beta8" 
           xmlns:ent="eml:entity-2.0.0beta8"
           xmlns="eml:spatialGrid-2.0.0beta8">
  <xs:import namespace="eml:documentation-2.0.0beta8" schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml:coverage-2.0.0beta8" schemaLocation="eml-coverage.xsd"/>  
  <xs:import namespace="eml:entity-2.0.0beta8" schemaLocation="eml-entity.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-spatialGrid.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/
   
        '$Author: higgins $'
          '$Date: 2002-05-28 18:48:26 $'
      '$Revision: 1.3 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
   
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
   
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-spatialGrid</doc:moduleName>
        <doc:moduleDescription>
          The spatialGrid module is meant to describe GIS grid layers.  The 
          cell's domain, ground spacing resolution, scan resolution and 
          pixel resolution can all be captured here.  The actual raster
          cell type can also be captured.  
        </doc:moduleDescription>
        <doc:recommendedUsage>
          all spatial datasets that contain a grid
        </doc:recommendedUsage>
        <doc:standAlone>
          yes
        </doc:standAlone>
        <doc:relationship>
          <doc:moduleName>
            eml-dataset
          </doc:moduleName>
          <doc:relationshipType>
            has spatial grid information for
          </doc:relationshipType>
        </doc:relationship>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:element name="spatialGrid" type="SpatialGrid">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Description of a gis layer composed of raster pixels.
        </doc:tooltip>
        <doc:summary>
          Description of a gis layer composed of raster pixels.
        </doc:summary>
        <doc:description>
          Description of a gis layer composed of raster pixels.  This
          is a raster grid of pixels.  Raster spatial objects used to 
          locate zero-, two-, or three-dimensional locations in the 
          dataset
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The spatial entity elements were introduced into EML 2.0 beta 7
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="SpatialGrid">
    <xs:complexContent>
      <xs:extension base="ent:SpatialRepresentation">
        <xs:sequence>
          <xs:element name="cellType" type="RasterCellType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Raster spatial objects used to locate zero-, two-, or 
                  three-dimensional locations in the dataset
                </doc:tooltip>
                <doc:summary>
                  Raster spatial objects used to locate zero-, two-, or 
                  three-dimensional locations in the dataset
                </doc:summary>
                <doc:description>
                  Raster spatial objects used to locate zero-, two-, or 
                  three-dimensional locations in the dataset
                </doc:description>
                <doc:example/>
                <doc:lineage>
                  The spatial entity elements were introduced into EML 2.0 beta 7
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="cellOrigin" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Location of pixel 1,1
                </doc:tooltip>
                <doc:summary>
                  Location of pixel 1,1
                </doc:summary>
                <doc:description>
                  Location of pixel 1,1
                </doc:description>
                <doc:example>
                   NW Corner
                </doc:example>
                <doc:lineage>
                  The spatial entity elements were introduced into EML 2.0 beta 7
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="rows" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Maximum number of raster objects along the ordinate (y) axis
                </doc:tooltip>
                <doc:summary>
                  Maximum number of raster objects along the ordinate (y) axis
                </doc:summary>
                <doc:description>
                  Maximum number of raster objects along the ordinate (y) axis
                </doc:description>
                <doc:example/>
                <doc:lineage>
                  The spatial entity elements were introduced into EML 2.0 beta 7
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="columns" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Maximum number of raster objects along the abscissa (x) axis
                </doc:tooltip>
                <doc:summary>
                  Maximum number of raster objects along the abscissa (x) axis
                </doc:summary>
                <doc:description>
                  Maximum number of raster objects along the abscissa (x) axis
                </doc:description>
                <doc:example/>
                <doc:lineage>
                  The spatial entity elements were introduced into EML 2.0 beta 7
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="verticals" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Maximum number of raster objects along the vertical (z) axis
                </doc:tooltip>
                <doc:summary>
                  Maximum number of raster objects along the vertical (z) axis
                </doc:summary>
                <doc:description>
                  Maximum number of raster objects along the vertical (z) axis
                </doc:description>
                <doc:example/>
                <doc:lineage>
                  The spatial entity elements were introduced into EML 2.0 beta 7
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="scanResolution" type="ScanResolution" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Units used to express data density along the axes.
                </doc:tooltip>
                <doc:summary>
                  Units used to express data density along the axes.
                </doc:summary>
                <doc:description>
                  Units used to express data density along the axes.
                </doc:description>
                <doc:example/>
                <doc:lineage>
                  The spatial entity elements were introduced into EML 2.0 beta 7
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="groundSpacing" type="GroundSpacingResolution" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Unit of measurement used to describe the distance.
                </doc:tooltip>
                <doc:summary>
                  Unit of measurement used to describe the distance.
                </doc:summary>
                <doc:description>
                  Unit of measurement used to describe the distance.
                </doc:description>
                <doc:example/>
                <doc:lineage>
                  The spatial entity elements were introduced into EML 2.0 beta 7
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="cellDomain" type="CellValueDomain" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Provides information about the domain of a raster cell.
                </doc:tooltip>
                <doc:summary>
                  Provides information about the domain of a raster cell.
                </doc:summary>
                <doc:description>
                  Provides information about the domain of a raster cell.
                </doc:description>
                <doc:example/>
                <doc:lineage>
                  The spatial entity elements were introduced into EML 2.0 beta 7
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="CellValueDomain">
    <xs:sequence>
      <xs:element name="toneGradation" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Number of colors present in the image.
            </doc:tooltip>
            <doc:summary>
              Number of colors present in the image.
            </doc:summary>
            <doc:description>
              Number of colors present in the image.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="bitsPerBand" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Maximum number of significant bits for the value in each band of 
              each pixel without compression.
            </doc:tooltip>
            <doc:summary>
              Maximum number of significant bits for the value in each band of 
              each pixel without compression.
            </doc:summary>
            <doc:description>
              Maximum number of significant bits for the value in each band of 
              each pixel without compression.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="cellAttributeDescription" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Description of teh attribute described by teh measurement value.
            </doc:tooltip>
            <doc:summary>
              Description of teh attribute described by teh measurement value.
            </doc:summary>
            <doc:description>
              Description of teh attribute described by teh measurement value.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="cellUnit" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units of the cell attribute.
            </doc:tooltip>
            <doc:summary>
              Units of the cell attribute.
            </doc:summary>
            <doc:description>
              Units of the cell attribute.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroundSpacingResolution">
    <xs:sequence>
      <xs:element name="xSpacing" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              The distance represented by a pixel in the x direction on the ground.
            </doc:tooltip>
            <doc:summary>
              The distance represented by a pixel in the x direction on the ground.
            </doc:summary>
            <doc:description>
              The distance represented by a pixel in the x direction on the ground.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ySpacing" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              The distance represented by a pixel in the y direction on the ground.
            </doc:tooltip>
            <doc:summary>
              The distance represented by a pixel in the y direction on the ground.
            </doc:summary>
            <doc:description>
              The distance represented by a pixel in the y direction on the ground.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="zSpacing" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              The distance represented by a pixel in the z direction on the ground.
            </doc:tooltip>
            <doc:summary>
              The distance represented by a pixel in the z direction on the ground.
            </doc:summary>
            <doc:description>
              The distance represented by a pixel in the z direction on the ground.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ScanResolution">
    <xs:sequence>
      <xs:element name="xResolution" type="PixelResolution">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units used to express data density along the x axis.
            </doc:tooltip>
            <doc:summary>
              Units used to express data density along the x axis.
            </doc:summary>
            <doc:description>
              Units used to express data density along the x axis.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="yResolution" type="PixelResolution">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units used to express data density along the y axis.
            </doc:tooltip>
            <doc:summary>
              Units used to express data density along the y axis.
            </doc:summary>
            <doc:description>
              Units used to express data density along the y axis.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="zResolution" type="PixelResolution">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units used to express data density along the z axis.
            </doc:tooltip>
            <doc:summary>
              Units used to express data density along the z axis.
            </doc:summary>
            <doc:description>
              Units used to express data density along the z axis.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PixelResolution">
    <xs:sequence>
      <xs:element name="pixelsPerUnit" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Number of pixels contained in one unit of measurement.
            </doc:tooltip>
            <doc:summary>
              Number of pixels contained in one unit of measurement.
            </doc:summary>
            <doc:description>
              Number of pixels contained in one unit of measurement.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" type="ent:LengthUnitCode">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units of measure used to describe pixels per unit.
            </doc:tooltip>
            <doc:summary>
              Units of measure used to describe pixels per unit.
            </doc:summary>
            <doc:description>
              Units of measure used to describe pixels per unit.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="RasterCellType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="matrixValues"/>
      <xs:enumeration value="matrixCoded"/>
      <xs:enumeration value="pixelRGB"/>
      <xs:enumeration value="pixelCodes"/>
      <xs:enumeration value="pixelHIS"/>
      <xs:enumeration value="pixelHLS"/>
      <xs:enumeration value="TekHVC"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
