eml-resource.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rp="iso:ResponsibleParty"
           targetNamespace="eml:resource">

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-resource.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: cjones $'
          '$Date: 2001-03-28 19:49:28 $'
      '$Revision: 1.16 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
     <moduleName>
        eml-resource
      </moduleName>
      <moduleDescription>
        The eml-resource module contains general information that describes
        dataset resources, literature resources, collection  resources, and
        software resources.  It is intended to provide overview information
        about the resource, including title, abstract, keywords, contacts, and
        the links to associated metadata for the given resource.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>

 <!-- import the elements from responsible party for use
       is resource/originator 
   -->
  <xs:import namespace="iso:ResponsibleParty" 
          schemaLocation="./iso-party.xsd"/>
 
  <!-- resource is the root element. -->
  <xs:element name="resource">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Resource type
        </tooltip>
        <summary>
          The class of resource being documented.
        </summary>
        <description>
          The 'resource' element is the generic class for all types of
          resources. A user may choose to document a resource according to 
          one of the following subtypes, which are presented as a choice: 
          dataset, literature, collection, or software. 
        </description>
        <example>
          Please see the examples for each subelement of the 'Resource' type.
        </example>
        <lineage>
          The 'Resource' type was introduced into EML 2.0.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
   
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="1">

        <xs:element name="dataset">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Dataset type
              </tooltip>
              <summary>
                The container for fields describing a dataset resource.
              </summary>
              <description>
                The dataset element defines extend the ResourceBase complexType
                in order to provide information that is specific to describing
                a set of data.  Therefore, dataset elements contain all of the
                general resource elements, but also specific dataset elements.
              </description>
              <example>
                Please see the examples for each subelement.
              </example>
              <lineage>
                This element was introduced in EML 2.0, and is derived from
                the eml-dataset module in EML 1.4.  
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="ResourceBase">
                <xs:sequence>

                  <xs:element name="temporalCoverage" type="TemporalCoverage"
                              minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <tooltip>
                          Temporal coverage
                        </tooltip>
                        <summary>
			  Information about the temporal extent of the resource.
                        </summary>
                        <description>
                          This element describes the temporal extent of the
			  resource expressed in a start date and a stop date.
                        </description>
                        <example>
                        </example>
                        <lineage>
                          The temporalCoverage element was introduced into EML 1.4.
                        </lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>

                  <xs:element name="geographicCoverage" type="GeographicCoverage"
                              minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <tooltip>
                          Geographic coverage
                        </tooltip>
                        <summary>
                          Description of the geographic area which data are collected
                          in the entity.
                        </summary>
                        <description>
                          This element describes the geographic area which data are 
                          collected in the entity: descriptive paragraph of text or
                          Cartesian coordinates of the area.
                        </description>
                        <example>
                        </example>
                        <lineage>
                          The geographicCoverage element was introduced into EML 1.4.
                        </lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                                           
                  <xs:element name="geoForm" type="GeoForm" 
                              minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>
                        <tooltip>
                          Geospatial representation
                        </tooltip>
                        <summary>
                           The mode in which the geospatial data are 
                           represented.
                        </summary>
                        <description>
                          This field provides the 'geospatial representation 
                          format' of the resource being described.  The 
                          possible values are derived from a list that 
                          include such formats as 'atlas', 
                          'map', and 'globe'.  The list has also been extended 
                          to include other datatype formats such as 
                          'spreadsheet', 'document', or 'video'.  The complete 
                          list of values are provided in the example.
                        </description>
                        <example>
                          Possible values include: "atlas", "audio", "diagram", 
                          "document", "globe", "map", "model", 
                          "multimediaPresentation", "profile", 
                          "rasterDigitalData", "remoteSensingImage", "section", 
                          "spreadsheet", "tabularDigitalData", 
                          "vectorDigitalData", "video", and "view".
                        </example>
                        <lineage>
                          This element was derived from elements described in
                          FGDC-STD-001.1-1999 standard 
                          (nbii-fgdc-std-001.1-1999)
                        </lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>  
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
     
        <xs:element name="literature" type="LitCitation"/>

        <xs:element name="software">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Software
              </tooltip>
              <summary>
                General information about a software resource.
              </summary>
              <description>
                the 'software' element contains general information about a
                software resource that is being documented.  This is field is
                intended to give information for software tools that are needed 
                to interpret a dataset, software that was written to process a
                resource, or software as a resource in itself.
                It includes the version, the programming language,
                and the location of the software, along with the source code
                information or binary file information.  The information 
                provided in the subelements are specific to software 
                resources and extend the Resource type.
              </description>
              <example>
                Please see the examples for each subelement of the 'Software'
                type.
              </example>
              <lineage>
                The 'software' element was introduced into EML 2.0, however
                it was derived from the eml-software module in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>

          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="ResourceBase">
                <xs:sequence>
                  <xs:element name="versionNumber" type="xs:string"
                              minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <tooltip>
                          Version number
                        </tooltip>
                        <summary>
                          The version number of the software resource.
                        </summary>
                        <description>
                          This field provides the version number of the 
                          software that is being documented.  The version 
                          number may be a vendor-assigned number, or it may be 
                          a version tag from a software versioning system such 
                          as CVS (Concurrent Versioning System).
                        </description>
                        <example>
                          8.2.1 or WEBSITE_2_BETA_1
                        </example>
                        <lineage>
                          This field was introduced into EML 2.0 beta 1, and is
                          derived from the eml-software module in EML 1.4.
                        </lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="sourceModule" type="xs:string"
                              minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <tooltip>
                          Source module
                        </tooltip>
                        <summary>
                          The name of the source code module.
                        </summary>
                        <description>
                          This field provides the name of the source code 
                          module that contains the non-binary source.
                        </description>
                        <example>
                          eml-2.0b1.tgz
                        </example>
                        <lineage>
                          This field was introduced into EML 2.0 beta 1, and is
                          derived from the eml-software module in EML 1.4.
                        </lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="binaryFile" type="xs:string"
                              minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <tooltip>
                          Binary file
                        </tooltip>
                        <summary>
                          The name of the binary file for the software.
                        </summary>
                        <description>
                          This field provides the name of the compiled 
                          binary file for the software distribution.  
                        </description>
                        <example>
                          morpho-macintosh-1.2.bin
                      </example>
                        <lineage>
                          This field was introduced into EML 2.0 beta 1, and is
                          derived from the eml-software module in EML 1.4.
                        </lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="location" type="xs:string"
                              minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <tooltip>
                          Software location
                        </tooltip>
                        <summary>
                          The Internet location of the software resource.
                        </summary>
                        <description>
                          This field provides the Uniform Resource Locator 
                          of where the software resource is available on 
                          the Internet.
                        </description>
                        <example>
                          http://knb.ecoinformatics.org/software/metacat/
                        </example>
                        <lineage>
                          This field was introduced into EML 2.0 beta 1, and is
                          derived from the eml-software module in EML 1.4.
                        </lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="programmingLanguage" type="xs:string"
                              minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <tooltip>
                          Programming Language
                        </tooltip>
                        <summary>
                          The programming language for the software resource.
                        </summary>
                        <description>
                          This field provides the name and version of the 
                          programming language in which the software 
                          resource was written.
                        </description>
                        <example>
                          PERL version 5.005_03
                        </example>
                        <lineage>
                          This field was introduced into EML 2.0 beta 1, and is
                          derived from the eml-software module in EML 1.4.
                        </lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>

      </xs:choice>
    </xs:complexType>
  </xs:element>
       
  <xs:complexType name="LitCitation">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Literature Citation
        </tooltip>
        <summary>
          Information describing a literature resource.
        </summary>
        <description>
          The 'LitCitation' type contains general information about a
          literature resource that is being documented, or a piece of
          literature that is being cited in support of a given resource,
          such as a dataset.
          It contains subelements that are specific to a
          literature resource such as a book, a journal article, 
          a thesis, etc.  It extends the generic resource elements with 
          literature specific fields.
        </description>
        <example>
          Please see the examples within the subelements for this type.
        </example>
        <lineage>
          This field was introduced in EML 2.0.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ResourceBase">
        <xs:sequence>
          <xs:element name="ISBN" type="xs:string" 
                      minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:appinfo>
                <tooltip>
                  International Standard Book Number
                </tooltip>
                <summary>
                  The unique Internation Standard Book Number
                </summary>
                <description>
                  The ISBN, or International Standard Book Number
                  that has been assigned to this literature resource.
                </description>
                <example>
                  ISBN 1-861003-11-0
                </example>
                <lineage>
                  This field was introduced into EML 2.0 and was derived 
                  from the ISO 19115.3 standard (iso-geo-md-2000June-draft) 
                  and the ISO Standard 2108.
                </lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
      
          <xs:element name="ISSN" type="xs:string" 
                      minOccurs="0" maxOccurs="1" >
            <xs:annotation>
              <xs:appinfo>
                <tooltip>
                  International Standard Serial Number
                </tooltip>
                <summary>
                  The unique Internation Standard Serial Number
                </summary>
                <description>
                  The ISSN, or International Standard Serial Number
                  that has been assigned to this literature resource.
                </description>
                <example>
                  ISSN 1234-5679
                </example>
                <lineage>
                  This field was introduced into EML 2.0 and was derived 
                  from the ISO 19115.3 standard (iso-geo-md-2000June-draft) 
                  and the ISO 3297-1975; ANSI Z39.9-1979 standard.
                </lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
     
          <xs:element name="editor" type="rp:Person" 
                      minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <tooltip>
                  Editor
                </tooltip>
                <summary>
                  The name of the editor of the literature resource.
                </summary>
                <description>
                  This field provides a container for the information 
                  that describes the editor of the literature resource.  
                  The editor may be a person
                  or organization or a role within an organization.
                </description>
                <example>
                  Please see the examples within the subelements.
                </example>
                <lineage>
                  This field was introduced into EML 2.0 beta 1, and was 
                  derived from the FGDC-STD-001.1-1999 standard
                  (nbii-fgdc-std-001.1-1999)
                </lineage>
              </xs:appinfo>
            </xs:annotation> 
          </xs:element>
    
          <xs:element name="edition" type="xs:string" 
                      minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:appinfo>
                <tooltip>
                  Edition
                </tooltip>
                <summary>
                  The edition of the literature resource.
                </summary>
                <description>
                  The edition that has been assigned to a literature 
                  resource by its publisher.
                </description>
                <example>
                  2nd Edition
                </example>
                <lineage>
                  This field was introduced into EML 2.0 beta 1, and was 
                  derived from the FGDC-STD-001.1-1999 
                  (nbii-fgdc-std-001.1-1999) and ISO 19115.3 
                  (iso-geo-md-2000June-draft) standards.
                </lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
    
          <xs:element name="volume" type="xs:string" 
                      minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:appinfo>
                <tooltip>
                  Volume
                </tooltip>
                <summary>
                  The volume number of the resource.
                </summary>
                <description>
                  The volume number that has been assigned to a
                  resource by its publisher.
                </description>
                <example>
                  Volume 7
                </example>
                <lineage>
                  This field was introduced into EML 2.0 beta 1
                </lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- this is the base type that the other types inherit -->
  <xs:complexType name="ResourceBase">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Resource Base
        </tooltip>
        <summary>
          Generic information about every resource that is being described.  
        </summary>
        <description>
          The 'ResourceBase' complexType contains information that is inherited
          by each resource type that is being documented.  The subelements with
          the resource base are common to al resources.
        </description>
        <example>
          Please see the examples within the sub-elements of the 'ResourceBase'
          complexType.
        </example>
        <lineage>
          The 'ResourceBase' element was introduced into EML 2.0 beta 1.
        </lineage>
      </xs:appinfo>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="identifier" type="xs:string"
                  minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Unique identifier
            </tooltip>
            <summary>
              The unique identifier of this metadata file or object.
            </summary>
            <description>
              The identifier field provides a unique identifier for this
              metadata documentation.  It will most likely be part of a 
              sequence of numbers or letters that are meaningful in a 
              larger context, such as a metadata catalog. That larger
              system can be identified in the "system" attribute. Multiple
              identifiers can be listed corresponding to different catalog
              systems.
            </description>
            <example>
             <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
            </example>
            <lineage>
              The 'identifier' field is derived from the eml-dataset 
              meta_file_id filed in EML 1.4.
            </lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="system" use="optional" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <tooltip>
                  Catalog system
                </tooltip>
                <summary>
                  The catalog system in which this identifier is used.
                </summary>
                <description>
                  This element gives the name of the catalog system in which
                  this identifier is used.  It is useful to determine the
                  scope of the identifier, and to determine the semantics
                  of the various subparts of the identifier. 
                  Unresolved issue:
                  can or should this be a URI/URL pointing to the catalog
                  system, or just the name?
                </description>
                <example><![CDATA[
                  <identifier system="metacat">nceas.3.2</identifier>]]>
                </example>
                <lineage>
                  New to EML 2.0.
                </lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>

      <xs:element name="shortName" type="xs:string" 
                  minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Short Name
            </tooltip>
            <summary>
              A short name that describes the resource, sometimes 
              a filename.
            </summary>
            <description>
              The 'shortName' field provides a concise name that 
              describes the resource that is being documented. It is 
              the appropriate place to store a filename associated with 
              other storage systems.
            </description>
            <example>
              vernal-data-1999
            </example>
            <lineage>
              This element was derived from elements described in the 
              ISO 19115.3 standard (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="title" type="xs:string" 
                  minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Title
            </tooltip>
            <summary>
              A brief description of the resource, providing enough detail
              to differentiate it from other similar resources.
            </summary>
            <description>
              The 'title' field provides a description of the
              resource that is being documented
              that is long enough
              to differentiate it from other similar resources.
            </description>
            <example>
              Vernal pool amphibian density data, Isla Vista, 1990-1996.
            </example>
            <lineage>
              This element was derived from elements described in the 
              ISO 19115.3 standard (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="alternateTitle" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
            </tooltip>
            <summary>
              A secondary short title that describes the resource.
            </summary>
            <description>
              The 'alternateTitle' field provides a concise name or other 
              language name that describes the resource that is being 
              documented. 
            </description>
            <example>
              They're not just mud puddles: fragile ecosystems in Isla Vista
            </example>
            <lineage>
              This element was derived from elements described in the ISO 
              19115.3 standard (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="originator" type="rp:ResponsibleParty" 
                  minOccurs="1" maxOccurs="unbounded" >
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Originator
            </tooltip>
            <summary>
              A person or organization asociated with this resource.
            </summary>
            <description>
              The 'originator' element provides the full name of the
              person, organization, or role associated with the resource.  
              Typically, the originator role code is set to "owner" 
              to indicate the list of parties who "own" the resource, 
              but other roles such as "principal investigator", "author", 
              and "editor" are provided.
            </description>
            <example>
              Please see the examples within the sub fields for 
              the responsible party.
            </example>
            <lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="pubDate" type="xs:date" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Publication date
            </tooltip>
            <summary>
              The publication date of the resource.
            </summary>
            <description>
              The 'pubDate' field represents the date that the resource was
              published.  The format should be represented as: CCYY-MM-DD, 
              which denotes the full year, month, and day.
            </description>
            <example>
              1999-10-26
            </example>
            <lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
              The type 'xs:date' folllows the date standard described in ISO
              8601.
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="pubPlace" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Publication place
            </tooltip>
            <summary>
              The location that the resource was published.
            </summary>
            <description>
              the 'pubPlace' field is the location where the resource was
              published, which may be different from where the resource was
              created.
            </description>
            <example>
              San Francisco, CA, USA
            </example>
            <lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="series" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Series
            </tooltip>
            <summary>
              The series from which the resource came.
            </summary>
            <description>
              This field describes the series of resources that include the
              resource being described.  For example, a volume of a 
              journal may be part of a series of the journal for a 
              particular year.
            </description>
            <example>
              Volume 20
            </example>
            <lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
              and ISO 19115.3 standard (iso-geo-md-2000June-draft)
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="abstract" type="Abstract" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Abstract
            </tooltip>
            <summary>
              A brief overview of the resource.
            </summary>
            <description>
              This field provides a container for one or more paragraph 
              fields that give a brief overview of the resource 
              that is being documented. 
            </description>
            <example>
              Please see the examples for the subfields contained 
              within this field.
            </example>
            <lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="keywordInfo" type="KeywordInfo" 
                  minOccurs="0" maxOccurs="unbounded" >
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Keyword information
            </tooltip>
            <summary>
               Keyword information that describes the resource.
            </summary>
            <description>
              The 'keywordInfo' element is a container for the 'keyword' and
              'keywordThesaurus' fields.  
            </description>
            <example>
              Please see the examples for the subfields contained 
              within this field.
            </example>
            <lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="URL" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Uniform resource locator
            </tooltip>
            <summary>
              The Uniform Resource Locator referring to the resource.
            </summary>
            <description>
              The 'URL' field provides the Internet address that references
              a particular resource.  It should conform to standard URL 
              syntax, giving the connection protocol, followed by '://', 
              followed by the name of the machine to connect to, 
              followed by the resource location on the machine.
            </description>
            <example>
               http://data.nceas.ucsb.edu/datafile.txt
            </example>
            <lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="additionalInfo" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Additional Information
            </tooltip>
            <summary>
              Any extra information pertitent to the resource.
            </summary>
            <description>
              This field provides any information that is not 
              characterized by the other resource metadata fields.
            </description>
            <example>
              Copyright 2001, Robert Warner
            </example>
            <lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Abstract">       
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Abstract type
        </tooltip>
        <summary>
          Information that provides an overview of the resource.
        </summary>
        <description>
          The 'Abstract' type provides paragraph containers that are used to
          give a brief overview of the resource in abstract format.
        </description>
        <example>
          Please see the examples within the sub elements of this type.
        </example>
        <lineage>
          This field was introduced into EML 2.0 beta 1, and was derived from
          EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paragraph" type="xs:string"
                  minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Abstract paragraph
            </tooltip>
            <summary>
              The paragraph field for the text in an abstract.
            </summary>
            <description>
              This field is intended for the text of an abstract that gives a
              brief overview of the resource.  there may be multiple paragragh
              field within the abstract.
            </description>
            <example>
            The major unanswered question in marine ecology is the degree of
            connectedness between local populations. Put another way, what
            proportion of young arriving into a local population are products 
            of local production? What is the source of recruits for any local 
            population, and where do the young produced in a local population 
            go? The answers to these questions are unknown for any widespread 
            species with a pelagic dispersal phase. Proper marine management 
            depends on knowledge in this area: the efficacy of any reserve 
            design, for example, is highly dependent on the degree to which it 
            is dependent on other populations for recruitment, and the degree 
            to which it supplies other areas.
            </example>
            <lineage>
              This field was introduced into EML 2.0, and was derived from
              EML 1.3.
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="KeywordInfo">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Keyword Information
        </tooltip>
        <summary>
          Keyword information that describes a resource.
        </summary>
        <description>
          The 'KeywordInfo' type provides a container for information relating
          to keywords, including the type of the keyword and the thesaurus from
          which the keyword was derived.
        </description>
        <example>
          Please see the examples within the sub elements of this type.
        </example>
        <lineage>
          This field was introduced into EML 2.0 beta 1, and was derived from
          EML 1.3.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="keyword" type="xs:string" 
                  minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Keyword
            </tooltip>
            <summary>
              A keyword that describes the resource.
            </summary>
            <description>
              This field names a keyword or keyphrase that concisely describes
              the resource or is related to the resource.
            </description>
            <example>
              biodiversity
            </example>
            <lineage>
              This field was introduced into EML 2.0 beta 1, and was derived 
              from EML 1.3. and the ISO 19115.3 standard
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="keywordType" type="KeyTypCode" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Keyword type
            </tooltip>
            <summary>
              The type of each keyword.
            </summary>
            <description>
              This field classifies the keyword that has been provided from a
              list of pre-determined categories. The possible types are listed
              in the example.
            </description>
            <example>
              "discipline","place","stratum","temporal","thematic", 
              or "taxonomic"
            </example>
            <lineage>
              This field was introduced into EML 2.0, and was derived from
              EML 1.3. and the  ISO 19115.3 standard(iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="keywordThesaurus" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Keyword thesaurus
            </tooltip>
            <summary>
              The name of a thesaurus from which the keyword is derived.
            </summary>
            <description>
              this field provides the name of the official keyword thesaurus
              from which keyword was derived.  The keyword thesauri are usually
              discipline specific.
            </description>
            <example>
              IRIS keyword thesaurus
            </example>
            <lineage>
              This field was introduced into EML 2.0, and was derived from
              EML 1.3. and the  ISO 19115.3 standard(iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TemporalCoverage">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
            Temporal coverage
        </tooltip>
        <summary>
            Temporal coverage descriptor.
        </summary>
        <description>
            This element specifies temporal coverage by 
          start and stop date.
        </description>
        <example>
        </example>
        <lineage>
          The TemporalCoverage complex type was introduced
          into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="startDate" type="DateTime"
                      minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Start date
            </tooltip>
            <summary>
              Start date of the temporal coverage.
            </summary>
            <description>
              This element specifies the start date of the temporal
              coverage.
            </description>
            <example>
            </example>
            <lineage>
              The startDate element was introduced into EML 1.4.
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>        
 
      <xs:element name="stopDate" type="DateTime"
                      minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Stop date
            </tooltip>
            <summary>
              Stop date of the temporal coverage.
            </summary>
            <description>
              This element specifies the stop date of the temporal
              coverage.
            </description>
            <example>
            </example>
            <lineage>
              The stopDate element was introduced into EML 1.4.
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>       
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DateTime">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Date and time
        </tooltip>
        <summary>
          Date and time as designated in ISO 8601
        </summary>
        <description>
          This complex type specifies date and time as 
          designated in ISO 8601. We can consider to drop this type,
          but to use XML Schema's timeDuration instead.
        </description>
        <example>
        </example>
        <lineage>
          The DateTime complex type was introduced into EML 1.4, and is
          based on the ISO 8601 time standard.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="xs:string"
                  minOccurs="0" maxOccurs="1"/>        
      <xs:element name="month" type="xs:string"
                  minOccurs="0" maxOccurs="1"/>        
      <xs:element name="day" type="xs:string"
                  minOccurs="0" maxOccurs="1"/>        
      <xs:element name="hour" type="xs:string"
                  minOccurs="0" maxOccurs="1"/>        
      <xs:element name="minute" type="xs:string"
                  minOccurs="0" maxOccurs="1"/>        
      <xs:element name="second" type="xs:string"
                  minOccurs="0" maxOccurs="1"/>        
      <xs:element name="secondFraction" type="xs:string"
                  minOccurs="0" maxOccurs="1"/>        
      <xs:element name="timeZoneDesignator" type="xs:string"
                  minOccurs="0" maxOccurs="1"/>        
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GeographicCoverage">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
            Geographic coverage
        </tooltip>
        <summary>
            Geographic coverage information.
        </summary>
        <description>
          Geographic Coverage is a container for spatial information about a
          a project, a resource, or an entity within a resource.
        </description>
        <example>
        </example>
        <lineage>
          The GeographicCoverage complex type was derived from the eml-entity
          module in EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paragraph" type="xs:string"
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Paragraph of text
            </tooltip>
            <summary>
              Paragraph of text describing the geographic area
              which data are collected in the entity.
            </summary>
            <description>
              This element describes the geographic area which data are 
              collected in the entity.
            </description>
            <example>
            </example>
            <lineage>
              The paragraph element was introduced into EML 1.4.
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>        
 
      <xs:element name="coordinates"
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Cartesian coordinates
            </tooltip>
            <summary>
              Cartesian coordinates for the geographic area.
            </summary>
            <description>
              This element specifies the Cartesian coordinates: latitude
              and longitude of the geographic area covered by the 
              entity's data. 
            </description>
            <example>
            </example>
            <lineage>
              The coordinates element was introduced into EML 1.4.
            </lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>

            <xs:element name="latitude" type="xs:string"
                              minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    latitude coordinates
                  </tooltip>
                  <summary>
                    latitude coordinates for the geographic area.
                  </summary>
                  <description>
                    This element specifies the latitude coordinates
                    of the geographic area covered by the entity's data. 
                    The element's attribute "direction" should specify
                    the coordinate's direction to "north" or "south".
                  </description>
                  <example>
                  </example>
                  <lineage>
                    The latitude element was introduced into EML 1.4.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="direction" use="required">
                  <xs:annotation>
                    <xs:appinfo>
                      <tooltip>
                          Attribute of latitude element
                      </tooltip>
                      <summary>
                          Specification of latitude direction.
                      </summary>
                      <description>
                        This attribute specifies latitude direction of 
                        the collected data. The attribute assertion is 
                        required.
                      </description>
                      <example>
                        The valid attribute values are "north" 
                        and "south".
                      </example>
                      <lineage>
                        This attribute was introduced into EML 1.4.
                      </lineage>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="north" />
                      <xs:enumeration value="south" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>

            <xs:element name="longitude" type="xs:string"
                              minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    Longitude coordinates
                  </tooltip>
                  <summary>
                    Longitude coordinates for the geographic area.
                  </summary>
                  <description>
                    This element specifies the longitude coordinates
                    of the geographic area covered by the entity's data. 
                    The element's attribute "direction" should specify
                    the coordinate's direction to "east" or "west".
                  </description>
                  <example>
                  </example>
                  <lineage>
                    The longitude element was introduced into EML 1.4.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="direction" use="required">
                  <xs:annotation>
                    <xs:appinfo>
                      <tooltip>
                          Attribute of longitude element
                      </tooltip>
                      <summary>
                          Specification of longitude direction.
                      </summary>
                      <description>
                        This attribute specifies longitude direction of 
                        the collected data. The attribute assertion 
                        is required.
                      </description>
                      <example>
                        The valid attribute values are "east" or "west".
                      </example>
                      <lineage>
                        This attribute was introduced into EML 1.4.
                      </lineage>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="east" /> 
                      <xs:enumeration value="west" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>        
    </xs:sequence>
  </xs:complexType>

  <!-- The geospatial representation form domain 
      taken directly from NBII -->
  <xs:simpleType name="GeoForm">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Geospatial format type
        </tooltip>
        <summary>
          The list of geospatial representation formats
        </summary>
        <description>
          This field provides a restricted list of resource formats that
          describe a dataset.
        </description>
        <example>
          atlas
        </example>
        <lineage>
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="atlas" />
      <xs:enumeration value="audio" />
      <xs:enumeration value="diagram" />
      <xs:enumeration value="document" />
      <xs:enumeration value="globe" />
      <xs:enumeration value="map" />
      <xs:enumeration value="model" />
      <xs:enumeration value="multimediaPresentation" />
      <xs:enumeration value="profile" />
      <xs:enumeration value="rasterDigitalData" />
      <xs:enumeration value="remoteSensingImage" />
      <xs:enumeration value="section" />
      <xs:enumeration value="spreadsheet" />
      <xs:enumeration value="tabularDigitalData" />
      <xs:enumeration value="vectorDigitalData" />
      <xs:enumeration value="video" />
      <xs:enumeration value="view" />
    </xs:restriction>
  </xs:simpleType>

  <!-- The keyword type domain take directly from ISO -->
  <xs:simpleType name="KeyTypCode">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Keyword type codes
        </tooltip>
        <summary>
          The list of keyword categories
        </summary>
        <description>
          This field provides a restricted list of categories that a keyword may
          fall under.
        </description>
            <example>
              place
            </example>
        <lineage>
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="discipline" />
      <xs:enumeration value="place" />
      <xs:enumeration value="stratum" />
      <xs:enumeration value="temporal" />
      <xs:enumeration value="thematic" />
      <xs:enumeration value="taxonomic" />
    </xs:restriction>
      <!-- More types should be added here. -->
  </xs:simpleType>
        
</xs:schema>
