eml-physical.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="eml:physical">

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-physical.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-04-14 00:34:27 $'
      '$Revision: 1.1 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>
        eml-physical
      </moduleName>
      <moduleDescription>
        The EML Phyiscal Representation Module defines the structural
        characteristics of data formats as delivered over the wire or
        as found in a file system.  One physical object (which can be a
        bytestream or an object in a file system) might contain multiple
        entities (for example, this would be typical in a MS Access file
        that contained multiple tables of data).
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="eml-physical">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Entity descriptors
        </tooltip>
        <summary>
          Container of physical descriptors of all entities in a dataset.
        </summary>
        <description>
          Eml-physical element contains a list of all entities in a dataset.
        </description>
        <example>
        </example>
        <lineage>
          The eml-physical was introduced into EML 1.4 as eml-file.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "identifier" type = "xs:string"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Unique identifier
              </tooltip>
              <summary>
                The unique identifier of this metadata file or object.
              </summary>
              <description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </description>
              <example>
               <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
              </example>
              <lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="system" use="optional" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    Catalog system
                  </tooltip>
                  <summary>
                    The catalog system in which this identifier is used.
                  </summary>
                  <description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </description>
                  <example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]>
                  </example>
                  <lineage>
                    New to EML 2.0.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="entity" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="entity">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Entity descriptor
        </tooltip>
        <summary>
          Descriptor of one entity in the dataset.
        </summary>
        <description>
          Entity element is a descriptor of one entity in the dataset
          identified by its name. The entity element can contain information 
          about the entity's size, format, orientation, header lines, 
          case sensitiveness, geographic and temporal coverage,
          authentication description and data problem.
        </description>
        <example>
        </example>
        <lineage>
          The entity element was introduced into EML 1.4 as file.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entityName" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Entity name
              </tooltip>
              <summary>
                Entity name specifier
              </summary>
              <description>
                The name identifies the entity in the dataset: file name, 
                name of database table, etc.
              </description>
              <example>
              </example>
              <lineage>
                The entityName was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      
        <xs:element name="entitySize" type="xs:string"
                          minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Entity size
              </tooltip>
              <summary>
                Describes the physical size of the entity.
              </summary>
              <description>
                This element contains information of the physical size 
                of the entity, typically in bytes.
              </description>
              <example>
                <![CDATA[<entitySize unit="bytes">13</entitySize>]]>
              </example>
              <lineage>
                The entitySize was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="unit" use="required" default="bytes">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    Unit of measurement
                  </tooltip>
                  <summary>
                    Unit of measurement for the entity size, typically bytes
                  </summary>
                  <description>
                    This element gives the unit of measurement for the 
                    size of the entity, and is typically bytes.
                  </description>
                  <example>
                    <![CDATA[<entitySize unit="bytes">13</entitySize>]]>
                  </example>
                  <lineage>
                    The unit was introduced into EML 1.4.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>        
          </xs:complexType>
        </xs:element>        

        <xs:element name="entityFormat" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Entity format
              </tooltip>
              <summary>
                Contains the name of the format for this entity.
              </summary>
              <description>
                This element contains the name of the entity's format.
                The entity's format is typically ASCII, Unicode, or some
                well-known binary format.
              </description>
              <example>
                <![CDATA[<entityFormat>ASCII</entityFormat>]]>
              </example>
              <lineage>
                The format element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>   
      
        <xs:element name="compressionMethod" type="xs:string"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                    Entity's compression method
              </tooltip>
              <summary>
                  Name ofthe entity's compression method
              </summary>
              <description>
                  This element describes any compression methods used to
                  compress the entity, such as zip, compress, etc.
              </description>
              <example>
              </example>
              <lineage>
                The compressed element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
    
        <xs:element name="encodingMethod" type="xs:string"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                    Encoding Method
              </tooltip>
              <summary>
                  Method used for encoding the entity
              </summary>
              <description>
                  This element describes the entity's encoded method, such as
                  MIME base64 encoding or binhex encoding.
              </description>
              <example>
              </example>
              <lineage>
                The encoded element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
    
        <xs:element name="recordDelimiter" type="xs:string"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                  Entity's record delimiter
              </tooltip>
              <summary>
                  Character used to delimit records in the entity.
              </summary>
              <description>
                This element specifies entity's record delimiter 
                when the base file type is ASCII.  The record delimiter
                is usually a newline (\n) on UNIX or a carriage return (\r)
                on MacOS or both (\r\n) on Windows/DOS.
              </description>
              <example>
                 <![CDATA[<recordDelimiter>\n\r</recordDelimiter>]]>
              </example>
              <lineage>
                The recordDelimiter element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>        

        <xs:element name="quoteCharacter" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                  Quote character
              </tooltip>
              <summary>
                  Character used to quote values for delimeter escaping
              </summary>
              <description>
                This element specifies a character to be used in the entity
                for quoting values so that field delimeters can be used within
                the value.  This basically allows delimeter "escaping".  The
                quoteChacter is typically a " or '.
              </description>
              <example>
                 <![CDATA[<quoteCharacter>"</quoteCharacter>]]>
              </example>
              <lineage>
                The quoteCharacter element was taken from the NBII standard.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>        
    
        <xs:element name="orientation" nillable="true"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Entity's record orientation
              </tooltip>
              <summary>
                Specification of the entity's record orientation.
              </summary>
              <description>
                This element contains specification of the entity's
                record orientation by element's attribute "columnorrow".
              </description>
              <example>
                The valid attribute values are "columnmajor" or "rowmajor".
                If the attribute is not specified, "columnmajor" is used.
              </example>
              <lineage>
                The orientation element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="columnorrow" use="optional" 
                          default="columnmajor">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                      Attribute of orientation element
                  </tooltip>
                  <summary>
                      Specification of the entity's record orientation.
                  </summary>
                  <description>
                      This attribute specifies the entity's
                    record orientation.
                  </description>
                  <example>
                    The valid attribute values are "columnmajor" or "rowmajor".
                    If the attribute is not specified, "columnmajor" is used.
                  </example>
                  <lineage>
                    The columnorrow attribute was introduced into EML 1.4.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="columnmajor" />
                  <xs:enumeration value="rowmajor" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>

        <xs:element name="numHeaderLines" type="xs:string"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Header lines
              </tooltip>
              <summary>
                Header lines in the entity
              </summary>
              <description>
                Number of header lines or information that prepares data.
              </description>
              <example>
                 <![CDATA[<numHeaderLines>3</numHeaderLines>]]>
              </example>
              <lineage>
                The numHeaderLines element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      
        <xs:element name="caseSensitive" nillable="true"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Data case sensitiveness
              </tooltip>
              <summary>
                Specification of text case sensitiveness in the entity.
              </summary>
              <description>
                This element contains specification of text
                case sensitiveness of the data in the entity. It is 
                specified from element's attribute "yesorno".
              </description>
              <example>
                The valid attribute values are "yes" or "no".
                If the attribute is not specified, "yes" is used.
              </example>
              <lineage>
                The caseSensitive element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="yesorno" use="optional" default="yes">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    Attribute of caseSensitive element
                  </tooltip>
                  <summary>
                    Specification of text case sensitiveness in the entity.
                  </summary>
                  <description>
                    This attribute specifies text case sensitiveness of 
                    entity's data.
                  </description>
                  <example>
                    The valid attribute values are "yes" or "no".
                    If the attribute is not specified, "yes" is used.
                  </example>
                  <lineage>
                    The yesorno attribute was introduced into EML 1.4.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="yes" /> 
                  <xs:enumeration value="no" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
               
        <xs:element name="authentication" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                  Authentication
              </tooltip>
              <summary>
                  Authentication descriptor
              </summary>
              <description>
                  This element describes authentication procedures or 
                  techniques, typically by giving a checksum method (e.g., MD5)
                  and checksum value for the entity.
              </description>
              <example>
              </example>
              <lineage>
                The authentication was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      
        <xs:element name="dataProblem"
                          minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Data problem
              </tooltip>
              <summary>
                Description of any data problems in the entity.
              </summary>
              <description>
                This element describes any data problems in the entity:
                data anomalies or missing data.
              </description>
              <example>
              </example>
              <lineage>
                The dataProblem element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded" >
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                        Paragraph of text
                    </tooltip>
                    <summary>
                        Paragraph of text describing any data problems
                      in the entity.
                    </summary>
                    <description>
                        This element describes any data problems
                      in the entity: data anomalies or missing data.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The paragraph element was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>        
            </xs:sequence>
            <xs:attribute name="problemType" use="required" >
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                      Attribute of dataProblem element
                  </tooltip>
                  <summary>
                      Specification of data problem type.
                  </summary>
                  <description>
                      This attribute specifies the type of data problem.
                    The attribute assertion is required.
                  </description>
                  <example>
                    The valid attribute values are "missing", "anomaly"
                    or "error".
                  </example>
                  <lineage>
                    This attribute was introduced into EML 1.4.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="missing" />
                  <xs:enumeration value="anomaly" />
                  <xs:enumeration value="error" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
