eml-documentation.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Jim Jones (NCEAS) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT description (#PCDATA)>
<!ELEMENT example (#PCDATA)>
<!ELEMENT lineage (#PCDATA)>
<!ELEMENT moduleDescription (#PCDATA)>
<!ELEMENT moduleName (#PCDATA)>
<!ELEMENT summary (#PCDATA)>
