eml-attribute.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="eml:attribute">

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-attribute.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-03-26 22:48:03 $'
      '$Revision: 1.11 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>
        eml-attribute
      </moduleName>
      <moduleDescription>
        The EML Attribute Module describes all attributes in a data file.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="eml-attribute" minOccurs="1" maxOccurs="1">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Attribute descriptors
        </tooltip>
        <summary>
          Container of attribute descriptors of all attributes in a dataset.
        </summary>
        <description>
           Eml-attribute element represents a list of all attributes in a 
           dataset.
        </description>
        <example>
        </example>
        <lineage>
          The eml-attribute was introduced into EML 1.4 as eml-variable.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                File identifier
              </tooltip>
              <summary>
                File identifier of the metadata document.
              </summary>
              <description>
                File identifier of the metadata document.
              </description>
              <example>
                metacat://dev.nceas.ucsb.edu?docid=nceas.155
              </example>
              <lineage>
                The identifier was introduced into EML 1.4 as meta_file_id.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="attribute" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Attribute descriptor
              </tooltip>
              <summary>
                Descriptor of an attribute in the dataset.
              </summary>
              <description>
                Attribute element is a descriptor of an attribute in the 
                data file identified by its name. The attribute element 
                can contain information about the attribute's definition, 
                format, storage type and data range, or missing value.
              </description>
              <example>
              </example>
              <lineage>
                The attribute element was introduced into EML 1.4 as variable.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributeName" type="xs:string"
                                minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Attribute name
                    </tooltip>
                    <summary>
                      Attribute name for identification
                    </summary>
                    <description>
                      This element specifies name of the attribute (field) 
                      in the dataset. This information is typically used as
                      a column header for the field/variable in a spreadsheet.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The attributeName was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>

              <xs:element name="attributeDefinition" type="xs:string"
                                minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Attribute definition
                    </tooltip>
                    <summary>
                      Precise definition of attribute in the dataset
                    </summary>
                    <description>
                      This element gives a precise definition of attribute 
                      in the dataset.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The attributeDefinition was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>

              <xs:element name="unit" type="xs:string"
                                minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Unit of measurement
                    </tooltip>
                    <summary>
                      Unit of measurement for data in the field
                    </summary>
                    <description>
                      This element specifies unit of measurement for data 
                      in the field.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The unit was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>

              <xs:element name="storageType" type="xs:string"
                                minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Storage type
                    </tooltip>
                    <summary>
                      Description of storage type from data in the field
                    </summary>
                    <description>
                      This element describes the storage type for data in the 
                      field like: integer, floating point, character, string.
                    </description>
                    <example>
                      integer, floating point, character, string
                    </example>
                    <lineage>
                      The storageType was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>

              <xs:element name="codeDefinition"
                                minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Code definition
                    </tooltip>
                    <summary>
                      Description of any codes associated with the attribute
                    </summary>
                    <description>
                      This element describes a code associated with the 
                      attribute.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The codeDefinition was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="code" type="xs:string"
                                minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <tooltip>
                            Code
                          </tooltip>
                          <summary>
                            Code associated with the attribute
                          </summary>
                          <description>
                            This element specifies a code associated with 
                            the attribute.
                          </description>
                          <example>
                          </example>
                          <lineage>
                            The code element was introduced into EML 1.4.
                          </lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>        
                    <xs:element name="definition" type="xs:string"
                                minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <tooltip>
                              Code definition
                          </tooltip>
                          <summary>
                            Description of the code associated with 
                            the attribute
                          </summary>
                          <description>
                            This element describes the code associated 
                            with the attribute.
                          </description>
                          <example>
                          </example>
                          <lineage>
                            The definition element was introduced into EML 1.4.
                          </lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            
              <xs:element name="numericRange"
                                minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Numeric range
                    </tooltip>
                    <summary>
                      Numeric range of attribute
                    </summary>
                    <description>
                      This element specifies the minimum and maximum value range
                      of numeric attribute.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The numericRange was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="minimum" type="xs:string"
                                minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <tooltip>
                              Minimum numeric range
                          </tooltip>
                          <summary>
                                 Minimum numeric range of attribute
                          </summary>
                          <description>
                               This element specifies the minimum value range
                            of numeric attribute.
                          </description>
                          <example>
                          </example>
                          <lineage>
                            The minimum element was introduced into EML 1.4.
                          </lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>        
                    <xs:element name="maximum" type="xs:string"
                                minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <tooltip>
                              Maximum numeric range
                          </tooltip>
                          <summary>
                                 Maximum numeric range of attribute
                          </summary>
                          <description>
                               This element specifies the maximum value range
                            of numeric attribute.
                          </description>
                          <example>
                          </example>
                          <lineage>
                            The maximum element was introduced into EML 1.4.
                          </lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="missingValueCode" type="xs:string"
                                minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Character for missing value
                    </tooltip>
                    <summary>
                      Character for missing value in the data of the field
                    </summary>
                    <description>
                      This element is to specify missing value in the data
                      of the field.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The missingValueCode was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>

              <xs:element name="precision" type="xs:string"
                                minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Precision
                    </tooltip>
                    <summary>
                      Number of significat digits after the floating point.
                    </summary>
                    <description>
                      If data of that field are of floating point storage type
                      this element specifies the number of significat digits
                      after the floating point.
                    </description>
                    <example>
                      any integer number
                    </example>
                    <lineage>
                      The precision element was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>

              <xs:choice>
                <xs:element name="delimiter" type="xs:string"
                            minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                    <xs:appinfo>
                      <tooltip>
                          Attribute delimiter
                      </tooltip>
                      <summary>
                        The end of the field is delimited by a 
                        special character called a field delimiter.
                      </summary>
                      <description>
                        Variable width format fields can vary in their 
                        field length, thus the end of the field is 
                        delimited by a special character called a 
                        field delimiter (typically a comma or a space).

                        Data sets are generally classified as fixedWidth
                        format or variableWidth format, but we have
                        determined that this is actually a per-field
                        classification because one may encounter
                        fixedWidth fields mixed together in the same
                        data file with variableWidth fields.
                        
                        In our encoding scheme, the start of each field
                        is assumed to be the column after the last column
                        of the previous field, or the first column
                        if this is the first field in the dataset.
                        The end column for each field is classified
                        using either a special character delimeter,
                        or a fixed field length.  variableWidth fields
                        can vary in their field length, and the end of
                        the field is delimited by a special character
                        called a field delimiter, usually a comma or
                        a tab character.  fixedWidth fields have a set
                        length, and so the end of the field can always
                        be determined by adding the fieldWidth to the
                        starting column number.  Here is an example:
                        
                        Assume we have the following data in a data set:

                        May,100aaa,1.2,
                        April,200aaa,3.4,
                        June,300bbb,4.6,

                        The metadata for the 4 fields would include the 
                        following:

                        <![CDATA[
                        <attribute>
                          <attributeName>month</attributeName>
                          <delimiter>,</delimiter>
                        </attribute>

                        <attribute>
                          <attributeName>sitecode</attributeName>
                          <fieldWidth>3</fieldWidth>
                        </attribute>
                        
                        <attribute>
                          <attributeName>subsitecode</attributeName>
                          <fieldWidth>3</fieldWidth>
                        </attribute>
                        
                        <attribute>
                          <attributeName>response</attributeName>
                          <delimiter>,</delimiter>
                        </attribute> 
                        ]]>

                      </description>
                      <example>
                        comma, tab, white space, etc.
                      </example>
                      <lineage>
                        The delimiter element was introduced into 
                        EML 1.4. Semantics changed to work identically to
                        the NBII DTD.
                      </lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
                <xs:element name="fieldWidth" type="xs:string"
                            minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                    <xs:appinfo>
                      <tooltip>
                        Field width
                      </tooltip>
                      <summary>
                        FieldWidth specification for fixed field 
                        length.
                      </summary>
                      <description>
                        FixedWidth fields have a set length, thus 
                        the end of the field can always be determined
                        by adding the fieldWidth to the starting 
                        column number.
                      </description>
                      <example>
                        any positive integer, see example in "delimeter" 
                        description
                      </example>
                      <lineage>
                        The fieldWidth element was introduced into 
                        EML 1.4. Semantics changed to work identically to
                        the NBII DTD.
                      </lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
