eml-access.dtd

<!--
       '$RCSfile: eml-access.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2001-07-18 17:30:52 $'
      '$Revision: 1.14 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->
<!-- The root element represents a list of allow or deny records for 
       principals that should be either allowed or denied access to a resource. -->
<!ELEMENT acl (identifier+, (allow | deny)+)>
<!ATTLIST acl
  authSystem CDATA #REQUIRED
  order (allowFirst | denyFirst) "allowFirst"
>
<!-- The authentication system that this access file uses -->
<!-- The order in which the rules should be applied for this object -->
<!-- The public read access to this object -->
<!ELEMENT identifier (#PCDATA)>
<!ATTLIST identifier
  system CDATA #IMPLIED
>
<!ENTITY % AccessRule "principal+, permission+, duration?, ticketCount?">
<!-- an allow rule adds the listed permission for a particular principal -->
<!ELEMENT allow (%AccessRule;)>
<!-- a deny rule removes the listed permission for a particular principal -->
<!ELEMENT deny (%AccessRule;)>
<!-- the user/group in the authentication system to whom this rule applies -->
<!ELEMENT principal (#PCDATA)>
<!-- the permission to be allowed or denied (read/write/all) -->
<!ELEMENT permission (#PCDATA)>
<!-- the duration of the permission -->
<!ENTITY % cov SYSTEM "./eml-coverage.dtd">
%cov;
<!ELEMENT duration (%TemporalCoverage;)>
<!-- the number of accesses allowed by this rule if access is granted -->
<!ELEMENT ticketCount (#PCDATA)>
<!-- EOF -->
