eml-project.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2000/10/XMLSchema"
           xmlns:rp="iso:ResponsibleParty"
           xmlns:tc="eml:TemporalCoverage"
	   targetNamespace="eml:research">

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-project.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-02-16 17:03:21 $'
      '$Revision: 1.5 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appInfo>
      <moduleName>
        eml-research
      </moduleName>
      <moduleDescription>
        The EML Research Module describes the research context 
        in which the dataset was created.
      </moduleDescription>
    </xs:appInfo>
  </xs:annotation>

 <!-- import the elements from responsible party for use
      in eml-research/researchProject/originator  -->
  <xs:import namespace="iso:ResponsibleParty"
             schemaLocation = "./iso-party.xsd"/>

 <!-- import the elements from eml-entity/temporalCoverage for use
      in eml-research/researchProject/temporalDescription  -->
  <xs:import namespace="eml:TemporalCoverage"
             schemaLocation = "./eml-entity.xsd"/>

  <xs:element name="eml-research" minOccurs="1" maxOccurs="1">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
	  Research protocol descriptors
        </tooltip>
        <summary>
	  Container of all research projects in which context the
          dataset was created.
        </summary>
        <description>
           Eml-research element represents the research project 
           employed by the researchers who created this dataset.
        </description>
        <example>
        </example>
        <lineage>
          The eml-reasearch was introduced into EML 1.4 as eml-context.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appInfo>
              <tooltip>
	        File identifier
              </tooltip>
              <summary>
	        File identifier of the metadata document.
              </summary>
              <description>
                File identifier of the metadata document.
              </description>
              <example>
              </example>
              <lineage>
                The identifier was introduced into EML 1.4 as meta_file_id.
              </lineage>
            </xs:appInfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="researchProject"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appInfo>
              <tooltip>
	        Research project descriptor
              </tooltip>
              <summary>
	        Descriptor of research project in which context 
                the dataset was created.
              </summary>
              <description>
                Research project element is a descriptor of
                the research methods employed by the researchers who 
                created this dataset. It can include research methods, 
                data collection methods, equations, formulas. 
              </description>
              <example>
              </example>
              <lineage>
                The researchProject element was introduced into EML 1.4.
              </lineage>
            </xs:appInfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="researchProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"
                    minOccurs="1" maxOccurs="1"/>	
        <xs:element ref="originator"
                    minOccurs="1" maxOccurs="unbounded"/>	
        <xs:element ref="temporalDescription"
                    minOccurs="0" maxOccurs="unbounded"/>	
        <xs:element ref="objectives"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="abstract"
                    minOccurs="0" maxOccurs="1"/>	
        <xs:element ref="funding"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="siteDescription"
                    minOccurs="0" maxOccurs="unbounded"/>	
        <xs:element ref="designDescription"
                    minOccurs="0" maxOccurs="unbounded"/>	
        <xs:element ref="methodDescription"
                    minOccurs="0" maxOccurs="unbounded"/>	
        <xs:element ref="staff"
                    minOccurs="0" maxOccurs="unbounded"/>	
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="originator" type="rp:ResponsibleParty">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Originator
        </tooltip>
        <summary>
          The party who created the research project.
        </summary>
        <description>
          The party who created the research project.
        </description>
        <example>
        </example>
        <lineage>
          FGDC-STD-001.1-1999 (nbii-fgdc-std-001.1-1999)
        </lineage>
      </xs:appInfo>
    </xs:annotation> 
  </xs:element>
	
  <xs:element name="temporalDescription">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Temporal description
        </tooltip>
        <summary>
          Descriptor of temporal boudaries of the project.
        </summary>
        <description>
          This element describes the temporal coverage of the project.
          It specifies the duration, the start and ent date of the project.
        </description>
        <example>
        </example>
        <lineage>
          The temporalDescription element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="temporalCoverage" type="tc:TemporalCoverage"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="duration" 
                    minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name = "duration">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Duration
        </tooltip>
        <summary>
          Duration of the project.
        </summary>
        <description>
          Duration of the project in amount and unit.
        </description>
        <example>
          <![CDATA[<amount>30</amount><unit>day(s)</unit>]]>
        </example>
        <lineage>
          The duration element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element name="amount" type="xs:string"
                    minOccurs="1" maxOccurs="1"/>
	<xs:element name="unit" type="xs:string"
                    minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name = "objectives">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Objectives
        </tooltip>
        <summary>
          Scope and purpose of the research project.
        </summary>
        <description>
          Description of scope and purpose of the research project.
        </description>
        <example>
        </example>
        <lineage>
          The objectives element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="paragraph" type="xs:string"/>

  <xs:element name="abstract">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Abstract
        </tooltip>
        <summary>
          Descriptive abstract.
        </summary>
        <description>
          Descriptive abstract.
        </description>
        <example>
        </example>
        <lineage>
          The abstract element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="funding">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Funding
        </tooltip>
        <summary>
          Funding information.
        </summary>
        <description>
          Grant and contract numbers, names and addresses of funding sources.
        </description>
        <example>
        </example>
        <lineage>
          The funding element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="siteDescription">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Site description
        </tooltip>
        <summary>
          Site description.
        </summary>
        <description>
          Description of the site of the project. It can include 
          general description, geographical, geological,
          hydrological, hystorical, meterological information.
        </description>
        <example>
        </example>
        <lineage>
          The siteDescription element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph" 
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="siteType" 
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="geography"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="habitat"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="geology"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="hydrology"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="history"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="climate"
                    minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="siteType">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Site type description
        </tooltip>
        <summary>
          Site type description.
        </summary>
        <description>
          Site type - description, e.g., short-grass prairie,
          blackwater stream, etc.
        </description>
        <example>
        </example>
        <lineage>
          The siteType element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name = "geography">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Geographical descriptor
        </tooltip>
        <summary>
          Description of geographical location and size of the site.
        </summary>
        <description>
          Description of geographical location and size of the site 
          of the project in Cartesian coordinates.
        </description>
        <example>
        </example>
        <lineage>
          The geography element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="coordinates" 
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="paragraph" 
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation" 
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name = "coordinates">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Geographical coordinates
        </tooltip>
        <summary>
          Geographical coordinates of the site of the project.
        </summary>
        <description>
          This element is to specify the geographical Cartesian coordinates
          of the site of the project: lattitude and longitude.
        </description>
        <example>
        </example>
        <lineage>
          The coordinates element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lattitude" type="xs:string"
                    minOccurs="1" maxOccurs="1"/>
        <xs:element name="longitude" type="xs:string" 
                    minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="citation">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Citation
        </tooltip>
        <summary>
          Citation for the site.
        </summary>
        <description>
          Citation for the site. It can include the author, editor and
          information for the source.
        </description>
        <example>
        </example>
        <lineage>
          The citation element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="author" type="rp:ResponsibleParty"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="editor" type="rp:ResponsibleParty"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="sourceInformation"
                    minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="sourceInformation">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Source information
        </tooltip>
        <summary>
          Source information of the citation.
        </summary>
        <description>
          Information of the source of the citation: title, volume,
          issue, publication date, publisher, series, chapter title,
          pages, resource URL.
        </description>
        <example>
        </example>
        <lineage>
          The sourceInformation element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"
                    minOccurs="1" maxOccurs="1"/>
        <xs:element name="volume" type="xs:string"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="issue" type="xs:string"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="pubDate" type="xs:date"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="publisher" type="rp:ResponsibleParty"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="edition" type="xs:string"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="series" type="xs:string"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="chapterTitle"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="pages" type="xs:string"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element name="resourceURL" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="chapterTitle">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Chapter title
        </tooltip>
        <summary>
          Chapter title.
        </summary>
        <description>
          Chapter title of the source where the citation comes from.
        </description>
        <example>
        </example>
        <lineage>
          The chapterTitle element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"
                    minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="habitat">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Habitat sampled descriptor
        </tooltip>
        <summary>
          Detailed characteristics of habitat sampled in the site.
        </summary>
        <description>
          Detailed characteristics of habitat sampled in the site:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The habitat element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="geology">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Geological descriptor
        </tooltip>
        <summary>
          Geology and Landform description
        </summary>
        <description>
          Detailed characteristics of geology and landform of the site:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The geology element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="hydrology">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Hydrological descriptor
        </tooltip>
        <summary>
          Hydrological description of the site.
        </summary>
        <description>
          Hydrological description of the site:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The hydrology element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="history">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Historical descriptor
        </tooltip>
        <summary>
          Historical description of the site.
        </summary>
        <description>
          Historical description of the site:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The history element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="climate">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Climatic descriptor
        </tooltip>
        <summary>
          Climatic description of the site.
        </summary>
        <description>
          Climatic description of the site:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The climate element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="designDescription">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Experimental or Sampling design
        </tooltip>
        <summary>
          Experimental or Sampling design of the project
        </summary>
        <description>
          Experimental or Sampling design: the design method, plots,
          samplings, descriptive paragraph of text or citation from 
          a source.
        </description>
        <example>
        </example>
        <lineage>
          The designDescription element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="designMethod"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="plots"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="sampling"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="designMethod">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Design method
        </tooltip>
        <summary>
          Statistical/sampling design method descriptor
        </summary>
        <description>
          Description of Statistical/sampling design method:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The designMethod element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="plots">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Permanent plot
        </tooltip>
        <summary>
          Permanent plot of design of the project
        </summary>
        <description>
          Description of Permanent plot of design of the project:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The plots element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="sampling">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Temporal sampling regime
        </tooltip>
        <summary>
          Temporal sampling regime
        </summary>
        <description>
          Information necessary to understand temporal sampling regime:
          temporal boundaries, frequency of occurrence,
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The sampling element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="temporalCoverage" type="tc:TemporalCoverage"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="frequency" type="xs:string"
                    minOccurs="0" maxOccurs="1"/>
        <xs:element ref="paragraph" 
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="methodsDescription">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Research method 
        </tooltip>
        <summary>
          Research method descriptor
        </summary>
        <description>
          Description of research method of the project:
          the method itself, instruments used, taxonomy, permit, 
          legal information, 
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The methodsDecription element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="method"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="instrument"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="taxonomy"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="permit"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="legalInformation"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="method">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Research method 
        </tooltip>
        <summary>
          Research method descriptor
        </summary>
        <description>
          Description or reference to field/laboratory method:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The method element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="instrument">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Instrument used 
        </tooltip>
        <summary>
          Instrument used
        </summary>
        <description>
          Instruments used:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The instrument element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="taxonomy">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Taxonomy
        </tooltip>
        <summary>
          Taxonomy information
        </summary>
        <description>
          Taxonomy information:
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The taxonomy element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="citation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="permit">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Permit
        </tooltip>
        <summary>
          References to pertinent scientific and collecting permits
          information
        </summary>
        <description>
          References to pertinent scientific and collecting permits
          information: descriptive paragraph of text.
        </description>
        <example>
        </example>
        <lineage>
          The permit element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="legalInformation">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Legal information
        </tooltip>
        <summary>
          Legal information
        </summary>
        <description>
          References to pertinent scientific and collecting permits
          information: descriptive paragraph of text.
        </description>
        <example>
        </example>
        <lineage>
          The legalInformation element was introduced into EML 1.4.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="paragraph"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	
  <xs:element name="staff" type="rp:ResponsibleParty">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Project personell
        </tooltip>
        <summary>
          Project personell
        </summary>
        <description>
          Project personell.
        </description>
        <lineage>
          FGDC-STD-001.1-1999 (nbii-fgdc-std-001.1-1999)
        </lineage>
      </xs:appInfo>
    </xs:annotation> 
  </xs:element>

</xs:schema>
