eml-entity.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:entity" 
           xmlns="eml:entity" 
           xmlns:cov="eml:coverage" 
           xmlns:doc="eml:documentation" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="eml:documentation" 
             schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="iso:spatialRepresentation" 
             schemaLocation="isoSpatialRepresentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-entity.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: berkley $'
          '$Date: 2002-03-20 20:59:37 $'
      '$Revision: 1.22 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-entity</doc:moduleName>
      <doc:moduleDescription>
        The EML Entity Module defines the logical characteristics of every
        entity in the dataset.  Entities are usually tables of data with a
        fixed logical structure, but could also be other types of data such
        as raster or vector image data.  The "table-entity" element is used
        to describe all table entities, and the "other-entity" element would
        be used to describe all other types of entities.  Specific details of
        non-tabular entities are left to other standards (e.g., for remote
        sensing data, one should include a spatial metadata module such as
        the FGDC Content Standard for Digitial Geospatial Metadata [CSDGM]).
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="eml:coverage" schemaLocation="eml-coverage.xsd"/>
  <xs:element name="table-entity">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Table Entity descriptor
        </doc:tooltip>
        <doc:summary>
          Descriptor of one table entity in the dataset.
        </doc:summary>
        <doc:description>
          The table entity element is a descriptor of one entity in the dataset
          identified by its name. The entity element can contain information 
          about the entity's orientation, number of records,
          case sensitiveness, and temporal, geographic and taxonomic coverage.
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The entity element was introduced into EML 1.4 as file.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="EntityBase">
          <xs:sequence>
            <xs:element name="orientation" nillable="true" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Entity's record orientation
                  </doc:tooltip>
                  <doc:summary>
                    Specification of the entity's record orientation.
                  </doc:summary>
                  <doc:description>
                    This element contains specification of the entity's
                    record orientation by element's attribute "columnorrow".
                  </doc:description>
                  <doc:example>
                    The valid attribute values are "columnmajor" or "rowmajor".
                    If the attribute is not specified, "columnmajor" is used.
                  </doc:example>
                  <doc:lineage>
                    The orientation element was introduced into EML 1.4.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="columnorrow" use="optional" default="columnmajor">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                          Attribute of orientation element
                      </doc:tooltip>
                      <doc:summary>
                          Specification of the entity's record orientation.
                      </doc:summary>
                      <doc:description>
                          This attribute specifies the entity's
                        record orientation.
                      </doc:description>
                      <doc:example>
                        The valid attribute values are "columnmajor" or
                        "rowmajor".  If the attribute is not specified,
                        "columnmajor" is used.
                      </doc:example>
                      <doc:lineage>
                        The columnorrow attribute was introduced into EML 1.4.
                      </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="columnmajor"/>
                      <xs:enumeration value="rowmajor"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="caseSensitive" nillable="true" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Data case sensitiveness
                  </doc:tooltip>
                  <doc:summary>
                    Specification of text case sensitiveness in the entity.
                  </doc:summary>
                  <doc:description>
                    This element contains specification of text
                    case sensitiveness of the data in the entity. It is 
                    specified from element's attribute "yesorno".
                  </doc:description>
                  <doc:example>
                    The valid attribute values are "yes" or "no".
                    If the attribute is not specified, "yes" is used.
                  </doc:example>
                  <doc:lineage>
                    The caseSensitive element was introduced into EML 1.4.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="yesorno" use="optional" default="yes">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                        Attribute of caseSensitive element
                      </doc:tooltip>
                      <doc:summary>
                        Specification of text case sensitiveness in the entity.
                      </doc:summary>
                      <doc:description>
                        This attribute specifies text case sensitiveness of 
                        entity's data.
                      </doc:description>
                      <doc:example>
                        The valid attribute values are "yes" or "no".
                        If the attribute is not specified, "yes" is used.
                      </doc:example>
                      <doc:lineage>
                        The yesorno attribute was introduced into EML 1.4.
                      </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="yes"/>
                      <xs:enumeration value="no"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="numberOfRecords" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Number of records
                  </doc:tooltip>
                  <doc:summary>
                    The integer count of the number of records inthe entity
                  </doc:summary>
                  <doc:description>
                    This element contains a count of the number of records
                    in the entity.  This is typically an integer value,
                    and only includes records that represent observations.
                    It would not include any details of physical formatting
                    such as the number of header lines (see eml-physical
                    for that information).
                  </doc:description>
                  <doc:example>
                    <![CDATA[<numberOfRecords>975</numberOfRecords>]]>
                  </doc:example>
                  <doc:lineage>
                    Introduced in EML 2
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="other-entity">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Other Entity descriptor
        </doc:tooltip>
        <doc:summary>
          Descriptor of single non-table entity in the dataset.
        </doc:summary>
        <doc:description>
          The other entity element is a descriptor of one non-tabular entity in the
          dataset, identified by its name. The element can contain information
          about the entity's basic identity, its temporal, geographic and
          taxonomic coverage, and its type.
        </doc:description>
        <doc:example>
           Photograph of rocky intertidal plot 12 from Santa Cruz Island 
        </doc:example>
        <doc:lineage>
          The entity element was introduced into EML 1.4 as file.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="EntityBase">
          <xs:sequence>
            <xs:element name="entityType" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Entity type
                  </doc:tooltip>
                  <doc:summary>
                    Contains the name of the type for this entity.
                  </doc:summary>
                  <doc:description>
                    This element contains the name of the entity's type.
                    The entity's type is typically the name of the data
                    type represented in the entity, such as raster image,
                    vector image, etc.
                  </doc:description>
                  <doc:example>
                    <![CDATA[<entityType>Raster Image</entityType>]]>
                  </doc:example>
                  <doc:lineage>
                    The entityType element was introduced into EML 1.4 as 
                    entityFormat.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="spatial-entity">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Spatial Entity descriptor
        </doc:tooltip>
        <doc:summary>
          Descriptor of single spatial entity in the dataset.
        </doc:summary>
        <doc:description>
          The spatial entity element is a descriptor of one spatial entity in the
          dataset, identified by its name. The element can contain information
          about the entity's basic identity, temporal, geographic and
          taxonomic coverage.
        </doc:description>
        <doc:example>
           DEM of Hastings reserve.
        </doc:example>
        <doc:lineage>
          The spatial entity element was introduced into EML 2.0 beta 7
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="EntityBase">
          <xs:choice>
            <xs:element name="spatialImage" type="ImageSpatialRepresentatin" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    This element describes a spatially referenced image.
                  </doc:tooltip>
                  <doc:summary>
                    This element describes a spatially referenced image.
                  </doc:summary>
                  <doc:description>
                    This element describes a spatially referenced image. This could be 
                    a GIS layer or any other spatially referenced visual
                  </doc:description>
                  <doc:example>
                     arcview .arc or .arg file.
                  </doc:example>
                  <doc:lineage>
                    The spatial entity elements were introduced into EML 2.0 beta 7
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="spatialGrid" type="RasterSpatialRepresentation" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Description of a gis layer composed of raster pixels.
                  </doc:tooltip>
                  <doc:summary>
                    Description of a gis layer composed of raster pixels.
                  </doc:summary>
                  <doc:description>
                    Description of a gis layer composed of raster pixels.  This
                    is a raster grid of pixels.  Raster spatial objects used to 
                    locate zero-, two-, or three-dimensional locations in the 
                    dataset
                  </doc:description>
                  <doc:example>
                     
                  </doc:example>
                  <doc:lineage>
                    The spatial entity elements were introduced into EML 2.0 beta 7
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="spatialVector" type="SpatialVector" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Description of an image layer created from a sensor or scanner
                  </doc:tooltip>
                  <doc:summary>
                    Description of an image layer created from a sensor or scanner
                  </doc:summary>
                  <doc:description>
                    Description of an image layer created from a sensor or scanner
                  </doc:description>
                  <doc:example>
                     
                  </doc:example>
                  <doc:lineage>
                    The spatial entity elements were introduced into EML 2.0 beta 7
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="ImageSpatialRepresentation">
    <xs:sequence>
      <xs:element name="spatialRepresentationType" type="SpatialRepresentationType">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              The type of the spatial representation taken from the enumeration.
            </doc:tooltip>
            <doc:summary>
              The type of the spatial representation taken from the enumeration.
            </doc:summary>
            <doc:description>
              The type of the spatial representation taken from the enumeration.
            </doc:description>
            <doc:example>
               raster, vector, image, text, matrix, TIN
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="imageIdentifier" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Unique discriptor for an image within a dataset series.
            </doc:tooltip>
            <doc:summary>
              Unique discriptor for an image within a dataset series.
            </doc:summary>
            <doc:description>
              Unique discriptor for an image within a dataset series.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="imageType" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Identifies the general kind of image represented by the data
            </doc:tooltip>
            <doc:summary>
              Identifies the general kind of image represented by the data
            </doc:summary>
            <doc:description>
              Identifies the general kind of image represented by the data
            </doc:description>
            <doc:example>
               visible, hyperspectral, multispectral, infrared, thermal infrared, radar
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="meanGroundSampleDistance" type="GroundSpacing" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Geometric mean of the across and along scan centre-to-centre 
              distance between continuous ground spamples in metres.
            </doc:tooltip>
            <doc:summary>
              Geometric mean of the across and along scan centre-to-centre 
              distance between continuous ground spamples in metres.
            </doc:summary>
            <doc:description>
              Geometric mean of the across and along scan centre-to-centre 
              distance between continuous ground spamples in metres.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="groundToImageCoefficient" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Code which indicates whether or not Ground-to-Image coefficients 
              are availabel and contained within the product data.
            </doc:tooltip>
            <doc:summary>
              Code which indicates whether or not Ground-to-Image coefficients 
              are availabel and contained within the product data.
            </doc:summary>
            <doc:description>
              Code which indicates whether or not Ground-to-Image coefficients 
              are availabel and contained within the product data.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="imageSuitability" type="ImageSuitability" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Provides information about the image's suitability for use.
            </doc:tooltip>
            <doc:summary>
              Provides information about the image's suitability for use.
            </doc:summary>
            <doc:description>
              Provides information about the image's suitability for use.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="params" type="SensorParameters" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Provides the parameters defining the sensor that captured the image.
            </doc:tooltip>
            <doc:summary>
              Provides the parameters defining the sensor that captured the image.
            </doc:summary>
            <doc:description>
              Provides the parameters defining the sensor that captured the image.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
	</xs:complexType>
  
  <xs:complexType name="SensorParameters">
		<xs:sequence>
			<xs:element name="focalLength" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
               Focal length of the lens in millimetres.
            </doc:tooltip>
            <doc:summary>
               Focal length of the lens in millimetres.
            </doc:summary>
            <doc:description>
              Focal length of the lens in millimetres.
            </doc:description>
            <doc:example>
               80
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="obliquityAngle" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Angle off vertical of image in degrees.
            </doc:tooltip>
            <doc:summary>
              Angle off vertical of image in degrees.
            </doc:summary>
            <doc:description>
              Angle off vertical of image in degrees.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="imageSensorTime" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              The precise time at which the image was captured in the 
              sensor's time system.
            </doc:tooltip>
            <doc:summary>
              The precise time at which the image was captured in the 
              sensor's time system.
            </doc:summary>
            <doc:description>
              The precise time at which the image was captured in the 
              sensor's time system.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="sensorCategory" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Identifies the specific category of imagery.
            </doc:tooltip>
            <doc:summary>
              Identifies the specific category of imagery.
            </doc:summary>
            <doc:description>
              Identifies the specific category of imagery.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="sensorMode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Identifies the sensor mode used in capturing the image.
            </doc:tooltip>
            <doc:summary>
              Identifies the sensor mode used in capturing the image.
            </doc:summary>
            <doc:description>
              Identifies the sensor mode used in capturing the image.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="spectralProperties" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Electromagnetic spetrum sensitivity of sensor.
            </doc:tooltip>
            <doc:summary>
              Electromagnetic spetrum sensitivity of sensor.
            </doc:summary>
            <doc:description>
              Electromagnetic spetrum sensitivity of sensor.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="fieldOfView" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Area of measurement of sensor.
            </doc:tooltip>
            <doc:summary>
              Area of measurement of sensor.
            </doc:summary>
            <doc:description>
              Area of measurement of sensor.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="orientationOnPlatform" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Orientation of instrument relative to platform.
            </doc:tooltip>
            <doc:summary>
              Orientation of instrument relative to platform.
            </doc:summary>
            <doc:description>
              Orientation of instrument relative to platform.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="operationMode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Sensor status.
            </doc:tooltip>
            <doc:summary>
              Sensor status.
            </doc:summary>
            <doc:description>
              Sensor status.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="band" type="SensorBand" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Set of wavelength that the sensor operates in.
            </doc:tooltip>
            <doc:summary>
              Set of wavelength that the sensor operates in.
            </doc:summary>
            <doc:description>
              Set of wavelength that the sensor operates in.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  
  <xs:complexType name="SensorBand">
		<xs:sequence>
			<xs:element name="sequenceIdentifier" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Number that uniquely identifies instances of bands of wavelengths 
              on which a sensor operates.
            </doc:tooltip>
            <doc:summary>
              Number that uniquely identifies instances of bands of wavelengths 
              on which a sensor operates.
            </doc:summary>
            <doc:description>
              Number that uniquely identifies instances of bands of wavelengths 
              on which a sensor operates.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="highWavelength" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Highest wavelength that the sensor is capable of collecting 
              within a designated band in metres.
            </doc:tooltip>
            <doc:summary>
              Highest wavelength that the sensor is capable of collecting 
              within a designated band in metres.
            </doc:summary>
            <doc:description>
              Highest wavelength that the sensor is capable of collecting 
              within a designated band in metres.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="lowWaveLength" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Lowest wavelength that the sensor is capable of collecting within 
              a designated band in metres.
            </doc:tooltip>
            <doc:summary>
              Lowest wavelength that the sensor is capable of collecting within 
              a designated band in metres.
            </doc:summary>
            <doc:description>
              Lowest wavelength that the sensor is capable of collecting within 
              a designated band in metres.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="cameraCalibration" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Code which indicates whether or not constants are available which 
              allow for camera calibration corrections.
            </doc:tooltip>
            <doc:summary>
              Code which indicates whether or not constants are available which 
              allow for camera calibration corrections.
            </doc:summary>
            <doc:description>
              Code which indicates whether or not constants are available which 
              allow for camera calibration corrections.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="filmDistortion" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Code which indicates whether or not Calibration Reseau information 
              is available
            </doc:tooltip>
            <doc:summary>
              Code which indicates whether or not Calibration Reseau information 
              is available
            </doc:summary>
            <doc:description>
              Code which indicates whether or not Calibration Reseau information 
              is available
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="lensDistortion" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Code which indicates whether or not lens aberration correction 
              information is available
            </doc:tooltip>
            <doc:summary>
              Code which indicates whether or not lens aberration correction 
              information is available
            </doc:summary>
            <doc:description>
              Code which indicates whether or not lens aberration correction 
              information is available
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  
  <xs:complexType name="ImageSuitability">
		<xs:sequence>
			<xs:element name="illuminationElevationAngle" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Illumination elevation measured in degrees clockwise from the 
              target plane at intersection of the optical line of sight with 
              the earth's surface. 
            </doc:tooltip>
            <doc:summary>
              Illumination elevation measured in degrees clockwise from the 
              target plane at intersection of the optical line of sight with 
              the earth's surface. 
            </doc:summary>
            <doc:description>
              Illumination elevation measured in degrees clockwise from the 
              target plane at intersection of the optical line of sight with 
              the earth's surface. 
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="illuminationAzimuthAngle" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Illumitation azimuth measured in degrees clockwise from true 
              north at the time the image is taken.
            </doc:tooltip>
            <doc:summary>
              Illumitation azimuth measured in degrees clockwise from true 
              north at the time the image is taken.
            </doc:summary>
            <doc:description>
              Illumitation azimuth measured in degrees clockwise from true 
              north at the time the image is taken.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="imageOrientationAngle" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Angle from the first row of the image to true north in degrees, 
              clockwise.
            </doc:tooltip>
            <doc:summary>
              Angle from the first row of the image to true north in degrees, 
              clockwise.
            </doc:summary>
            <doc:description>
              Angle from the first row of the image to true north in degrees, 
              clockwise.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="imagingCondition" type="ImagingConditionCode" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Code which indicates conditions which affect the quality of the image.
            </doc:tooltip>
            <doc:summary>
              Code which indicates conditions which affect the quality of the image.
            </doc:summary>
            <doc:description>
              Code which indicates conditions which affect the quality of the image.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="ImageQualityRatingSystem" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Rating system on which the image quality code is based.
            </doc:tooltip>
            <doc:summary>
              Rating system on which the image quality code is based.
            </doc:summary>
            <doc:description>
              Rating system on which the image quality code is based.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="imageQualityCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Specifies the image quality.
            </doc:tooltip>
            <doc:summary>
              Specifies the image quality.
            </doc:summary>
            <doc:description>
              Specifies the image quality.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="cloudCoverPercentage" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Area of the dataset obscured by clouds, expressed as a percentage
              of the spatial extent.
            </doc:tooltip>
            <doc:summary>
              Area of the dataset obscured by clouds, expressed as a percentage
              of the spatial extent.
            </doc:summary>
            <doc:description>
              Area of the dataset obscured by clouds, expressed as a percentage
              of the spatial extent.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="preProcessingTypeCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Image distributor's code that idnetifies the level of radiometric 
              and geometric proseccing applied against the image.
            </doc:tooltip>
            <doc:summary>
              Image distributor's code that idnetifies the level of radiometric 
              and geometric proseccing applied against the image.
            </doc:summary>
            <doc:description>
              Image distributor's code that idnetifies the level of radiometric 
              and geometric proseccing applied against the image.
            </doc:description>
            <doc:example>
               LEVELl1A, SPOTVIEWORTHO
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="compressionGenerationQuality" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Counts the number of lossy compression cycles performed on the image.
            </doc:tooltip>
            <doc:summary>
              Counts the number of lossy compression cycles performed on the image.
            </doc:summary>
            <doc:description>
              Counts the number of lossy compression cycles performed on the image.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="triangulationIndicator" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Code which indicates whether or not triangulation has been 
              performed upon the image.
            </doc:tooltip>
            <doc:summary>
              Code which indicates whether or not triangulation has been 
              performed upon the image.
            </doc:summary>
            <doc:description>
              Code which indicates whether or not triangulation has been 
              performed upon the image.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="radiometricDataAvailability" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Code which indicates whether or not Standard Rdiometric Product 
              data is available.
            </doc:tooltip>
            <doc:summary>
              Code which indicates whether or not Standard Rdiometric Product 
              data is available.
            </doc:summary>
            <doc:description>
              Code which indicates whether or not Standard Rdiometric Product 
              data is available.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="ESDAvailability" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Indicates whether or not Image Exploitation Support Data (ESD) is 
              available such as position and attitude information
            </doc:tooltip>
            <doc:summary>
              Indicates whether or not Image Exploitation Support Data (ESD) is 
              available such as position and attitude information
            </doc:summary>
            <doc:description>
              Indicates whether or not Image Exploitation Support Data (ESD) is 
              available such as position and attitude information
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  
  <xs:complexType name="RasterSpatialRepresentation">
    <xs:element name="spatialRepresentationType" type="SpatialRepresentationType">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            The type of the spatial representation taken from the enumeration.
          </doc:tooltip>
          <doc:summary>
            The type of the spatial representation taken from the enumeration.
          </doc:summary>
          <doc:description>
            The type of the spatial representation taken from the enumeration.
          </doc:description>
          <doc:example>
             raster, vector, image, text, matrix, TIN
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="cellType" type="RasterCellType">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            Raster spatial objects used to locate zero-, two-, or 
            three-dimensional locations in the dataset
          </doc:tooltip>
          <doc:summary>
            Raster spatial objects used to locate zero-, two-, or 
            three-dimensional locations in the dataset
          </doc:summary>
          <doc:description>
            Raster spatial objects used to locate zero-, two-, or 
            three-dimensional locations in the dataset
          </doc:description>
          <doc:example>
             
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="cellOrigin" type="xs:string">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            Location of pixel 1,1
          </doc:tooltip>
          <doc:summary>
            Location of pixel 1,1
          </doc:summary>
          <doc:description>
            Location of pixel 1,1
          </doc:description>
          <doc:example>
             NW Corner
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="rows" type="xs:string">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            Maximum number of raster objects along the ordinate (y) axis
          </doc:tooltip>
          <doc:summary>
            Maximum number of raster objects along the ordinate (y) axis
          </doc:summary>
          <doc:description>
            Maximum number of raster objects along the ordinate (y) axis
          </doc:description>
          <doc:example>
             
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="columns" type="xs:string">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            Maximum number of raster objects along the abscissa (x) axis
          </doc:tooltip>
          <doc:summary>
            Maximum number of raster objects along the abscissa (x) axis
          </doc:summary>
          <doc:description>
            Maximum number of raster objects along the abscissa (x) axis
          </doc:description>
          <doc:example>
             
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="verticals" type="xs:string">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            Maximum number of raster objects along the vertical (z) axis
          </doc:tooltip>
          <doc:summary>
            Maximum number of raster objects along the vertical (z) axis
          </doc:summary>
          <doc:description>
            Maximum number of raster objects along the vertical (z) axis
          </doc:description>
          <doc:example>
             
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="scanResolution" type="ScanResolution">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            Units used to express data density along the axes.
          </doc:tooltip>
          <doc:summary>
            Units used to express data density along the axes.
          </doc:summary>
          <doc:description>
            Units used to express data density along the axes.
          </doc:description>
          <doc:example>
             
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="groundSpacing" type="GroundSpacingResolution">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            Unit of measurement used to describe the distance.
          </doc:tooltip>
          <doc:summary>
            Unit of measurement used to describe the distance.
          </doc:summary>
          <doc:description>
            Unit of measurement used to describe the distance.
          </doc:description>
          <doc:example>
             
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="cellDomain" type="CellValueDomain">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>
            Provides information about the domain of a raster cell.
          </doc:tooltip>
          <doc:summary>
            Provides information about the domain of a raster cell.
          </doc:summary>
          <doc:description>
            Provides information about the domain of a raster cell.
          </doc:description>
          <doc:example>
             
          </doc:example>
          <doc:lineage>
            The spatial entity elements were introduced into EML 2.0 beta 7
          </doc:lineage>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
  </xs:complexType>
  
  <xs:complexType name="GroundSpacing">
		<xs:sequence>
			<xs:element name="spacing" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Center to center distance between continuous samples.
            </doc:tooltip>
            <doc:summary>
              Center to center distance between continuous samples.
            </doc:summary>
            <doc:description>
              Center to center distance between continuous samples.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="unit" type="LengthUnitCode">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units of measure used to describe pixels per unit.
            </doc:tooltip>
            <doc:summary>
              Units of measure used to describe pixels per unit.
            </doc:summary>
            <doc:description>
              Units of measure used to describe pixels per unit.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  
  <xs:complexType name="CellValueDomain">
		<xs:sequence>
			<xs:element name="toneGradation" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Number of colors present in the image.
            </doc:tooltip>
            <doc:summary>
              Number of colors present in the image.
            </doc:summary>
            <doc:description>
              Number of colors present in the image.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="bitsPerBand" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Maximum number of significant bits for the value in each band of 
              each pixel without compression.
            </doc:tooltip>
            <doc:summary>
              Maximum number of significant bits for the value in each band of 
              each pixel without compression.
            </doc:summary>
            <doc:description>
              Maximum number of significant bits for the value in each band of 
              each pixel without compression.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="cellAttributeDescription" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Description of teh attribute described by teh measurement value.
            </doc:tooltip>
            <doc:summary>
              Description of teh attribute described by teh measurement value.
            </doc:summary>
            <doc:description>
              Description of teh attribute described by teh measurement value.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="cellUnit" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units of the cell attribute.
            </doc:tooltip>
            <doc:summary>
              Units of the cell attribute.
            </doc:summary>
            <doc:description>
              Units of the cell attribute.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  
  <xs:complexType name="GroundSpacingResolution">
		<xs:sequence>
			<xs:element name="xSpacing" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              The distance represented by a pixel in the x direction on the ground.
            </doc:tooltip>
            <doc:summary>
              The distance represented by a pixel in the x direction on the ground.
            </doc:summary>
            <doc:description>
              The distance represented by a pixel in the x direction on the ground.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="ySpacing" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              The distance represented by a pixel in the y direction on the ground.
            </doc:tooltip>
            <doc:summary>
              The distance represented by a pixel in the y direction on the ground.
            </doc:summary>
            <doc:description>
              The distance represented by a pixel in the y direction on the ground.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="zSpacing" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              The distance represented by a pixel in the z direction on the ground.
            </doc:tooltip>
            <doc:summary>
              The distance represented by a pixel in the z direction on the ground.
            </doc:summary>
            <doc:description>
              The distance represented by a pixel in the z direction on the ground.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  
  <xs:complexType name="ScanResolution">
		<xs:sequence>
			<xs:element name="xResolution" type="PixelResolution">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units used to express data density along the x axis.
            </doc:tooltip>
            <doc:summary>
              Units used to express data density along the x axis.
            </doc:summary>
            <doc:description>
              Units used to express data density along the x axis.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="yResolution" type="PixelResolution">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units used to express data density along the y axis.
            </doc:tooltip>
            <doc:summary>
              Units used to express data density along the y axis.
            </doc:summary>
            <doc:description>
              Units used to express data density along the y axis.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="zResolution" type="PixelResolution">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units used to express data density along the z axis.
            </doc:tooltip>
            <doc:summary>
              Units used to express data density along the z axis.
            </doc:summary>
            <doc:description>
              Units used to express data density along the z axis.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  
  <xs:complexType name="PixelResolution">
		<xs:sequence>
			<xs:element name="pixelsPerUnit" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Number of pixels contained in one unit of measurement.
            </doc:tooltip>
            <doc:summary>
              Number of pixels contained in one unit of measurement.
            </doc:summary>
            <doc:description>
              Number of pixels contained in one unit of measurement.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
			<xs:element name="unit" type="LengthUnitCode">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Units of measure used to describe pixels per unit.
            </doc:tooltip>
            <doc:summary>
              Units of measure used to describe pixels per unit.
            </doc:summary>
            <doc:description>
              Units of measure used to describe pixels per unit.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  
  <xs:simpleType name="ImagingConditionCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="blurredimage"/>
			<xs:enumeration value="cloud"/>
			<xs:enumeration value="degradingObliquity"/>
			<xs:enumeration value="fog"/>
			<xs:enumeration value="heavySmokeorDust"/>
			<xs:enumeration value="night"/>
			<xs:enumeration value="rain"/>
			<xs:enumeration value="semiDarkness"/>
			<xs:enumeration value="shadow"/>
			<xs:enumeration value="snow"/>
			<xs:enumeration value="terrainMasking"/>
		</xs:restriction>
	</xs:simpleType>
  
  <xs:simpleType name="LengthUnitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="millimetre"/>
			<xs:enumeration value="centimetre"/>
			<xs:enumeration value="metre"/>
			<xs:enumeration value="kilometre"/>
			<xs:enumeration value="internationalInch"/>
			<xs:enumeration value="internationalFoot"/>
			<xs:enumeration value="internatinalMile"/>
			<xs:enumeration value="nauticalMile"/>
			<xs:enumeration value="degree"/>
			<xs:enumeration value="arcMinute"/>
			<xs:enumeration value="arcSecond"/>
		</xs:restriction>
	</xs:simpleType>
  
  <xs:simpleType name="RasterCellType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="matrixValues"/>
			<xs:enumeration value="matrixCoded"/>
			<xs:enumeration value="pixelRGB"/>
			<xs:enumeration value="pixelCodes"/>
			<xs:enumeration value="pixelHIS"/>
			<xs:enumeration value="pixelHLS"/>
			<xs:enumeration value="TekHVC"/>
		</xs:restriction>
	</xs:simpleType>
  
  <xs:complexType name="SpatialVector">
    <xs:sequence>
      <xs:element name="spatialRepresentationType" type="SpatialRepresentationType">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              
            </doc:tooltip>
            <doc:summary>
              
            </doc:summary>
            <doc:description>
              
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="geometricObjectType" type="GoemetricObjectType">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Name of point and vector spatial objects used to locate zero-, 
              one-, and two-dimensional spatial locations in the dataset.
            </doc:tooltip>
            <doc:summary>
              Name of point and vector spatial objects used to locate zero-, 
              one-, and two-dimensional spatial locations in the dataset.
            </doc:summary>
            <doc:description>
              Name of point and vector spatial objects used to locate zero-, 
              one-, and two-dimensional spatial locations in the dataset.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="geometricObjectCount" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Total number of the point or vector object type occurring in the 
              dataset.
            </doc:tooltip>
            <doc:summary>
              Total number of the point or vector object type occurring in the 
              dataset.
            </doc:summary>
            <doc:description>
              Total number of the point or vector object type occurring in the 
              dataset.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="topologyLevel" type="TopologyLevel">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Code which identifies the degree of complexity.
            </doc:tooltip>
            <doc:summary>
              Code which identifies the degree of complexity.
            </doc:summary>
            <doc:description>
              Code which identifies the degree of complexity.
            </doc:description>
            <doc:example>
               
            </doc:example>
            <doc:lineage>
              The spatial entity elements were introduced into EML 2.0 beta 7
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="TopologyLevel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="geometryOnly"/>
			<xs:enumeration value="nonPlanarGraph"/>
			<xs:enumeration value="planarLineGraph"/>
			<xs:enumeration value="fullPlanarGraph"/>
			<xs:enumeration value="surfaceGraph"/>
			<xs:enumeration value="fullTopology3D"/>
		</xs:restriction>
	</xs:simpleType>
  
  <xs:simpleType name="SpatialRepresentationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="raster"/>
			<xs:enumeration value="vector"/>
			<xs:enumeration value="image"/>
			<xs:enumeration value="text"/>
			<xs:enumeration value="matrix"/>
			<xs:enumeration value="TIN"/>
		</xs:restriction>
	</xs:simpleType>
  
  <xs:simpleType name="GeometricObjectType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="points"/>
			<xs:enumeration value="curves"/>
			<xs:enumeration value="surfaces"/>
			<xs:enumeration value="solids"/>
			<xs:enumeration value="composites"/>
			<xs:enumeration value="complexes"/>
		</xs:restriction>
	</xs:simpleType>
  
  <xs:complexType name="EntityBase">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Base Entity descriptors
        </doc:tooltip>
        <doc:summary>
          Basic information about an entity common to all entity types.
        </doc:summary>
        <doc:description>
          Basic information about all entity types, including name and
          coverage of the entity.  The term entity is used in the sense of
          an entity in a relational model; it generally represents a table,
          but can also represent an image or other
          type of data.
        </doc:description>
        <doc:example>
        See 'eml-coverage' for descriptions of the coverage elements
        </doc:example>
        <doc:lineage>
          The eml-entity was introduced into EML 1.4 as eml-file.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Unique identifier
            </doc:tooltip>
            <doc:summary>
              The unique identifier of this metadata file or object.
            </doc:summary>
            <doc:description>
              The identifier field provides a unique identifier for this
              metadata documentation.  It will most likely be part of a 
              sequence of numbers or letters that are meaningful in a 
              larger context, such as a metadata catalog. That larger
              system can be identified in the "system" attribute. Multiple
              identifiers can be listed corresponding to different catalog
              systems.
            </doc:description>
            <doc:example>
              <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
            </doc:example>
            <doc:lineage>
              The 'identifier' field is derived from the eml-dataset 
              meta_file_id filed in EML 1.4.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="system" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                  Catalog system
                </doc:tooltip>
                    <doc:summary>
                  The catalog system in which this identifier is used.
                </doc:summary>
                    <doc:description>
                  This element gives the name of the catalog system in which
                  this identifier is used.  It is useful to determine the
                  scope of the identifier, and to determine the semantics
                  of the various subparts of the identifier. Unresolved issue:
                  can or should this be a URI/URL pointing to the catalog
                  system, or just the name?
                </doc:description>
                <doc:example><![CDATA[
                  <identifier system="metacat">nceas.3.2</identifier>]]>
                </doc:example>
                <doc:lineage>
                  New to EML 2.0.
                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="entityName" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Entity name
            </doc:tooltip>
            <doc:summary>
              Entity name specifier
            </doc:summary>
            <doc:description>
              The name identifies the entity in the dataset: file name, 
              name of database table, etc.
            </doc:description>
            <doc:example>
              SpeciesAbundance1996
            </doc:example>
            <doc:lineage>
              The entityName was introduced into EML 1.4.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="entityDescription" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Entity description
            </doc:tooltip>
            <doc:summary>
              General description of the entity and its contents
            </doc:summary>
            <doc:description>
              A paragraph of text generally describing the entity, its type, and
              relevant information about the data in the entity.
            </doc:description>
            <doc:example>
              Species abundance data for 1996 at the VCR LTER
            </doc:example>
            <doc:lineage>
              Introduced in EML 2
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="cov:temporalCov"/>
      <xs:element ref="cov:geographicCov"/>
      <xs:element ref="cov:taxonomicCov"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
