eml-constraint.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:constraint-2.0.0beta8" 
           xmlns="eml:constraint-2.0.0beta8" 
           xmlns:doc="eml:documentation-2.0.0beta8" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="eml:documentation-2.0.0beta8" 
             schemaLocation="eml-documentation.xsd-2.0.0beta8"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-constraint.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: berkley $'
          '$Date: 2002-04-21 22:45:30 $'
      '$Revision: 1.15 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-constraint</doc:moduleName>
      <doc:moduleDescription>
        This schema defines the integrity constraints between entities 
        (e.g., data tables) as would be maintained in a relational database. 
        These constraints include
        primary key constraints, foreign key constraints, unique key
        constraints, check constraints, and not null constraints, 
        among potential others.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="eml-constraint">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Relational integrity constraint descriptors
        </doc:tooltip>
        <doc:summary>
          Describes the relational integrity constraints of a relational 
          database.
        </doc:summary>
        <doc:description>
          Describes the relational integrity constraints of a relational 
          database.  This includes primary keys, foreign keys, unique keys, etc.
          When an eml-constraint module is created, it should be linked into
          a dataset using the "triple" element, and all of the entities that
          are referenced in the constraints should be accessible within that 
          same package.
        </doc:description>
        <doc:example/>
        <doc:lineage>
           New in EML 2.0
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Unique identifier
              </doc:tooltip>
              <doc:summary>
                The unique identifier of this metadata file or object.
              </doc:summary>
              <doc:description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </doc:description>
              <doc:example>
                <![CDATA[
                  <identifier system="metacat">nceas.3.2</identifier>
                ]]>
              </doc:example>
              <doc:lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                    Catalog system
                  </doc:tooltip>
                      <doc:summary>
                    The catalog system in which this identifier is used.
                  </doc:summary>
                      <doc:description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </doc:description>
                      <doc:example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
                      <doc:lineage>
                    New to EML 2.0.
                  </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="constraint" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Integrity constraint
              </doc:tooltip>
              <doc:summary>
                Information about the integrity constraint being defined.
              </doc:summary>
              <doc:description>
                Complete information needed to reconstruct this integrity
                constraint for enforcement in a system such as a relational
                database management system.  
              </doc:description>
              <doc:example/>
              <doc:lineage>
                New in EML 2.0
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="constraintType">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      type of constraint
                    </doc:tooltip>
                    <doc:summary>
                      the type of constraint being defined
                    </doc:summary>
                    <doc:description>
                      the type of constraint being defined.  This is 
                      what kind of constraint this is.
                    </doc:description>
                    <doc:example>
                      PrimaryKey, ForeignKey, UniqueKey
                    </doc:example>
                    <doc:lineage>
                      New in EML 2.0
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="UniqueKey"/>
                    <xs:enumeration value="PrimaryKey"/>
                    <xs:enumeration value="ForeignKey"/>
                    <xs:enumeration value="NotNull"/>
                    <xs:enumeration value="Check"/>
                    <xs:enumeration value="OtherConstraint"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="constraintName" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      constraint name
                    </doc:tooltip>
                    <doc:summary>
                      Name of the constraint
                    </doc:summary>
                    <doc:description>
                     Name of the constraint.  This is typically an informative
                     name that can be used to refer to the constraint itself.
                    </doc:description>
                    <doc:example>
                      party_name_fk_1
                    </doc:example>
                    <doc:lineage>
                      New in EML 2.0
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="constraintDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      constraint description
                    </doc:tooltip>
                    <doc:summary>
                      description of the constraint
                    </doc:summary>
                    <doc:description>
                      description of the constraint.  Any additional 
                      information that may be needed to fully understand 
                      the constraint.
                    </doc:description>
                    <doc:example/>
                    <doc:lineage>
                      New in EML 2.0
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="entityId" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Constrained Entity</doc:tooltip>
                    <doc:summary>
                      Entity to which this constraint applies
                    </doc:summary>
                    <doc:description>
                       Entity to which this constraint applies.  This should be
                       an identifer that matches one of the "identifier" 
                       elements for an entity that is linked into the package
                       with a triple.  The constraint document itself should be
                       linked into the package as a member.
                    </doc:description>
                    <doc:example>
                       knb.78.3
                    </doc:example>
                    <doc:lineage>
                      New in EML 2.0.0
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="key" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Key</doc:tooltip>
                    <doc:summary>
                      The set of attributes to which this constraint applies.
                    </doc:summary>
                    <doc:description>
                      The set of attributes to which this constraint applies.  
                      For a primary key or a unique key, the set of attributes must be 
                      identifying.  For a foreign key, the set of attributes must match 
                      an identifying key in the referenced entity.  For a not null 
                      constraint, the key indicates the attribute which should not 
                      be null.
                    </doc:description>
                    <doc:example/>
                    <doc:lineage>New in EML 2.0</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeName" type="xs:string" maxOccurs="unbounded">
                      <xs:annotation>
                      <xs:appinfo>
                      <doc:tooltip>Attribute Name</doc:tooltip>
                      <doc:summary>
                      Name of an attribute found in the identified entity
                      </doc:summary>
                      <doc:description>
                      Name of an attribute that can be found in the identified
                      entity.  This name will be unique within an entity and
                      specifies that the attribute participates in the key that
                      is being defined.
                      </doc:description>
                      <doc:example/>
                      <doc:lineage>New in EML 2.0</doc:lineage>
                      </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="referencedEntityId" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Referenced Entity ID</doc:tooltip>
                    <doc:summary>
                      The id of the parent-entity in a foreign key constraint.
                    </doc:summary>
                    <doc:description>
                       This field contains the id of the entity to which a foreign key 
                       refers, otherwise known as the parent-entity or parent-table.
                       This should be an identifer that matches one of the "identifier" 
                       elements for an entity that is linked into the package
                       with a triple.  The constraint document itself should be
                       linked into the package as a member.
                    </doc:description>
                    <doc:example>
                      knb.79.4 
                    </doc:example>
                    <doc:lineage>
                      New in EML 2.0
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="referencedKey" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Key</doc:tooltip>
                    <doc:summary>
                      The set of attributes to which a foreign key constraint refers.
                    </doc:summary>
                    <doc:description>
                      The set of attributes to which a foreign key constraint refers.  
                      If the key refers to the primary key in the referenced entity, 
                      then the "referencedKey" is optional.  For a foreign key, the 
                      set of attributes must match an identifying key in the 
                      referenced entity.
                    </doc:description>
                    <doc:example/>
                    <doc:lineage>New in EML 2.0</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeName" type="xs:string" maxOccurs="unbounded">
                      <xs:annotation>
                      <xs:appinfo>
                      <doc:tooltip>Attribute Name</doc:tooltip>
                      <doc:summary>
                      Name of an attribute found in the identified entity
                      </doc:summary>
                      <doc:description>
                      Name of an attribute that can be found in the identified
                      entity.  This name will be unique within an entity and
                      specifies that the attribute participates in the key that
                      is being defined.
                      </doc:description>
                      <doc:example/>
                      <doc:lineage>New in EML 2.0</doc:lineage>
                      </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cardinality" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Constraint Cardinality</doc:tooltip>
                    <doc:summary>The cardinality of a foreign key constraint.</doc:summary>
                    <doc:description>
                      Indicates the cardinality (zero, one, many) of a foreign key constraint.
                    </doc:description>
                    <doc:example/>
                    <doc:lineage>New in EML 2.0</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="zero"/>
                    <xs:enumeration value="one"/>
                    <xs:enumeration value="many"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="checkCondition" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Check Condition</doc:tooltip>
                    <doc:summary>
                      An SQL statement or other language implementation of
                      the condition for a check constraint.
                    </doc:summary>
                    <doc:description>
                      A SQL statement or other language implementation of 
                      the condition for a check constraint.  
                      Generally this provides a means for constraining the 
                      values within  and among entities.
                    </doc:description>
                    <doc:example><![CDATA[(year > 1900 and year < 1990)]]></doc:example>
                    <doc:lineage>New in EML 2.0</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
