eml-attribute.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:attribute" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="eml:attribute">
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-attribute.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-07-10 16:59:21 $'
      '$Revision: 1.14 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>
        eml-attribute
      </moduleName>
      <moduleDescription>
        The EML Attribute Module describes all attributes in a data file.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="eml-attribute">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Attribute descriptors
        </tooltip>
        <summary>
          Container of attribute descriptors of all attributes in a dataset.
        </summary>
        <description>
           Eml-attribute element represents a list of all attributes in a 
           dataset.
        </description>
        <example/>
        <lineage>
          The eml-attribute was introduced into EML 1.4 as eml-variable.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Unique identifier
              </tooltip>
              <summary>
                The unique identifier of this metadata file or object.
              </summary>
              <description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </description>
              <example><![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]></example>
              <lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <tooltip>
                        Catalog system
                      </tooltip>
                      <summary>
                        The catalog system in which this identifier is used.
                      </summary>
                      <description>
                       This element gives the name of the catalog system in which
                        this identifier is used.  It is useful to determine the
                        scope of the identifier, and to determine the semantics
                        of the various subparts of the identifier. Unresolved issue:
                        can or should this be a URI/URL pointing to the catalog
                        system, or just the name?
                      </description>
                      <example><![CDATA[
                        <identifier system="metacat">nceas.3.2</identifier>]]></example>
                      <lineage>
                        New to EML 2.0.
                      </lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="attribute" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Attribute descriptor
              </tooltip>
              <summary>
                Descriptor of an attribute in the dataset.
              </summary>
              <description>
                Attribute element is a descriptor of an attribute in the 
                data file identified by its name. The attribute element 
                can contain information about the attribute's definition, 
                format, storage type and data range, or missing value.
              </description>
              <example/>
              <lineage>
                The attribute element was introduced into EML 1.4 as variable.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributeName" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Attribute name
                    </tooltip>
                    <summary>
                      Attribute name for identification
                    </summary>
                    <description>
                      This element specifies name of the attribute (field) 
                      in the dataset. This information is typically used as
                      a column header for the field/variable in a spreadsheet.
                    </description>
                    <example/>
                    <lineage>
                      The attributeName was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="attributeLabel" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Attribute label
                    </tooltip>
                    <summary>
                      Label used to display this attribute
                    </summary>
                    <description>
                      A short label used to displayt this attribute.  This
                      is needed because attribute names are often shortened to
                      8 characters or less to deal with analysis systems, and
                      so the label is provided as a more understandable 
                      representation of the attribute.
                    </description>
                    <example>
                      "Species Density" is a label for attribute "spden"
                    </example>
                    <lineage>
                      Introduced in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="attributeDefinition" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Attribute definition
                    </tooltip>
                    <summary>
                      Precise definition of attribute in the dataset
                    </summary>
                    <description>
                      This element gives a precise definition of attribute 
                      in the dataset. It explains the contents of the attribute
                      fully and possibly provides pointers to the methods 
                      used to generate the attribute data.
                    </description>
                    <example/>
                    <lineage>
                      The attributeDefinition was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="unit" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Unit of measurement
                    </tooltip>
                    <summary>
                      Unit of measurement for data in the field
                    </summary>
                    <description>
                      This element specifies unit of measurement for data 
                      in the field.
                    </description>
                    <example/>
                    <lineage>
                      The unit was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="dataType" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Data type
                    </tooltip>
                    <summary>
                      Description of data type for this field
                    </summary>
                    <description>
                      This element describes the data type for data in the 
                      field like: integer, floating point, character, string.
                    </description>
                    <example>
                      integer, floating point, character, string
                    </example>
                    <lineage>
                      From storageType, introduced in EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="attributeDomain">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="enumeratedDomain" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:appinfo>
                          <tooltip>
                      Code definition
                    </tooltip>
                          <summary>
                      Description of any codes associated with the attribute
                    </summary>
                          <description>
                      This element describes a code associated with the 
                      attribute.
                    </description>
                          <example/>
                          <lineage>
                      The codeDefinition was introduced into EML 1.4.
                    </lineage>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="code" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <tooltip>
                            Code
                          </tooltip>
                                <summary>
                            Code associated with the attribute
                          </summary>
                                <description>
                            This element specifies a code associated with 
                            the attribute.
                          </description>
                                <example/>
                                <lineage>
                            The code element was introduced into EML 1.4.
                          </lineage>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="definition" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <tooltip>
                                  Code definition
                                </tooltip>
                                <summary>
                                  Description of the code associated with 
                                  the attribute
                                </summary>
                                <description>
                                  This element describes the code associated 
                                  with the attribute.
                                </description>
                                <example/>
                                <lineage>
                                  The definition element is from EML 1.4.
                                </lineage>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="source" type="xs:string" minOccurs="0">
                            <xs:annotation>
                              <xs:appinfo>
                                <tooltip>
                                  Source of code
                                </tooltip>
                                <summary>
                                  The name of the source for this code and
                                  its definition
                                </summary>
                                <description>
                                  The name of the source from which this code
                                  and its associated definition are drawn.
                                  This is commonly used for identifying
                                  standard coding systems, like the FIPS
                                  standard for postal abbreviations for states
                                  in the US.
                                </description>
                                <example>ISO country codes</example>
                                <lineage>
                                  Introduced in EML 2.0
                                </lineage>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rangeDomain" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:appinfo>
                          <tooltip>
                      Numeric range
                    </tooltip>
                          <summary>
                      Numeric range of attribute
                    </summary>
                          <description>
                      This element specifies the minimum and maximum value range
                      of numeric attribute.
                    </description>
                          <example/>
                          <lineage>
                      The numericRange was introduced into EML 1.4.
                    </lineage>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="minimum" type="xs:string" minOccurs="0">
                            <xs:annotation>
                              <xs:appinfo>
                                <tooltip>
                              Minimum numeric range
                          </tooltip>
                                <summary>
                                 Minimum numeric range of attribute
                          </summary>
                                <description>
                               This element specifies the minimum value range
                            of numeric attribute.
                          </description>
                                <example/>
                                <lineage>
                            The minimum element was introduced into EML 1.4.
                          </lineage>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="maximum" type="xs:string" minOccurs="0">
                            <xs:annotation>
                              <xs:appinfo>
                                <tooltip>
                              Maximum numeric range
                          </tooltip>
                                <summary>
                                 Maximum numeric range of attribute
                          </summary>
                                <description>
                               This element specifies the maximum value range
                            of numeric attribute.
                          </description>
                                <example/>
                                <lineage>
                            The maximum element was introduced into EML 1.4.
                          </lineage>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="missingValueCode" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Character for missing value
                    </tooltip>
                    <summary>
                      Character for missing value in the data of the field
                    </summary>
                    <description>
                      This element is to specify missing value in the data
                      of the field.
                    </description>
                    <example/>
                    <lineage>
                      The missingValueCode was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="precision" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Precision
                    </tooltip>
                    <summary>
                      Number of significat digits after the floating point.
                    </summary>
                    <description>
                      If data of that field are of floating point storage type
                      this element specifies the number of significat digits
                      after the floating point.
                    </description>
                    <example>
                      any integer number
                    </example>
                    <lineage>
                      The precision element was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
