eml-methods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="eml://ecoinformatics.org/methods-2.0.0beta9" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.0beta9" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sw="eml://ecoinformatics.org/software-2.0.0beta9" xmlns:pro="eml://ecoinformatics.org/protocol-2.0.0beta9" xmlns:rp="eml://ecoinformatics.org/party-2.0.0beta9" xmlns:cov="eml://ecoinformatics.org/coverage-2.0.0beta9" xmlns:ds="eml://ecoinformatics.org/dataset-2.0.0beta9" xmlns:cit="eml://ecoinformatics.org/literature-2.0.0beta9" xmlns:res="eml://ecoinformatics.org/resource-2.0.0beta9" xmlns="eml://ecoinformatics.org/methods-2.0.0beta9">
  <xs:import namespace="eml://ecoinformatics.org/documentation-2.0.0beta9" schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/dataset-2.0.0beta9" schemaLocation="eml-dataset.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/resource-2.0.0beta9" schemaLocation="eml-resource.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/software-2.0.0beta9" schemaLocation="eml-software.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/protocol-2.0.0beta9" schemaLocation="eml-protocol.xsd"/>
  <xs:annotation>
    <xs:documentation>
    '$RCSfile: eml-methods.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: mccartne $'
          '$Date: 2002-08-27 17:36:05 $'
      '$Revision: 1.2 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-methods</doc:moduleName>
        <doc:moduleDescription>The EML Methods Module describes the methods followed in the creation of the dataset, including description of
        field, laboratory and processing steps, sampling methods and units, quality control proceudures.</doc:moduleDescription>
        <doc:recommendedUsage>All datasets</doc:recommendedUsage>
        <doc:standAlone>no</doc:standAlone>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="eml://ecoinformatics.org/party-2.0.0beta9" schemaLocation="eml-party.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/coverage-2.0.0beta9" schemaLocation="eml-coverage.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/literature-2.0.0beta9" schemaLocation="eml-literature.xsd"/>
  <xs:element name="methods" type="MethodsType">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MethodsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="methodStep" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>method information</doc:tooltip>
            <doc:summary>Information about the methods employed in collecting or
        generating a data set or other resource.</doc:summary>
            <doc:description>The methodStep field allows for repeated sets of
        elements that document a series of procedures followed to produce a
        data object. These include text descriptions of the procedures,
        relevant literature, software, instrumentation, source data and any
        quality control measures taken.</doc:description>
            <doc:example>Please see the examples for the sub-fields.</doc:example>
            <doc:lineage>Derived from EML 1.4; related to FGDC
        ProcessingStep</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="description">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Methods description</doc:tooltip>
                  <doc:summary>Description of the methods employed in collecting or
              generating a data set or other resource.</doc:summary>
                  <doc:description>The description field allows for repeated
              paragraphs of text that describe the methodology for a project,
              experiment, or particular data table. Likewise, a literature
              citation may be provided that describes the methodology that was
              employed.</doc:description>
                  <doc:example>&lt;paragraph&gt; 1.Collect tissues from algae of
              interest. &lt;/paragraph&gt; &lt;paragraph&gt; a.We are currently
              collecting Egregia menziezii, Mazzaella splendens, M. flaccida,
              Hedophyllum sessile, Postelsia palmaeformis and Fucus gardneri.We
              stopped collecting Neorhodomela larix and Odonthalia floccosa
              because they can be heavily fouled and we feared that would skew
              the results. &lt;/paragraph&gt; &lt;paragraph&gt; b.We collect a
              7-10 cm blade or branch from each plant. For Egregia, try to
              sample small, young plants or take the base of the blade. For
              Postelsia, take a few of the blades. The other plants are small
              enough so a whole blade can be taken.
              &lt;/paragraph&gt;</doc:example>
                  <doc:lineage>Derived from EML 1.4</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="paragraph" type="xs:string"/>
                  <xs:element name="citation" type="cit:CitationType"/>
                  <xs:element name="protocol" type="pro:ProtocolType"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="instrumentation" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Instrumentation</doc:tooltip>
                  <doc:summary>Instruments used for measurement and recording
              data.</doc:summary>
                  <doc:description>The Instrumentation field allows the description
              of any instruments used in the data collection. The description
              should include vendor, model number, optional equipment,
              etc.</doc:description>
                  <doc:example>LACHAT analyzer, model XYX.</doc:example>
                  <doc:lineage>New in EML 2.0</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="dataSource" type="ds:DatasetType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="software" type="sw:SoftwareType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Software</doc:tooltip>
                  <doc:summary>Software used in the processing of
              data.</doc:summary>
                  <doc:description>The software element allows reference to any
              software used to process data.</doc:description>
                  <doc:lineage>Introduced in EML 2.0</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sampling" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Description of sampling methods.</doc:tooltip>
            <doc:summary>Description of sampling methods including the
                    "coverage" of the study, a description of the sampling
                    procedures, and the spatial sampling units.</doc:summary>
            <doc:description>See individual elements for more detailed
                    descriptions.</doc:description>
            <doc:example/>
            <doc:lineage>Modification of the sampling element
                    introduced into EML 1.4</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="studyExtent">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Geographic, temporal, taxonomic
                          coverage</doc:tooltip>
                  <doc:summary>A description of the specific areas
                          sampled (geographic coverage) and the sampling
                          frequency (temporal coverage).</doc:summary>
                  <doc:description>A "studyExtent" represents both a
                          specific sampling area and the sampling frequency
                          (temporal boundaries, frequency of occurrence). The
                          geographic "studyExtent" is usually a surrogate
                          (representative area of) for the larger area
                          documented in the "studyAreaDescription". The
                          "studyExtent" can be entered either in non-structured
                          paragraph form or using the structure of the
                          "coverage" element.</doc:description>
                  <doc:example/>
                  <doc:lineage>New in EML 2.0.0</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="coverage"/>
                  <xs:element name="paragraph" type="xs:string"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="samplingDescription">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Sampling methods and
                          procedures</doc:tooltip>
                  <doc:summary>A description of sampling methods and
                          procedures</doc:summary>
                  <doc:description>This element allows for a
                          text-based/human readable description of the sampling
                          procedures used in the research project. The content
                          of this element would be similar to a description of
                          sampling procedures found in the methods section of a
                          journal article.</doc:description>
                  <doc:example>x</doc:example>
                  <doc:lineage>x</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="paragraph" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="spatialSamplingUnits" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Spatial sampling units</doc:tooltip>
                  <doc:summary>Spatial sampling units represent the
                          "plot" sampled.</doc:summary>
                  <doc:description>A spatial sampling unit describes
                          the specific geographic areas sampled. For example,
                          if a researcher places a single light source at a
                          specific point in a research location in order to
                          attract insects to derive an estimate of the insect
                          population, then the sampling unit is the area
                          illuminated by the light source (in actual practice
                          there might be multiple sampling unit in this case
                          since different species have different attraction
                          rates). A sampling unit may also be seen as the
                          bounding box of a specific 3-meter square "plot". In
                          the case of a study in which the measurements from
                          several disbursed "point collection" devices are
                          aggregated, then the sampling unit would be the area
                          of that aggregation. Spatial sampling units can
                          either be described by reference to a "coverage"
                          description or by reference to the values in a data
                          table (usually a GIS layer)</doc:description>
                  <doc:example>x</doc:example>
                  <doc:lineage>New in EML 2.0.0</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="referencedEntityId">
                    <xs:annotation>
                      <xs:appinfo>
                        <doc:tooltip>The identifier of a spatial
                                sampling entity.</doc:tooltip>
                        <doc:summary>The identifier of a entity
                                described in the "entity" module. This is
                                usually a GIS layer.</doc:summary>
                        <doc:description>A value of a
                                "referencedEntityId" element is reference to
                                the identifier of the "entity" module that
                                provides the metadata for a data table (RDBMS,
                                GIS or "ascii" text) that has the actual
                                spatial sampling unit values. The
                                "referencedEntityId" is an indirect pointer to
                                the actual values. The "referencedEntityId" can
                                be thought of as a "foreign key" in a
                                relational database.</doc:description>
                        <doc:example>x</doc:example>
                        <doc:lineage>New in EML 2.0.0</doc:lineage>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="coverage" type="cov:GeographicCoverage"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="citation" type="cit:CitationType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="qualityControl" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Quality Control</doc:tooltip>
            <doc:summary>Information on possible errors or on the quality of
              a data set.</doc:summary>
            <doc:description>The qualityControl field provides a location for
              the description of actions taken to either control or assess the
              quality of data resulting from the associated method step. TA
              quality control description should identifiy a quality goal and
              describe prescriptive steps taken to ensure that the data meet
              those standards or to postcriptive steps taken to assess the
              extent to which they are met. A quality ccontrol statement is
              associated with the methodStep that could have affected the
              targeted quality goal.</doc:description>
            <doc:example>&lt;paragraph&gt; Once the data file is received,
              verify it's integrity by comparing it's checksum with the
              pre-calculated MD5 checksum by running the md5 command on the
              file. If they match, the file transferred correctly.
              &lt;/paragraph&gt;</doc:example>
            <doc:lineage>Introduced in EML 2.0</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="paragraph"/>
            <xs:element name="citation" type="cit:CitationType"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>
