eml-distribution.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:distribution" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="eml:documentation" xmlns:rp="eml:ResponsibleParty" xmlns="eml:distribution">
  <xs:import namespace="eml:documentation" schemaLocation="./eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-distribution.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-07-31 17:10:05 $'
      '$Revision: 1.15 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-distribution</doc:moduleName>
      <doc:moduleDescription>
        This schema defines how a resource is to be distributed outside
        of it's home institution.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="eml:ResponsibleParty" schemaLocation="./eml-party.xsd"/>
  <xs:element name="eml-distribution">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Resource Distribution Information
        </doc:tooltip>
        <doc:summary>
          eml-distribution describes the methods by which a resource can be 
          distributed from it's home institution.
        </doc:summary>
        <doc:description>
          the distribution module contains fields to define the online and offline transfer information for a resource.  The online transfer is just a URL, and the offline transfer describes media information for reading the file.
        </doc:description>
        <doc:example/>
        <doc:lineage>From NBII.</doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Unique identifier
              </doc:tooltip>
              <doc:summary>
                The unique identifier of this metadata file or object.
              </doc:summary>
              <doc:description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </doc:description>
              <doc:example><![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
              <doc:lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                        Catalog system
                      </doc:tooltip>
                      <doc:summary>
                        The catalog system in which this identifier is used.
                      </doc:summary>
                      <doc:description>
                       This element gives the name of the catalog system in which
                        this identifier is used.  It is useful to determine the
                        scope of the identifier, and to determine the semantics
                        of the various subparts of the identifier. Unresolved issue:
                        can or should this be a URI/URL pointing to the catalog
                        system, or just the name?
                      </doc:description>
                      <doc:example><![CDATA[
                        <identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
                      <doc:lineage>
                        New to EML 2.0.
                      </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="digitalTransfer" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Digital Transfer Information
              </doc:tooltip>
              <doc:summary>
                Information needed to receive or send this resource digitally, either online or offline.
              </doc:summary>
              <doc:description>
                Information needed to receive or send this resource digitally.  This includes the URL for online resources, and a description of the media for offline resources.  The resource's originator with a ole of dataContact should be used as the address to obtain an offline resource.
              </doc:description>
              <doc:example/>
              <doc:lineage>
                ISO CD 19115.3, Geographic information - Metadata
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element name="onlineURL" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Download site URL
                    </doc:tooltip>
                    <doc:summary>
                     A URL (Uniform Resource Locator) from which this resource can be downloaded
                    </doc:summary>
                    <doc:description>
                      A URL (Uniform Resource Locator) from which this resource can be downloaded.  This includes any nformation needed to access this site, such as connection information.
                    </doc:description>
                    <doc:example>http://data.org/getdata?id=98332</doc:example>
                    <doc:lineage>
                      ISO CD 19115.3, Geographic information - Metadata
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="offlineMedium">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                            medium of the resource
                          </doc:tooltip>
                    <doc:summary>
                            the medium on which this resource is distributed 
digitally
                          </doc:summary>
                    <doc:description>
                            the medium on which this resource is distributed 
digitally, such as 3.5" floppy disk, or various tape media types
                          </doc:description>
                    <doc:example>
                            CD-ROM, 3.5 in. floppy disk, Zip disk
                          </doc:example>
                    <doc:lineage>
                            ISO CD 19115.3, Geographic information - Metadata
                          </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="medName" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                  Medium name
                                </doc:tooltip>
                          <doc:summary>
                                  Name of the medium
                                </doc:summary>
                          <doc:description>
                                  Name of the medium
                                </doc:description>
                          <doc:example>
                                  Tape, 3.5 inch Floppy Disk
                                </doc:example>
                          <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="medDensity" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                  density of the digital medium
                                </doc:tooltip>
                          <doc:summary>
                                  the density of the digital medium if this is 
                                  relevant.
                                </doc:summary>
                          <doc:description>
                                  the density of the digital medium if this is 
                                  relevant.  Used mainly for floppy disks 
                                  or tape.
                                </doc:description>
                          <doc:example>
                                  High Density (HD), Double Density (DD)
                                </doc:example>
                          <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="medDensityUnits" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                  units of a numerical density
                                </doc:tooltip>
                          <doc:summary>
                                  a numerical density's units
                                </doc:summary>
                          <doc:description>
                                  if a density is given numerically, the units 
                                  should be given here.  
                                </doc:description>
                          <doc:example>
                                  B/cm
                                </doc:example>
                          <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="medVol" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                  storage volume 
                                </doc:tooltip>
                          <doc:summary>
                                  total volume of the storage medium
                                </doc:summary>
                          <doc:description>
                                  the total volume of the storage medium on 
                                  which this resource is shipped.
                                </doc:description>
                          <doc:example>
                                  650 MB
                                </doc:example>
                          <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="medFormat" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                  medium format
                                </doc:tooltip>
                          <doc:summary>
                                  format of the medium on which the resource is 
                                  shipped.
                                </doc:summary>
                          <doc:description>
                                  the file system format of the medium on 
                                  which the resource is shipped
                                </doc:description>
                          <doc:example>
                                  NTFS, FAT32, EXT2, QIK80
                                </doc:example>
                          <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="medNote" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                  note about the media
                                </doc:tooltip>
                          <doc:summary>
                                  note about the media
                                </doc:summary>
                          <doc:description>
                                  any additional pertitant information about the
                                  media
                                </doc:description>
                          <doc:example/>
                          <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
