eml-attribute.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:attribute-2.0.0beta8" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:doc="eml:documentation-2.0.0beta8" 
           xmlns="eml:attribute-2.0.0beta8">
  <xs:import namespace="eml:documentation-2.0.0beta8" 
             schemaLocation="eml-documentation.xsd-2.0.0beta8"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-attribute.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: berkley $'
          '$Date: 2002-04-21 22:45:30 $'
      '$Revision: 1.23 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-attribute</doc:moduleName>
      <doc:moduleDescription>
        The EML Attribute Module describes all attributes (variables) in 
        a data entity (e.g., data table).  The description includes the name
        and definition of each attribute, its type, its allowable range 
        (if numeric), definitions of coded values, and other pertinent 
        information.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="eml-attribute">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Attribute descriptors
        </doc:tooltip>
        <doc:summary>
          Container of attribute descriptors of all attributes in a dataset.
        </doc:summary>
        <doc:description>
           Eml-attribute element represents a list of all attributes in a 
           dataset.
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The eml-attribute was introduced into EML 1.4 as eml-variable.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Unique identifier
              </doc:tooltip>
              <doc:summary>
                The unique identifier of this metadata file or object.
              </doc:summary>
              <doc:description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </doc:description>
              <doc:example>
                <![CDATA[
                  <identifier system="metacat">nceas.3.2</identifier>
                ]]>
              </doc:example>
              <doc:lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                        Catalog system
                      </doc:tooltip>
                      <doc:summary>
                        The catalog system in which this identifier is used.
                      </doc:summary>
                      <doc:description>
                       This element gives the name of the catalog system in which
                        this identifier is used.  It is useful to determine the
                        scope of the identifier, and to determine the semantics
                        of the various subparts of the identifier. Unresolved issue:
                        can or should this be a URI/URL pointing to the catalog
                        system, or just the name?
                      </doc:description>
                      <doc:example><![CDATA[
                        <identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
                      <doc:lineage>
                        New to EML 2.0.
                      </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="attribute" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Attribute descriptor
              </doc:tooltip>
              <doc:summary>
                Descriptor of an attribute in the dataset.
              </doc:summary>
              <doc:description>
                Attribute element is a descriptor of an attribute in the 
                data file identified by its name. The attribute element 
                can contain information about the attribute's definition, 
                format, storage type and data range, or missing value.
              </doc:description>
              <doc:example/>
              <doc:lineage>
                The attribute element was introduced into EML 1.4 as variable.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributeName" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Attribute name
                    </doc:tooltip>
                    <doc:summary>
                      Attribute name for identification
                    </doc:summary>
                    <doc:description>
                      This element specifies name of the attribute (field) 
                      in the dataset. This information is typically used as
                      a column header for the field/variable in a spreadsheet.
                      It is usually terse, without spaces, and can be used
                      to "name" a column in a table definition statement.
                    </doc:description>
                    <doc:example>
                     spden 
                    </doc:example>
                    <doc:lineage>
                      The attributeName was introduced into EML 1.4.
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="attributeLabel" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Attribute label
                    </doc:tooltip>
                    <doc:summary>
                      A label that better describes an attribute than its name
                    </doc:summary>
                    <doc:description>
                      A brief label used to describe the attribute.  This
                      is often needed because attribute names are usually 
                      very terse- often shortened to 8 characters or less to
                      deal with analysis systems. A label is provided as
                      a concise but more descriptive representation of
                      the attribute.
                    </doc:description>
                    <doc:example>
                      "Species Density" is a label for attribute with
                       name "spden"
                    </doc:example>
                    <doc:lineage>
                      Introduced in EML 2.0
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="attributeDefinition" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Attribute definition
                    </doc:tooltip>
                    <doc:summary>
                      Precise definition of attribute in the dataset
                    </doc:summary>
                    <doc:description>
                      This element gives a precise definition of attribute 
                      in the dataset. It explains the contents of the attribute
                      fully and possibly provides pointers to the methods 
                      used to generate the attribute data.
                    </doc:description>
                    <doc:example>
                      "spden" is the number of individuals of all
                       macroinvertebrate species found in the plot
                    </doc:example>
                    <doc:lineage>
                      The attributeDefinition was introduced into EML 1.4.
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="unit" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Unit of measurement
                    </doc:tooltip>
                    <doc:summary>
                      Unit of measurement for data in the field
                    </doc:summary>
                    <doc:description>
                      This element specifies unit of measurement for data 
                      in the field.
                    </doc:description>
                    <doc:example>
                      Integer count of individuals within plot
                    </doc:example>
                    <doc:lineage>
                      The unit was introduced into EML 1.4.
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="dataType" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Data type
                    </doc:tooltip>
                    <doc:summary>
                      Description of data type for this field
                    </doc:summary>
                    <doc:description>
                      This element describes the data type for data in the 
                      field like: integer, floating point, character, string.
                    </doc:description>
                    <doc:example>
                      integer, floating point, character, string
                    </doc:example>
                    <doc:lineage>
                      From storageType, introduced in EML 1.4.
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="attributeDomain">
                <xs:complexType>
                  <xs:choice>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="enumeratedDomain">
                        <xs:annotation>
                          <xs:appinfo>
                            <doc:tooltip>
                      Code definition
                      </doc:tooltip>
                            <doc:summary>
                      Description of any codes associated with the attribute
                      </doc:summary>
                            <doc:description>
                      This element describes any code associated with the 
                      attribute.
                      </doc:description>
                            <doc:example>
                        The format will typically be : "code" has "definition",
                         e.g. "1" = "high", "2" = "medium", "3" = "low"
                          </doc:example>
                            <doc:lineage>
                      The codeDefinition was introduced into EML 1.4.
                      </doc:lineage>
                          </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="code" type="xs:string">
                              <xs:annotation>
                                <xs:appinfo>
                                  <doc:tooltip>
                            Code
                          </doc:tooltip>
                                  <doc:summary>
                            Code associated with the attribute
                          </doc:summary>
                                  <doc:description>
                            This element specifies a code associated with 
                            the attribute.
                          </doc:description>
                                  <doc:example>
                                 "1" would be the code for "high" (where high is the description
                                  of the code)
                                </doc:example>
                                  <doc:lineage>
                            The code element was introduced into EML 1.4.
                          </doc:lineage>
                                </xs:appinfo>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="definition" type="xs:string">
                              <xs:annotation>
                                <xs:appinfo>
                                  <doc:tooltip>
                                  Code definition
                                </doc:tooltip>
                                  <doc:summary>
                                  Description of the code associated with 
                                  the attribute.
                                </doc:summary>
                                  <doc:description>
                                  This element describes the code associated 
                                  with the attribute.
                                </doc:description>
                                  <doc:example>
                                  "high" would be the definition for a code of "1"
                                </doc:example>
                                  <doc:lineage>
                                  The definition element is from EML 1.4.
                                </doc:lineage>
                                </xs:appinfo>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="source" type="xs:string" minOccurs="0">
                              <xs:annotation>
                                <xs:appinfo>
                                  <doc:tooltip>
                                  Source of code
                                </doc:tooltip>
                                  <doc:summary>
                                  The name of the source for this code and
                                  its definition
                                </doc:summary>
                                  <doc:description>
                                  The name of the source from which this code
                                  and its associated definition are drawn.
                                  This is commonly used for identifying
                                  standard coding systems, like the FIPS
                                  standard for postal abbreviations for states
                                  in the US. In other cases, the coding may be the
                                  researcher's customized way of recording and classifying
                                  their data, and no external "source" would exist.
                                </doc:description>
                                  <doc:example>ISO country codes</doc:example>
                                  <doc:lineage>
                                  Introduced in EML 2.0
                                </doc:lineage>
                                </xs:appinfo>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="textDomain">
                        <xs:annotation>
                          <xs:appinfo>
                            <doc:tooltip>Text domain</doc:tooltip>
                            <doc:summary>
                            Description of a free-text domain pattern for
                            the attribute
                            </doc:summary>
                            <doc:description>
                            This element describes a free text domain for
                            the attribute.  By default, if pattern is missing
                            or empty, then any text is allowed.  If pattern
                            is present, then it is interpreted as a regular
                            expression constraining the allowable character
                            sequences for the attribute.
                            </doc:description>
                            <doc:example>
                            Typically, a textdomain will have an empty pattern
                            or one that constrains allowable values. For
                            example, '[0-9]{3}-[0-9]{3}-[0-9]{4}' allows
                            for only numeric digits in the pattern of a US
                            phone number.
                            </doc:example>
                            <doc:lineage>
                            Introduced in EML 2.0.0beta5
                            </doc:lineage>
                          </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="definition" type="xs:string">
                              <xs:annotation>
                                <xs:appinfo>
                                  <doc:tooltip>
                                  Text domain definition
                                </doc:tooltip>
                                  <doc:summary>
                                  Definition of what this text domain represents
                                </doc:summary>
                                <doc:description>
                                  The text domain definition indicates what
                                  the purpose of the text domain is for this
                                  attribute.  For example, a particular pattern
                                  may be meant to represent phone numbers in
                                  the US phone system format, or it may be
                                  used to extend an enumerated domain with
                                  free text or pattern-constrained values.
                                </doc:description>
                                <doc:example>
                                  US telephone numbers in the format "(999) 888-7777"
                                </doc:example>
                                  <doc:lineage>
                                  The definition element is from EML 1.4.
                                </doc:lineage>
                                </xs:appinfo>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="pattern" type="xs:string" 
                                        minOccurs="0" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:appinfo>
                                  <doc:tooltip>
                                    Text pattern
                                  </doc:tooltip>
                                  <doc:summary>
                                    Regular expression pattern constraining
                                    the attribute
                                  </doc:summary>
                                  <doc:description>
                                    The "pattern" element specifies a regular
                                    expression pattern that constrains the
                                    set of allowable values for the attribute.
                                    This is commonly used to define template
                                    patterns for data such as phone numbers
                                    where the attribute is text but the
                                    values are not drawn from an enumeration.
                                    If the pattern field is empty or missing,
                                    it defaults to '.*', which matches any
                                    string, including the empty string.
                                    Repeated pattern elements are combined
                                    using logical OR.  The regular expression
                                    syntax is the same as that used in the
                                    XML Schema Datatypes Recommendation from
                                    the W3C.
                                  </doc:description>
                                  <doc:example>
                                  '[0-9a-zA-Z]' matches simple alphanumeric
                                  strings and '(\d\d\d) \d\d\d-\d\d\d\d'
                                  represents telephone strings in the US of
                                  the form '(704) 876-1734'
                                  </doc:example>
                                  <doc:lineage>
                                    The pattern element was introduced into EML 2.0.0beta5.
                                  </doc:lineage>
                                </xs:appinfo>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="source" type="xs:string" minOccurs="0">
                              <xs:annotation>
                                <xs:appinfo>
                                  <doc:tooltip>
                                  Source of text domain
                                </doc:tooltip>
                                  <doc:summary>
                                  The name of the source for this text domain.
                                </doc:summary>
                                  <doc:description>
                                  The name of the source from which this text domain
                                  and its associated definition are drawn.
                                  This is commonly used for identifying
                                  standard coding systems, like the FIPS
                                  standard for postal abbreviations for states
                                  in the US. In other cases, the coding may be the
                                  researcher's customized way of recording and classifying
                                  their data, and no external "source" would exist.
                                </doc:description>
                                  <doc:example>ISO country codes</doc:example>
                                  <doc:lineage>
                                  Introduced in EML 2.0
                                </doc:lineage>
                                </xs:appinfo>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                    <xs:element name="numericDomain" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                      Numeric Domain
                    </doc:tooltip>
                          <doc:summary>
                      Numeric domain of attribute specifying allowed value range
                    </doc:summary>
                          <doc:description>
                      This element specifies the minimum and maximum values
                      of a numeric attribute.  These are theoretical or expected
                      values, and not necessarily the actual minimum and maximum
                      occurring in a given data set.
                    </doc:description>
                          <doc:example/>
                          <doc:lineage>
                      The numericDomain was introduced into EML 1.4 as rangeDomain
                    </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="minimum" type="xs:string" minOccurs="0">
                            <xs:annotation>
                              <xs:appinfo>
                                <doc:tooltip>
                              Minimum numeric range
                          </doc:tooltip>
                                <doc:summary>
                                 Minimum numeric range of attribute
                          </doc:summary>
                                <doc:description>
                               This element specifies the minimum value range
                            of numeric attribute.
                          </doc:description>
                                <doc:example/>
                                <doc:lineage>
                            The minimum element was introduced into EML 1.4.
                          </doc:lineage>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="maximum" type="xs:string" minOccurs="0">
                            <xs:annotation>
                              <xs:appinfo>
                                <doc:tooltip>
                              Maximum numeric range
                          </doc:tooltip>
                                <doc:summary>
                                 Maximum numeric range of attribute
                          </doc:summary>
                                <doc:description>
                               This element specifies the maximum value range
                            of numeric attribute.
                          </doc:description>
                                <doc:example/>
                                <doc:lineage>
                            The maximum element was introduced into EML 1.4.
                          </doc:lineage>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="missingValueCode" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Character for missing value
                    </doc:tooltip>
                    <doc:summary>
                      Character for missing value in the data of the field
                    </doc:summary>
                    <doc:description>
                      This element is to specify missing value in the data
                      of the field.
                    </doc:description>
                    <doc:example/>
                    <doc:lineage>
                      The missingValueCode was introduced into EML 1.4.
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="precision" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Precision
                    </doc:tooltip>
                    <doc:summary>
                      Number of significat digits after the floating point.
                    </doc:summary>
                    <doc:description>
                      If data of that field are of floating point storage type
                      this element specifies the number of significat digits
                      after the floating point.
                    </doc:description>
                    <doc:example>
                      any integer number
                    </doc:example>
                    <doc:lineage>
                      The precision element was introduced into EML 1.4.
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
