eml-constraint.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="eml:relation">
  
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-constraint.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-03-27 00:04:44 $'
      '$Revision: 1.5 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>
        eml-relation
      </moduleName>
      <moduleDescription>
        This schema defines the integrity constraints between entities as
        would be maintained in a relational database. These constraints include
        primary key constraints, foreign key constraints, unique key
        constraints, and candidate key constraints, among potential others.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:element name="eml-relation">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Relational integrity constraint descriptors
        </tooltip>
        <summary>
          Describes the relational integrity constraints of a relational 
          database.
        </summary>
        <description>
          Describes the relational integrity constraints of a relational 
          database.  This includes primary keys, foreign keys, unique keys, etc.
        </description>
        <example>
        </example>
        <lineage>
           New in EML 2.0
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "identifier" type = "xs:string"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Unique identifier
              </tooltip>
              <summary>
                The unique identifier of this metadata file or object.
              </summary>
              <description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </description>
              <example>
               <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
              </example>
              <lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="system" use="optional" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    Catalog system
                  </tooltip>
                  <summary>
                    The catalog system in which this identifier is used.
                  </summary>
                  <description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </description>
                  <example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]>
                  </example>
                  <lineage>
                    New to EML 2.0.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>

        <xs:element name="constraint" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Integrity constraint
              </tooltip>
              <summary>
                Information about the integrity constraint being defined.
              </summary>
              <description>
                Complete information needed to reconstruct this integrity
                constraint for enforcement in a system such as a relational
                database management system.  
              </description>
              <example>
              </example>
              <lineage>
                New in EML 2.0
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"
                          minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      constraint name
                    </tooltip>
                    <summary>
                      name of the field that this constraint is tied to
                    </summary>
                    <description>
                     name of the field that this constraint is tied to.  This 
                     could also be the name of an independent constraint such 
                     as a trigger or an autonumber generator.
                    </description>
                    <example>
                      LocationID, TABLE1_NUMBER_GEN1
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="tableName" type="xs:string"
                          minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      table to which this constraint is tied
                    </tooltip>
                    <summary>
                      table to which this constraint is tied
                    </summary>
                    <description>
                      table to which this constraint is tied.  In the instance
                      of a key, it is the name of the table in which it is 
                      defined.
                    </description>
                    <example>
                      site_properties 
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="type" type="xs:string"
                          minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      type of constraint
                    </tooltip>
                    <summary>
                      the type of constraint being defined
                    </summary>
                    <description>
                      the type of constraint being defined.  This is 
                      what kind of constraint this is.
                    </description>
                    <example>
                      primary key, foreign key, unique key
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="relatedTable" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      table to which this constraint links its table
                    </tooltip>
                    <summary>
                      table to which this constraint links its table
                    </summary>
                    <description>
                      table to which this constraint links its table.  This 
                      should be used for all foreign keys.
                    </description>
                    <example>
                      site_properties 
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="description" type="xs:string"
                          minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      constraint description
                    </tooltip>
                    <summary>
                      description of the constraint
                    </summary>
                    <description>
                      description of the constraint.  Any additional 
                      information that may be needed to fully understand 
                      the constraint.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
