eml-storedProcedure.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:storedProcedure-2.0.0beta8" 
            xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns:ent="eml:entity-2.0.0beta8" 
            xmlns:doc="eml:documentation-2.0.0beta8"
            xmlns="eml:storedProcedure-2.0.0beta8">
  <xs:import namespace="eml:entity-2.0.0beta8" schemaLocation="eml-entity.xsd"/>
  <xs:import namespace="eml:documentation-2.0.0beta8" schemaLocation="eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-storedProcedure.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: berkley $'
          '$Date: 2002-05-07 15:29:14 $'
      '$Revision: 1.1 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-entity</doc:moduleName>
      <doc:moduleDescription>
        The StoredProcedure modules is meant to capture information on 
        procedures stored in the context of an RDBMS.  It should describe
        each stored procedure with a name, a sequence and a datatype.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:element name="storedProcedure" type="StoredProcedureBase">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          
        </doc:tooltip>
        <doc:summary>
          
        </doc:summary>
        <doc:description>
          
        </doc:description>
        <doc:example>
            
        </doc:example>
        <doc:lineage>
          Introduced into eml-2.0.0beta9
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="StoredProcedureBase">
    <xs:complexContent>
      <xs:extension base="ent:EntityBase">
        <xs:sequence>
          <xs:element name="param" type="ParamBase" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  
                </doc:tooltip>
                <doc:summary>
                  
                </doc:summary>
                <doc:description>
                  
                </doc:description>
                <doc:example>
                    
                </doc:example>
                <doc:lineage>
                  Introduced into eml-2.0.0beta9
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="ParamBase">
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              
            </doc:tooltip>
            <doc:summary>
              
            </doc:summary>
            <doc:description>
              
            </doc:description>
            <doc:example>
                
            </doc:example>
            <doc:lineage>
              Introduced into eml-2.0.0beta9
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="sequence" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              
            </doc:tooltip>
            <doc:summary>
              
            </doc:summary>
            <doc:description>
              
            </doc:description>
            <doc:example>
                
            </doc:example>
            <doc:lineage>
              Introduced into eml-2.0.0beta9
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="datatype" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              
            </doc:tooltip>
            <doc:summary>
              
            </doc:summary>
            <doc:description>
              
            </doc:description>
            <doc:example>
                
            </doc:example>
            <doc:lineage>
              Introduced into eml-2.0.0beta9
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
