eml-physical.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:physical" xmlns="eml:physical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-physical.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-07-10 19:06:18 $'
      '$Revision: 1.2 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>
        eml-physical
      </moduleName>
      <moduleDescription>
        The EML Phyiscal Representation Module defines the structural
        characteristics of data formats as delivered over the wire or
        as found in a file system.  One physical object (which can be a
        bytestream or an object in a file system) might contain multiple
        entities (for example, this would be typical in a MS Access file
        that contained multiple tables of data).
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="eml-physical">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Entity descriptors
        </tooltip>
        <summary>
          Container of physical descriptors of all entities in a dataset.
        </summary>
        <description>
          Eml-physical element contains a list of all entities in a dataset.
        </description>
        <example/>
        <lineage>
          The eml-physical was introduced into EML 1.4 as eml-file.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Unique identifier
              </tooltip>
              <summary>
                The unique identifier of this metadata file or object.
              </summary>
              <description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </description>
              <example><![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]></example>
              <lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <tooltip>
                    Catalog system
                  </tooltip>
                      <summary>
                    The catalog system in which this identifier is used.
                  </summary>
                      <description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </description>
                      <example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]></example>
                      <lineage>
                    New to EML 2.0.
                  </lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="fileSize" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Entity size
              </tooltip>
              <summary>
                Describes the physical size of the entity.
              </summary>
              <description>
                This element contains information of the physical size 
                of the entity, typically in bytes.
              </description>
              <example><![CDATA[<entitySize unit="bytes">13</entitySize>]]></example>
              <lineage>
                The entitySize was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="unit" use="required" default="bytes">
                  <xs:annotation>
                    <xs:appinfo>
                      <tooltip>
                    Unit of measurement
                  </tooltip>
                      <summary>
                    Unit of measurement for the entity size, typically bytes
                  </summary>
                      <description>
                    This element gives the unit of measurement for the 
                    size of the entity, and is typically bytes.
                  </description>
                      <example><![CDATA[<entitySize unit="bytes">13</entitySize>]]></example>
                      <lineage>
                    The unit was introduced into EML 1.4.
                  </lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="fileFormat" type="xs:string">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                File format
              </tooltip>
              <summary>
                Contains the name of the format for this file.
              </summary>
              <description>
                This element contains the name of the file's format.
                The file's format is typically ASCII, Unicode, or some
                well-known binary format.  This could be a mime-type.
              </description>
              <example><![CDATA[<entityFormat>ASCII</entityFormat>]]></example>
              <lineage>
                The format element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="compressionMethod" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                    Entity's compression method
              </tooltip>
              <summary>
                  Name ofthe entity's compression method
              </summary>
              <description>
                  This element describes any compression methods used to
                  compress the entity, such as zip, compress, etc.
              </description>
              <example/>
              <lineage>
                The compressed element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="encodingMethod" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                    Encoding Method
              </tooltip>
              <summary>
                  Method used for encoding the entity
              </summary>
              <description>
                  This element describes the entity's encoded method, such as
                  MIME base64 encoding or binhex encoding.
              </description>
              <example/>
              <lineage>
                The encoded element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="recordDelimiter" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                  Entity's record delimiter
              </tooltip>
              <summary>
                  Character used to delimit records in the entity.
              </summary>
              <description>
                This element specifies entity's record delimiter 
                when the base file type is ASCII.  The record delimiter
                is usually a newline (\n) on UNIX or a carriage return (\r)
                on MacOS or both (\r\n) on Windows/DOS.
              </description>
              <example><![CDATA[<recordDelimiter>\n\r</recordDelimiter>]]></example>
              <lineage>
                The recordDelimiter element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="quoteCharacter" type="xs:string" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                  Quote character
              </tooltip>
              <summary>
                  Character used to quote values for delimeter escaping
              </summary>
              <description>
                This element specifies a character to be used in the entity
                for quoting values so that field delimeters can be used within
                the value.  This basically allows delimeter "escaping".  The
                quoteChacter is typically a " or '.
              </description>
              <example><![CDATA[<quoteCharacter>"</quoteCharacter>]]></example>
              <lineage>
                The quoteCharacter element was taken from the NBII standard.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="numHeaderLines" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Header lines
              </tooltip>
              <summary>
                Header lines in the entity
              </summary>
              <description>
                Number of header lines or information that prepares data.
              </description>
              <example><![CDATA[<numHeaderLines>3</numHeaderLines>]]></example>
              <lineage>
                The numHeaderLines element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="authentication" type="xs:string" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                  Authentication
              </tooltip>
              <summary>
                  Authentication descriptor
              </summary>
              <description>
                  This element describes authentication procedures or 
                  techniques, typically by giving a checksum method (e.g., MD5)
                  and checksum value for the entity.
              </description>
              <example/>
              <lineage>
                The authentication was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:choice>
          <xs:element name="delimiter" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <tooltip>
                          Attribute delimiter
                      </tooltip>
                <summary>
                        The end of the field is delimited by a 
                        special character called a field delimiter.
                      </summary>
                <description>
                        Variable width format fields can vary in their 
                        field length, thus the end of the field is 
                        delimited by a special character called a 
                        field delimiter (typically a comma or a space).

                        Data sets are generally classified as fixedWidth
                        format or variableWidth format, but we have
                        determined that this is actually a per-field
                        classification because one may encounter
                        fixedWidth fields mixed together in the same
                        data file with variableWidth fields.
                        
                        In our encoding scheme, the start of each field
                        is assumed to be the column after the last column
                        of the previous field, or the first column
                        if this is the first field in the dataset.
                        The end column for each field is classified
                        using either a special character delimeter,
                        or a fixed field length.  variableWidth fields
                        can vary in their field length, and the end of
                        the field is delimited by a special character
                        called a field delimiter, usually a comma or
                        a tab character.  fixedWidth fields have a set
                        length, and so the end of the field can always
                        be determined by adding the fieldWidth to the
                        starting column number.  Here is an example:
                        
                        Assume we have the following data in a data set:

                        May,100aaa,1.2,
                        April,200aaa,3.4,
                        June,300bbb,4.6,

                        The metadata for the 4 fields would include the 
                        following:

                        <![CDATA[
                        <attribute>
                          <attributeName>month</attributeName>
                          <delimiter>,</delimiter>
                        </attribute>

                        <attribute>
                          <attributeName>sitecode</attributeName>
                          <fieldWidth>3</fieldWidth>
                        </attribute>
                        
                        <attribute>
                          <attributeName>subsitecode</attributeName>
                          <fieldWidth>3</fieldWidth>
                        </attribute>
                        
                        <attribute>
                          <attributeName>response</attributeName>
                          <delimiter>,</delimiter>
                        </attribute> 
                        ]]></description>
                <example>
                        comma, tab, white space, etc.
                      </example>
                <lineage>
                        The delimiter element was introduced into 
                        EML 1.4. Semantics changed to work identically to
                        the NBII DTD.
                      </lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="fieldWidth" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <tooltip>
                        Field width
                      </tooltip>
                <summary>
                        FieldWidth specification for fixed field 
                        length.
                      </summary>
                <description>
                        FixedWidth fields have a set length, thus 
                        the end of the field can always be determined
                        by adding the fieldWidth to the starting 
                        column number.
                      </description>
                <example>
                        any positive integer, see example in "delimeter" 
                        description
                      </example>
                <lineage>
                        The fieldWidth element was introduced into 
                        EML 1.4. Semantics changed to work identically to
                        the NBII DTD.
                      </lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
