eml-party.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:ResponsibleParty" xmlns="eml:ResponsibleParty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-party.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-07-10 00:38:46 $'
      '$Revision: 1.2 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>
          eml-party
        </moduleName>
      <moduleDescription>
        The eml-party module describes the responsible party that is associated
        with a resource or metadata document.  It presents the user with
        detailed contact information for the party, be it an individual person,
        an organization, or a named position within an organization.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="ResponsibleParty">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Responsible party
        </tooltip>
        <summary>
          The individual, organization, or role associated with a resource.
        </summary>
        <description>
          The responsible party field contains multiple subfields that are used
          to describe  the person, organization, or position within an
          organization that is associated in some way with a resource.  It is
          intended to be used to fully fully document contact information for
          many types of associations, such as owner, manager, steward, curator,
          etc.
        </description>
        <example>
          Please see the examples for the particular subfields.
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="individualName" type="Person">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Individual Name
              </tooltip>
              <summary>
                The full name of the person being described
              </summary>
              <description>
                The responsible party field contains the full name of the person
                that is associated with the resource.  This field contains
                subfields that break the persons name down into first and last
                name, and the values are entered into those field containers.
              </description>
              <example>
                Because this is an 'elementOnly' field, please look at the
                examples for the subfields 'givenName' and 'surName'.
              </example>
              <lineage>
                This field was derived from the ISO 19115.3 standard 
                (iso-geo-md-2000June-draft).
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="organizationName" type="xs:string">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Organization name
              </tooltip>
              <summary>
                The full name of the organization being described
              </summary>
              <description>
                The responsible party field contains the full name of the
                organization that is associated with the resource.  This field
                is intended to describe which institution or overall
                organization is associated with the resource being described.
              </description>
              <example>
                National Center for Ecological Analysis and Synthesis
              </example>
              <lineage>
                This field was derived from the ISO 19115.3 standard 
                (iso-geo-md-2000June-draft).
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="positionName" type="xs:string">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Position Name
              </tooltip>
              <summary>
                The name of the title or position associated with the resource.
              </summary>
              <description>
                This field is intended to be used instead of a particular person
                or full organization name.  If the associated person that holds
                the role changes frequently, then Position Name would be used
                for consistency.
              </description>
              <example>
                Niwot Ridge Data Manager
              </example>
              <lineage>
                This field was derived from the ISO 19115.3 standard 
                (iso-geo-md-2000June-draft).
              </lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="address" type="Address" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Contact address
            </tooltip>
            <summary>
              The full address information for a given responsible 
              party entry.
            </summary>
            <description>
              The address field is a container for multiple subfields that
              describe the physical or electronic address of the 
              responsible party for a resource. 
            </description>
            <example>
              Please see the subfield examples.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="phone" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Phone
            </tooltip>
            <summary>
              Information about the contact's telephone
            </summary>
            <description>
              The phone field describes information about the responsible
              party's telephone, be it a voice phone, fax, or TTD/TTY 
              type telephone.  This field contains an attribute used
              to identify the type.
            </description>
            <example><![CDATA[
              <phone phonetype="voice">805-892-2500</phone>]]></example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="phonetype" type="xs:string" use="optional" default="voice">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                  Phone type
                </tooltip>
                    <summary>
                  The type of the phone to which this number applies
                </summary>
                    <description>
                  This attribute gives the type of phone to which this 
                  number applies.  By default, this is assumped to be
                  of type "voice", but other possibilities include
                  "facsimile" and "tdd".
                </description>
                    <example><![CDATA[
                  <phone phonetype="voice">805-892-2500</phone>]]></example>
                    <lineage>
                  Derived from NBII and related standards.
                </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="electronicMailAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Email address
            </tooltip>
            <summary>
              The email address of the contact.
            </summary>
            <description>
              The electronic mail address is the email address for the 
              party.  It is intended to be an Internet SMTP email
              address, which should consist of a username folowed by the 
              @ symbol, followd by the email server domain name address.
              Other address types are allowable.
            </description>
            <example>
              knb-software@nceas.ucsb.edu
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="onlineLink" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Online Link
            </tooltip>
            <summary>
              A link to associated online information, usually a web site.
            </summary>
            <description>
              A link to associated online information, usually a web site.
              When the party represents an organization, this is the URL
              to a website or other online information about the organization.
              If the party is an individual, it might be their personal web
              site or other related online information about the party.
            </description>
            <example>
              http://www.nceas.ucsb.edu/~brunt
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="role" type="RoleType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Role
            </tooltip>
            <summary>
              The role, or category, of the associated party in this context.
            </summary>
            <description>
              The role field is intended to provide some context about the
              person or organization that is associated with the resource.
              Since there may be many people associated, such as  multiple 
              principal investigators, data collectors, curators, etc., this 
              field provides a means of describing how the individual or 
              organization is associated with the resource.
            </description>
            <example>
              This field may contain values from a predefined list, which
              includes: "contentProvider", "custodianSteward", "owner", "user", 
              "distributor", "metadataProvider", "originator", "pointOfContact",
              "principalInvestigator", "processor", "publisher", "author", 
              "editor".
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Person">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Person
        </tooltip>
        <summary>
          The full name of the individual associated with the resource.
        </summary>
        <description>
          The person field is used to enter the salutation, first name, and last
          name of the individual associated with the resource.  It uses three
          subfields in order to help parse the person's entire name.
        </description>
        <example>
          Please see the examples within each subfield.
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="salutation" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Salutation
            </tooltip>
            <summary>
              The salutation used to address an individual
            </summary>
            <description>
              The salutation field is used in addressing an individual with a
              particular title, such as Dr., Ms., Mrs., Mr., etc.
            </description>
            <example>
              Dr.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Given name
            </tooltip>
            <summary>
              The given name of the individual.
            </summary>
            <description>
              The given name field is used for the first name of the individual
              associated with the resource.
            </description>
            <example>
              Corinna
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="surName" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Last name
            </tooltip>
            <summary>
              The last name of the individual.
            </summary>
            <description>
              The surname field is used for the last name of the individual
              associated with the resource.
            </description>
            <example>
              Gries
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Address
        </tooltip>
        <summary>
          The full address of the resposible party.
        </summary>
        <description>
          The address field is provides detailed information for communicating
          with a party contact via electronic mail or postal mail, including the
          physical delivery location.
        </description>
        <example>
          Please see the examples for each subfield
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deliveryPoint" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Delivery point
            </tooltip>
            <summary>
              The location for postal deliveries. 
            </summary>
            <description>
              The delivery point field is used for the physical address for
              postal communication.  This field is used to accomodate the many
              different international conventions  that are the equivalent 
              to a U.S. 'street address'.
            </description>
            <example>
              7209 Coast Drive, Building 44
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              City
            </tooltip>
            <summary>
              The name of the city for the contact.
            </summary>
            <description>
              The city field is used for the city name of the contact associated
              with a particular resource.
            </description>
            <example>
              San Francisco
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeArea" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Administrative area
            </tooltip>
            <summary>
              The political area of a country.
            </summary>
            <description>
              The administrative area field is the equivalent of a 'state' in
              the U.S., or Province in Canada.  This field is intended to 
              accomodate the many types of international administrative areas.
            </description>
            <example>
              Colorado
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="postalCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Postal code
            </tooltip>
            <summary>
              The postal code used for routing to an address.
            </summary>
            <description>
              The postal code is equivalent to a U.S. zip code, or the number
              used for routing to an international address.  The U.S. postal
              code should include the 5 digit code plus the 4 digit extension.
            </description>
            <example>
              93106-2231
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="country" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>
              Country
            </tooltip>
            <summary>
              The name of the country for the contact's address.
            </summary>
            <description>
              The country field is used for the name of the contact's country.
            </description>
            <example>
             U.S.A
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Role code domain take from ISO -->
  <xs:simpleType name="RoleType">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Role
        </tooltip>
        <summary>
          The classification of the associated person or organization.
        </summary>
        <description>
          The role code field provides information on how a person or
          organization is related to a resource.  There may be many people
          associated, including an 'originator' of a dataset, an 'author',
          'editor', or 'publisher' of a literature resource, or an organization
          that is a 'distributor'.  the full list of choices is included in the
          example.
        </description>
        <example>
          author, contentProvider, custodianSteward, distributor, editor,
          metadataProvider, originator, pointOfContact, principalInvestigator,
          processor, publisher, or user.
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft), with the addition of a few new roleCode
          values.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="contentProvider"/>
      <xs:enumeration value="custodianSteward"/>
      <xs:enumeration value="owner"/>
      <xs:enumeration value="user"/>
      <xs:enumeration value="distributor"/>
      <xs:enumeration value="metadataProvider"/>
      <xs:enumeration value="originator"/>
      <xs:enumeration value="pointOfContact"/>
      <xs:enumeration value="principalInvestigator"/>
      <xs:enumeration value="processor"/>
      <xs:enumeration value="publisher"/>
      <xs:enumeration value="author"/>
      <xs:enumeration value="editor"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
