eml-constraint.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:constraint" xmlns="eml:constraint" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-constraint.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-07-12 22:42:54 $'
      '$Revision: 1.8 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>eml-constraint</moduleName>
      <moduleDescription>
        This schema defines the integrity constraints between entities as
        would be maintained in a relational database. These constraints include
        primary key constraints, foreign key constraints, unique key
        constraints, check constraints, and not null constraints, among potential others.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="eml-constraint">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Relational integrity constraint descriptors
        </tooltip>
        <summary>
          Describes the relational integrity constraints of a relational 
          database.
        </summary>
        <description>
          Describes the relational integrity constraints of a relational 
          database.  This includes primary keys, foreign keys, unique keys, etc.
        </description>
        <example/>
        <lineage>
           New in EML 2.0
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Unique identifier
              </tooltip>
              <summary>
                The unique identifier of this metadata file or object.
              </summary>
              <description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </description>
              <example><![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]></example>
              <lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <tooltip>
                    Catalog system
                  </tooltip>
                      <summary>
                    The catalog system in which this identifier is used.
                  </summary>
                      <description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </description>
                      <example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]></example>
                      <lineage>
                    New to EML 2.0.
                  </lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="constraint" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Integrity constraint
              </tooltip>
              <summary>
                Information about the integrity constraint being defined.
              </summary>
              <description>
                Complete information needed to reconstruct this integrity
                constraint for enforcement in a system such as a relational
                database management system.  
              </description>
              <example/>
              <lineage>
                New in EML 2.0
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="constraintType">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      type of constraint
                    </tooltip>
                    <summary>
                      the type of constraint being defined
                    </summary>
                    <description>
                      the type of constraint being defined.  This is 
                      what kind of constraint this is.
                    </description>
                    <example>
                      PrimaryKey, ForeignKey, UniqueKey
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="UniqueKey"/>
                    <xs:enumeration value="PrimaryKey"/>
                    <xs:enumeration value="ForeignKey"/>
                    <xs:enumeration value="NotNull"/>
                    <xs:enumeration value="Check"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="constraintName" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      constraint name
                    </tooltip>
                    <summary>
                      name of the field that this constraint is tied to
                    </summary>
                    <description>
                     name of the field that this constraint is tied to.  This 
                     could also be the name of an independent constraint such 
                     as a trigger or an autonumber generator.
                    </description>
                    <example>
                      LocationID, TABLE1_NUMBER_GEN1
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="constraintDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      constraint description
                    </tooltip>
                    <summary>
                      description of the constraint
                    </summary>
                    <description>
                      description of the constraint.  Any additional 
                      information that may be needed to fully understand 
                      the constraint.
                    </description>
                    <example/>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="entityId" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      table to which this constraint is tied
                    </tooltip>
                    <summary>
                      table to which this constraint is tied
                    </summary>
                    <description>
                      table to which this constraint is tied.  In the instance
                      of a key, it is the name of the table in which it is 
                      defined.
                    </description>
                    <example>
                      site_properties 
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="key" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>Key                    </tooltip>
                    <summary>The set of attributes to which this constraint applies.</summary>
                    <description>The set of attributes to which this constrint applies.  For a primary key or a unique key, the set of attributes must be identifying.  For a foeign key, the set of attributes must match an identifying key in the referenced entity.  For a not null constraint, the key indicates the attribute which should not be null.</description>
                    <example/>
                    <lineage>New in EML 2.0</lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeName" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="referencedEntityId" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>Referenced Entity ID</tooltip>
                    <summary>The id of the parent-entity in a foreign key constraint.</summary>
                    <description>This field contains the id of the entity to which a foreign key refers, otherwise known as the parent-entity or parent-table.</description>
                    <example>
                      site_properties 
                    </example>
                    <lineage>
                      New in EML 2.0
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="referencedKey" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>Key                    </tooltip>
                    <summary>The set of attributes to which a foreign key constraint refers.</summary>
                    <description>The set of attributes to which a foreign key constraint refers.  If the key refers to the primary key in the referenced entity, then the "referencedKey" is optional.  For a foreign key, the set of attributes must match an identifying key in the referenced entity.</description>
                    <example/>
                    <lineage>New in EML 2.0</lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeName" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cardinality" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>Constrint Cardinality               </tooltip>
                    <summary>The cardinality of a foreign key constraint.</summary>
                    <description>Indicates the cardinality (zero, one, many) of a foreign key constraint.</description>
                    <example/>
                    <lineage>New in EML 2.0</lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="zero"/>
                    <xs:enumeration value="one"/>
                    <xs:enumeration value="many"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="checkCondition" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>Check Condition                </tooltip>
                    <summary>A SQL statement to be used as the condition for a check constraint.</summary>
                    <description>A SQL statement to be used as the condition for a check constraint.  Generally this provides a means for constraining the values within and among entities.</description>
                    <example><![CDATA[(year > 1900 and year < 1990)]]></example>
                    <lineage>New in EML 2.0</lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
