eml-resource.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml://ecoinformatics.org/resource-2.0.0rc1" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.0rc1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:txt="eml://ecoinformatics.org/text-2.0.0rc1" xmlns:rp="eml://ecoinformatics.org/party-2.0.0rc1" xmlns:cov="eml://ecoinformatics.org/coverage-2.0.0rc1" xmlns="eml://ecoinformatics.org/resource-2.0.0rc1">
  <xs:import namespace="eml://ecoinformatics.org/documentation-2.0.0rc1" schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/party-2.0.0rc1" schemaLocation="eml-party.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/coverage-2.0.0rc1" schemaLocation="eml-coverage.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/text-2.0.0rc1" schemaLocation="eml-text.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-resource.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: berkley $'
          '$Date: 2002-09-16 22:04:48 $'
      '$Revision: 1.65 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-resource</doc:moduleName>
        <doc:moduleDescription>The eml-resource module contains general
        information that describes dataset resources, literature resources,
        collection resources, and software resources. It is intended to provide
        overview information about the resource, including title, abstract,
        keywords, contacts, and the links to associated metadata and data for
        the given resource.</doc:moduleDescription>
        <doc:recommendedUsage>all datasets</doc:recommendedUsage>
        <doc:standAlone>no</doc:standAlone>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  <xs:group name="ResourceGroup">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Resource Base</doc:tooltip>
        <doc:summary>Generic information about any resource that is being
        described.</doc:summary>
        <doc:description>The 'ResourceBase' complexType contains information
        that is inherited by each resource type that is being documented. The
        subelements with the resource base are common to all
        resources.</doc:description>
        <doc:example>Please see the individual sub-fields for specific
        examples.</doc:example>
        <doc:lineage>The 'ResourceBase' element was introduced into EML
        2.0.</doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="alternateIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Alternate Identifier</doc:tooltip>
            <doc:summary>A secondary identifier for this entity</doc:summary>
            <doc:description>An additional, secondary identifier for this
            entity. The primary identifier belongs in the "id" attribute, but
            additional identifiers that are used to label this entity, possibly
            from different data management systems, can be listed
            here.</doc:description>
            <doc:example>VCR3465</doc:example>
            <doc:lineage>As of EML 2.0.0</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="system" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Identifier System</doc:tooltip>
                    <doc:summary>The system in which this id is
                    relevant</doc:summary>
                    <doc:description>The computing system within which this
                    identifier has relevance. Generally, the identifier would
                    be unique within the "system" and would be sufficient to
                    retrieve the entity from the system. The system is often a
                    URL or URI that identifies the main entry point for the
                    data management system.</doc:description>
                    <doc:example>
                    http://knb.ecoinformatics.org/knb/</doc:example>
                    <doc:lineage>As of EML 2.0.0</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="shortName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Short Name</doc:tooltip>
            <doc:summary>A short name that describes the resource, sometimes a
            filename.</doc:summary>
            <doc:description>The 'shortName' field provides a concise name that
            describes the resource that is being documented. It is the
            appropriate place to store a filename associated with other storage
            systems.</doc:description>
            <doc:example>vernal-data-1999</doc:example>
            <doc:lineage>This element was derived from elements described in
            the ISO 19115.3 standard (iso-geo-md-2000June-draft).</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Title</doc:tooltip>
            <doc:summary>A brief description of the resource, providing enough
            detail to differentiate it from other similar
            resources.</doc:summary>
            <doc:description>The 'title' field provides a description of the
            resource that is being documented that is long enough to
            differentiate it from other similar resources. Multiple titles may
            be provided, particularly when trying to express the title in more
            than one language (use the "xml:lang" attribute to indicate the
            language if not English/en).</doc:description>
            <doc:example>Vernal pool amphibian density data, Isla Vista,
            1990-1996.</doc:example>
            <doc:lineage>This element was derived from elements described in
            the ISO 19115.3 standard (iso-geo-md-2000June-draft).</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="creator" type="rp:ResponsibleParty" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Creator</doc:tooltip>
            <doc:summary>The people or organizations who created this
            resource.</doc:summary>
            <doc:description>The 'creator' element provides the full name of
            the person, organization, or position who created the resource. The
            list of creators for a resource represent the people and
            organizations who should be cited for the
            resource.</doc:description>
            <doc:example>For a book, the creators are its
            authors.</doc:example>
            <doc:lineage>This element was derived from elements described in
            the FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999). It has
            parallel semantics to the Creator element in Dublin
            Core.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="metadataProvider" type="rp:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Metadata Provider</doc:tooltip>
            <doc:summary>The people or organizations who created provided
            documentation and other metadata for this resource.</doc:summary>
            <doc:description>The 'metadataProvider' element provides the full
            name of the person, organization, or position who created
            documentation for the resource.</doc:description>
            <doc:example>The scientist who collected the data, sometimes a data
            technician, or other individual.</doc:example>
            <doc:lineage>New in EML 2.0.0.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="associatedParty" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Associated Party</doc:tooltip>
            <doc:summary>Other people or organizations who should be associated
            with this resource.</doc:summary>
            <doc:description>The 'associatedParty' element provides the full
            name of other people, organizations, or positions who should be
            associated with the resource. These parties might play various
            roles in the creation or maintenance of the resource, and these
            roles should be indicated in the "role" element.</doc:description>
            <doc:example>The technician who collected the data.</doc:example>
            <doc:lineage>New in EML 2.0.0.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="rp:ResponsibleParty">
              <xs:sequence>
                <xs:element name="role" type="rp:RoleType">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>Role</doc:tooltip>
                      <doc:summary>The role the party played with respect to
                      the resource.</doc:summary>
                      <doc:description>Use this field to describe the role the
                      party played with respect to the resource. Some potential
                      roles include technician, reviewer, principal
                      investigator, and many others.</doc:description>
                      <doc:example>principalInvestigator</doc:example>
                      <doc:lineage>From ISO.</doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="pubDate" type="yearDate" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publication date</doc:tooltip>
            <doc:summary>The publication date of the resource.</doc:summary>
            <doc:description>The 'pubDate' field represents the date that the
            resource was published. The format should be represented as: CCYY,
            which represents a 4 digit year, or as CCYY-MM-DD, which denotes
            the full year, month, and day. Note that month and day are optional
            components. Formats must conform to ISO 8601.</doc:description>
            <doc:example>1999-10-26</doc:example>
            <doc:lineage>This element was derived from elements described in
            the FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999) The
            string should follow the date standard described in ISO
            8601.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Language</doc:tooltip>
            <doc:summary>The language in which the resource is
            written.</doc:summary>
            <doc:description>The language in which the resource is written.
            This can be a well-known language name, or one of the ISO language
            codes to be more precise.</doc:description>
            <doc:example>English</doc:example>
            <doc:lineage>From Dublin Core Element Set.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="series" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Series</doc:tooltip>
            <doc:summary>The series from which the resource came.</doc:summary>
            <doc:description>This field describes the series of resources that
            include the resource being described. For example, a volume of a
            journal may be part of a series of the journal for a particular
            year.</doc:description>
            <doc:example>Volume 20</doc:example>
            <doc:lineage>This element was derived from elements described in
            the FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999) and ISO
            19115.3 standard (iso-geo-md-2000June-draft)</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="abstract" type="txt:TextType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Abstract</doc:tooltip>
            <doc:summary>A brief overview of the resource.</doc:summary>
            <doc:description>A brief overview of the resource that is being
            documented. The abstract should include basic information that
            summarizes the resource.</doc:description>
            <doc:lineage>This element was derived from elements described in
            the FGDC-STD-001.1-1999 standard
            (nbii-fgdc-std-001.1-1999)</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="keywordSet" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Keyword information</doc:tooltip>
            <doc:summary>Keyword information that describes the
            resource.</doc:summary>
            <doc:description>The 'keywordSet' element is a container for the
            'keyword' and 'keywordThesaurus' fields. Each keywordSet field can
            contain one or more keywords and a name of a thesaurus for the set
            of keywords. Each keyword field should contain one and only one
            keyword (i.e., keywords should not be separated by commas or other
            delimiters).</doc:description>
            <doc:example>Please see the examples for the subfields contained
            within this field.</doc:example>
            <doc:lineage>This element was derived from elements described in
            the FGDC-STD-001.1-1999 standard
            (nbii-fgdc-std-001.1-1999)</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="keyword" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Keyword</doc:tooltip>
                  <doc:summary>A single keyword that describes the
                  resource.</doc:summary>
                  <doc:description>This field names a keyword or keyphrase that
                  concisely describes the resource or is related to the
                  resource. Each keyword field should contain one and only one
                  keyword (i.e., keywords should not be separated by commas or
                  other delimiters).</doc:description>
                  <doc:example>biodiversity</doc:example>
                  <doc:lineage>This field was introduced into EML 2.0 beta 1,
                  and was derived from EML 1.3. and the ISO 19115.3 standard
                  (iso-geo-md-2000June-draft).</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="keywordType" type="KeyTypCode" use="optional">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>Keyword type</doc:tooltip>
                          <doc:summary>The type of each keyword.</doc:summary>
                          <doc:description>This field classifies the keyword
                          that has been provided from a list of pre-determined
                          categories. The possible types are listed in the
                          example.</doc:description>
                          <doc:example>
                          "discipline","place","stratum","temporal","thematic",
                          or "taxonomic"</doc:example>
                          <doc:lineage>This field was introduced into EML 2.0,
                          and was derived from EML 1.3. and the ISO 19115.3
                          standard(iso-geo-md-2000June-draft).</doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="keywordThesaurus" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Keyword thesaurus</doc:tooltip>
                  <doc:summary>The name of a thesaurus from which the keyword
                  is derived.</doc:summary>
                  <doc:description>This field provides the name of the official
                  keyword thesaurus from which keyword was derived. The keyword
                  thesauri are usually discipline specific.</doc:description>
                  <doc:example>IRIS keyword thesaurus</doc:example>
                  <doc:lineage>This field was introduced into EML 2.0, and was
                  derived from EML 1.3. and the ISO 19115.3
                  standard(iso-geo-md-2000June-draft).</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="additionalInfo" type="txt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Additional Information</doc:tooltip>
            <doc:summary>Any extra information pertitent to the
            resource.</doc:summary>
            <doc:description>This field provides any information that is not
            characterized by the other resource metadata
            fields.</doc:description>
            <doc:example>Copyright 2001, Robert Warner</doc:example>
            <doc:lineage>This element was derived from elements described in
            the FGDC-STD-001.1-1999 standard
            (nbii-fgdc-std-001.1-1999)</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="intellectualRights" type="txt:TextType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Intellectual Property Rights</doc:tooltip>
            <doc:summary>Intellectual property rights regarding usage and
            licensing of this resource.</doc:summary>
            <doc:description>Typically, an intellectual Rights element will
            contain a rights management statement for the resource, or
            reference a service providing such information. Rights information
            encompasses Intellectual Property Rights (IPR), Copyright, and
            various Property Rights. In the case of a data set, rights might
            incude requirements for use, requirements for attribution, or other
            requirements the owner would like to impose.</doc:description>
            <doc:example>Copyright 2001 Regents of the University of California
            Santa Barbara. Free for use by all individuals provided that the
            owners are acknowledged in any use or publication.</doc:example>
            <doc:lineage>Introduced in EML 2.0, derived from Dublin Core
            Element Set 1.1.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="distribution" type="DistributionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Distribution Information</doc:tooltip>
            <doc:summary>Information on how the resource is distributed online
            and offline</doc:summary>
            <doc:description>This element provides information on how the
            resource is distributed online and offline. Connections to online
            systems can be described as URLs and as a list of relevant
            connection parameters.</doc:description>
            <doc:lineage>Derived from distribution elements in the FGDC
            standard.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="coverage" type="cov:Coverage" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Resource coverage</doc:tooltip>
            <doc:summary>Extent of the coverage of the resource.</doc:summary>
            <doc:description>This element describes the extent of the coverage
            of the resource in terms of its spatial extent, temporal extent,
            and taxonomic extent. For data sets, this is useful to specify the
            entire extent to which all of the data might
            apply.</doc:description>
            <doc:example>See the coverage module for examples.</doc:example>
            <doc:lineage>Derived from the temporalCoverage element that was
            introduced into EML 1.4.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="KeyTypCode">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Keyword type codes</doc:tooltip>
        <doc:summary>The list of keyword categories</doc:summary>
        <doc:description>This field provides a restricted list of categories
        that a keyword may fall under.</doc:description>
        <doc:example>place</doc:example>
        <doc:lineage/>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="place"/>
      <xs:enumeration value="stratum"/>
      <xs:enumeration value="temporal"/>
      <xs:enumeration value="theme"/>
      <xs:enumeration value="taxonomic"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yearDate">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Year or Date</doc:tooltip>
        <doc:summary>A type allowing a year or date value</doc:summary>
        <doc:description>This type is the union of the built-in types for year
        and date.</doc:description>
        <doc:example>1999, or 2001-03-15</doc:example>
        <doc:lineage>New in EML 2.0.0.</doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:union memberTypes="xs:gYear xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ScopeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="system"/>
      <xs:enumeration value="document"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FunctionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="download"/>
      <xs:enumeration value="information"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DistributionType">
    <xs:choice>
      <xs:choice>
        <xs:element name="online">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Online Distribution Information</doc:tooltip>
              <doc:summary>Distribution information for accessing the
              resource online.</doc:summary>
              <doc:description>Distribution information for accessing the
              resource online, represented either as a URL or as a series of
              named parameters that are needed in order to
              connect. The URL field is provided for the simple cases where a
              file is available for download directly from a web server or
              other similar server and a complex connection protocol is not
              needed.  The connection field provides an alternative where a
              complex protocol needs to be named and described, along with
              the necessary parameters needed for the connection.
              </doc:description>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:choice>
                <xs:element name="url">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>Download site URL</doc:tooltip>
                      <doc:summary>A URL (Uniform Resource Locator) from which
                      this resource can be downloaded or information can be
                      obtained about downloading it.</doc:summary>
                      <doc:description>A URL (Uniform Resource Locator) from
                      which this resource can be downloaded or additional
                      information can be obtained. If accessing the URL would
                      directly return the data stream, then the "function"
                      attribute should be set to "download".  If the URL
                      provides further information about downloading the
                      object but does not directly return the data stream, then
                      the "function" attribute should be set to "information".
                      If the "function" attribute is omitted, then "download"
                      is implied for the URL function.
                      In more complex cases where a non-standard connection
                      must be established that complies with application
                      specific procedures beyond what can be described in the
                      simple URL, then the "connection" element should
                      be used instead of the URL element.</doc:description>
                      <doc:example>
                      http://data.org/getdata?id=98332</doc:example>
                      <doc:lineage>ISO CD 19115.3, Geographic information -
                      Metadata</doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:anyURI">
                        <xs:attribute name="function" type="FunctionType" use="optional" default="download"/>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="connection">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>Connection</doc:tooltip>
                      <doc:summary>A description of the information needed
                      to make an application connection to a data service.
                      </doc:summary>
                      <doc:description>A description of the information needed
                      to make an application connection to a data service.
                      The connection starts with a connectionDefinition which
                      lists all of the parameters needed for the connection
                      and possible default values for each.  It then includes a
                      list of parameter values, one for each parameter, that
                      override the defaults for this particular connection.
                      One parameter element should exist for every
                      parameterDefinition that is present in the
                      connectionDefinition, except that parameters that were
                      defined with a defaultValue in their parameterDefinition
                      can be ommitted from the connection and the default
                      will be used. All information about how to use the
                      parameters to establish a session and extract data is
                      present in the connectionDefinition, possibly implicitly
                      by naming a connection schemeName that is well-known.
                      </doc:description>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:choice>
                      <xs:sequence>
                        <xs:element name="connectionDefinition" type="ConnectionDefinitionType">
                          <xs:annotation>
                            <xs:appinfo>
                              <doc:tooltip>Connection Definition</doc:tooltip>
                              <doc:summary>Definition of the connection protocol
                              to be used for this connection.</doc:summary>
                              <doc:description>Definition of the connection
                              protocol to be used for this connection.  The
                              definition has a "scheme" which identifies the
                              protocol by name, and a detailed description of
                              the scheme and its required parameters.
                              </doc:description>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
                          <xs:annotation>
                            <xs:appinfo>
                              <doc:tooltip>Parameter</doc:tooltip>
                              <doc:summary>A parameter to be used to make this
                              connection.</doc:summary>
                              <doc:description>A parameter to be used to make
                              this connection. This value overrides any
                              default value that may have been provided in the
                              connection definition.
                              </doc:description>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="name" type="xs:string">
                                <xs:annotation>
                                  <xs:appinfo>
                                    <doc:tooltip>Parameter Name</doc:tooltip>
                                    <doc:summary>Name of the parameter to be
                                    used to make this connection.</doc:summary>
                                    <doc:description>The name of the parameter
                                    to be used to make this connection.
                                    </doc:description>
                                    <doc:example>hostname</doc:example>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="value" type="xs:string">
                                <xs:annotation>
                                  <xs:appinfo>
                                    <doc:tooltip>Parameter Value</doc:tooltip>
                                    <doc:summary>The value of the parameter to
                                    be used to make this connection.
                                    </doc:summary>
                                    <doc:description>The value of the parameter
                                    to be used to make this connection. This
                                    value overrides any default value that may
                                    have been provided in the connection
                                    definition.</doc:description>
                                    <doc:example>nceas.ucsb.edu</doc:example>
                                  </xs:appinfo>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:element name="references" type="xs:string">
                        <xs:annotation>
                          <xs:appinfo>
                            <doc:tooltip>References</doc:tooltip>
                            <doc:summary>The id of another connection in this
                            EML document to be used to provide the connection
                            information.
                            </doc:summary>
                            <doc:description>The id of another connection in
                            this EML document to be used to provide the
                            connection information. This is used instead of
                            duplicating connection information when an identical
                            connection needs to be used multiple times in an
                            EML document.</doc:description>
                          </xs:appinfo>
                        </xs:annotation>
                      </xs:element>
                    </xs:choice>
                    <xs:attribute name="id" type="xs:string" use="optional"/>
                    <xs:attribute name="system" type="xs:string" use="optional"/>
                    <xs:attribute name="scope" type="ScopeType" use="optional" default="document"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="connectionDefinition" type="ConnectionDefinitionType">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>Connection Definition</doc:tooltip>
                      <doc:summary>The definition of a type of connection
                      that will be used in another location in the EML
                      document.</doc:summary>
                      <doc:description>The definition of a type of connection
                      that will be used in another location in the EML
                      document. This only provides the definition of the
                      protocol and its parameters, but not the actual values
                      to be used to make the connection (instead, see the
                      connection element).</doc:description>
                      <doc:lineage>New in EML 2.0.0</doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="offline">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>medium of the resource</doc:tooltip>
              <doc:summary>the medium on which this resource is distributed,
              either digitally or as hardcopy</doc:summary>
              <doc:description>the medium on which this resource is distributed
              digitally, such as 3.5" floppy disk, or various tape media types,
              or 'hardcopy'</doc:description>
              <doc:example>CD-ROM, 3.5 in. floppy disk, Zip disk</doc:example>
              <doc:lineage>ISO CD 19115.3, Geographic information -
              Metadata</doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mediumName" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Medium name</doc:tooltip>
                    <doc:summary>Name of the medium that for this resource
                    distribution</doc:summary>
                    <doc:description>Name of the medium on which this resource
                    is distributed. Can be various digital media such as tapes
                    and disks, or printed media which can collectively be
                    termed 'hardcopy'.</doc:description>
                    <doc:example>Tape, 3.5 inch Floppy Disk,
                    hardcopy</doc:example>
                    <doc:lineage>ISO CD 19115.3, Geographic information -
                    Metadata</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="mediumDensity" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>density of the digital medium</doc:tooltip>
                    <doc:summary>the density of the digital medium if this is
                    relevant.</doc:summary>
                    <doc:description>the density of the digital medium if this
                    is relevant. Used mainly for floppy disks or
                    tape.</doc:description>
                    <doc:example>High Density (HD), Double Density
                    (DD)</doc:example>
                    <doc:lineage>ISO CD 19115.3, Geographic information -
                    Metadata</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="mediumDensityUnits" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>units of a numerical density</doc:tooltip>
                    <doc:summary>a numerical density's units</doc:summary>
                    <doc:description>if a density is given numerically, the
                    units should be given here.</doc:description>
                    <doc:example>B/cm</doc:example>
                    <doc:lineage>ISO CD 19115.3, Geographic information -
                    Metadata</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="mediumVolume" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>storage volume</doc:tooltip>
                    <doc:summary>total volume of the storage
                    medium</doc:summary>
                    <doc:description>the total volume of the storage medium on
                    which this resource is shipped.</doc:description>
                    <doc:example>650 MB</doc:example>
                    <doc:lineage>ISO CD 19115.3, Geographic information -
                    Metadata</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="mediumFormat" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>medium format</doc:tooltip>
                    <doc:summary>format of the medium on which the resource is
                    shipped.</doc:summary>
                    <doc:description>the file system format of the medium on
                    which the resource is shipped</doc:description>
                    <doc:example>NTFS, FAT32, EXT2, QIK80</doc:example>
                    <doc:lineage>ISO CD 19115.3, Geographic information -
                    Metadata</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="mediumNote" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>note about the media</doc:tooltip>
                    <doc:summary>note about the media</doc:summary>
                    <doc:description>any additional pertinent information about
                    the media</doc:description>
                    <doc:lineage>ISO CD 19115.3, Geographic information -
                    Metadata</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="inline">
          <xs:complexType>
            <xs:sequence>
              <xs:any maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element name="references" type="xs:string"/>
    </xs:choice>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="system" type="xs:string" use="optional"/>
    <xs:attribute name="scope" type="ScopeType" use="optional" default="document"/>
  </xs:complexType>
  <xs:complexType name="ConnectionDefinitionType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Connection Definition</doc:tooltip>
        <doc:summary>The definition of a type of connection
        that will be used in another location in the EML
        document.</doc:summary>
        <doc:description>The definition of a type of connection
        that will be used in another location in the EML
        document. This only provides the definition of the
        protocol and its parameters, but not the actual values
        to be used to make the connection (instead, see the
        connection element).  The same connection definition may be
        used by multiple connections (e.g., to download different files
        from the same database), but each connection must provide or
        reference a valid connection definition.</doc:description>
        <doc:lineage>New in EML 2.0.0</doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element name="schemeName">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Scheme Name</doc:tooltip>
              <doc:summary>The name of the scheme used to identify this
              connection.</doc:summary>
              <doc:description>The name of the scheme used to identify this
              connection.  The scheme name is qualified by its system attribute.
              The scheme name implies a particular protocol for
              accessing information from the connection.  Applications must
              have a knowledge of the scheme or be able to deduce the protocol
              from the scheme description in order to effectively access data
              over the connection.  Many schemes will be unknown to client
              applications.  At some later point in time a registry for
              connection schemes may be established in order to promote
              application interoperability, and we may expand this portion of
              EML to adopt a more comprehensive standard such as WSDL, but for
              now this simpler description is provided.</doc:description>
              <doc:example>metacat</doc:example>
              <doc:lineage>As of EML 2.0.0</doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>Scheme System</doc:tooltip>
                      <doc:summary>The system in which this scheme name is
                      relevant</doc:summary>
                      <doc:description>The computing system within which this
                      scheme name has relevance. This attribute qualifies the
                      scheme name in order to decrease the likelihood of scheme
                      name collisions when more that one EML user defines a
                      scheme name with the same name but different semantics.
                      </doc:description>
                      <doc:example>
                      http://knb.ecoinformatics.org/knb/</doc:example>
                      <doc:lineage>As of EML 2.0.0</doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="description" type="txt:TextType">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Scheme Description</doc:tooltip>
              <doc:summary>The description of the scheme used to identify this
              connection.</doc:summary>
              <doc:description>The description of the scheme used to identify
              this connection. The scheme name implies a particular protocol for
              accessing information from the connection.  Applications must
              have a knowledge of the scheme or be able to deduce the protocol
              from the scheme description in order to effectively access data
              over the connection.</doc:description>
              <doc:example>The metacat application protocol.  Applications
              must first log into metacat by sending an HTTP POST request
              in http-url-encoded format with the parameters action, username,
              and password.  Action must be set to "login".
              If authentication is successful, the metacat
              server will respond with a session cookie.  All future requests
              should include the session cookie in the HTTP header.  To
              retrieve an object, the client then would send an HTTP POST
              in http-url-encoded format, with an action parameter set to
              "get" and the docid paramter set to the identifier for the
              desired object.  The response will either be an XML document
              or a multipart-form-encoded response containing data.
              </doc:example>
              <doc:lineage>As of EML 2.0.0</doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="parameterDefinition" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Parameter Definition</doc:tooltip>
              <doc:summary>The definition of a parameter that is needed to
              properly use this connection scheme.</doc:summary>
              <doc:description>The definition of a parameter that is needed to
              properly use this connection scheme.  Each parameter has a name
              and a definition that are used by applications to assess the type
              of information needed for the request.  Parameters may also set
              default values that are used if a connection does not provide a
              value for a parameter.</doc:description>
              <doc:lineage>As of EML 2.0.0</doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Parameter Name</doc:tooltip>
                    <doc:summary>The Name of a parameter that is needed to
                    properly use this connection scheme.</doc:summary>
                    <doc:description>The name of a parameter that is needed to
                    properly use this connection scheme.</doc:description>
                    <doc:example>hostname</doc:example>
                    <doc:lineage>As of EML 2.0.0</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="definition" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Parameter Definition</doc:tooltip>
                    <doc:summary>The definition of a parameter that is needed
                    to properly use this connection scheme.</doc:summary>
                    <doc:description>The definition of a parameter that is
                    needed to properly use this connection scheme.  The
                    definition is used by applications to assess the type
                    of information needed for the request.</doc:description>
                    <doc:example>The fully qualified name of the internet host
                    that is providing the metacat service, as would be returned
                    by a Domain Name System (DNS) query.</doc:example>
                    <doc:lineage>As of EML 2.0.0</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="defaultValue" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Default Parameter Value</doc:tooltip>
                    <doc:summary>The default value for a parameter that is
                    needed to properly use this connection scheme.</doc:summary>
                    <doc:description>The default value for a parameter that is
                    needed to properly use this connection scheme.  If a default
                    value is set, then it should be used for connections that
                    do not override the default with a connection-specific
                    value. This allows a definition to be established that
                    declares common information that might be shared by several
                    connections as default values.  Parameter values provided
                    in the connection always override any default values
                    provided in the conneciton definition.</doc:description>
                    <doc:example>metacat.nceas.ucsb.edu</doc:example>
                    <doc:lineage>As of EML 2.0.0</doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:element name="references" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>References</doc:tooltip>
            <doc:summary>A reference to a connection definition that is
            provided elsewhere in EML.</doc:summary>
            <doc:description>A reference to a connection definition that is
            provided elsewhere in EML. This is useful to provide a single,
            shared connection definition for a scheme that is used by
            multiple connections.</doc:description>
            <doc:lineage>As of EML 2.0.0</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="system" type="xs:string" use="optional"/>
    <xs:attribute name="scope" type="ScopeType" use="optional" default="document"/>
  </xs:complexType>
</xs:schema>
