eml-entity.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--         
       '$RCSfile: eml-entity.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: berkley $'
          '$Date: 2002-03-20 21:50:14 $'
      '$Revision: 1.15 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->
<!ELEMENT begdate (#PCDATA)>
<!ELEMENT beggeol (geolage)>
<!ELEMENT begtime (#PCDATA)>
<!ELEMENT citeinfo ANY>
<!ELEMENT coverage (geographicCov, temporalCov, taxonomicCov)>
<!ELEMENT enddate (#PCDATA)>
<!ELEMENT endgeol (geolage)>
<!ELEMENT endtime (#PCDATA)>
<!ELEMENT geographicCov (descgeog, bounding, dsgpoly*)>
<!ELEMENT geolage (geolscal, geolest, geolun?, geolexpl?, geolcit*)>
<!ELEMENT gring (#PCDATA)>
<!ELEMENT grngpoin (gringlat, gringlon)>
<!ELEMENT mdattim (sngdate+)>
<!ELEMENT rngdates ((begdate, begtime?, enddate, endtime?) | (beggeol, endgeol))>
<!ELEMENT sngdate ((caldate, time?) | geolage)>
<!ELEMENT taxoncl (taxonrn?, taxonrv?, common*, taxoncl*)>
<!ELEMENT taxonomicCov (keywtax+, taxonsys?, taxongen?, taxoncl+)>
<!ELEMENT temporalCov (sngdate | mdattim | rngdates)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT example (#PCDATA)>
<!ELEMENT lineage (#PCDATA)>
<!ELEMENT moduleDescription (#PCDATA)>
<!ELEMENT moduleName (#PCDATA)>
<!ELEMENT summary (#PCDATA)>
<!ELEMENT tooltip (#PCDATA)>
<!ELEMENT other-entity ((identifier+, entityName, entityDescription?, temporalCov, geographicCov, taxonomicCov), (entityType))>
<!ELEMENT spatial-entity ((identifier+, entityName, entityDescription?, temporalCov, geographicCov, taxonomicCov), (spatialImage* | spatialGrid* | spatialVector*))>
<!ELEMENT table-entity ((identifier+, entityName, entityDescription?, temporalCov, geographicCov, taxonomicCov), (orientation?, caseSensitive?, numberOfRecords?))>
<!ELEMENT descgeog (#PCDATA)>
<!ELEMENT bounding (westbc, eastbc, northbc, southbc, boundalt?)>
<!ELEMENT dsgpoly (dsgpolyo, dsgpolyx*)>
<!ELEMENT geolscal (#PCDATA)>
<!ELEMENT geolest (#PCDATA)>
<!ELEMENT geolun (#PCDATA)>
<!ELEMENT geolexpl (#PCDATA)>
<!ELEMENT geolcit (citeinfo)>
<!ELEMENT gringlat (#PCDATA)>
<!ELEMENT gringlon (#PCDATA)>
<!ELEMENT caldate (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT taxonrn (#PCDATA)>
<!ELEMENT taxonrv (#PCDATA)>
<!ELEMENT common (#PCDATA)>
<!ELEMENT keywtax (taxonkt, taxonkey+)>
<!ELEMENT taxonsys (classsys+, idref*, ider+, taxonpro, taxoncom?, vouchers*)>
<!ELEMENT taxongen (#PCDATA)>
<!ELEMENT identifier (#PCDATA)>
<!ATTLIST identifier system CDATA #IMPLIED>
<!ELEMENT entityName (#PCDATA)>
<!ELEMENT entityDescription (#PCDATA)>
<!ELEMENT entityType (#PCDATA)>
<!ELEMENT spatialImage (spatialRepresentationType, imageIdentifier?, imageType, meanGroundSampleDistance?, groundToImageCoefficient?, imageSuitability?, params?)>
<!ELEMENT spatialGrid (spatialRepresentationType, cellType?, cellOrigin?, rows, columns, verticals?, scanResolution?, groundSpacing?, cellDomain?)>
<!ELEMENT spatialVector (spatialRepresentationType, geometricObjectType?, geometricObjectCount?, topologyLevel?)>
<!ELEMENT orientation EMPTY>
<!ATTLIST orientation columnorrow (columnmajor | rowmajor) #IMPLIED>
<!ELEMENT caseSensitive EMPTY>
<!ATTLIST caseSensitive yesorno (yes | no) #IMPLIED>
<!ELEMENT numberOfRecords (#PCDATA)>
<!ELEMENT westbc (#PCDATA)>
<!ELEMENT eastbc (#PCDATA)>
<!ELEMENT northbc (#PCDATA)>
<!ELEMENT southbc (#PCDATA)>
<!ELEMENT boundalt (altmin, altmax, altunits)>
<!ELEMENT dsgpolyo (grngpoin+ | gring)>
<!ELEMENT dsgpolyx (grngpoin+ | gring)>
<!ELEMENT taxonkt (#PCDATA)>
<!ELEMENT taxonkey (#PCDATA)>
<!ELEMENT classsys (classcit, classmod?)>
<!ELEMENT idref (citeinfo)>
<!ELEMENT ider (cntinfo)>
<!ELEMENT taxonpro (#PCDATA)>
<!ELEMENT taxoncom (#PCDATA)>
<!ELEMENT vouchers (specimen, reposit)>
<!ELEMENT spatialRepresentationType (#PCDATA)>
<!ELEMENT imageIdentifier (#PCDATA)>
<!ELEMENT imageType (#PCDATA)>
<!ELEMENT meanGroundSampleDistance (spacing, unit)>
<!ELEMENT groundToImageCoefficient (#PCDATA)>
<!ELEMENT imageSuitability (illuminationElevationAngle?, illuminationAzimuthAngle?, imageOrientationAngle?, imagingCondition?, ImageQualityRatingSystem?, imageQualityCode?, cloudCoverPercentage?, preProcessingTypeCode?, compressionGenerationQuality?, triangulationIndicator?, radiometricDataAvailability?, ESDAvailability?)>
<!ELEMENT params (focalLength?, obliquityAngle?, imageSensorTime?, sensorCategory?, sensorMode?, spectralProperties?, fieldOfView?, orientationOnPlatform?, operationMode?, band*)>
<!ELEMENT cellType (#PCDATA)>
<!ELEMENT cellOrigin (#PCDATA)>
<!ELEMENT rows (#PCDATA)>
<!ELEMENT columns (#PCDATA)>
<!ELEMENT verticals (#PCDATA)>
<!ELEMENT scanResolution (xResolution, yResolution, zResolution)>
<!ELEMENT groundSpacing (xSpacing, ySpacing, zSpacing)>
<!ELEMENT cellDomain (toneGradation?, bitsPerBand?, cellAttributeDescription, cellUnit)>
<!ELEMENT geometricObjectType (#PCDATA)>
<!ELEMENT geometricObjectCount (#PCDATA)>
<!ELEMENT topologyLevel (#PCDATA)>
<!ELEMENT altmin (#PCDATA)>
<!ELEMENT altmax (#PCDATA)>
<!ELEMENT altunits (#PCDATA)>
<!ELEMENT classcit (citeinfo)>
<!ELEMENT classmod (#PCDATA)>
<!ELEMENT cntinfo ANY>
<!ELEMENT specimen (#PCDATA)>
<!ELEMENT reposit (cntinfo)>
<!ELEMENT spacing (#PCDATA)>
<!ELEMENT unit (#PCDATA)>
<!ELEMENT illuminationElevationAngle (#PCDATA)>
<!ELEMENT illuminationAzimuthAngle (#PCDATA)>
<!ELEMENT imageOrientationAngle (#PCDATA)>
<!ELEMENT imagingCondition (#PCDATA)>
<!ELEMENT ImageQualityRatingSystem (#PCDATA)>
<!ELEMENT imageQualityCode (#PCDATA)>
<!ELEMENT cloudCoverPercentage (#PCDATA)>
<!ELEMENT preProcessingTypeCode (#PCDATA)>
<!ELEMENT compressionGenerationQuality (#PCDATA)>
<!ELEMENT triangulationIndicator (#PCDATA)>
<!ELEMENT radiometricDataAvailability (#PCDATA)>
<!ELEMENT ESDAvailability (#PCDATA)>
<!ELEMENT focalLength (#PCDATA)>
<!ELEMENT obliquityAngle (#PCDATA)>
<!ELEMENT imageSensorTime (#PCDATA)>
<!ELEMENT sensorCategory (#PCDATA)>
<!ELEMENT sensorMode (#PCDATA)>
<!ELEMENT spectralProperties (#PCDATA)>
<!ELEMENT fieldOfView (#PCDATA)>
<!ELEMENT orientationOnPlatform (#PCDATA)>
<!ELEMENT operationMode (#PCDATA)>
<!ELEMENT band (sequenceIdentifier?, highWavelength?, lowWaveLength?, cameraCalibration?, filmDistortion?, lensDistortion?)>
<!ELEMENT xResolution (pixelsPerUnit, unit)>
<!ELEMENT yResolution (pixelsPerUnit, unit)>
<!ELEMENT zResolution (pixelsPerUnit, unit)>
<!ELEMENT xSpacing (#PCDATA)>
<!ELEMENT ySpacing (#PCDATA)>
<!ELEMENT zSpacing (#PCDATA)>
<!ELEMENT toneGradation (#PCDATA)>
<!ELEMENT bitsPerBand (#PCDATA)>
<!ELEMENT cellAttributeDescription (#PCDATA)>
<!ELEMENT cellUnit (#PCDATA)>
<!ELEMENT sequenceIdentifier (#PCDATA)>
<!ELEMENT highWavelength (#PCDATA)>
<!ELEMENT lowWaveLength (#PCDATA)>
<!ELEMENT cameraCalibration (#PCDATA)>
<!ELEMENT filmDistortion (#PCDATA)>
<!ELEMENT lensDistortion (#PCDATA)>
<!ELEMENT pixelsPerUnit (#PCDATA)>
