eml-coverage.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:coverage" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="eml:coverage">
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-coverage.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-07-11 19:10:03 $'
      '$Revision: 1.6 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>eml-coverage</moduleName>
      <moduleDescription>
        The eml-coverage module contains fields for describing the 
        coverage of a resource in terms of time, space, and taxonomy. This
        coverages (temporal, spatial, and taxonomic) represent the extent
        of applicability of the resource in those domains.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="temporalCov" type="TemporalCoverage">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
            Temporal coverage
        </tooltip>
        <summary>
            Temporal coverage descriptor.
        </summary>
        <description>
            This element specifies temporal coverage, and allows coverages
            to be a single point in time, multiple points in time, or a
            range of dates.  Dates can be expressed in tems of both 
            calander dates and geologic dating systems.
        </description>
        <example/>
        <lineage>
          The TemporalCoverage complex type was introduced
          into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="geographicCov" type="GeographicCoverage">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
            Geographic coverage
        </tooltip>
        <summary>
            Geographic coverage information.
        </summary>
        <description>
          Geographic Coverage is a container for spatial information about a
          a project, a resource, or an entity within a resource.  It allows
          a bounding box for the overall coverage (in lat long), and also
          allows descriptin of arbitrary polygons with exclusions.
        </description>
        <example/>
        <lineage>
          The geographicCov element is derived from the NBII standard.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="taxonomicCov" type="TaxonomicCoverage">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
            Taxonomic coverage
        </tooltip>
        <summary>
            Taxonomic coverage information.
        </summary>
        <description>
          Taxonomic Coverage is a container for Taxonomic information about a
          a project, a resource, or an entity within a resource. It includes 
          a list of species names (or higher level ranks) from one or more
          classification systems.
        </description>
        <example/>
        <lineage>
          The TaxonomicCoverage complex type was introduced in EML 2 and 
          derived from the NBII taxonomy element.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TemporalCoverage">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
            Temporal coverage
        </tooltip>
        <summary>
            Temporal coverage descriptor.
        </summary>
        <description>
            This element specifies temporal coverage by 
          start and stop date.
        </description>
        <example/>
        <lineage>
          The TemporalCoverage complex type was introduced
          into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="sngdate"/>
      <xs:element ref="mdattim"/>
      <xs:element ref="rngdates"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="sngdate">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element name="caldate" type="xs:date"/>
          <xs:element name="time" type="xs:time" minOccurs="0"/>
        </xs:sequence>
        <xs:element ref="geolage"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="begdate" type="xs:date"/>
  <xs:element name="begtime" type="xs:time"/>
  <xs:element name="enddate" type="xs:date"/>
  <xs:element name="endtime" type="xs:time"/>
  <xs:element name="geolage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="geolscal" type="xs:string"/>
        <xs:element name="geolest" type="xs:string"/>
        <xs:element name="geolun" type="xs:string" minOccurs="0"/>
        <xs:element name="geolexpl" type="xs:string" minOccurs="0"/>
        <xs:element name="geolcit" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="citeinfo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="beggeol">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="geolage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endgeol">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="geolage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mdattim">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sngdate" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rngdates">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="begdate"/>
          <xs:element ref="begtime" minOccurs="0"/>
          <xs:element ref="enddate"/>
          <xs:element ref="endtime" minOccurs="0"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="beggeol"/>
          <xs:element ref="endgeol"/>
        </xs:sequence>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GeographicCoverage">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
            Geographic coverage
        </tooltip>
        <summary>
            Geographic coverage information.
        </summary>
        <description>
          Geographic Coverage is a container for spatial information about a
          a project, a resource, or an entity within a resource.
        </description>
        <example/>
        <lineage>
          The GeographicCoverage complex type was derived from the eml-entity
          module in EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="descgeog" type="xs:string"/>
      <xs:element name="bounding">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="westbc" type="xs:string"/>
            <xs:element name="eastbc" type="xs:string"/>
            <xs:element name="northbc" type="xs:string"/>
            <xs:element name="southbc" type="xs:string"/>
            <xs:element name="boundalt" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="altmin" type="xs:string"/>
                  <xs:element name="almax" type="xs:string"/>
                  <xs:element name="altunits" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dsgpoly" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dsgpolyo">
              <xs:complexType>
                <xs:choice>
                  <xs:sequence>
                    <xs:element ref="grngpoin"/>
                    <xs:element ref="grngpoin"/>
                    <xs:element ref="grngpoin"/>
                    <xs:element ref="grngpoin" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:element ref="gring"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="dsgpolyx" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:choice>
                  <xs:sequence>
                    <xs:element ref="grngpoin"/>
                    <xs:element ref="grngpoin"/>
                    <xs:element ref="grngpoin"/>
                    <xs:element ref="grngpoin" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:element ref="gring"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="grngpoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gringlat" type="xs:string"/>
        <xs:element name="gringlon" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gring" type="xs:string"/>
  <xs:complexType name="TaxonomicCoverage">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
            Taxonomic coverage
        </tooltip>
        <summary>
            Taxonomic coverage information.
        </summary>
        <description>
          Taxonomic Coverage is a container for Taxonomic information about a
          a project, a resource, or an entity within a resource.
        </description>
        <example/>
        <lineage>
          The TaxonomicCoverage complex type was introduced in EML 2 and 
          derived from the NBII taxonomy element.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="keywtax" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="taxonkt" type="xs:string"/>
            <xs:element name="taxonkey" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="taxonsys" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="classsys" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="classcit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="citeinfo"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="classmod" type="xs:string" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="idref" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="citeinfo"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ider" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="cntinfo"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="taxonpro" type="xs:string"/>
            <xs:element name="taxoncom" type="xs:string" minOccurs="0"/>
            <xs:element name="vouchers" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="specimen" type="xs:string"/>
                  <xs:element name="reposit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="cntinfo"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="taxongen" type="xs:string" minOccurs="0"/>
      <xs:element ref="taxoncl"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="taxoncl">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="taxonrn" type="xs:string" minOccurs="0"/>
        <xs:element name="taxonrv" type="xs:string" minOccurs="0"/>
        <xs:element name="common" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="taxoncl" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="citeinfo"/>
</xs:schema>
