eml-resource.dtd

<!--         
       '$RCSfile: eml-resource.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2001-02-16 17:03:21 $'
      '$Revision: 1.6 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->

<!-- The root element -->
<!ELEMENT resource (dataset | literature)>

<!-- entity referring to the iso-party fields -->

<!ENTITY % resParty SYSTEM "http://alpha.nceas.ucsb.edu/dtd/schemas/iso-party.dtd">
%resParty;

<!ELEMENT keywordInfo (keyword?, keywordType?, keywordThesaurus*)>
<!ELEMENT keyword (#PCDATA)>
<!ELEMENT keywordType (#PCDATA)>
<!ELEMENT keywordThesaurus (#PCDATA)>

<!-- common fields -->
<!ELEMENT identifier (#PCDATA)>
<!ELEMENT datafileid (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT alternateTitle (#PCDATA)>
<!ELEMENT originator ((%responsibleParty;))>
<!ELEMENT pubdate (#PCDATA)>
<!ELEMENT pubplace (#PCDATA)>
<!ELEMENT series (#PCDATA)>
<!ELEMENT abstract (#PCDATA)>
<!ELEMENT url (URL)>
<!ELEMENT additionalInfo (#PCDATA)>

<!-- entity to conglomerate these fields into one name -->
<!ENTITY % resbase "(identifier?, datafileid?, title, alternateTitle?, 
                     originator+, pubdate?,
                     pubplace?, series?, abstract?, 
                     keywordInfo*, url*, additionalInfo?)" >

<!-- The dataset branch -->
<!ELEMENT dataset ((%resbase;), geoForm)>
<!ELEMENT geoForm (#PCDATA)>

<!-- The literature branch -->
<!ELEMENT literature ((%resbase;), ISBN?, ISSN?, editor*, 
                      edition?, volume?)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT ISSN (#PCDATA)>
<!ELEMENT editor (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!ELEMENT volume (#PCDATA)>

<!-- EOF -->
