eml-entity.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:entity-2.0.0beta8" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:doc="eml:documentation-2.0.0beta8" 
           xmlns:cov="eml:coverage-2.0.0beta8" 
           xmlns="eml:entity-2.0.0beta8">
  <xs:import namespace="eml:documentation-2.0.0beta8" schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml:coverage-2.0.0beta8" schemaLocation="eml-coverage.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-entity.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: berkley $'
          '$Date: 2002-05-09 17:49:35 $'
      '$Revision: 1.36 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-entity</doc:moduleName>
      <doc:moduleDescription>
        The EML Entity Module defines the logical characteristics of every
        entity in the dataset.  Entities are usually tables of data with a
        fixed logical structure, but could also be other types of data such
        as raster or vector image data.  The "table-entity" element is used
        to describe all table entities, and the "other-entity" element would
        be used to describe all other types of entities.  Specific details of
        non-tabular entities are left to other standards (e.g., for remote
        sensing data, one should include a spatial metadata module such as
        the FGDC Content Standard for Digitial Geospatial Metadata [CSDGM]).
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:element name="otherEntity" type="OtherEntity">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Other Entity descriptor
        </doc:tooltip>
        <doc:summary>
          Descriptor of single non-table entity in the dataset.
        </doc:summary>
        <doc:description>
          The other entity element is a descriptor of one non-tabular entity in the
          dataset, identified by its name. The element can contain information
          about the entity's basic identity, its temporal, geographic and
          taxonomic coverage, and its type.
        </doc:description>
        <doc:example>
           Photograph of rocky intertidal plot 12 from Santa Cruz Island 
        </doc:example>
        <doc:lineage>
          The entity element was introduced into EML 1.4 as file.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
    
  <xs:complexType name="OtherEntity">
    <xs:complexContent>
      <xs:extension base="EntityBase">
        <xs:sequence>
          <xs:element name="entityType" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  Entity type
                </doc:tooltip>
                <doc:summary>
                  Contains the name of the type for this entity.
                </doc:summary>
                <doc:description>
                  This element contains the name of the entity's type.
                  The entity's type is typically the name of the data
                  type represented in the entity, such as raster image,
                  vector image, etc.  This field should only be used if this
                  is an 'other' entity and you want to specify what the
                  'other' entity is.
                </doc:description>
                <doc:example><![CDATA[<entityType>Raster Image</entityType>]]></doc:example>
                <doc:lineage>
                  The entityType element was introduced into EML 1.4 as 
                  entityFormat.
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="EntityBase">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Base Entity descriptors
        </doc:tooltip>
        <doc:summary>
          Basic information about an entity common to all entity types.
        </doc:summary>
        <doc:description>
          Basic information about all entity types, including name and
          coverage of the entity.  The term entity is used in the sense of
          an entity in a relational model; it generally represents a table,
          but can also represent an image or other
          type of data.
        </doc:description>
        <doc:example>
        See 'eml-coverage' for descriptions of the coverage elements
        </doc:example>
        <doc:lineage>
          The eml-entity was introduced into EML 1.4 as eml-file.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Unique identifier
            </doc:tooltip>
            <doc:summary>
              The unique identifier of this metadata file or object.
            </doc:summary>
            <doc:description>
              The identifier field provides a unique identifier for this
              metadata documentation.  It will most likely be part of a 
              sequence of numbers or letters that are meaningful in a 
              larger context, such as a metadata catalog. That larger
              system can be identified in the "system" attribute. Multiple
              identifiers can be listed corresponding to different catalog
              systems.
            </doc:description>
            <doc:example><![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
            <doc:lineage>
              The 'identifier' field is derived from the eml-dataset 
              meta_file_id filed in EML 1.4.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="system" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Catalog system
                    </doc:tooltip>
                    <doc:summary>
                      The catalog system in which this identifier is used.
                    </doc:summary>
                    <doc:description>
                      This element gives the name of the catalog system in which
                      this identifier is used.  It is useful to determine the
                      scope of the identifier, and to determine the semantics
                      of the various subparts of the identifier. Unresolved issue:
                      can or should this be a URI/URL pointing to the catalog
                      system, or just the name?
                    </doc:description>
                    <doc:example><![CDATA[
                  <identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
                    <doc:lineage>
                  New to EML 2.0.
                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="entityName" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Entity name
            </doc:tooltip>
            <doc:summary>
              Entity name specifier
            </doc:summary>
            <doc:description>
              The name identifies the entity in the dataset: file name, 
              name of database table, etc.
            </doc:description>
            <doc:example>
              SpeciesAbundance1996
            </doc:example>
            <doc:lineage>
              The entityName was introduced into EML 1.4.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="entityDescription" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Entity description
            </doc:tooltip>
            <doc:summary>
              General description of the entity and its contents
            </doc:summary>
            <doc:description>
              A paragraph of text generally describing the entity, its type, and
              relevant information about the data in the entity.
            </doc:description>
            <doc:example>
              Species abundance data for 1996 at the VCR LTER
            </doc:example>
            <doc:lineage>
              Introduced in EML 2
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="cov:temporalCov"/>
      <xs:element ref="cov:geographicCov"/>
      <xs:element ref="cov:taxonomicCov"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <!--SHARED SPATIAL TYPES-->
  <xs:simpleType name="SpatialRepresentationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="raster"/>
      <xs:enumeration value="vector"/>
      <xs:enumeration value="image"/>
      <xs:enumeration value="text"/>
      <xs:enumeration value="matrix"/>
      <xs:enumeration value="TIN"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="LengthUnitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="millimetre"/>
      <xs:enumeration value="centimetre"/>
      <xs:enumeration value="metre"/>
      <xs:enumeration value="kilometre"/>
      <xs:enumeration value="internationalInch"/>
      <xs:enumeration value="internationalFoot"/>
      <xs:enumeration value="internatinalMile"/>
      <xs:enumeration value="nauticalMile"/>
      <xs:enumeration value="degree"/>
      <xs:enumeration value="arcMinute"/>
      <xs:enumeration value="arcSecond"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="SpatialRepresentation">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Description of an image layer created from a sensor or scanner
        </doc:tooltip>
        <doc:summary>
          Description of an image layer created from a sensor or scanner
        </doc:summary>
        <doc:description>
          Description of an image layer created from a sensor or scanner
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The spatial entity elements were introduced into EML 2.0 beta 7
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="EntityBase">
        <xs:sequence>
          <xs:element name="horizontalAccuracy" type="DataQuality"/>
          <xs:element name="verticalAccuracy" type="DataQuality"/>
          <xs:element name="spatialRepresentationType" type="SpatialRepresentationType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="DataQuality">
    <xs:sequence>
      <xs:element name="accuracyReport" type="xs:string"/>
      <xs:element name="quantitativeAccuracyReport" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="quantitativeAccuracyValue" type="xs:string"/>
            <xs:element name="quantitativeAccuracyMethod" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
