eml-attribute.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:attribute-2.0.0beta8" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="eml:documentation-2.0.0beta8" xmlns:lit="eml:literature-2.0.0beta8" xmlns:cov="eml:coverage-2.0.0beta8" xmlns:rp="eml:party-2.0.0beta8" xmlns:pro="eml:protocol-2.0.0beta8" xmlns="eml:attribute-2.0.0beta8">
  <xs:import namespace="eml:documentation-2.0.0beta8" schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml:literature-2.0.0beta8" schemaLocation="eml-literature.xsd"/>
  <xs:import namespace="eml:coverage-2.0.0beta8" schemaLocation="eml-coverage.xsd"/>
  <xs:import namespace="eml:party-2.0.0beta8" schemaLocation="eml-party.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-attribute.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
     Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: berkley $'
          '$Date: 2002-06-11 21:23:51 $'
      '$Revision: 1.44 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-attribute</doc:moduleName>
        <doc:moduleDescription>
          The EML Attribute Module describes all attributes (variables) in
          a data entity (e.g., data table).  The description includes the name
          and definition of each attribute, its type, its allowable range
          (if numeric), definitions of coded values, and other pertinent
          information.
        </doc:moduleDescription>
        <doc:recommendedUsage>
          all datasets that use tableEntities
        </doc:recommendedUsage>
        <doc:standAlone>
          yes
        </doc:standAlone>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="attribute" type="AttributeType"/>
  <xs:complexType name="AttributeListType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          AttributeType complex type
        </doc:tooltip>
        <doc:summary>
          container for attributes, attributeLists or references
        </doc:summary>
        <doc:description>
           This complexType is a choice between attribute, attributeList
           and references.  attribute is used to define a single attribute,
           attributeList is used to define a discreet list of attributes
           that go together in some logical way and references links
           other metadat into this module.
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The eml-attribute was introduced into EML 1.4 as eml-variable.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice>
      <xs:element name="attribute" type="AttributeType" maxOccurs="unbounded"/>
      <xs:element name="references" type="xs:string"/>
    </xs:choice>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Attribute descriptors
        </doc:tooltip>
        <doc:summary>
          Container of attribute descriptors of all attributes in a dataset.
        </doc:summary>
        <doc:description>
           Eml-attribute element represents a list of all attributes in a
           dataset.
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The eml-attribute was introduced into EML 1.4 as eml-variable.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element name="attributeName" type="xs:string">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Attribute name
              </doc:tooltip>
              <doc:summary>
                Attribute name for identification
              </doc:summary>
              <doc:description>
                This element specifies name of the attribute (field)
                in the dataset. This information is typically used as
                a column header for the field/variable in a spreadsheet.
                It is usually terse, without spaces, and can be used
                to "name" a column in a table definition statement.
              </doc:description>
              <doc:example>
               spden
              </doc:example>
              <doc:lineage>
                The attributeName was introduced into EML 1.4.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="attributeLabel" type="xs:string" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Attribute label
              </doc:tooltip>
              <doc:summary>
                A label that better describes an attribute than its name
              </doc:summary>
              <doc:description>
                A brief label used to describe the attribute.  This
                is often needed because attribute names are usually
                very terse- often shortened to 8 characters or less to
                deal with analysis systems. A label is provided as
                a concise but more descriptive representation of
                the attribute.
              </doc:description>
              <doc:example>
                "Species Density" is a label for attribute with
                 name "spden"
              </doc:example>
              <doc:lineage>
                Introduced in EML 2.0
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="attributeDefinition" type="xs:string">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Attribute definition
              </doc:tooltip>
              <doc:summary>
                Precise definition of attribute in the dataset
              </doc:summary>
              <doc:description>
                This element gives a precise definition of attribute
                in the dataset. It explains the contents of the attribute
                fully and possibly provides pointers to the methods
                used to generate the attribute data.
              </doc:description>
              <doc:example>
                "spden" is the number of individuals of all
                 macroinvertebrate species found in the plot
              </doc:example>
              <doc:lineage>
                The attributeDefinition was introduced into EML 1.4.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="unit">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Unit of measurement
              </doc:tooltip>
              <doc:summary>
                Unit of measurement for data in the field
              </doc:summary>
              <doc:description>
                This field is composed of a unitName and a unitThesaurus.
                The unitName is the name of the unit as defined in the 
                specified thesaurus.  For more information see the documentation
                for unitName and unitThesaurus.
              </doc:description>
              <doc:example>
              </doc:example>
              <doc:lineage>
                The unit was introduced into EML 1.4.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="unitName" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      name of the unit
                    </doc:tooltip>
                    <doc:summary>
                      The name of the unit used to make this measurement
                    </doc:summary>
                    <doc:description>
                      unitName is the name of the unit used in making this
                      measurement.  It should be accompanied by a thesaurus
                      of structured unit types.  It is recommended that STMML
                      be used to add new unitNames if they do not exist in the
                      thesaurus.  EML ships with an STMML thesaurus that can 
                      be modified as needed.
                    </doc:description>
                    <doc:example>
                      meter
                    </doc:example>
                    <doc:lineage>
                      introduced in EML 2.0.0Beta9
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="unitThesaurus" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Thesaurus for the unitName
                    </doc:tooltip>
                    <doc:summary>
                      The thesaurus for the unitName.
                    </doc:summary>
                    <doc:description>
                      This specifies the thesaurus for the unitName field.  
                      This thesaurus should be a parsable, structured document
                      that not only lists the names of each unit but also 
                      defines how each unit is made up.  For example, it must
                      show that m/s^2 is a length divided by a time to the -2
                      power.  EML ships with an STMML thesaurus that should be
                      sufficient for most purposes.  If is not, it can be
                      modified to meet individual needs.  This field can be 
                      a URL to an online thesaurus.
                    </doc:description>
                    <doc:example>
                      eml-unitDictionary.xml
                      http://knb.ecoinformatics.org/eml/eml-unitDictionary.xml
                    </doc:example>
                    <doc:lineage>
                      introduced in EML 2.0.0Beta9
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="storageType" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Data type
              </doc:tooltip>
              <doc:summary>
                Description of storage type for this field
              </doc:summary>
              <doc:description>
                This element describes the storage type for data in the
                field like: xs:integer, xs:double, xs:string, etc.
                It is recommended that at a minimum the XML Schema type
                system should be used, although this is not required.
                Whatever type system is used should be noted in the
                'unitSystem' attribute described below.
              </doc:description>
              <doc:example>
                xs:string, xs:integer
              </doc:example>
              <doc:lineage>
                From storageType, introduced in EML 1.4.
                Transformed to dataType in EML 2.0 Beta 1.
                Transformed to storageType in EML 2.0 Beta 9
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="unitSystem" type="xs:string" use="optional" default="XML-SCHEMA">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                        The system used to define the storage types
                      </doc:tooltip>
                      <doc:summary>
                        The system used to define the storage types.  This should
                        be an identifier of a well known and published typing system.
                      </doc:summary>
                      <doc:description>
                        The system used to define the storage types.  This should
                        an identifier of a well known and published typing system.
                        It is recommended to use the XML Schema data type
                        system.  For details go to http://www.w3.org.  If
                        another system is used (such as Java or C++ types)
                        unitSystem should be be changed to match the
                        system.
                      </doc:description>
                      <doc:example><![CDATA[
                              <storageType unitSystem="STMML">xs:integer</storageType]]></doc:example>
                      <doc:lineage>
                        New to EML 2.0.
                      </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="measurementScale">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                The scale of the measured attribute.
              </doc:tooltip>
              <doc:summary>
                The scale of the measured attribute. This provides
                information about the scale in which the data was
                collected.
              </doc:summary>
              <doc:description>
                The scale of the measured attribute. This provides
                information about the scale in which the data was
                collected.  The allowed values are 'ratio', 'ordinal',
                'nominal' and 'interval'
              </doc:description>
              <doc:example>
                nominal
              </doc:example>
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ratio"/>
              <xs:enumeration value="nominal"/>
              <xs:enumeration value="ordinal"/>
              <xs:enumeration value="interval"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="attributeDomain">
          <xs:complexType>
            <xs:choice>
              <xs:element name="enumeratedDomain">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                      Code definition
                    </doc:tooltip>
                    <doc:summary>
                      Description of any codes associated with the attribute
                    </doc:summary>
                    <doc:description>
                      This element describes any code associated with the
                      attribute.
                    </doc:description>
                    <doc:example>
                      The format will typically be : "code" has "definition",
                       e.g. "1" = "high", "2" = "medium", "3" = "low"
                    </doc:example>
                    <doc:lineage>
                      The codeDefinition was introduced into EML 1.4.
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element name="code" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                            Code
                          </doc:tooltip>
                          <doc:summary>
                            Code associated with the attribute
                          </doc:summary>
                          <doc:description>
                            This element specifies a code associated with
                            the attribute.
                          </doc:description>
                          <doc:example>
                           "1" would be the code for "high" (where high is the description
                            of the code)
                          </doc:example>
                          <doc:lineage>
                            The code element was introduced into EML 1.4.
                          </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="definition" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                            Code definition
                          </doc:tooltip>
                          <doc:summary>
                            Description of the code associated with
                            the attribute.
                          </doc:summary>
                          <doc:description>
                            This element describes the code associated
                            with the attribute.
                          </doc:description>
                          <doc:example>
                            "high" would be the definition for a code of "1"
                          </doc:example>
                          <doc:lineage>
                            The definition element is from EML 1.4.
                          </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="source" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                            Source of code
                          </doc:tooltip>
                          <doc:summary>
                            The name of the source for this code and
                            its definition
                          </doc:summary>
                          <doc:description>
                            The name of the source from which this code
                            and its associated definition are drawn.
                            This is commonly used for identifying
                            standard coding systems, like the FIPS
                            standard for postal abbreviations for states
                            in the US. In other cases, the coding may be the
                            researcher's customized way of recording and classifying
                            their data, and no external "source" would exist.
                          </doc:description>
                          <doc:example>ISO country codes</doc:example>
                          <doc:lineage>
                            Introduced in EML 2.0
                          </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="enforced" default="yes">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="textDomain">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Text domain</doc:tooltip>
                    <doc:summary>
                      Description of a free-text domain pattern for
                      the attribute
                    </doc:summary>
                    <doc:description>
                      This element describes a free text domain for
                      the attribute.  By default, if pattern is missing
                      or empty, then any text is allowed.  If pattern
                      is present, then it is interpreted as a regular
                      expression constraining the allowable character
                      sequences for the attribute.
                    </doc:description>
                    <doc:example>
                      Typically, a textdomain will have an empty pattern
                      or one that constrains allowable values. For
                      example, '[0-9]{3}-[0-9]{3}-[0-9]{4}' allows
                      for only numeric digits in the pattern of a US
                      phone number.
                    </doc:example>
                    <doc:lineage>
                      Introduced in EML 2.0.0beta5
                    </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="definition" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                Text domain definition
                              </doc:tooltip>
                          <doc:summary>
                                Definition of what this text domain represents
                              </doc:summary>
                          <doc:description>
                                The text domain definition indicates what
                                the purpose of the text domain is for this
                                attribute.  For example, a particular pattern
                                may be meant to represent phone numbers in
                                the US phone system format, or it may be
                                used to extend an enumerated domain with
                                free text or pattern-constrained values.
                              </doc:description>
                          <doc:example>
                                US telephone numbers in the format "(999) 888-7777"
                              </doc:example>
                          <doc:lineage>
                                The definition element is from EML 1.4.
                              </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                  Text pattern
                                </doc:tooltip>
                          <doc:summary>
                                  Regular expression pattern constraining
                                  the attribute
                                </doc:summary>
                          <doc:description>
                                  The "pattern" element specifies a regular
                                  expression pattern that constrains the
                                  set of allowable values for the attribute.
                                  This is commonly used to define template
                                  patterns for data such as phone numbers
                                  where the attribute is text but the
                                  values are not drawn from an enumeration.
                                  If the pattern field is empty or missing,
                                  it defaults to '.*', which matches any
                                  string, including the empty string.
                                  Repeated pattern elements are combined
                                  using logical OR.  The regular expression
                                  syntax is the same as that used in the
                                  XML Schema Datatypes Recommendation from
                                  the W3C.
                                </doc:description>
                          <doc:example>
                                '[0-9a-zA-Z]' matches simple alphanumeric
                                strings and '(\d\d\d) \d\d\d-\d\d\d\d'
                                represents telephone strings in the US of
                                the form '(704) 876-1734'
                                </doc:example>
                          <doc:lineage>
                                  The pattern element was introduced into EML 2.0.0beta5.
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="source" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                Source of text domain
                              </doc:tooltip>
                          <doc:summary>
                                The name of the source for this text domain.
                              </doc:summary>
                          <doc:description>
                                The name of the source from which this text domain
                                and its associated definition are drawn.
                                This is commonly used for identifying
                                standard coding systems, like the FIPS
                                standard for postal abbreviations for states
                                in the US. In other cases, the coding may be the
                                researcher's customized way of recording and classifying
                                their data, and no external "source" would exist.
                              </doc:description>
                          <doc:example>ISO country codes</doc:example>
                          <doc:lineage>
                                Introduced in EML 2.0
                              </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="numericDomain" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                            Numeric Domain
                          </doc:tooltip>
                    <doc:summary>
                            Numeric domain of attribute specifying allowed value range
                          </doc:summary>
                    <doc:description>
                            This element specifies the minimum and maximum values
                            of a numeric attribute.  These are theoretical or expected
                            values, and not necessarily the actual minimum and maximum
                            occurring in a given data set.
                          </doc:description>
                    <doc:example/>
                    <doc:lineage>
                            The numericDomain was introduced into EML 1.4 as rangeDomain
                          </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="minimum" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                  Minimum numeric range
                                </doc:tooltip>
                          <doc:summary>
                                  Minimum numeric range of attribute
                                </doc:summary>
                          <doc:description>
                                  This element specifies the minimum value range
                                  of numeric attribute.
                                </doc:description>
                          <doc:example/>
                          <doc:lineage>
                                  The minimum element was introduced into EML 1.4.
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="maximum" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                                    Maximum numeric range
                                </doc:tooltip>
                          <doc:summary>
                                       Maximum numeric range of attribute
                                </doc:summary>
                          <doc:description>
                                     This element specifies the maximum value range
                                  of numeric attribute.
                                </doc:description>
                          <doc:example/>
                          <doc:lineage>
                                  The maximum element was introduced into EML 1.4.
                                </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="missingValueCode" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                      Character for missing value
                    </doc:tooltip>
              <doc:summary>
                      Character for missing value in the data of the field
                    </doc:summary>
              <doc:description>
                      This element is to specify missing value in the data
                      of the field.
                    </doc:description>
              <doc:example/>
              <doc:lineage>
                      The missingValueCode was introduced into EML 1.4.
                    </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                            The missing value code itself.
                          </doc:tooltip>
                    <doc:summary>
                            The missing value code itself.
                          </doc:summary>
                    <doc:description>
                            The missing value code itself.  This should describe
                            what is placed into a data grid if the value is
                            missing for some reason.
                          </doc:description>
                    <doc:example>
                            -9999, -1, N/A, MISSING, .
                          </doc:example>
                    <doc:lineage>
                            Added in EML-2.0.0beta9
                          </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="codeExplanation" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                            An explanation of why the missing value code was
                            used.
                          </doc:tooltip>
                    <doc:summary>
                            An explanation of why the missing value code was
                            used.
                          </doc:summary>
                    <doc:description>
                            An explanation of why the missing value code was
                            used.  This should also explain what different
                            missing value codes mean. For instance if -9999
                            represents a sensor error and -1 represents
                            a technician error this should be noted.
                          </doc:description>
                    <doc:example>
                            Sensor down time.
                          </doc:example>
                    <doc:lineage>
                            Added in eml-2.0.0beta9
                          </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="precision" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                      Precision
                    </doc:tooltip>
              <doc:summary>
                      Number of significat digits after the floating point.
                    </doc:summary>
              <doc:description>
                      If data of that field are of floating point storage type
                      this element specifies the number of significat digits
                      after the floating point.
                    </doc:description>
              <doc:example>
                      any integer number
                    </doc:example>
              <doc:lineage>
                      The precision element was introduced into EML 1.4.
                    </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="accuracy" type="Accuracy">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                      The accuracy of the measured attribute
                    </doc:tooltip>
              <doc:summary>
                      The accuracy of the attribute. This information should
                      describe any accuracy information that is known about
                      the collection of this data attribute.
                    </doc:summary>
              <doc:description>
                      The accuracy of the attribute. This information should
                      describe any accuracy information that is known about
                      the collection of this data attribute.  The content
                      model of this metadata is taken directly from FGDC
                      FGDC-STD-001-1998 section 2 with the exception of
                      processContact, sourceCitation, and timePeriodInformation
                      which either user XMLSchema types or use predefined
                      EML types for these purposes.
                    </doc:description>
              <doc:example/>
              <doc:lineage>
                      New in EML 2.0.0beta9
                    </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="coverage" type="cov:Coverage" minOccurs="0"/>
      </xs:sequence>
      <xs:element name="references" type="xs:string"/>
    </xs:choice>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="system" type="xs:string" use="optional"/>
    <xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
  </xs:complexType>
  <xs:complexType name="Accuracy">
    <xs:sequence>
      <xs:element name="attributeAccuracyReport" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              an explanation of the accuracy of the identification of the
              entities and assignments of values in the data set and a
              description of the tests used.
            </doc:tooltip>
            <doc:summary>
              an explanation of the accuracy of the identification of the
              entities and assignments of values in the data set and a
              description of the tests used.
            </doc:summary>
            <doc:description>
              an explanation of the accuracy of the identification of the
              entities and assignments of values in the data set and a
              description of the tests used.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              FGDC-STD-001-1998 section 2
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantitativeAttributeAccuracyAssessment" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              a value assigned to summarize the accuracy of the
              identification of the entities and assignments of values
              in the data set and the identification of the test that
              yielded the value.
            </doc:tooltip>
            <doc:summary>
              a value assigned to summarize the accuracy of the
              identification of the entities and assignments of values
              in the data set and the identification of the test that
              yielded the value.
            </doc:summary>
            <doc:description>
              a value assigned to summarize the accuracy of the
              identification of the entities and assignments of values
              in the data set and the identification of the test that
              yielded the value.
            </doc:description>
            <doc:example/>
            <doc:lineage>
              FGDC-STD-001-1998 section 2
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attributeAccuracyValue" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    an estimate of the accuracy of the identification of
                    the entities and assignments of attribute values
                    in the data set.
                  </doc:tooltip>
                  <doc:summary>
                    an estimate of the accuracy of the identification of
                    the entities and assignments of attribute values
                    in the data set.
                  </doc:summary>
                  <doc:description>
                    an estimate of the accuracy of the identification of
                    the entities and assignments of attribute values
                    in the data set.
                  </doc:description>
                  <doc:example/>
                  <doc:lineage>
                    FGDC-STD-001-1998 section 2
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="attributeAccuracyExplanation" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    the identification of the test that yielded the
                    Attribute Accuracy Value.
                  </doc:tooltip>
                  <doc:summary>
                    the identification of the test that yielded the
                    Attribute Accuracy Value.
                  </doc:summary>
                  <doc:description>
                    the identification of the test that yielded the
                    Attribute Accuracy Value.
                  </doc:description>
                  <doc:example/>
                  <doc:lineage>
                    FGDC-STD-001-1998 section 2
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="attributeList" type="AttributeListType"/>
</xs:schema>
