eml-protocol.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:protocol-2.0.0beta8" xmlns:cit="eml:literature-2.0.0beta8" xmlns:ds="eml:dataset-2.0.0beta8" xmlns:soft="eml:software-2.0.0beta8" xmlns="eml:protocol-2.0.0beta8" xmlns:res="eml:resource-2.0.0beta8" xmlns:doc="eml:documentation-2.0.0beta8" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:import namespace="eml:dataset-2.0.0beta8" schemaLocation="eml-dataset.xsd"/>
  <xs:import namespace="eml:resource-2.0.0beta8" schemaLocation="eml-resource.xsd"/>
  <xs:import namespace="eml:software-2.0.0beta8" schemaLocation="eml-software.xsd"/>
  <xs:import namespace="eml:documentation-2.0.0beta8" schemaLocation="eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-protocol.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: berkley $'
          '$Date: 2002-06-11 18:06:53 $'
      '$Revision: 1.27 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-protocol</doc:moduleName>
        <doc:moduleDescription>
          The EML Protocol Module is used to describe methods and identify the 
          proccesses that have been used to define / improve the quality of a 
          data file, also used to identify potential problems with the data file.
        </doc:moduleDescription>
        <doc:recommendedUsage>
          all datasets
        </doc:recommendedUsage>
        <doc:standAlone>
          yes
        </doc:standAlone>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="eml:literature-2.0.0beta8" schemaLocation="eml-literature.xsd"/>
  <xs:complexType name="ProtocolType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
       ProtocolType</doc:tooltip>
        <doc:summary>
          A reusable container for protocol-related information
        </doc:summary>
        <doc:description> 
          The ProtocolType container defines a number of reusable fields that
          can be referenced from multiple EML modules.
        </doc:description>
        <doc:example>
          Please see the examples for the sub-fields.
        </doc:example>
        <doc:lineage>
          Introduced in EML 2.0
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:group ref="res:ResourceGroup"/>
        <xs:element name="methodStep" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                  method information
                </doc:tooltip>
              <doc:summary>
                  Information about the methods employed in collecting or 
                  generating a data set or other resource.
                </doc:summary>
              <doc:description> 
                  The methodStep field allows for repeated sets of elements that
                  document a series of procedures followed to produce a data 
                  object.  These include text descriptions of the procedures, 
                  relevant literature, software, instrumentation, source data 
                  and any quality control measures taken.
                </doc:description>
              <doc:example>
                  Please see the examples for the sub-fields.
                </doc:example>
              <doc:lineage>
                  Derived from EML 1.4; related to FGDC ProcessingStep
                </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                        Method description
                      </doc:tooltip>
                    <doc:summary>
                        Description of the methods employed in collecting or 
                        generating a data set or other resource.
                      </doc:summary>
                    <doc:description> 
                        The description field allows for repeated paragraphs 
                        of text that describe the methodology for a project, 
                        experiment, or particular data table.  Likewise, a 
                        literature citation may be provided that describes the 
                        methodology that was employed.
                      </doc:description>
                    <doc:example><![CDATA[
                <paragraph>
                  1.Collect tissues from algae of interest.
                </paragraph>
                <paragraph>
                  a.We are currently collecting Egregia menziezii, Mazzaella 
                  splendens, M. flaccida, Hedophyllum sessile, Postelsia 
                  palmaeformis and Fucus gardneri.We stopped collecting 
                  Neorhodomela larix and Odonthalia floccosa because they can be 
                  heavily fouled and we feared that would skew the results.
                </paragraph>
                <paragraph>
                  b.We collect a 7-10 cm blade or branch from each plant. For 
                  Egregia, try to sample small, young plants or take the base of 
                  the blade. For Postelsia, take a few of the blades. The other 
                  plants are small enough so a whole blade can be taken.
                </paragraph>
                </paragraph>
              ]]></doc:example>
                    <doc:lineage>
                        Derived from EML 1.4
                      </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="paragraph"/>
                    <xs:element name="citation" type="cit:CitationType">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                              Literature citation
                            </doc:tooltip>
                          <doc:summary>
                             Citation of any literature that provides the 
                             protocol description
                            </doc:summary>
                          <doc:description> 
                              The citation field allows reference to a 
                              publication in which the full description of the 
                              method is provided
                            </doc:description>
                          <doc:example>
                              see content model for eml-literature
                            </doc:example>
                          <doc:lineage>
                             New in EML 2.0
                            </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="protocol" type="ProtocolType"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="instrumentation" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                        Instrumentation
                      </doc:tooltip>
                    <doc:summary>
                        Instruments used for measurement and recording data.
                      </doc:summary>
                    <doc:description> 
                        The Instrumentation field allows the description of 
                        any instruments used in the data collection. The 
                        description should include vendor, model number, 
                        optional equipment, etc. 
                      </doc:description>
                    <doc:example><![CDATA[
                        <instrumentation>
                          LACHAT analyzer, model XYZ
                        </instrumentation>]]></doc:example>
                    <doc:lineage>
                        New in EML 2.0
                      </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="software" type="soft:SoftwareType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                        Software
                      </doc:tooltip>
                    <doc:summary>
                        Software used in the processing of data.
                      </doc:summary>
                    <doc:description> 
                       The software element allows reference to any software used                       to process data. 
                      </doc:description>
                    <doc:example><![CDATA[
                        see content model for eml-software complex type]]></doc:example>
                    <doc:lineage>
                        Introduced in EML 2.0
                      </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="sourcDatasetUsed" type="ds:DatasetType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                        Source Dataset Used
                      </doc:tooltip>
                    <doc:summary>
                       An existing dataset that was used as a primary source to 
                       produce a secondary data product.
                      </doc:summary>
                    <doc:description> 
                        The sourceDatasetUsed element allows reference to any 
                        existing dataset(s) that were used as source data to 
                        produce this datset. A metadata description of an NDVI 
                        image would include a sourceDatasetUsed element to 
                        reference the remote sensing image upon which it was 
                        calculated. 
                      </doc:description>
                    <doc:example>
                        Please see the content model for eml-dataset
                      </doc:example>
                    <doc:lineage>
                        FGDC-STD-001-1998 source used
                      </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="qualityControl" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                        Quality Control
                      </doc:tooltip>
                    <doc:summary>
                        Information on possible errors or on the quality of a 
                        data set.
                      </doc:summary>
                    <doc:description> 
                        The qualityControl field provides a location for the 
                        description of actions taken to either control or assess 
                        the quality of data resulting from the associated  method                        step. TA quality control description should identifiy a 
                        quality goal and describe prescriptive steps taken to 
                        ensure that the data meet those standards or to 
                        postcriptive steps taken to assess the extent to which 
                        they are met. A quality ccontrol statement is associated                         with the methodStep that could have affected the targeted                        quality goal.  
                      </doc:description>
                    <doc:example><![CDATA[
                <paragraph>
                  Once the data file is received, verify it's integrity by
                  comparing it's checksum with the pre-calculated MD5 checksum by                  running the md5 command on the file. If they match, the file 
                  transferred correctly.
                </paragraph>]]></doc:example>
                    <doc:lineage>
                        Introduced in EML 2.0
                      </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="paragraph"/>
                    <xs:element name="citation" type="cit:CitationType"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:element name="references" type="xs:string"/>
    </xs:choice>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="system" type="xs:string" use="optional"/>
    <xs:attribute name="scope" type="res:ScopeType" use="optional" default="system"/>
  </xs:complexType>
  <xs:element name="protocol" type="ProtocolType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Protocol Information
        </doc:tooltip>
        <doc:summary>
          A container for methods and protocol-related information
        </doc:summary>
        <doc:description> 
          The protocol field provides a container for other related fields 
          such as methods, processingStep, and qualityControl.
        </doc:description>
        <doc:example>
          Please see the examples for the sub-fields.
        </doc:example>
        <doc:lineage>
          Introduced in EML 2.0
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="paragraph" type="xs:string">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Paragraph
        </doc:tooltip>
        <doc:summary>
          A field for text paragraphs
        </doc:summary>
        <doc:description> 
          The paragraph field is used as a generic field for text.  It allows
          the text to be divided into distinct paragraphs within an EML file.
        </doc:description>
        <doc:example>
          Any text, really, could be part of a single paragraph element...Please
          look at the examples for each of the protocol sub-fields.
        </doc:example>
        <doc:lineage>
          Derived from EML 1.3
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
</xs:schema>
