eml-access.dtd

<!--
       '$RCSfile: eml-access.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2001-02-16 17:03:20 $'
      '$Revision: 1.7 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->

<!-- The root element, which represents a list of resources to be controlled
     in the context of a particular authentication system. That is, the 
     authentication system determines the set of principals (users + groups) 
     that can be used, and the membership of users in groups -->
<!ELEMENT acl (resource+)>
<!ATTLIST acl authSystem CDATA #REQUIRED>

<!-- The object to which a particular set of rules will be applied -->
<!ELEMENT resource (resourceIdentifier+, allow*, deny*)>
<!-- The order in which the rules should be applied for this object -->
<!-- The public read access to this object -->
<!ATTLIST resource order (allowFirst|denyFirst) "allowFirst"
                   public (yes|no) >
<!-- the unique identifier for the object -->
<!ELEMENT resourceIdentifier (#PCDATA)>

<!-- an allow rule adds the listed permission for a particular principal -->
<!ELEMENT allow (principal+, permission+, duration?, ticketCount?)>
<!-- a deny rule removes the listed permission for a particular principal -->
<!ELEMENT deny (principal+, permission+, duration?, ticketCount?)>
<!-- the user/group in the authentication system to whom this rule applies -->
<!ELEMENT principal (#PCDATA)>
<!-- the permission to be allowed or denied (read/write/all) -->
<!ELEMENT permission (#PCDATA)>
<!-- the duration of the permission -->
<!ELEMENT duration (#PCDATA)>
<!-- the number of accesses allowed by this rule if access is granted -->
<!ELEMENT ticketCount (#PCDATA)>

<!-- EOF -->
