eml-literature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="eml:literature" xmlns="eml:literature" xmlns:res="eml:resource" xmlns:rp="eml:ResponsibleParty" xmlns:doc="eml:documentation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="eml:documentation" schemaLocation="./eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-literature.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-08-08 16:33:23 $'
      '$Revision: 1.9 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-literature</doc:moduleName>
      <doc:moduleDescription>
        The eml-literature module contains information that describes
        literature resources. It is intended to provide overview information
        about the literature citation, including title, abstract, keywords, 
        and contacts.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <!-- import the elements from eml-resource -->
  <xs:import namespace="eml:resource" schemaLocation="./eml-resource.xsd"/>
  <!-- import the elements from responsible party -->
  <xs:element name="citation" type="LitCitation">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Literature Citation
        </doc:tooltip>
        <doc:summary>
          Information describing a literature resource.
        </doc:summary>
        <doc:description>
          The literature element contains general information about a
          literature resource that is being documented, or a piece of
          literature that is being cited in support of a given resource,
          such as a dataset.  It contains subelements that are specific to a
          literature resource such as a book, a journal article, 
          a thesis, etc.  It extends the generic resource elements with 
          literature specific fields.
        </doc:description>
        <doc:example>
          Please see the examples within the subelements for this type.
        </doc:example>
        <doc:lineage>
          This field was introduced in EML 2.0.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LitCitation">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Literature Citation
        </doc:tooltip>
        <doc:summary>
          Information describing a literature resource.
        </doc:summary>
        <doc:description>
          The 'LitCitation' type contains general information about a
          literature resource that is being documented, or a piece of
          literature that is being cited in support of a given resource,
          such as a dataset.
          It contains subelements that are specific to a
          literature resource such as a book, a journal article, 
          a thesis, etc.  It extends the generic resource elements with 
          literature specific fields.
        </doc:description>
        <doc:example>
          Please see the examples within the subelements for this type.
        </doc:example>
        <doc:lineage>
          This field was introduced in EML 2.0.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="res:ResourceBase">
        <xs:sequence>
          <xs:element name="ISBN" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  International Standard Book Number
                </doc:tooltip>
                <doc:summary>
                  The unique Internation Standard Book Number
                </doc:summary>
                <doc:description>
                  The ISBN, or International Standard Book Number
                  that has been assigned to this literature resource.
                </doc:description>
                <doc:example>
                  ISBN 1-861003-11-0
                </doc:example>
                <doc:lineage>
                  This field was introduced into EML 2.0 and was derived 
                  from the ISO 19115.3 standard (iso-geo-md-2000June-draft) 
                  and the ISO Standard 2108.
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ISSN" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  International Standard Serial Number
                </doc:tooltip>
                <doc:summary>
                  The unique Internation Standard Serial Number
                </doc:summary>
                <doc:description>
                  The ISSN, or International Standard Serial Number
                  that has been assigned to this literature resource.
                </doc:description>
                <doc:example>
                  ISSN 1234-5679
                </doc:example>
                <doc:lineage>
                  This field was introduced into EML 2.0 and was derived 
                  from the ISO 19115.3 standard (iso-geo-md-2000June-draft) 
                  and the ISO 3297-1975; ANSI Z39.9-1979 standard.
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="article" type="Article">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Journal article</doc:tooltip>
                  <doc:summary/>
                  <doc:description>Information for full citation of a journal article</doc:description>
                  <doc:example/>
                  <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="book" type="Book">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Book</doc:tooltip>
                  <doc:summary/>
                  <doc:description>Information for full citation of a book</doc:description>
                  <doc:example/>
                  <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="chapter" type="Chapter">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Chapter within a book</doc:tooltip>
                  <doc:summary/>
                  <doc:description>Information for full citation of a single chapter within an edited book</doc:description>
                  <doc:example/>
                  <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="manuscript" type="Manuscript">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>unpublished manuscipt</doc:tooltip>
                  <doc:summary/>
                  <doc:description>Information about an unpublished manuscript</doc:description>
                  <doc:example/>
                  <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="report" type="Report">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Report</doc:tooltip>
                  <doc:summary/>
                  <doc:description>Information about a report published by an institution for in-house purposes. They usually are available by request to the institution.</doc:description>
                  <doc:example/>
                  <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="thesis" type="Thesis">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Thesis as part of a degree</doc:tooltip>
                  <doc:summary/>
                  <doc:description>Information about a thesis that has been written as part of a degree requirement and is frequently published in small numbers by the degree awarding institution.</doc:description>
                  <doc:example/>
                  <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element name="journal" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Name of the journal</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Volume of journal in which article appears</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="issue" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Issue of journal in which article appears</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pageRange" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>beginning and end page number of article</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element name="edition" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Edition of book</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Total number of pages in book</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalFigures" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of figures in book</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalTables" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of tables in book</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Volume if book is part of series</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Chapter">
    <xs:sequence>
      <xs:element name="chapterNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Chapter number of interest within book</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookEditor" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Name of book editor</doc:tooltip>
            <doc:summary/>
            <doc:description>The editor may be a person
                  or organization or a role within an organization.</doc:description>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookTitle" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Title of book</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publishing company</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pageRange" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Beginning and ending page of chapter</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="edition" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Edition of book</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Volume of book if part of a series</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Manuscript">
    <xs:sequence>
      <xs:element name="pubInfo" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>address where manuscript may be requested</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Location" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="institution" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Responsible institution where report may be requested</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="reportNumber" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>ID number of report</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Thesis">
    <xs:sequence>
      <xs:element name="degree" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Name of degree</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pubInfo" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Address where thesis may be requested</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of pages in thesis</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="degreeInstitution" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Degree awarding institution</doc:tooltip>
            <doc:summary/>
            <doc:description/>
            <doc:example/>
            <doc:lineage>This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling literature</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
