eml-protocol.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:protocol" xmlns:rp="eml:ResponsibleParty" xmlns="eml:protocol" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-protocol.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-07-11 19:05:11 $'
      '$Revision: 1.2 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>eml-protocol</moduleName>
      <moduleDescription>
        The EML Protocol Module is used to describe methods and identify the proccesses that have been
	used to define / improve the quality of a data file, also used to
	identify potential problems with the data file.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="eml:ResponsibleParty" schemaLocation="eml-party.xsd"/>
  <xs:element name="eml-protocol">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="system" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="step">
          <xs:annotation>
            <xs:appinfo>
              <tooltip/>
              <summary/>
              <description>Step defines the quality control / assurance procedures 
	      that were applied to the corresponding data file.  For example, 
	      a shell-script that 'greps' for an alpha-character within a 
	      datafile that is supposed to contain only numeric characters
	      </description>
              <example/>
              <lineage/>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="purpose" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip/>
                    <summary/>
                    <description> This refers to the motivation for designing or 
	      implementing the quality control / assurance process to the data 
	      file. 
	      </description>
                    <example/>
                    <lineage/>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="action" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip/>
                    <summary/>
                    <description> The action element describes the procedure taken  
	      in the quality control / assurance process performed on the data 
	      file. 
	      </description>
                    <example/>
                    <lineage/>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="outcome" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip/>
                    <summary/>
                    <description> The outcome expected after the quality control / 
	      assurance procedure is applied on the data file. 
	      </description>
                    <example/>
                    <lineage/>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="appliedAttribute" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip/>
                    <summary/>
                    <description> An attribute of the data file which this quality
	      control / assurance process was applied to
	      </description>
                    <example/>
                    <lineage/>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="contact" type="rp:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip/>
                    <summary/>
                    <description> The person responsible of performing / difining this
	      process on the attribute in the data file
	      </description>
                    <example/>
                    <lineage/>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="knownProblems" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip/>
              <summary/>
              <description> A description of the problems that might be associated 
	 with the implementation of this quality control / assurance procedure
	 </description>
              <example/>
              <lineage/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="qualityCode" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip/>
                    <summary/>
                    <description> The description of the coding value utilized 
		  for assigning quality control / assurance to the data 
		  file
	      </description>
                    <example/>
                    <lineage/>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="code" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip/>
                    <summary/>
                    <description> This is a code which refers to the quality and 
		  is specified in the code system that is used.  For example a 
		  code system may have the value of NASA and the specific code
		  designated by this attribute may have a value = "1". </description>
                    <example/>
                    <lineage/>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="codeSystem" type="xs:string" use="optional">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip/>
                  <summary/>
                  <description> Give the name of the coding system utilized for 
		  assigning quality control / assurance codes to the data file
	      </description>
                  <example/>
                  <lineage/>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
