eml-protocol.dtd

<!--         
       '$RCSfile: eml-protocol.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2001-07-23 02:07:55 $'
      '$Revision: 1.3 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->
<!ENTITY % lit SYSTEM "./eml-literature.dtd">
%lit;
<!ELEMENT eml-protocol (identifier+, method*, processingStep*, qualityControl*)>
<!--
<!ELEMENT identifier (#PCDATA)>
<!ATTLIST identifier
  system CDATA #IMPLIED
>
-->
<!ELEMENT method (description?, citation*)>
<!ELEMENT processingStep (description?, citation*)>
<!ELEMENT qualityControl (description?, citation*)>
<!ELEMENT description (paragraph+)>
<!-- <!ELEMENT paragraph (#PCDATA)> -->
<!-- EOF -->
