eml-access.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:access-2.0.0beta8" 
           xmlns="eml:access-2.0.0beta8" 
           xmlns:doc="eml:documentation-2.0.0beta8" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="eml:documentation-2.0.0beta8" 
             schemaLocation="eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-access.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
   
        '$Author: jones $'
          '$Date: 2002-05-09 23:59:24 $'
      '$Revision: 1.31 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
   
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
   
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-access</doc:moduleName>
      <doc:moduleDescription>
        The EML Access Module describes the level of access that is to be
        granted or denied to a resource for a particular user or group of
        users. A single eml-access
        document may be used express access control for many resources, or 
        for a given resource (e.g., a dataset or document). The relationship
        between a resource and it's access control document is defined in the
        eml-resource module.
        The EML Access Module represents a list of resources to be controlled
        in the context of a particular authentication system. That is, the 
        authentication system determines the set of principals (users + groups) 
        that can be used, and the membership of users in groups.  The rules
        set in this module will determine the level of access to a resource for
        the defined users and groups.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="acl">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Access control list
        </doc:tooltip>
        <doc:summary>
          The rules defined in this element will determine the level of 
          access to a resource for the defined users and groups.
        </doc:summary>
        <doc:description>
          The acl element contains a list of rules that define the level of
          access for a given resource, be it a dataset or another metadata
          document.  the acl element must contain the elements defined in the
          ACL type.
        </doc:description>
        <doc:example>
          Because the acl element is a container for other elements, look at the
          contents of its sub-elements for examples of what to enter.
        </doc:example>
        <doc:lineage>
           The acl element is derived from eml-access.dtd, version 1.3
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Unique identifier
              </doc:tooltip>
              <doc:summary>
                The unique identifier of this metadata file or object.
              </doc:summary>
              <doc:description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </doc:description>
              <doc:example>
                <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
              </doc:example>
              <doc:lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>
                        Catalog system
                      </doc:tooltip>
                      <doc:summary>
                        The catalog system in which this identifier is used.
                      </doc:summary>
                      <doc:description>
                        This element gives the name of the catalog system in which
                        this identifier is used.  It is useful to determine the
                        scope of the identifier, and to determine the semantics
                        of the various subparts of the identifier. Unresolved issue:
                        can or should this be a URI/URL pointing to the catalog
                        system, or just the name?
                      </doc:description>
                      <doc:example>
                        <![CDATA[
                          <identifier system="metacat">nceas.3.2</identifier>
                        ]]>
                      </doc:example>
                      <doc:lineage>
                        New to EML 2.0.
                      </doc:lineage>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="allow" type="AccessRule">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                Allow permission
              </doc:tooltip>
                <doc:summary>
                The permission that grants access to a permission type.
              </doc:summary>
                <doc:description>
                The allow element indicates that a particular user or group is
                able to execute the defined permission.
              </doc:description>
                <doc:example>
                allow
              </doc:example>
                <doc:lineage>
                The deny element was introduced into EML 2.0 Proposed.
              </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="deny" type="AccessRule">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                Deny permission
              </doc:tooltip>
                <doc:summary>
                The permission that denies access to a permission type.
              </doc:summary>
                <doc:description>
                The deny element indicates that a particular user or group is
                not able to execute the defined permission.
              </doc:description>
                <doc:example>
                deny
              </doc:example>
                <doc:lineage>
                The deny element was introduced into EML 2.0 Proposed.
              </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="order" use="required" default="allowFirst">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Permission order
            </doc:tooltip>
            <doc:summary>
              The order in which the permission rules should be applied.
            </doc:summary>
            <doc:description>
              The order attribute defines which rule should be applied first to
              obtain the desired access control.  The acceptable values are
              pre-defined in a list of 'allowFirst' and 'denyFirst'.
            </doc:description>
            <doc:example>
              allowFirst
            </doc:example>
            <doc:lineage>
              The order element was introduced into EML 2.0 Proposed.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="allowFirst"/>
            <xs:enumeration value="denyFirst"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="authSystem" type="xs:string" use="required">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Authentication system
            </doc:tooltip>
            <doc:summary>
             The authentication system that is used to verify the user or group
             to whom the ACL allows or denies access.
           </doc:summary>
            <doc:description>
              The authentication system determines the set of principals 
              (users + groups) that can be used in the access control list,
              and the membership of users in groups. This element is intended 
              to provide a reference to the authentication system in order to 
              verify the user or group.  This reference is typically in the 
              form of a URI, which includes the  connection protocol, internet 
              host, and path to the authentication mechanism. 
           </doc:description>
            <doc:example>
             ldap://directory.nceas.ucsb.edu:389/o=NCEAS,c=US
           </doc:example>
            <doc:lineage>
             The authSystem element was introduced into EML 2.0 Proposed.
           </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AccessRule">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Access Rule
        </doc:tooltip>
        <doc:summary>
          Access Rules define the extent to which a user may access a resource.
        </doc:summary>
        <doc:description>
          The AccessRule type defines a list of users that are derived from a
          particular authentication system (such as an LDAP directory), whether
          the user or group is allowed or denied access, the extent of their
          access (write access, or only read access), and the duration or number
          of times that they may access the resource.
        </doc:description>
        <doc:example/>
        <doc:lineage>
          The AccessRule type was introduced into EML 2.0 Proposed
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="principal" type="xs:string" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              User or group
            </doc:tooltip>
            <doc:summary>
              The user or group (principal) for which the access control
              applies.
            </doc:summary>
            <doc:description>
              The principal element defines the user or group to which the 
              access control list applies.  The users and groups must be 
              defined in the authentication system described in the 
              authSystem element.
            </doc:description>
            <doc:example>
              berkley
            </doc:example>
            <doc:lineage>
              The principal element was introduced into EML 2.0 Proposed.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="permission" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Type of permission
            </doc:tooltip>
            <doc:summary>
              The type of permission being granted or denied for the resource.
            </doc:summary>
            <doc:description>
              The permission that is being granted or denied to a particular
              user or group for a given resource.  The list of permissions come
              from a predetermined list, and include 'read' (allow/deny viewing 
              of the resource), 'write' (allow/deny modification of the 
              resource), and 'all' (allow read/write, and the ability to modify
              access restrictions as well.)
            </doc:description>
            <doc:example>
              read
            </doc:example>
            <doc:lineage>
              The duration element was introduced into EML 2.0 Proposed.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="read"/>
            <xs:enumeration value="write"/>
            <xs:enumeration value="all"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="emlDate">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Year or Date</doc:tooltip>
        <doc:summary>A type allowing a year or date value</doc:summary>
        <doc:description>
          This type is the union of the built-in types for year and date.
        </doc:description>
        <doc:example>
          1999, or 2001-03-15
        </doc:example>
        <doc:lineage>
          New in EML 2.0.0.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:gYear"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:date"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>
