eml-resource.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:resource" xmlns:doc="eml:documentation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rp="eml:ResponsibleParty" xmlns="eml:resource" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:import namespace="eml:documentation" schemaLocation="./eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-resource.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-08-15 19:06:29 $'
      '$Revision: 1.23 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-resource</doc:moduleName>
      <doc:moduleDescription>
        The eml-resource module contains general information that describes
        dataset resources, literature resources, collection  resources, and
        software resources.  It is intended to provide overview information
        about the resource, including title, abstract, keywords, contacts, and
        the links to associated metadata and data for the given resource.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <!-- import the elements from responsible party for use in originator -->
  <xs:import namespace="eml:ResponsibleParty" schemaLocation="./eml-party.xsd"/>
  <!-- this is the base type that the other resource types extend -->
  <xs:complexType name="ResourceBase">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Resource Base
        </doc:tooltip>
        <doc:summary>
          Generic information about any resource that is being described.  
        </doc:summary>
        <doc:description>
          The 'ResourceBase' complexType contains information that is inherited
          by each resource type that is being documented.  The subelements with
          the resource base are common to al resources.
        </doc:description>
        <doc:example>
          Please see the examples within the sub-elements of the 'ResourceBase'
          complexType.
        </doc:example>
        <doc:lineage>
          The 'ResourceBase' element was introduced into EML 2.0.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Unique identifier
            </doc:tooltip>
            <doc:summary>
              The unique identifier of this metadata file or object.
            </doc:summary>
            <doc:description>
              The identifier field provides a unique identifier for this
              metadata documentation.  It will most likely be part of a 
              sequence of numbers or letters that are meaningful in a 
              larger context, such as a metadata catalog. That larger
              system can be identified in the "system" attribute. Multiple
              identifiers can be listed corresponding to different catalog
              systems.
            </doc:description>
            <doc:example><![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
            <doc:lineage>
              The 'identifier' field is derived from the eml-dataset 
              meta_file_id filed in EML 1.4.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="system" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                  Catalog system
                </doc:tooltip>
                    <doc:summary>
                  The catalog system in which this identifier is used.
                </doc:summary>
                    <doc:description>
                  This element gives the name of the catalog system in which
                  this identifier is used.  It is useful to determine the
                  scope of the identifier, and to determine the semantics
                  of the various subparts of the identifier. 
                  Unresolved issue:
                  can or should this be a URI/URL pointing to the catalog
                  system, or just the name?
                </doc:description>
                    <doc:example><![CDATA[
                  <identifier system="metacat">nceas.3.2</identifier>]]></doc:example>
                    <doc:lineage>
                  New to EML 2.0.
                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="shortName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Short Name
            </doc:tooltip>
            <doc:summary>
              A short name that describes the resource, sometimes 
              a filename.
            </doc:summary>
            <doc:description>
              The 'shortName' field provides a concise name that 
              describes the resource that is being documented. It is 
              the appropriate place to store a filename associated with 
              other storage systems.
            </doc:description>
            <doc:example>
              vernal-data-1999
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the 
              ISO 19115.3 standard (iso-geo-md-2000June-draft).
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Title
            </doc:tooltip>
            <doc:summary>
              A brief description of the resource, providing enough detail
              to differentiate it from other similar resources.
            </doc:summary>
            <doc:description>
              The 'title' field provides a description of the
              resource that is being documented that is long enough
              to differentiate it from other similar resources.  Multiple
              titles may be provided, particularly when trying to express
              the title in more than one language (use the "xml:lang"
              attribute to indicate the language if not English/en).
            </doc:description>
            <doc:example>
              Vernal pool amphibian density data, Isla Vista, 1990-1996.
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the 
              ISO 19115.3 standard (iso-geo-md-2000June-draft).
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" type="rp:ResponsibleParty" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Originator
            </doc:tooltip>
            <doc:summary>
              A person or organization asociated with this resource.
            </doc:summary>
            <doc:description>
              The 'originator' element provides the full name of the
              person, organization, or position associated with the resource.  
              Typically, the originator role is set to "owner" 
              to indicate the list of parties who "own" the resource, 
              but other roles such as "principal investigator", "author", 
              and "editor" are provided.
            </doc:description>
            <doc:example>
              Please see the examples within the sub fields for 
              the responsible party.
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pubDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Publication date
            </doc:tooltip>
            <doc:summary>
              The publication date of the resource.
            </doc:summary>
            <doc:description>
              The 'pubDate' field represents the date that the resource was
              published.  The format should be represented as: CCYY-MM-DD, 
              which denotes the full year, month, and day.
            </doc:description>
            <doc:example>
              1999-10-26
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
              The type 'xs:date' folllows the date standard described in ISO
              8601.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pubPlace" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Publication place
            </doc:tooltip>
            <doc:summary>
              The location that the resource was published.
            </doc:summary>
            <doc:description>
              the 'pubPlace' field is the location where the resource was
              published, which may be different from where the resource was
              created.
            </doc:description>
            <doc:example>
              San Francisco, CA, USA
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="series" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Series
            </doc:tooltip>
            <doc:summary>
              The series from which the resource came.
            </doc:summary>
            <doc:description>
              This field describes the series of resources that include the
              resource being described.  For example, a volume of a 
              journal may be part of a series of the journal for a 
              particular year.
            </doc:description>
            <doc:example>
              Volume 20
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
              and ISO 19115.3 standard (iso-geo-md-2000June-draft)
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="abstract" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Abstract
            </doc:tooltip>
            <doc:summary>
              A brief overview of the resource.
            </doc:summary>
            <doc:description>
              This field provides a container for one or more paragraph 
              fields that give a brief overview of the resource 
              that is being documented. 
            </doc:description>
            <doc:example>
              Please see the examples for the subfields contained 
              within this field.
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="paragraph" type="xs:string" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Abstract paragraph
                  </doc:tooltip>
                  <doc:summary>
                    The paragraph field for the text in an abstract.
                  </doc:summary>
                  <doc:description>
                    This field is intended for the text of an abstract
                    that gives a brief overview of the resource.  There
                    may be one or more paragraphs within the abstract.
                  </doc:description>
                  <doc:example>
                    The major unanswered question in marine ecology is the
                    degree of connectedness between local populations. Put
                    another way, what proportion of young arriving into a
                    local population are products of local production? What
                    is the source of recruits for any local population,
                    and where do the young produced in a local population
                    go? The answers to these questions are unknown for
                    any widespread species with a pelagic dispersal
                    phase. Proper marine management depends on knowledge
                    in this area: the efficacy of any reserve design, for
                    example, is highly dependent on the degree to which
                    it is dependent on other populations for recruitment,
                    and the degree to which it supplies other areas.
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0, and was derived from
                    EML 1.3.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="keywordSet" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Keyword information
            </doc:tooltip>
            <doc:summary>
               Keyword information that describes the resource.
            </doc:summary>
            <doc:description>
              The 'keywordSet' element is a container for the 'keyword' and
              'keywordThesaurus' fields.  Each keywordSet field can contain
              one or more keywords and a name of a thesaurus for the set of
              keywords.
            </doc:description>
            <doc:example>
              Please see the examples for the subfields contained 
              within this field.
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="keyword" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Keyword
                  </doc:tooltip>
                  <doc:summary>
                    A keyword that describes the resource.
                  </doc:summary>
                  <doc:description>
                    This field names a keyword or keyphrase that concisely 
                    describes the resource or is related to the resource.
                  </doc:description>
                  <doc:example>
                    biodiversity
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0 beta 1, and was 
                    derived from EML 1.3. and the ISO 19115.3 standard
                    (iso-geo-md-2000June-draft).
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="keywordType" type="KeyTypCode" use="optional">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>
                        Keyword type
                      </doc:tooltip>
                          <doc:summary>
                        The type of each keyword.
                      </doc:summary>
                          <doc:description>
                        This field classifies the keyword that has been
                        provided from a list of pre-determined categories. The
                        possible types are listed in the example.
                      </doc:description>
                          <doc:example>
                        "discipline","place","stratum","temporal","thematic", 
                        or "taxonomic"
                      </doc:example>
                          <doc:lineage>
                        This field was introduced into EML 2.0, and
                        was derived from EML 1.3. and the  ISO 19115.3
                        standard(iso-geo-md-2000June-draft).
                      </doc:lineage>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="keywordThesaurus" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Keyword thesaurus
                  </doc:tooltip>
                  <doc:summary>
                    The name of a thesaurus from which the keyword is derived.
                  </doc:summary>
                  <doc:description>
                    This field provides the name of the official keyword
                    thesaurus from which keyword was derived.  The keyword
                    thesauri are usually discipline specific.
                  </doc:description>
                  <doc:example>
                    IRIS keyword thesaurus
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0, and
                    was derived from EML 1.3. and the  ISO 19115.3
                    standard(iso-geo-md-2000June-draft).
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="additionalInfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Additional Information
            </doc:tooltip>
            <doc:summary>
              Any extra information pertitent to the resource.
            </doc:summary>
            <doc:description>
              This field provides any information that is not 
              characterized by the other resource metadata fields.
            </doc:description>
            <doc:example>
              Copyright 2001, Robert Warner
            </doc:example>
            <doc:lineage>
              This element was derived from elements described in the
              FGDC-STD-001.1-1999 standard (nbii-fgdc-std-001.1-1999)
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="paragraph" type="xs:string" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Paragraph
                  </doc:tooltip>
                  <doc:summary>
                    The paragraph field for the additional text.
                  </doc:summary>
                  <doc:description>
                    This field is intended for the text 
                    that gives additional information about the resource.  
                    There may be one or more paragraphs.
                  </doc:description>
                  <doc:example>
                    Copyright 2001, Robert Warner
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rights" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Rights</doc:tooltip>
            <doc:summary>Rights regarding usage and licensing of this resource.</doc:summary>
            <doc:description>Typically, a Rights element will contain a rights management statement for the resource, or reference  a service providing such information. Rights information often encompasses Intellectual Property Rights (IPR), Copyright, and various Property Rights.  In the case of a data set, rights might incude requirements for use, requirements for attribution, or other requirements the owner would like to impose.</doc:description>
            <doc:example>Copyright 2001 Regents of the University of California Santa Barbara.  Free for use by all individulas provided that the owners are acknowledged in any use or publication.</doc:example>
            <doc:lineage>Introduced in EML 2.0, derived from Dublin Core Element Set 1.1.</doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="paragraph" type="xs:string" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Paragraph
                  </doc:tooltip>
                  <doc:summary>
                    The paragraph field for the additional text.
                  </doc:summary>
                  <doc:description>
                    This field is intended for the text 
                    that gives additional information about the resource.  
                    There may be one or more paragraphs.
                  </doc:description>
                  <doc:example>
                    Copyright 2001, Robert Warner
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="onlineURL" type="xs:string">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                      Download site URL
                    </doc:tooltip>
              <doc:summary>
                     A URL (Uniform Resource Locator) from which this resource can be downloaded
                    </doc:summary>
              <doc:description>
                      A URL (Uniform Resource Locator) from which this resource can be downloaded.  This includes any information needed to access this site, such as connection information.
                    </doc:description>
              <doc:example>http://data.org/getdata?id=98332</doc:example>
              <doc:lineage>
                      ISO CD 19115.3, Geographic information - Metadata
                    </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="offlineMedium">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                            medium of the resource
                          </doc:tooltip>
              <doc:summary>
                            the medium on which this resource is distributed, either digitally or as hardcopy
                          </doc:summary>
              <doc:description>
                            the medium on which this resource is distributed 
digitally, such as 3.5" floppy disk, or various tape media types, or 'hardcopy'
                          </doc:description>
              <doc:example>
                            CD-ROM, 3.5 in. floppy disk, Zip disk
                          </doc:example>
              <doc:lineage>
                            ISO CD 19115.3, Geographic information - Metadata
                          </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="medName" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                                  Medium name
                                </doc:tooltip>
                    <doc:summary>
                                  Name of the medium that for this resource distribution
                                </doc:summary>
                    <doc:description>
                                  Name of the medium on which this resource is distributed.  Can be various digital media such as tapes and disks, or printed media which can collectively be termed 'hardcopy'.
                                </doc:description>
                    <doc:example>
                                  Tape, 3.5 inch Floppy Disk, hardcopy
                                </doc:example>
                    <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="medDensity" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                                  density of the digital medium
                                </doc:tooltip>
                    <doc:summary>
                                  the density of the digital medium if this is 
                                  relevant.
                                </doc:summary>
                    <doc:description>
                                  the density of the digital medium if this is 
                                  relevant.  Used mainly for floppy disks 
                                  or tape.
                                </doc:description>
                    <doc:example>
                                  High Density (HD), Double Density (DD)
                                </doc:example>
                    <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="medDensityUnits" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                                  units of a numerical density
                                </doc:tooltip>
                    <doc:summary>
                                  a numerical density's units
                                </doc:summary>
                    <doc:description>
                                  if a density is given numerically, the units 
                                  should be given here.  
                                </doc:description>
                    <doc:example>
                                  B/cm
                                </doc:example>
                    <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="medVol" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                                  storage volume 
                                </doc:tooltip>
                    <doc:summary>
                                  total volume of the storage medium
                                </doc:summary>
                    <doc:description>
                                  the total volume of the storage medium on 
                                  which this resource is shipped.
                                </doc:description>
                    <doc:example>
                                  650 MB
                                </doc:example>
                    <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="medFormat" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                                  medium format
                                </doc:tooltip>
                    <doc:summary>
                                  format of the medium on which the resource is 
                                  shipped.
                                </doc:summary>
                    <doc:description>
                                  the file system format of the medium on 
                                  which the resource is shipped
                                </doc:description>
                    <doc:example>
                                  NTFS, FAT32, EXT2, QIK80
                                </doc:example>
                    <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="medNote" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>
                                  note about the media
                                </doc:tooltip>
                    <doc:summary>
                                  note about the media
                                </doc:summary>
                    <doc:description>
                                  any additional pertitant information about the
                                  media
                                </doc:description>
                    <doc:example/>
                    <doc:lineage>
                                  ISO CD 19115.3, 
                                  Geographic information - Metadata
                                </doc:lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element name="triple" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Component list 
            </doc:tooltip>
            <doc:summary>
              The definition of a relationship between component objects
              in a resource package
            </doc:summary>
            <doc:description>
              The triple element lists all relationships in the resource,
              which effectively enumerates the components of the resource.
              The relationships are in the form of:
              <![CDATA[<subject> <relationship> <object>]]>
              A triple allows a user to define a relationship between two
              objects.  This relationship can also be recursive so that an
              object can point back to the package of which it is a part.
            </doc:description>
            <doc:example>
              Normal (nonrecursive):
              <![CDATA[
              <subject>knb.3.4</subject> 
              <relationship>isFileMetadataFor</relationship>
              <object>knb.5</object>

              Recursive:
              <subject>lter.123</subject>
              <relationship>isPackageMember</relationship>
              <object>lter.18</object>
              ]]>
              where object lter.18 is the identifier of the resource
              in which this relationship exists.
            </doc:example>
            <doc:lineage>
              Derived from the eml-dataset.dtd element called "relation" in
              EML 1.4.
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="subject" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Subject element
                  </doc:tooltip>
                  <doc:summary>
                    Subject element of the relationship.
                  </doc:summary>
                  <doc:description>
                    Subject is the identifier of the metadata object or file 
                    that is the actor in the triple.
                  </doc:description>
                  <doc:example><![CDATA[ <subject>knb.3.4</subject> ]]></doc:example>
                  <doc:lineage>
                    Subject element was introduce into EML 2.0 Proposed.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="relationship" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Relationship type
                  </doc:tooltip>
                  <doc:summary>
                    The type of relationship between the subject and
                    object of the triple
                  </doc:summary>
                  <doc:description>
                    Relationship is a descriptive phrase that specifies the 
                    how the subject of the triple is related to the object.  
                    This is typically meant to label the type of descriptor 
                    that a metadata file (the subject) represents for a data
                    file (the object).  This allows one to express concepts
                    such as "knb.32.3 lists access control rules for knb.2.2".
                  </doc:description>
                  <doc:example><![CDATA[ 
                    <relationship>is metadata describing</relationship> ]]></doc:example>
                  <doc:lineage>
                    The relationship element was introduced in EML 2.0.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="object" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>
                    Object element
                  </doc:tooltip>
                  <doc:summary>
                    The object element of the relationship.
                  </doc:summary>
                  <doc:description>
                    Object is the identifier of the metadata or data object 
                    that is acted upon according to the relationship in the
                    triple.
                  </doc:description>
                  <doc:example><![CDATA[ <subject>knb.8.4</subject> ]]></doc:example>
                  <doc:lineage>
                    The object element was introduced in EML 2.0.
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- The keyword type domain take directly from ISO -->
  <xs:simpleType name="KeyTypCode">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Keyword type codes
        </doc:tooltip>
        <doc:summary>
          The list of keyword categories
        </doc:summary>
        <doc:description>
          This field provides a restricted list of categories that a keyword may
          fall under.
        </doc:description>
        <doc:example>
              place
            </doc:example>
        <doc:lineage/>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="discipline"/>
      <xs:enumeration value="place"/>
      <xs:enumeration value="stratum"/>
      <xs:enumeration value="temporal"/>
      <xs:enumeration value="thematic"/>
      <xs:enumeration value="taxonomic"/>
    </xs:restriction>
    <!-- More types should be added here. -->
  </xs:simpleType>
</xs:schema>
