eml-protocol.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:protocol-2.0.0beta7" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:doc="eml:documentation-2.0.0beta7" 
           xmlns="eml:protocol-2.0.0beta7" 
           xmlns:lit="eml:literature-2.0.0beta7" 
           elementFormDefault="unqualified" 
           attributeFormDefault="unqualified">
  <xs:import namespace="eml:documentation-2.0.0beta7" schemaLocation="eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-protocol.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2002-04-17 00:11:24 $'
      '$Revision: 1.13 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-protocol</doc:moduleName>
      <doc:moduleDescription>
        The EML Protocol Module is used to describe methods and identify the 
        proccesses that have been used to define / improve the quality of a data
        file, also used to identify potential problems with the data file.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="eml:literature-2.0.0beta7" 
             schemaLocation="eml-literature.xsd"/>
  <xs:element name="eml-protocol">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          EML Protocol
        </doc:tooltip>
        <doc:summary>
          A set of fields that contains method, processing, and quality control
          information.
        </doc:summary>
        <doc:description> 
          eml-protocol is a set of fields that contains method, processing, and 
          quality control information.  It may consist of paragraphs of descriptive
          text that describes the methods to be employed, or optionally references 
          to literature citations that do the same.  Likewise, descriptions of pre
          and post processing of data files may be described within.
        </doc:description>
        <doc:example>
          Please see the examples for the sub-fields.
        </doc:example>
        <doc:lineage>
          Derived from EML 1.4: eml-status, and eml-quality modules.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>
                Unique identifier
              </doc:tooltip>
              <doc:summary>
                The unique identifier of this metadata file or object.
              </doc:summary>
              <doc:description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </doc:description>
              <doc:example>
                <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
              </doc:example>
              <doc:lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </doc:lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                    Catalog system
                  </doc:tooltip>
                <doc:summary>
                    The catalog system in which this identifier is used.
                  </doc:summary>
                <doc:description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </doc:description>
                <doc:example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]>
                </doc:example>
                <doc:lineage>
                    New to EML 2.0.
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="system" type="xs:string" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element ref="protocol" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProtocolType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          ProtocolType
        </doc:tooltip>
        <doc:summary>
          A reusable container for protocol-related information
        </doc:summary>
        <doc:description> 
          The ProtocolType container defines a number of reusable fields that
          can be referenced from multiple EML modules.
        </doc:description>
        <doc:example>
          Please see the examples for the sub-fields.
        </doc:example>
        <doc:lineage>
          Introduced in EML 2.0
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="method" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              method information
            </doc:tooltip>
            <doc:summary>
              Information about the methods employed in collecting or generating
              a data set or other resource.
            </doc:summary>
            <doc:description> 
              The method field allows for repeated paragraphs of text that
              describe the methodology for a project, experiment, or particular
              data table.  Likewise, a literature citation may be provided that
              describes the methodology that was employed.
            </doc:description>
            <doc:example>
              <![CDATA[
                <paragraph>
                  1.Collect tissues from algae of interest.
                </paragraph>
                <paragraph>
                  a.We are currently collecting Egregia menziezii, Mazzaella 
                  splendens, M. flaccida, Hedophyllum sessile, Postelsia 
                  palmaeformis and Fucus gardneri.We stopped collecting 
                  Neorhodomela larix and Odonthalia floccosa because they can be 
                  heavily fouled and we feared that would skew the results.
                </paragraph>
                <paragraph>
                  b.We collect a 7-10 cm blade or branch from each plant. For 
                  Egregia, try to sample small, young plants or take the base of 
                  the blade. For Postelsia, take a few of the blades. The other 
                  plants are small enough so a whole blade can be taken.
                </paragraph>
                </paragraph>
              ]]>
            </doc:example>
            <doc:lineage>
              Derived from EML 1.4
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="paragraph" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="lit:citation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processingStep" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Processing Step
            </doc:tooltip>
            <doc:summary>
              Information on pre or post processing actions for a data set.
            </doc:summary>
            <doc:description> 
              Step defines the quality control or quality assurance procedures 
              that were applied to the corresponding data file.  For example, 
              a shell-script that 'greps' for an alpha-character within a 
              datafile that is supposed to contain only numeric characters
            </doc:description>
            <doc:example>
              <![CDATA[
                <paragraph>
                  2.Freeze tissues at -20C until they can be dried. Dry tissue in 
                  drying oven (60C, at least 24h).
                </paragraph>
                <paragraph>
                  Grinding: All glassware and plasticware should be acid washed in 
                  10% HCl. Place dried algal sample in plastic vial with ground 
                  glass ball. For very hard to grind tissue such as M. splendens, 
                  two balls may be used. Place vials in grinder. Only two vials can
                  go in the mill at one time. Grind for 2-5 minutes. Tissue should 
                  be fine powder. Place ground tissue in small screw cap vials and 
                  store in drying oven or dessication chamber.
                </paragraph>
              ]]>
            </doc:example>
            <doc:lineage>
              Introduced in EML 2.0
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="paragraph" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="lit:citation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="qualityControl" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Quality Control
            </doc:tooltip>
            <doc:summary>
              Information on possible errors or on the quality of a data set.
            </doc:summary>
            <doc:description> 
              The qualityControl field provides a location for the description
              of possible errors in a data set, or a description of the quality
              of the data set based on the the processing steps or methods
              employed in collecting the data.
            </doc:description>
            <doc:example>
              <![CDATA[
                <paragraph>
                  Once the data file is received, verify it's integrity by
                  comparing it's checksum with the pre-calculated MD5 checksum by 
                  running the md5 command on the file. If they match, the file 
                  transferred correctly.
                </paragraph>
              ]]>
            </doc:example>
            <doc:lineage>
              Introduced in EML 2.0
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="paragraph" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="lit:citation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="protocol" type="ProtocolType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Protocol Information
        </doc:tooltip>
        <doc:summary>
          A container for methods and protocol-related information
        </doc:summary>
        <doc:description> 
          The protocol field provides a container for other related fields 
          such as methods, processingStep, and qualityControl.
        </doc:description>
        <doc:example>
          Please see the examples for the sub-fields.
        </doc:example>
        <doc:lineage>
          Introduced in EML 2.0
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="paragraph" type="xs:string">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Paragraph
        </doc:tooltip>
        <doc:summary>
          A field for text paragraphs
        </doc:summary>
        <doc:description> 
          The paragraph field is used as a generic field for text.  It allows
          the text to be divided into distinct paragraphs within an EML file.
        </doc:description>
        <doc:example>
          Any text, really, could be part of a single paragraph element...Please
          look at the examples for each of the protocol sub-fields.
        </doc:example>
        <doc:lineage>
          Derived from EML 1.3
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
</xs:schema>
