eml-literature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="eml:literature-2.0.0beta7" 
           xmlns="eml:literature-2.0.0beta7" 
           xmlns:res="eml:resource-2.0.0beta7" 
           xmlns:rp="eml:party-2.0.0beta7" 
           xmlns:doc="eml:documentation-2.0.0beta7" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="eml:documentation-2.0.0beta7" 
             schemaLocation="eml-documentation.xsd"/>

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-literature.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2002-04-17 00:11:24 $'
      '$Revision: 1.12 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleName>eml-literature</doc:moduleName>
      <doc:moduleDescription>
        The eml-literature module contains information that describes
        literature resources. It is intended to provide overview information
        about the literature citation, including title, abstract, keywords, 
        and contacts.
      </doc:moduleDescription>
    </xs:appinfo>
  </xs:annotation>
  <!-- import the elements from eml-resource -->
  <xs:import namespace="eml:resource-2.0.0beta7" 
             schemaLocation="eml-resource.xsd"/>
  <xs:import namespace="eml:party-2.0.0beta7" 
             schemaLocation="eml-party.xsd"/>
  <!-- import the elements from responsible party -->
  <xs:element name="citation" type="LitCitation">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Literature Citation
        </doc:tooltip>
        <doc:summary>
          Information describing a literature resource.
        </doc:summary>
        <doc:description>
          The literature element contains general information about a
          literature resource that is being documented, or a piece of
          literature that is being cited in support of a given resource,
          such as a dataset.  It contains subelements that are specific to a
          literature resource such as a book, a journal article, 
          a thesis, etc.  It extends the generic resource elements with 
          literature specific fields.
        </doc:description>
        <doc:example>
          Please see the examples within the subelements for this type.
        </doc:example>
        <doc:lineage>
          This field was introduced in EML 2.0.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LitCitation">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          Literature Citation
        </doc:tooltip>
        <doc:summary>
          Information describing a literature resource.
        </doc:summary>
        <doc:description>
          The 'LitCitation' type contains general information about a
          literature resource that is being documented, or a piece of
          literature that is being cited in support of a given resource,
          such as a dataset.
          It contains subelements that are specific to a
          literature resource such as a book, a journal article, 
          a thesis, etc.  It extends the generic resource elements with 
          literature specific fields.
        </doc:description>
        <doc:example>
          Please see the examples within the subelements for this type.
        </doc:example>
        <doc:lineage>
          This field was introduced in EML 2.0.
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="res:ResourceBase">
        <xs:sequence>
          <xs:element name="ISBN" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  International Standard Book Number
                </doc:tooltip>
                <doc:summary>
                  The unique Internation Standard Book Number
                </doc:summary>
                <doc:description>
                  The ISBN, or International Standard Book Number
                  that has been assigned to this literature resource.
                </doc:description>
                <doc:example>
                  ISBN 1-861003-11-0
                </doc:example>
                <doc:lineage>
                  This field was introduced into EML 2.0 and was derived 
                  from the ISO 19115.3 standard (iso-geo-md-2000June-draft) 
                  and the ISO Standard 2108.
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ISSN" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  International Standard Serial Number
                </doc:tooltip>
                <doc:summary>
                  The unique Internation Standard Serial Number
                </doc:summary>
                <doc:description>
                  The ISSN, or International Standard Serial Number
                  that has been assigned to this literature resource.
                </doc:description>
                <doc:example>
                  ISSN 1234-5679
                </doc:example>
                <doc:lineage>
                  This field was introduced into EML 2.0 and was derived 
                  from the ISO 19115.3 standard (iso-geo-md-2000June-draft) 
                  and the ISO 3297-1975; ANSI Z39.9-1979 standard.
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="article" type="Article">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Journal article</doc:tooltip>
                  <doc:summary>
                    Information for full citation of a journal article
                  </doc:summary>
                  <doc:description>The article field provides sub-fields 
                  for a full citation of a journal article.  These fields 
                  include the journal name, its volume number, the issue, 
                  and the page range for the article.</doc:description>
                  <doc:example>
                    Please see the individual sub-fields for specific 
                    examples
                  </doc:example>
                  <doc:lineage>
                  This field was introduced into EML 2.0 beta 1, and was 
                  derived from MARC/various software packages handling 
                  literature
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="book" type="Book">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Book</doc:tooltip>
                  <doc:summary>
                    Information for full citation of a book
                  </doc:summary>
                  <doc:description>
                    The book field provides sub-fields for a full citation of a
                    book.  The sub-fields include the volume, the edition, the
                    total pages, the total figures, and the total tables.
                  </doc:description>
                  <doc:example>
                    Please see the individual sub-fiels for specific examples.
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0 beta 1, and was 
                    derived from MARC/various software packages handling 
                    literature
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="chapter" type="Chapter">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Chapter within a book</doc:tooltip>
                  <doc:summary>
                    Information for full citation of a single chapter 
                    within an edited book.
                  </doc:summary>
                  <doc:description>
                    The citation field provides sub-fields for a full citation
                    of a particular chapter in a book.  The fields include the
                    book title, the book editor, the publisher, volume, edition,
                    chapter number, and page ranges.
                  </doc:description>
                  <doc:example>
                    Please see the individual sub-fields for specific examples.
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0 beta 1, and was 
                    derived from MARC/various software packages handling literature
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="manuscript" type="Manuscript">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>unpublished manuscipt</doc:tooltip>
                  <doc:summary>
                    Information about an unpublished manuscript
                  </doc:summary>
                  <doc:description>
                    The manuscript field provides sub-fields for a full 
                    citation of an unpublished manuscript.  The two main fields 
                    include the the publication information, and the location
                    of the manuscript. The publication information allows for
                    referencing the party that created the manuscript and all of
                    the contact information.
                  </doc:description>
                  <doc:example>
                    Please see the individual sub-fields for specific examples.
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0 beta 1, and was 
                    derived from MARC/various software packages handling literature
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="report" type="Report">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Report</doc:tooltip>
                  <doc:summary>
                    Information about a report published by an institution 
                    for in-house purposes. They usually are available by 
                    request to the institution.
                  </doc:summary>
                  <doc:description>
                    The report field provides nformation about a report
                    published by an institution for in-house purposes. They 
                    usually are available by request to the institution.  It
                    provides sub-fields for the institution's contact information,
                    as well as the report number.
                  </doc:description>
                  <doc:example>
                    Please see the individual sub-fields for specific examples.
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0 beta 1, and was 
                    derived from MARC/various software packages handling literature
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="thesis" type="Thesis">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Thesis as part of a degree</doc:tooltip>
                  <doc:summary>
                    Information about a thesis that has been written as part of a 
                    degree requirement and is frequently published in small numbers 
                    by the degree awarding institution.
                  </doc:summary>
                  <doc:description>
                    Information about a thesis that has been written as part of a 
                    degree requirement and is frequently published in small numbers 
                    by the degree awarding institution. It provides sub-fields
                    for the degree obtained, the contact information, the degree
                    institution, and the total number of pages.
                  </doc:description>
                  <doc:example>
                    Please see the individual sub-fields for specific examples.
                  </doc:example>
                  <doc:lineage>
                    This field was introduced into EML 2.0 beta 1, and was 
                    derived from MARC/various software packages handling literature
                  </doc:lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element name="journal" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Journal Name</doc:tooltip>
            <doc:summary>
              The name of the journal in which the article was published.
            </doc:summary>
            <doc:description>
              The journal field is for the name of the peer-reviewed journal
              that has published the article that is being documented.
            </doc:description>
            <doc:example>
              "Ecology"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Journal Volume</doc:tooltip>
            <doc:summary>
              The volume of the journal in which the article appears
            </doc:summary>
            <doc:description>
              The volume field is used to describe the volume of the journal in
              which the article appears.
            </doc:description>
            <doc:example>
              "Volume I"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="issue" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Journal issue</doc:tooltip>
            <doc:summary>
              The issue of the journal in which the article appears
            </doc:summary>
            <doc:description>
              The issue field is used to describe the issue of the journal in
              which the article appears.  
            </doc:description>
            <doc:example>
              "November 2001"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pageRange" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Journal Pages</doc:tooltip>
            <doc:summary>
              The beginning and end page numbers of the journal article
            </doc:summary>
            <doc:description>
              The page range field is used for the beginning and ending pages of
              the journal article that is being documented.
            </doc:description>
            <doc:example>
              "115-122"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element name="edition" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Book edition</doc:tooltip>
            <doc:summary>
              The edition of the book being described.
            </doc:summary>
            <doc:description>
              The edition field is to document the edition of the book that is
              being described.
            </doc:description>
            <doc:example>
              "Second Edition"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Total book pages</doc:tooltip>
            <doc:summary>
              The total number of pages in the book.
            </doc:summary>
            <doc:description>
              The total pages field is used to describe the total number of
              pages in the book that is being described.
            </doc:description>
            <doc:example>
              "628"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalFigures" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of figures in book</doc:tooltip>
            <doc:summary>
              The total number of figures in the book.
            </doc:summary>
            <doc:description>
              the total figures field is used to describe the total number of
              figures, diagrams, and plates in the book that is being
              documented.
            </doc:description>
            <doc:example>
              "45"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalTables" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of tables in book</doc:tooltip>
            <doc:summary>
              The total number of tables in a book.
            </doc:summary>
            <doc:description>
              The total tables field is used to describe the total number of
              tables that are present in the book that is being documented.
            </doc:description>
            <doc:example>
              "10"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Book volume</doc:tooltip>
            <doc:summary>
              The volume of the book that is part of a series.
            </doc:summary>
            <doc:description>
              The volume field is used to describe the volume number of a book
              that is part of a multi-volume series of books.
            </doc:description>
            <doc:example>
              "Volume 2"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Chapter">
    <xs:sequence>
      <xs:element name="chapterNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Chapter number</doc:tooltip>
            <doc:summary>
              The chapter number of interest within a book
            </doc:summary>
            <doc:description>
              The chapter number of the chapter of a book that is being
              described.
            </doc:description>
            <doc:example>
              "7"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookEditor" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Book editor</doc:tooltip>
            <doc:summary>
              The name of the editor of the book.
            </doc:summary>
            <doc:description>
              The book editor field is used to document the name of the 
              editor of the book that is being described. The editor may be
              a person, organization, or a role within an organization.
            </doc:description>
            <doc:example>
              "Tom Christiansen", "Institute of Marine Science", "Publication
              Manager"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookTitle" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Book title</doc:tooltip>
            <doc:summary>
              The title of the book.
            </doc:summary>
            <doc:description>
              The book title field is used to document the title of the book
              that is being described.
            </doc:description>
            <doc:example>
              "War and Peace"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publishing company</doc:tooltip>
            <doc:summary>
              The name of the book publisher.
            </doc:summary>
            <doc:description>
              The publisher field is used to document the name of the publishing
              company that published the book that is being described.  
            </doc:description>
            <doc:example>
              "Univesity of California Press"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pageRange" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Chapter page range</doc:tooltip>
            <doc:summary>
              The beginning and ending page numbers of a chapter.
            </doc:summary>
            <doc:description>
              The page range field is used to document the beginning and ending
              pages of a chapter in a book.
            </doc:description>
            <doc:example>
              "25-122"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="edition" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Book edition</doc:tooltip>
            <doc:summary>
              The edition of the book.
            </doc:summary>
            <doc:description>
              The edition field is used to document the edition of the book
              being described.
            </doc:description>
            <doc:example>
              "Second Edition"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Book volume</doc:tooltip>
            <doc:summary>
              The volume of the book that is part of a series.
            </doc:summary>
            <doc:description>
              The volume field is used to document the the volume number of a
              book that is part of a multi-volume series of books.
            </doc:description>
            <doc:example>
              "Volume 2"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Manuscript">
    <xs:sequence>
      <xs:element name="pubInfo" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Manuscript publication information</doc:tooltip>
            <doc:summary>
              The address and contact information needed to request a manuscript. 
            </doc:summary>
            <doc:description>
              The publication information field is used to provide contact and
              address information that would be needed to request an unpublished
              manuscript
            </doc:description>
            <doc:example>
              Please see the individual sub-fields for specific examples.
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Manuscript location information</doc:tooltip>
            <doc:summary>
              The online address URL location of the manuscript. 
            </doc:summary>
            <doc:description>
              The location field is used to document the online location of the
              manuscript that is being described.  It should be in the form of a
              URL.
            </doc:description>
            <doc:example>
              http://myserver.mydomain.edu/manuscript.html
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="institution" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              Report Institution
            </doc:tooltip>
            <doc:summary>
              The responsible institution where report the may be requested
            </doc:summary>
            <doc:description>
              The institution field is used to describe the name, address, and
              contact information of the institution that created the report in
              order to request the report.
            </doc:description>
            <doc:example>
              Please see the individual sub-fields for specific examples.
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="reportNumber" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Report Number</doc:tooltip>
            <doc:summary>
              The unique identification number assigned to the report.
            </doc:summary>
            <doc:description>
              The report number field is used to describe the unique
              identification number that has been issued by the report
              institution for the report being described.
            </doc:description>
            <doc:example>
              "22"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Thesis">
    <xs:sequence>
      <xs:element name="degree" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Degee name</doc:tooltip>
            <doc:summary>
              The name or degree level for which the thesis was completed.
            </doc:summary>
            <doc:description>
              The degree field is used to describe the name or degree level 
              for which the thesis was completed.
            </doc:description>
            <doc:example>
              "Ph.D.", "M.S.", "Master of Science", etc...
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pubInfo" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Address where thesis may be requested</doc:tooltip>
            <doc:summary>
              The address where the thesis may be requested
            </doc:summary>
            <doc:description>
              The publication information field is used to provide the name,
              address, and contact information that is needed in oreder to
              request a copy of the thesis that is being described.
            </doc:description>
            <doc:example>
              Please see the individual sub-fields for specific examples.
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Thesis Pages</doc:tooltip>
            <doc:summary>
              The total number of pages in the thesis.
            </doc:summary>
            <doc:description>
              The total pages field is used to document the number of pages that
              are present in the thesis that is being described.
            </doc:description>
            <doc:example>
              "356"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="degreeInstitution" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Degree awarding institution</doc:tooltip>
            <doc:summary>
              The name of the degree-awarding institution
            </doc:summary>
            <doc:description>
              The degree institution field is used to name the institution from
              which the degree was awarded for the thesis being described.
            </doc:description>
            <doc:example>
              "Western Washington University"
            </doc:example>
            <doc:lineage>
              This field was introduced into EML 2.0 beta 1, and was 
              derived from MARC/various software packages handling literature
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
