eml-entity.dtd

<!--
       '$RCSfile: eml-entity.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: berkley $'
          '$Date: 2001-03-28 17:18:16 $'
      '$Revision: 1.6 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->
<!-- EML DTD document that defines the structural
     characteristics of every entity in a dataset. -->

<!-- The root element, which contains an identifier and an entity description -->
<!ELEMENT eml-entity (identifier, entity)>

<!-- File identifier of the metadata document -->
<!ELEMENT identifier (#PCDATA)>
<!ATTLIST identifier system CDATA>

<!-- Entity element is a descriptor of an entity in the dataset
     identified by its name. -->
<!ELEMENT entity (entityName, entitySize?, entityFormat, compressionMethod?,
                  endocingMethod?, recordDelimeter?,
                  quoteCharacter?, orientation?, numHeaderLines?,
                  caseSensitive?, geographicCoverage*, temporalCoverage*,
                  authentication*, dataProblem*)>

<!-- Entity name-->
<!ELEMENT entityName (#PCDATA) >

<!-- Entity size -->
<!ELEMENT entitySize (#PCDATA) >
<!ATTLIST entitySize unit CDATA "bytes">

<!-- Entity format (e.g., ASCII, UNICODE, other character encodings,
     name of various binary formats [TIFF]) -->
<!ELEMENT entityFormat (#PCDATA)>
<!-- Method of compression -->
<!ELEMENT compressionMethod (#PCDATA)>
<!-- Method of encoding -->
<!ELEMENT encodingMethod (#PCDATA)>
<!-- The character used to delimit records in the entity -->
<!ELEMENT recordDelimiter (#PCDATA)>
<!-- The character used to delimit quote data values so that the
     filed delimeters can be used in the data value, typically
     " or ' -->
<!ELEMENT quoteCharacter (#PCDATA)>

<!-- Is entity column major or row major? -->
<!ELEMENT orientation EMPTY >
<!ATTLIST orientation columnorrow (columnmajor|rowmajor) "columnmajor">

<!-- Number of header lines or information that prepares data -->
<!ELEMENT numHeaderLines (#PCDATA) >

<!-- Case sensitivity of field -->
<!ELEMENT caseSensitive EMPTY >
<!ATTLIST caseSensitive yesorno (yes|no) "no">
 
<!-- Geographic coverage -->
<!ELEMENT geographicCoverage (paragraph*, coordinates*)>
<!-- Cartesian Coordinates -->
<!ELEMENT coordinates (latitude, longitude) >
<!ELEMENT latitude (#PCDATA)>
<!ATTLIST latitude direction (north|south) #REQUIRED>
<!ELEMENT longitude (#PCDATA)>
<!ATTLIST longitude direction (east|west) #REQUIRED>

<!-- Temporal coverage -->
<!ENTITY % temporalCoverage "(startDate,stopDate?)">
<!-- Date data collection commenced -->
<!ELEMENT startDate (dateTime)>
<!-- Date and time as designated in ISO 8601 -->
<!ELEMENT dateTime (year?, month?, day?, hour?, minute?, second?, 
                    second_fraction?, time_zone_designator?)>
<!-- Year in YYYY format -->
<!ELEMENT year (#PCDATA)>
<!-- Month in MM format -->
<!ELEMENT month (#PCDATA)>
<!-- Day of month in DD format -->
<!ELEMENT day (#PCDATA)>
<!-- Hour in hh -->
<!ELEMENT hour (#PCDATA)>
<!-- Minute in mm -->
<!ELEMENT minute (#PCDATA)>
<!-- Seconds in ss -->
<!ELEMENT second (#PCDATA)>
<!-- One or more digits representing a decimal fraction of a second -->
<!ELEMENT secondFraction (#PCDATA)>
<!-- Time zone designato -->
<!ELEMENT timeZoneDesignator (#PCDATA)>
<!-- Date data collection terminated -->
<!ELEMENT stopDate  (dateTime)>

<!-- Authentication procedures or techniques -->
<!ELEMENT authentication (#PCDATA) >

<!-- Data anomalies; description of missing data -->
<!ELEMENT dataProblem (paragraph+)>
<!ATTLIST dataProblem problemType (missing|anomaly|error) #REQUIRED>
<!ELEMENT paragraph (#PCDATA)>

<!-- End of file -->
