eml-project.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rp="iso:ResponsibleParty"
           xmlns:cov="eml:coverage"
           xmlns:cit="eml:literature"
           targetNamespace="eml:research">

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-project.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: jones $'
          '$Date: 2001-07-11 19:10:04 $'
      '$Revision: 1.14 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>eml-research</moduleName>
      <moduleDescription>
        The EML Research Module describes the research context 
        in which the dataset was created.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>

  <xs:import namespace="eml:coverage" 
             schemaLocation = "./eml-coverage.xsd"/>
  <xs:import namespace="eml:literature" 
             schemaLocation = "./eml-literature.xsd"/>

  <xs:element name="eml-research">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Research protocol descriptors
        </tooltip>
        <summary>
          Container of all research projects in which context the
          dataset was created.
        </summary>
        <description>
           Eml-research element represents the research project 
           employed by the researchers who created this dataset.
        </description>
        <example>
        </example>
        <lineage>
          The eml-reasearch was introduced into EML 1.4 as eml-context.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "identifier" type = "xs:string"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Unique identifier
              </tooltip>
              <summary>
                The unique identifier of this metadata file or object.
              </summary>
              <description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </description>
              <example>
               <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
              </example>
              <lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="system" use="optional" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    Catalog system
                  </tooltip>
                  <summary>
                    The catalog system in which this identifier is used.
                  </summary>
                  <description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </description>
                  <example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]>
                  </example>
                  <lineage>
                    New to EML 2.0.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>

        <xs:element ref="researchProject" minOccurs="1" maxOccurs="unbounded" />

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="researchProject">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Research project descriptor
        </tooltip>
        <summary>
          Descriptor of research project in which context 
          the dataset was created.
        </summary>
        <description>
          Research project element is a descriptor of
          the research methods employed by the researchers who 
          created this dataset. It can include research methods, 
          data collection methods, equations, formulas. 
        </description>
        <example>
        </example>
        <lineage>
          The researchProject element was introduced into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Title
              </tooltip>
              <summary>
                Title of the research project
              </summary>
              <description>
                Title of the research project
              </description>
              <example>
              </example>
              <lineage>
                The title element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation> 
        </xs:element>

        <xs:element ref="originator" type="rp:ResponsibleParty"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Originator
              </tooltip>
              <summary>
                The party who created the research project.
              </summary>
              <description>
                The party who created the research project.
              </description>
              <example>
              </example>
              <lineage>
                FGDC-STD-001.1-1999 (nbii-fgdc-std-001.1-1999)
              </lineage>
            </xs:appinfo>
          </xs:annotation> 
        </xs:element>

        <xs:element name="temporalDescription"
                    minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Temporal description
              </tooltip>
              <summary>
                Descriptor of temporal boudaries of the project.
              </summary>
              <description>
                This element describes the temporal coverage of the project.
                It specifies the duration, start and end date of the project.
              </description>
              <example>
              </example>
              <lineage>
                The temporalDescription element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="temporalCov" type="cov:TemporalCoverage"
                          minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                        Temporal coverage
                    </tooltip>
                    <summary>
                        Temporal coverage descriptor
                    </summary>
                    <description>
                        This element specifies temporal coverage of the 
                      research project.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The temporalCoverage was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="objectives"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Objectives
              </tooltip>
              <summary>
                Scope and purpose of the research project.
              </summary>
              <description>
                Description of scope and purpose of the research project
                in paragraph of text.
              </description>
              <example>
              </example>
              <lineage>
                The objectives element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="abstract"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Abstract
              </tooltip>
              <summary>
                Descriptive abstract.
              </summary>
              <description>
                Descriptive abstract in paragraph of text.
              </description>
              <example>
              </example>
              <lineage>
                The abstract element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="funding"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Funding
              </tooltip>
              <summary>
                Funding information.
              </summary>
              <description>
                Grant and contract numbers, names and addresses of
                funding sources described in paragraph of text.
              </description>
              <example>
              </example>
              <lineage>
                The funding element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element ref="siteDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element ref="designDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element ref="methodDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element name="staff" type="rp:ResponsibleParty"
                          minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Project personell
              </tooltip>
              <summary>
                Project personell
              </summary>
              <description>
                Project personell.
              </description>
              <lineage>
                FGDC-STD-001.1-1999 (nbii-fgdc-std-001.1-1999)
              </lineage>
            </xs:appinfo>
          </xs:annotation> 
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="siteDescription">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Site description
        </tooltip>
        <summary>
          Site description.
        </summary>
        <description>
          Description of the site of the project. It can include 
          general description in paragraph of text, geographical,
          geological, hydrological, hystorical, meteorological
          information.
        </description>
        <example>
        </example>
        <lineage>
          The siteDescription element was introduced into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paragraph" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="siteType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Site type description
              </tooltip>
              <summary>
                Site type description.
              </summary>
              <description>
                Site type - description, e.g., short-grass prairie,
                blackwater stream, etc. in paragraph of text.
              </description>
              <example>
              </example>
              <lineage>
                The siteType element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="geography" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Geographical descriptor
              </tooltip>
              <summary>
                Description of geographical location and size of the site.
              </summary>
              <description>
                Description of geographical location and size of the site 
                of the project in Cartesian coordinates, paragraph of text
                or citation from some source.
              </description>
              <example>
              </example>
              <lineage>
                The geography element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="geographicCov" type="cov:GeographicCoverage" 
                          minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                      Geographical coverage
                    </tooltip>
                    <summary>
                      Geographical coverage of the site of the project.
                    </summary>
                    <description>
                      This element is to specify the geographical coordinates
                      of the site of the project: latitude and longitude.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The geographicCoverage element was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
        
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="habitat" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Habitat sampled descriptor
              </tooltip>
              <summary>
                Detailed characteristics of habitat sampled in the site.
              </summary>
              <description>
                Detailed characteristics of habitat sampled in the site:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The habitat element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="geology" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Geological descriptor
              </tooltip>
              <summary>
                Geology and Landform description
              </summary>
              <description>
                Detailed characteristics of geology and landform of the site:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The geology element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="hydrology" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Hydrological descriptor
              </tooltip>
              <summary>
                Hydrological description of the site.
              </summary>
              <description>
                Hydrological description of the site:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The hydrology element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="history" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Historical descriptor
              </tooltip>
              <summary>
                Historical description of the site.
              </summary>
              <description>
                Historical description of the site:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The history element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="climate" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Climatic descriptor
              </tooltip>
              <summary>
                Climatic description of the site.
              </summary>
              <description>
                Climatic description of the site:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The climate element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
              
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="chapterTitle">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Chapter title
        </tooltip>
        <summary>
          Chapter title.
        </summary>
        <description>
          Chapter title of the source where the citation comes from.
        </description>
        <example>
        </example>
        <lineage>
          The chapterTitle element was introduced into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"
                    minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
        
  <xs:element name="designDescription">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Experimental or Sampling design
        </tooltip>
        <summary>
          Experimental or Sampling design of the project
        </summary>
        <description>
          Experimental or Sampling design: the design method, plots,
          samplings, descriptive paragraph of text or citation from 
          a source.
        </description>
        <example>
        </example>
        <lineage>
          The designDescription element was introduced into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="designMethod" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Design method
              </tooltip>
              <summary>
                Statistical/sampling design method descriptor
              </summary>
              <description>
                Description of Statistical/sampling design method:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The designMethod element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="plots" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Permanent plot
              </tooltip>
              <summary>
                Permanent plot of design of the project
              </summary>
              <description>
                Description of Permanent plot of design of the project:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The plots element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="sampling" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Temporal sampling regime
              </tooltip>
              <summary>
                Temporal sampling regime
              </summary>
              <description>
                Information necessary to understand temporal sampling regime:
                temporal boundaries, frequency of occurrence,
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The sampling element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="temporalCov" type="cov:TemporalCoverage"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="frequency" type="xs:string"
                          minOccurs="0" maxOccurs="1"/>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="paragraph" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="citation" type="cit:LitCitation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
        
  <xs:element name="methodsDescription">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Research method 
        </tooltip>
        <summary>
          Research method descriptor
        </summary>
        <description>
          Description of research method of the project:
          the method itself, instruments used, taxonomy, permit, 
          legal information, 
          descriptive paragraph of text or citation from a source.
        </description>
        <example>
        </example>
        <lineage>
          The methodsDecription element was introduced into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="method" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Research method 
              </tooltip>
              <summary>
                Research method descriptor
              </summary>
              <description>
                Description or reference to field/laboratory method:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The method element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="instrument" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Instrument used 
              </tooltip>
              <summary>
                Instrument used
              </summary>
              <description>
                Instruments used:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The instrument element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="taxonomy" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Taxonomy
              </tooltip>
              <summary>
                Taxonomy information
              </summary>
              <description>
                Taxonomy information:
                descriptive paragraph of text or citation from a source.
              </description>
              <example>
              </example>
              <lineage>
                The taxonomy element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="cit:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="permit" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Permit
              </tooltip>
              <summary>
                References to pertinent scientific and collecting permits
                information
              </summary>
              <description>
                References to pertinent scientific and collecting permits
                information: descriptive paragraph of text.
              </description>
              <example>
              </example>
              <lineage>
                The permit element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="legalInformation" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Legal information
              </tooltip>
              <summary>
                Legal information
              </summary>
              <description>
                References to pertinent scientific and collecting permits
                information: descriptive paragraph of text.
              </description>
              <example>
              </example>
              <lineage>
                The legalInformation element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
              
        <xs:element name="paragraph" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="citation" type="cit:LitCitation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
        
</xs:schema>
