eml-context.dtd

<!--
  * Ecological Metadata Language (EML) - Research context descriptors
  *
  *      Authors: Matt Jones, Zheng Wang, and Noah Goldstein
  * Organization: National Center for Ecological Analysis and Synthesis
  *  For Details: http://www.nceas.ucsb.edu/
  *      Created: 1997 August 19
  *     Modified: 1998 August 27
  *      Version: 1.3
  *
  * Ecological Metadata Language is a general purpose metadata content
  * specification for documenting ecological data.  The specification
  * consists of a series of modular document type definitions (DTD) that
  * provide metadata content descriptors. It describes the owner and
  * contents of the dataset  (eml-dataset.dtd), the research context in
  * which it was created (eml-context.dtd), the structural
  * characteristics of data files (eml-file.dtd), the
  * characteristics of variables in a file (eml-variable.dtd), current
  * status of data and metadata files (eml-status.dtd), access control
  * rules regarding the data  and metadata (eml-access.dtd), software
  * information (eml-software) and a variety of miscellaneous
  * supplemental descriptors (eml-supplement.dtd).
  *
  * Files generated under the structural constraints of eml are
  * plain-text files and therefore are editable in ordinary
  * text-processors.  However, these DTDs are intended for use within
  * general purpose metadata editors, and within a more specific
  * metadata editor being developed at NCEAS for the ecological
  * community.  This metadata editor will provide facilities for
  * version control and efficient metadata entry.
  * The purpose of this specification was to formalize the
  * Michener et al. work in a structured language to examine its
  * application to ecological data in a controlled manner.
  *
  * This specification was based on the work of the Ecological Society
  * of America's Committee on the Future of Long Term Data, and more
  * specifically on a related paper, Michener et al., 1997. See:
  * Michener, William K., et al., 1997. Ecological Appications,
  * "Nongeospatial metadata for the ecological sciences"
  * Vol 7(1). pp. 330-342.
  *
  * Where appropriate, we have used elements of the ISO/TC 211 draft
  * standard - the ISO Geographic information/Geomatics standard,
  * which includes xml code, as well as ISO 8601 schema. Some elements
  * in the ISO/TC 211 were expanded to allow for greater
  * resolution.
  *
  * For an explanation of the classes of metadata and elements defined
  * below, see Michener et al. 1997. In particular, the numbered comment
  * labels found below refer to Table 1 (pp. 336-337) of Michener
  * et al. 1997. In addition, each of the principal elements in the
  * specification is accompanied by a FIXED attribute called "description"
  * that provides a brief description of the content of the element. These
  * descriptions are derived from Michener et al. 1997.
  *
-->

<!--    *      *      *      *
        CLASS II - RESEARCH ORIGIN DESCRIPTORS
        *      *      *      *
        -->

<!-- Class 2-->
<!ELEMENT eml-context (meta_file_id,research_project)>
<!ATTLIST eml-context description CDATA #FIXED "Data set status and availabilty">
<!ELEMENT meta_file_id (#PCDATA)>
<!ATTLIST meta_file_id description CDATA #FIXED "Unique identifier of this metadata record">

<!-- Class 2.A -->
<!ELEMENT research_project (title, originator+, temporal_description*,
		objectives?, abstract?, funding?, site_description*,
	 	design_description*, methods_description*, staff*)>
<!ATTLIST research_project description CDATA #FIXED "Overall project descriptors">
<!ELEMENT title (#PCDATA)>
<!ATTLIST title description CDATA #FIXED "Title or theme of data set">
<!ELEMENT originator (party)>
<!ATTLIST originator description CDATA #FIXED "Names and addresses of principal
investigators">
<!ELEMENT party ((party_individual | party_org), meta_address)>
<!ATTLIST party description CDATA #FIXED "Responsible party information">
<!ELEMENT party_individual (salutation*, given_name+, surname, job_title*)>
<!ATTLIST party_individual description CDATA #FIXED "Full name of individual">
<!ELEMENT salutation (#PCDATA)>
<!ATTLIST salutation description CDATA #FIXED "Salutation">
<!ELEMENT given_name (#PCDATA)>
<!ATTLIST given_name description CDATA #FIXED "First name">
<!ELEMENT surname (#PCDATA)>
<!ATTLIST surname description CDATA #FIXED "Last Name">
<!ELEMENT job_title (#PCDATA)>
<!ATTLIST job_title description CDATA #FIXED "Job title">
<!ELEMENT party_org (#PCDATA)>
<!ATTLIST party_org description CDATA #FIXED "Name of organization">
<!ELEMENT meta_address (address*, city?, admin_area*, postal_code?, country, resource_url*, email*, phone*, fax*, tdd_phone*)>
<!ATTLIST meta_address description CDATA #FIXED "Contact information"
                      meta_address_status (current|notcurrent) #REQUIRED
                      meta_address_purpose (mail|institution|homeresidence) #REQUIRED>
<!ELEMENT address (#PCDATA)>
<!ATTLIST address description CDATA #FIXED "Street address">
<!ELEMENT city (#PCDATA)>
<!ATTLIST city description CDATA #FIXED "City">
<!ELEMENT admin_area (#PCDATA)>
<!ATTLIST admin_area description CDATA #FIXED "Administrative area (state, province, territory)">
<!ELEMENT postal_code (#PCDATA)>
<!ATTLIST postal_code description CDATA #FIXED "Postal code">
<!ELEMENT country (#PCDATA)>
<!ATTLIST country description CDATA #FIXED "Country">
<!ELEMENT resource_url (#PCDATA)>
<!ATTLIST resource_url description CDATA #FIXED "URL">
<!ELEMENT email (#PCDATA)>
<!ATTLIST email description CDATA #FIXED "Email address">
<!ELEMENT phone (country_code?,area_code?,local_code, extension?)>
<!ATTLIST phone description CDATA #FIXED "Phone number">
<!ELEMENT fax (country_code?,area_code?,local_code)>
<!ATTLIST fax description CDATA #FIXED "Facimilie telephone">
<!ELEMENT tdd_phone (country_code?,area_code?,local_code)>
<!ATTLIST tdd_phone description CDATA #FIXED "TDD/TTY telephone">
<!ELEMENT country_code (#PCDATA)>
<!ATTLIST country_code description CDATA #FIXED "Countrycode">
<!ELEMENT area_code (#PCDATA)>
<!ATTLIST area_code description CDATA #FIXED "Area code">
<!ELEMENT local_code (#PCDATA)>
<!ATTLIST local_code description CDATA #FIXED "Local phone code">
<!ELEMENT extension (#PCDATA)>
<!ATTLIST extension description CDATA #FIXED "Phone extension code">


<!-- Class 2.A.1 - see Class 2.A -->

<!-- Class 2.A.2 - see Class 2.A -->

<!-- Class 2.A.3 -->
<!ELEMENT temporal_description (temporal_coverage*, duration?)>
<!ATTLIST temporal_description description CDATA #FIXED "General description of temporal coverage of project">
<!ELEMENT temporal_coverage (start_date,stop_date?)>
<!ATTLIST temporal_coverage description CDATA #FIXED "Temporal coverage">
<!ELEMENT start_date (datetime)>
<!ATTLIST start_date description CDATA #FIXED "Date data collection commenced">
<!ELEMENT datetime (year?, month?, day?, hour?, minute?, second?, second_fraction?, time_zone_designator?)>
<!ATTLIST datetime description CDATA #FIXED "Date and time as designated in ISO 8601">
<!ELEMENT year (#PCDATA)>
<!ATTLIST year description CDATA #FIXED "Year in YYYY format">
<!ELEMENT month (#PCDATA)>
<!ATTLIST month description CDATA #FIXED "Month in MM format">
<!ELEMENT day (#PCDATA)>
<!ATTLIST day description CDATA #FIXED "Day of month in DD format">
<!ELEMENT hour (#PCDATA)>
<!ATTLIST hour description CDATA #FIXED "Hour in hh">
<!ELEMENT minute (#PCDATA)>
<!ATTLIST minute description CDATA #FIXED "Minute in mm">
<!ELEMENT second (#PCDATA)>
<!ATTLIST second description CDATA #FIXED "Seconds in ss">
<!ELEMENT second_fraction (#PCDATA)>
<!ATTLIST second_fraction description CDATA #FIXED "One or more digits representing a decimal fraction of a second">
<!ELEMENT time_zone_designator (#PCDATA)>
<!ATTLIST time_zone_designator description CDATA #FIXED "Time zone designator">

<!ELEMENT stop_date  (datetime)>
<!ATTLIST stop_date description CDATA #FIXED "Date data collection terminated">

<!ELEMENT duration (amount, unit)>
<!ATTLIST duration description CDATA #FIXED "Duration of temporal coverage">
<!ELEMENT amount (#PCDATA) >
<!ATTLIST amount description CDATA #FIXED "Amount">
<!ELEMENT unit (#PCDATA) >
<!ATTLIST unit description CDATA #FIXED "Unit">


<!-- Class 2.A.4 -->
<!ELEMENT objectives (paragraph+) >
<!ATTLIST objectives description CDATA #FIXED "Scope and purpose of research program">
<!ELEMENT paragraph (#PCDATA)>
<!ATTLIST paragraph description CDATA #FIXED "Paragraph of text">

<!-- Class 2.A.5  -->
<!ELEMENT abstract (paragraph+)>
<!ATTLIST abstract description CDATA #FIXED "Descriptive abstract">


<!-- Class 2.A.6 -->
<!ELEMENT funding (paragraph+) >
<!ATTLIST funding description CDATA #FIXED "Grant and contract numbers, names and addresses of funding sources">


<!-- Class 2.B -->
<!-- Class 2.B (subproject) has been assimilated to research project -->

<!-- Class 2.B.1 -->
<!ELEMENT site_description (paragraph*, sitetype?, geography?, habitat?, geology?, hydrology?, history?, climate?)>
<!ATTLIST site_description description CDATA #FIXED "Site description">

<!-- Class 2.B.1.a -->
<!ELEMENT sitetype (paragraph+) >
<!ATTLIST sitetype description CDATA #FIXED "Site type - description, e.g., short-grass prairie, blackwater stream, etc.">


<!-- Class 2.B.1.b -->
<!ELEMENT geography (coordinates*,paragraph*, citation*)>
<!ATTLIST geography description CDATA #FIXED "Location and size">
<!ELEMENT coordinates (lattitude, longitude) >
<!ATTLIST coordinates description CDATA #FIXED "Cartesian Coordinates">
<!ELEMENT lattitude (#PCDATA)>
<!ATTLIST lattitude direction (north|south) #REQUIRED
                    description CDATA #FIXED "Lattitude coordinates">
<!ELEMENT longitude (#PCDATA)>
<!ATTLIST longitude direction (east|west) #REQUIRED
                    description CDATA #FIXED "Longitude coordinates">
<!ELEMENT citation (author*, editor*, source_information?)>
<!ATTLIST citation description CDATA #FIXED "Citation">
<!ELEMENT author (party)>
<!ATTLIST author description CDATA #FIXED "Author">
<!ELEMENT editor (party)>
<!ATTLIST editor description CDATA #FIXED "Editor">
<!ELEMENT source_information    (title, vol?, issue?, pubdate?,
                        publisher?, edition?, series?, chapter_title?,
                        pages?, resource_url*)>
<!ATTLIST source_information description CDATA #FIXED "Source information">
<!ELEMENT vol (#PCDATA)>
<!ATTLIST vol description CDATA #FIXED "Volume">
<!ELEMENT issue (#PCDATA)>
<!ATTLIST issue description CDATA #FIXED "Issue">
<!ELEMENT pubdate (datetime)>
<!ATTLIST pubdate description CDATA #FIXED "Date of publication">
<!ELEMENT publisher (party)>
<!ATTLIST publisher description CDATA #FIXED "Publisher">
<!ELEMENT edition (#PCDATA)>
<!ATTLIST edition description CDATA #FIXED "Edition">
<!ELEMENT series  (#PCDATA)>
<!ATTLIST series description CDATA #FIXED "Series">
<!ELEMENT chapter_title (title)>
<!ATTLIST chapter_title description CDATA #FIXED "Chapter title">
<!ELEMENT pages (#PCDATA)>
<!ATTLIST pages description CDATA #FIXED "Pages">


<!-- Class 2.B.1.c -->
<!ELEMENT habitat (paragraph*, citation*)>
<!ATTLIST habitat description CDATA #FIXED "Detailed characteristics of habitat sampled">

<!-- Class 2.B.1.d -->
<!ELEMENT geology (paragraph*, citation*)>
<!ATTLIST geology description CDATA #FIXED "Geology and Landform">


<!-- Class 2.B.1.e -->
<!ELEMENT hydrology (paragraph*, citation*)>
<!ATTLIST hydrology description CDATA #FIXED "Hydrology">

<!-- Class 2.B.1.f -->
<!ELEMENT history (paragraph*, citation*)>
<!ATTLIST history description CDATA #FIXED "Site history">

<!-- Class 2.B.1.g -->
<!ELEMENT climate (paragraph*, citation*)>
<!ATTLIST climate description CDATA #FIXED "Site climatic characteristics">

<!-- Class 2.B.2 -->
<!ELEMENT design_description (designmethod?, plots?, sampling?,paragraph*, citation*)>
<!ATTLIST design_description description CDATA #FIXED "Experimental or Sampling design">

<!-- Class 2.B.2.a -->
<!ELEMENT designmethod (paragraph*, citation*)>
<!ATTLIST designmethod description CDATA #FIXED "Description of Statistical/sampling design">

<!-- Class 2.B.2.b -->
<!ELEMENT plots (paragraph*,citation*) >
<!ATTLIST plots description CDATA #FIXED "Permanent plot description">

<!-- Class 2.B.2.c -->
<!ELEMENT sampling (temporal_coverage*, frequency?,paragraph*,citation*)>
<!ATTLIST sampling description CDATA #FIXED "Information necessary to understand temporal sampling regime">
<!ELEMENT frequency (#PCDATA)>
<!ATTLIST frequency description CDATA #FIXED "Frequency or period of data collection">

<!-- Class 2.B.3 -->
<!ELEMENT methods_description (method*, instrument*, taxonomy*, permit*, legal_information*,paragraph*, citation*)>
<!ATTLIST methods_description description CDATA #FIXED "Research Methods">

<!-- Class 2.B.3.a -->
<!ELEMENT method (paragraph*, citation*)>
<!ATTLIST method description CDATA #FIXED "Description or reference to field/laboratory methods">

<!-- Class 2.B.3.b -->
<!ELEMENT instrument (paragraph*, citation*)>
<!ATTLIST instrument description CDATA #FIXED "Description of Instruments used">

<!-- Class 2.B.3.c -->
<!ELEMENT taxonomy (paragraph*, citation*)>
<!ATTLIST taxonomy description CDATA #FIXED "Taxonomy information">


<!-- Class 2.B.3.d -->
<!ELEMENT permit (paragraph+) >
<!ATTLIST permit description CDATA #FIXED "References to pertinent scientific and collecting permits">

<!-- Class 2.B.3.e -->
<!ELEMENT legal_information (paragraph+)>
<!ATTLIST legal_information description CDATA #FIXED "Relevant laws, decision criteria, compliance standards">

<!-- Class 2.B.4 -->
<!ELEMENT staff (party)>
<!ATTLIST staff description CDATA #FIXED "Project Personell">

<!-- End of file -->
