eml-project.dtd

<!--
       '$RCSfile: eml-project.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2001-07-23 02:07:54 $'
      '$Revision: 1.7 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->
<!-- EML DTD document that defines the research context
     in which the dataset was created. -->
<!ENTITY % cov SYSTEM "./eml-coverage.dtd">
%cov;
<!ENTITY % protocol SYSTEM "./eml-protocol.dtd">
%protocol;
<!-- The root element, which represents the research project 
     employed by the researchers who created this dataset -->
<!ELEMENT eml-project (identifier, researchProject+)>
<!-- Research project descriptor -->
<!ELEMENT researchProject (title+, originator+, temporalCov*, objectives?, abstract?, funding?, siteDescription*, designDescription*, eml-protocol*, staff*, researchProject*)>
<!-- Scope and purpose of the research project -->
<!ELEMENT objectives (paragraph+)>
<!-- Grant and contract numbers, names and addresses of funding sources -->
<!ELEMENT funding (paragraph+)>
<!-- Site description -->
<!ELEMENT siteDescription (paragraph*, siteType?, geography?, habitat?, geology?, hydrology?, history?, climate?)>
<!-- Site type - description, e.g., short-grass prairie, blackwater stream, etc. -->
<!ELEMENT siteType (paragraph+)>
<!-- Location and size -->
<!ELEMENT geography (geographicCov*, paragraph*, citation*)>
<!-- Detailed characteristics of habitat sampled -->
<!ELEMENT habitat (paragraph*, citation*)>
<!-- Geology and Landform -->
<!ELEMENT geology (paragraph*, citation*)>
<!-- Hydrology -->
<!ELEMENT hydrology (paragraph*, citation*)>
<!-- Site history -->
<!ELEMENT history (paragraph*, citation*)>
<!-- Site climatic characteristics -->
<!ELEMENT climate (paragraph*, citation*)>
<!-- Experimental or Sampling design -->
<!ELEMENT designDescription (designMethod?, plots?, sampling?, paragraph*, citation*)>
<!-- Description of Statistical/sampling design -->
<!ELEMENT designMethod (paragraph*, citation*)>
<!-- Permanent plot description -->
<!ELEMENT plots (paragraph*, citation*)>
<!-- Information necessary to understand temporal sampling regime -->
<!ELEMENT sampling (temporalCov*, frequency?, paragraph*, citation*)>
<!-- Frequency or period of data collection -->
<!ELEMENT frequency (#PCDATA)>
<!-- Project Personell -->
<!ELEMENT staff ((%ResponsibleParty;))>
<!-- End of file -->
