eml-distribution.dtd

<!--
       '$RCSfile: eml-distribution.dtd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2001-02-16 17:03:20 $'
      '$Revision: 1.2 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->

<!ENTITY % resParty SYSTEM "http://alpha.nceas.ucsb.edu/dtd/schemas/iso-party.dtd">
%resParty;

<!ELEMENT eml-distribution (format+, distributor*, digitalTransfer*)>

<!ELEMENT format (formatName+, formatVersion+, amendmentNumber*, formatSpec*,
                      compressionType*, distributionFormat*)>
<!ELEMENT formatName (#PCDATA)>
<!ELEMENT formatVersion (#PCDATA)>
<!ELEMENT amendmentNumber (#PCDATA)>
<!ELEMENT formatSpec (#PCDATA)>
<!ELEMENT compressionType (#PCDATA)>
<!ELEMENT distributionFormat (distributor)>

<!ELEMENT distributor (contact+, orderProcess*, distributorFormat*)>
<!ELEMENT contact ((%responsibleParty;))>
<!ELEMENT orderProcess (standardOrderProcess)>
<!ELEMENT distributorFormat (format)>


<!ELEMENT standardOrderProcess (fees*, dateTimeAvailable*, 
                                orderingInstructions*, turnaround*)>
<!ELEMENT fees (#PCDATA)>
<!ELEMENT dateTimeAvailable (#PCDATA)> <!-- date/time -->
<!ELEMENT orderingInstructions (#PCDATA)>
<!ELEMENT turnaround (#PCDATA)>

<!ELEMENT digitalTransfer (distributionUnits?, transferSize?, onLine*, 
                           offLineResource?)>
<!ELEMENT distributionUnits (#PCDATA)>
<!ELEMENT transferSize (#PCDATA)>
<!ELEMENT onLine (onlineResource)> <!-- from iso-party.dtd -->
<!ELEMENT offLineResource (medium)>

<!ELEMENT medium (medNameCode?, medDensity*, medDensityUnits?, medVol?, medFormat*,
                  medNote?)>
<!ELEMENT medNameCode (#PCDATA)>
<!ELEMENT medDensity (#PCDATA)>
<!ELEMENT medDensityUnits (#PCDATA)>
<!ELEMENT medVol (#PCDATA)>
<!ELEMENT medFormat (#PCDATA)> <!-- code list from B.6.23 -->
<!ELEMENT medNote (#PCDATA)>
