eml-storedProcedure.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="eml:storedProcedure-2.0.0beta8" 
            xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns:ent="eml:entity-2.0.0beta8" 
            xmlns:doc="eml:documentation-2.0.0beta8"
            xmlns="eml:storedProcedure-2.0.0beta8">
  <xs:import namespace="eml:entity-2.0.0beta8" schemaLocation="eml-entity.xsd"/>
  <xs:import namespace="eml:documentation-2.0.0beta8" schemaLocation="eml-documentation.xsd"/>
  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-storedProcedure.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/
   
        '$Author: berkley $'
          '$Date: 2002-05-30 23:17:30 $'
      '$Revision: 1.5 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
   
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
   
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-storedProcedure</doc:moduleName>
        <doc:moduleDescription>
          The StoredProcedure modules is meant to capture information on 
          procedures stored in the context of an RDBMS.  It should describe
          each stored procedure with a name, a sequence and a datatype.
        </doc:moduleDescription>
        <doc:recommendedUsage>
          all datasets that use storedProcedures for analysis or archive
          retrieval
        </doc:recommendedUsage>
        <doc:standAlone>
          yes
        </doc:standAlone>
        <doc:relationship>
          <doc:moduleName>
            eml-dataset
          </doc:moduleName>
          <doc:relationshipType>
            has stored procedure information for
          </doc:relationshipType>
        </doc:relationship>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:complexType name="StoredProcedure">
    <xs:choice>
      <xs:element name="content" type="StoredProcedureType"/>
      <xs:element name="references" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:element name="storedProcedure" type="StoredProcedureType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>
          
        </doc:tooltip>
        <doc:summary>
          
        </doc:summary>
        <doc:description>
          
        </doc:description>
        <doc:example>
            
        </doc:example>
        <doc:lineage>
          Introduced into eml-2.0.0beta9
        </doc:lineage>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="StoredProcedureType">
    <xs:attribute name="id" type="xs:ID" use="required" />
    <xs:attribute name="system" type="xs:string" use="optional" />
    <xs:attribute name="scope" use="optional" default="system">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="system" />
    
          <xs:enumeration value="document" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:complexContent>
      <xs:extension base="ent:EntityBase">
        <xs:sequence>
          <xs:element name="param" type="ParamBase" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>
                  
                </doc:tooltip>
                <doc:summary>
                  
                </doc:summary>
                <doc:description>
                  
                </doc:description>
                <doc:example>
                    
                </doc:example>
                <doc:lineage>
                  Introduced into eml-2.0.0beta9
                </doc:lineage>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="ParamBase">
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              
            </doc:tooltip>
            <doc:summary>
              
            </doc:summary>
            <doc:description>
              
            </doc:description>
            <doc:example>
                
            </doc:example>
            <doc:lineage>
              Introduced into eml-2.0.0beta9
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="sequence" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              
            </doc:tooltip>
            <doc:summary>
              
            </doc:summary>
            <doc:description>
              
            </doc:description>
            <doc:example>
                
            </doc:example>
            <doc:lineage>
              Introduced into eml-2.0.0beta9
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="datatype" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>
              
            </doc:tooltip>
            <doc:summary>
              
            </doc:summary>
            <doc:description>
              
            </doc:description>
            <doc:example>
                
            </doc:example>
            <doc:lineage>
              Introduced into eml-2.0.0beta9
            </doc:lineage>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>

