eml-access.dtd

<!--
      '$RCSfile: eml-access.dtd,v $'
      Purpose: This dtd mimics the content model found in
               eml-access.xsd.
    Copyright: 2000 Regents of the University of California and the
               National Center for Ecological Analysis and Synthesis
      Authors: Chris Jones, Matt Jones

     '$Author: bojilova $'
     '$Date: 2001-02-08 23:51:15 $'
     '$Revision: 1.6 $'
-->

<!-- The root element, which represents a list of resources to be controlled
     in the context of a particular authentication system. That is, the 
     authentication system determines the set of principals (users + groups) 
     that can be used, and the membership of users in groups -->
<!ELEMENT acl (resource+)>
<!ATTLIST acl authSystem CDATA #REQUIRED>

<!-- The object to which a particular set of rules will be applied -->
<!ELEMENT resource (resourceIdentifier+, allow*, deny*)>
<!-- The order in which the rules should be applied for this object -->
<!-- The public read access to this object -->
<!ATTLIST resource order (allowFirst|denyFirst) "allowFirst"
                   public (yes|no) >
<!-- the unique identifier for the object -->
<!ELEMENT resourceIdentifier (#PCDATA)>

<!-- an allow rule adds the listed permission for a particular principal -->
<!ELEMENT allow (principal+, permission+, duration?, ticketCount?)>
<!-- a deny rule removes the listed permission for a particular principal -->
<!ELEMENT deny (principal+, permission+, duration?, ticketCount?)>
<!-- the user/group in the authentication system to whom this rule applies -->
<!ELEMENT principal (#PCDATA)>
<!-- the permission to be allowed or denied (read/write/all) -->
<!ELEMENT permission (#PCDATA)>
<!-- the duration of the permission -->
<!ELEMENT duration (#PCDATA)>
<!-- the number of accesses allowed by this rule if access is granted -->
<!ELEMENT ticketCount (#PCDATA)>

<!-- EOF -->
