eml-access.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT acl (identifier+, (allow | deny)+)>
<!ATTLIST acl order (allowFirst | denyFirst) #REQUIRED authSystem CDATA #REQUIRED>
<!ELEMENT begdate (#PCDATA)>
<!ELEMENT beggeol (geolage)>
<!ELEMENT begtime (#PCDATA)>
<!ELEMENT citeinfo ANY>
<!ELEMENT enddate (#PCDATA)>
<!ELEMENT endgeol (geolage)>
<!ELEMENT endtime (#PCDATA)>
<!ELEMENT geolage (geolscal, geolest, geolun?, geolexpl?, geolcit*)>
<!ELEMENT mdattim (sngdate+)>
<!ELEMENT rngdates ((begdate, begtime?, enddate, endtime?) | (beggeol, endgeol))>
<!ELEMENT sngdate ((caldate, time?) | geolage)>
<!ELEMENT identifier (#PCDATA)>
<!ATTLIST identifier system CDATA #IMPLIED>
<!ELEMENT allow (principal+, permission+, duration?, ticketCount?)>
<!ELEMENT deny (principal+, permission+, duration?, ticketCount?)>
<!ELEMENT geolscal (#PCDATA)>
<!ELEMENT geolest (#PCDATA)>
<!ELEMENT geolun (#PCDATA)>
<!ELEMENT geolexpl (#PCDATA)>
<!ELEMENT geolcit (citeinfo)>
<!ELEMENT caldate (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT principal (#PCDATA)>
<!ELEMENT permission (#PCDATA)>
<!ELEMENT duration (sngdate | mdattim | rngdates)>
<!ELEMENT ticketCount (#PCDATA)>

