iso-party.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2000/10/XMLSchema"
           targetNamespace="iso:ResponsibleParty">

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: iso-party.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: berkley $'
          '$Date: 2001-03-19 19:35:16 $'
      '$Revision: 1.13 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appInfo>
          <moduleName>
          iso-party
        </moduleName>
      <moduleDescription>
        The iso-party module describes the responsible party that is associated
        with a resource or metadata document.  It presents the user with
        detailed contact information for the party, be it an individual person,
        an organization, or a named position within an organization.
      </moduleDescription>
    </xs:appInfo>
  </xs:annotation>

  <xs:complexType name="ResponsibleParty" content="elementOnly">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element name="individualName" type="Person">
          <xs:annotation>
            <xs:appInfo>
              <tooltip>
                Individual Name
              </tooltip>
              <summary>
                The full name of the person being described
              </summary>
              <description>
                The responsible party field contains the full name of the person
                that is associated with the resource.  This field contains
                subfields that break the persons name down into first and last
                name, and the values are entered into those field containers.
              </description>
              <example>
                Because this is an 'elementOnly' field, please look at the
                examples for the subfields 'givenName' and 'surName'.
              </example>
              <lineage>
                This field was derived from the ISO 19115.3 standard 
                (iso-geo-md-2000June-draft).
              </lineage>
            </xs:appInfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="organizationName" type="xs:string">
          <xs:annotation>
            <xs:appInfo>
              <tooltip>
                Organization name
              </tooltip>
              <summary>
                The full name of the organization being described
              </summary>
              <description>
                The responsible party field contains the full name of the
                organization that is associated with the resource.  This field
                is intended to describe which institution or overall
                organization is associated with the resource being described.
              </description>
              <example>
                National Center for Ecological Analysis and Synthesis
              </example>
              <lineage>
                This field was derived from the ISO 19115.3 standard 
                (iso-geo-md-2000June-draft).
              </lineage>
            </xs:appInfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="positionName" type="xs:string">
          <xs:annotation>
            <xs:appInfo>
              <tooltip>
                Position Name
              </tooltip>
              <summary>
                The name of the title or position associated with the resource.
              </summary>
              <description>
                This field is intended to be used instead of a particular person
                or full organization name.  If the associated person that holds
                the role changes frequently, then Position Name would be used
                for consistency.
              </description>
              <example>
                Niwot Ridge Data Manager
              </example>
              <lineage>
                This field was derived from the ISO 19115.3 standard 
                (iso-geo-md-2000June-draft).
              </lineage>
            </xs:appInfo>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="contactInfo" type="Contact" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Contact information
            </tooltip>
            <summary>
              Information needed in order to communicate with the associated
              party.
            </summary>
            <description>
              The contact information field contains a series of sub fields that
              provide information about contacting the associated party.  The
              subfields contain information such as the party's telephone
              number, email address, postal address, online internet address,
              etc.
            </description>
            <example>
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="roleCode" type="RoleCode" 
                  minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Role code
            </tooltip>
            <summary>
              The role, or category, of the associated party.
            </summary>
            <description>
              The role code field is intended to provide some context about the
              person or organization that is associated with the resource.
              Since there may be many people associated, such as  multiple principal
              investigators, data collectors, curators, etc., this field
              provides a means of describing how the individual or organization
              is associated with the resource.
            </description>
            <example>
              This field may contain values from a predefined list, which
              includes: "contentProvider", "custodianSteward", "owner", "user", 
              "distributor", "metadataProvider", "originator", "pointOfContact", 
              "principalInvestigator", "processor", "publisher", "author", "editor".
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Responsible party
        </tooltip>
        <summary>
          The individual, organization, or role associated with a resource.
        </summary>
        <description>
          The responsible party field contains multiple subfields that are used
          to describe  the person, organization, or position within an
          organization that is associated in some way with a resource.  It is
          intended to be used to fully fully document contact information for
          many types of associations, such as owner, manager, steward, curator,
          etc.
        </description>
        <example>
          Please see the examples for the particular subfields.
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appInfo>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="Person" content="elementOnly">
    <xs:sequence>
      <xs:element name="salutation" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Salutation
            </tooltip>
            <summary>
              The salutation used to address an individual
            </summary>
            <description>
              The salutation field is used in addressing an individual with a
              particular title, such as Dr., Ms., Mrs., Mr., etc.
            </description>
            <example>
              Dr.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Given name
            </tooltip>
            <summary>
              The given name of the individual.
            </summary>
            <description>
              The given name field is used for the first name of the individual
              associated with the resource.
            </description>
            <example>
              Corinna
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="surName" type="xs:string" 
                  minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Last name
            </tooltip>
            <summary>
              The last name of the individual.
            </summary>
            <description>
              The surname field is used for the last name of the individual
              associated with the resource.
            </description>
            <example>
              Gries
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="userName" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Username of contact
            </tooltip>
            <summary>
              The username of the contact.
            </summary>
            <description>
              The username of the contact on the system to which the user
              authenticates himself.  This should be a distinguished username
              on the system that the attribute "systemType" points to.
            </description>
            <example>
              "uid=cjones,dc=pisco,dc=ecoinformatics,dc=org", "berkley"
            </example>
            <lineage>
              new to EML 2.0
            </lineage>
          </xs:appInfo>
        </xs:annotation>
        <xs:attribute name="systemType" type="xs:string" use="required">
            <xs:annotation>
              <xs:appInfo>
                <tooltip>
                  System Type
                </tooltip>
                <summary>
                  The system type to which the user name authenticates.
                </summary>
                <description>
                  The system type to which the user name authenticates.  This
                  should not be a server name.  It should be more general.
                </description>
                <example>
                  LDAP, Metacat, MCAT
                </example>
                <lineage>
                  new to EML 2.0.
                </lineage>
              </xs:appInfo>
            </xs:annotation>
          </xs:attribute>
      </xs:element>
    </xs:sequence>
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Person
        </tooltip>
        <summary>
          The full name of the individual associated with the resource.
        </summary>
        <description>
          The person field is used to enter the salutation, first name, and last
          name of the individual associated with the resource.  It uses three
          subfields in order to help parse the person's entire name.
        </description>
        <example>
          Please see the examples within each subfield.
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appInfo>
    </xs:annotation>
  </xs:complexType>
  
  <xs:complexType name="Contact" content="elementOnly">
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Contact information
        </tooltip>
        <summary>
          detailed information about how to contact a responsible party.
        </summary>
        <description>
          The Contact field contains detailed subfields that describe when 
          and how a person or organization may be contacted. It includes
          fields for telephone, email, hours of service, facsimile, etc.
        </description>
        <example>
          Please see the examples within each subfield.
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appInfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="phone" type="Telephone" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Phone
            </tooltip>
            <summary>
              Information about the contact's telephone
            </summary>
            <description>
              The phone field describes information about the responsible
              party's telephone, be it a voice phone, fax, or TTD/TTY type
              telephone.  This field contains subfields that are used for each
              type.
            </description>
            <example>
              Please see the subfield examples.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="address" type="Address" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Contact address
            </tooltip>
            <summary>
              The full address information for a given responsible party entry.
            </summary>
            <description>
              The address field is a container for multiple subfields that
              describe the physical or electronic address of the responsible
              party for a resource. 
            </description>
            <example>
              Please see the subfield examples.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="onlineResource" type="OnlineResource" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Online resource
            </tooltip>
            <summary>
              The online resource field contains electronic/web contact
              information.
            </summary>
            <description>
              the online resource field gives detailed information about a
              contact that may be found via the Internet.  It contains
              multiple sufields that describe the location of the information
              and the protocols used to retrieve it.
            </description>
            <example>
              Please see the subfield examples.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="hoursOfService" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Hours of Service
            </tooltip>
            <summary>
              The hours of service field describes the times that a responsible
              party may be contacted.
            </summary>
            <description>
              The hours of service field describes the dates and times that a
              particular party that is associated with a resource amy be
              contacted.
            </description>
            <example>
              Monday through Friday, 8am to 5pm, PST
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactInstructions" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Contact instructions
            </tooltip>
            <summary>
              Any instructions needed in order to contact a responsible party.
            </summary>
            <description>
              The Contact instructions field describes any how a person or
              organization may be contacted in reference to a resource.
            </description>
            <example>
              Send email preferentially, or call between 10am and 12pm.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Telephone" content="elementOnly">
    <xs:sequence>
      <xs:element name="voice" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Voice number
            </tooltip>
            <summary>
              The telephone number for voice communication.
            </summary>
            <description>
              The voice field is used to provide the voice telephone number for
              a contact.  It should include a country code, an area code, and
              the number.
            </description>
            <example>
              1 (805) 886-8686
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="facsimile" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Fax number
            </tooltip>
            <summary>
              The telephone number for facsimile communication.
            </summary>
            <description>
              The facsimile field is used to provide the facsimile telephone 
              number for a contact.  It should include a country code, an area 
              code, and the number.
            </description>
            <example>
              1 (805) 886-8687
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="other" type="xs:string">
          <xs:annotation>
            <xs:appInfo>
              <tooltip>
                Other number
              </tooltip>
              <summary>
                A telephone number for commincation other than voice or fax.
              </summary>
              <description>
                The other telephone field is intended for any other type of
                telephone communication, such as a TTD/TTY phone. The type of
                number is described in the otherType field.
              </description>
              <example>
                1 (805) 886-8688
              </example>
              <lineage>
                This field was derived from the ISO 19115.3 standard 
                (iso-geo-md-2000June-draft).
              </lineage>
            </xs:appInfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="otherType" type="xs:string">
          <xs:annotation>
            <xs:appInfo>
              <tooltip>
                Other telephone type
              </tooltip>
              <summary>
                The type of phone number described in the other phone field.
              </summary>
              <description>
                The other type field is used to describe what type of phone
                number is being used within the other phone field.  This allows
                the contact to provide multiple means of telephone contact, and
                can be used for future communication types as well.
              </description>
              <example>
                TTD/TTY
              </example>
              <lineage>
                This field was derived from the ISO 19115.3 standard 
                (iso-geo-md-2000June-draft).
              </lineage>
            </xs:appInfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Telephone information
        </tooltip>
        <summary>
          The telephone field is intended to be used to provide the telephone
          number for the contact.
        </summary>
        <description>
          The telephone field contains a number of subfields that provide voice,
          fax, or other (such as TTD/TTY) telephone numbers.
        </description>
        <example>
          Please see the subfield examples.
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appInfo>
    </xs:annotation>
  </xs:complexType>
  <!-- The constraint that "other" is required if voice or facsimile are
       not provided has not been expressed in the Telephone type yet -->

  <xs:complexType name="Address" content="elementOnly">
    <xs:sequence>
      <xs:element name="deliveryPoint" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Delivery point
            </tooltip>
            <summary>
              The location for postal deliveries. 
            </summary>
            <description>
              The delivery point field is used for the physical address for
              postal communication.  This field is used to accomodate the many
              different international conventions  that are the equivalent 
              to a U.S. 'street address'.
            </description>
            <example>
              7209 Coast Drive, Building 44
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              City
            </tooltip>
            <summary>
              The name of the city for the contact.
            </summary>
            <description>
              The city field is used for the city name of the contact associated
              with a particular resource.
            </description>
            <example>
              San Francisco
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeArea" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Administrative area
            </tooltip>
            <summary>
              The political area of a country.
            </summary>
            <description>
              The administrative area field is the equivalent of a 'state' in
              the U.S.  This field is intended to accomodate the many types of
              international administrative areas.
            </description>
            <example>
              Colorado
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="postalCode" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Postal code
            </tooltip>
            <summary>
              The postal code used for routing to an address.
            </summary>
            <description>
              The postal code is equivalent to a U.S. zip code, or the number
              used for routing to an international address.  The U.S. postal
              code should include the 5 digit code plus the 4 digit extension.
            </description>
            <example>
              93106-2231
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="country" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Country
            </tooltip>
            <summary>
              The name of the country for the contact's address.
            </summary>
            <description>
              The country field is used for the name of the contact's country.
            </description>
            <example>
             U.S.A
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="electronicMailAddress" type="xs:string" 
                  minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Email address
            </tooltip>
            <summary>
              The email address of the contact.
            </summary>
            <description>
              The electronic mail address is the email address for the contact.
              It should consist of a username folowed by the @ symbol, followd
              by the email server domain name address.
            </description>
            <example>
              jbrunt@lternet.edu
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Address
        </tooltip>
        <summary>
          The full address of the resposible party.
        </summary>
        <description>
          The address field is provides detailed information for communicating
          with a party contact via electronic mail or postal mail, including the
          physical delivery location.
        </description>
        <example>
          Please see the examples for each subfield
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appInfo>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="OnlineResource" content="elementOnly">
    <xs:sequence>
      <xs:element name="linkage" type="URL" 
                  minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Online link
            </tooltip>
            <summary>
              The online link for the resource.
            </summary>
            <description>
              the linkage field is used to provide an online address for the
              resource being accessed.  It should conform to the Uniform
              Resource Locator standard.
            </description>
            <example>
              Please see the subfields for an example.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="protocol" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Protocol
            </tooltip>
            <summary>
              The connection protocol used to access an online resource.
            </summary>
            <description>
              The protocol field provides the name of the connection protocol
              used to access an online resource.  This field allows for a
              detailed description of the protocol, or the acronym used in
              refering to the protocol.
            </description>
            <example>
              HTTP (Hypertext Transfer Protocol)
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicationProfile" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Application profile
            </tooltip>
            <summary>
              The name of an application profile that can be used with the
               online resource.
            </summary>
            <description>
              The name of an application profile that can be used with the
               online resource.
            </description>
            <example>
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Resource name
            </tooltip>
            <summary>
              The name of the online resource.
            </summary>
            <description>
              The name field provides the name of the resource that may be
              accessed from the online URL.  It may be the name of a dataset
              file, or a form to access a database, or perhaps a directory
              listing.
            </description>
            <example>
              tree-heights.txt
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Resource description
            </tooltip>
            <summary>
              The description of what the online resource is or does.
            </summary>
            <description>
              The description field provides more detailed information about the
              particular online resource.
            </description>
            <example>
              The file tree-heights.txt is a listing of average tree heights for
              all tree species found in the sample area.
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="functionCode" type="xs:string" 
                  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appInfo>
            <tooltip>
              Function code
            </tooltip>
            <summary>
              the function performed by the resource.
            </summary>
            <description>
              The function code provides information about the function that the
              resource performs.  For example, it may be a download resource, or
              an instruction set, or a search facility.
            </description>
            <example>
              metadata search engine
            </example>
            <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
            </lineage>
          </xs:appInfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Online resource
        </tooltip>
        <summary>
          The full description of the online resource.
        </summary>
        <description>
          The online resource field provides detailed information on where to
          access a resource on the Internet, what the function is provided by
          the resource, and the means of accessing it.
        </description>
        <example>
          Please see the examples in the subfields.
        </example>
        <lineage>
              This field was derived from the ISO 19115.3 standard 
              (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appInfo>
    </xs:annotation>
  </xs:complexType>

  <xs:simpleType name="URL" base="xs:string"> 
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Uniform Resource Locator
        </tooltip>
        <summary>
          The online resource locator address for the resource.
        </summary>
        <description>
          The URL field defines a syntax for addressing resources that are
          available on the Internet.  It is composed of a connection protocol,
          followed by '://' followed by the domain name of the machine that
          stores the resource, followed by the path to the resource.
        </description>
        <example>
          http://knb.ecoinformatics.org/software/examples.txt
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft).
        </lineage>
      </xs:appInfo>
    </xs:annotation>
  </xs:simpleType>
  <!-- Could add restrictions here to make it conform to URL syntax -->
  
    <!-- Role code domain take from ISO -->
  <xs:simpleType name = "RoleCode" base = "xs:string">
        <xs:enumeration value = "contentProvider" />
        <xs:enumeration value = "custodianSteward" />
        <xs:enumeration value = "owner" />
        <xs:enumeration value = "user" />
        <xs:enumeration value = "distributor" />
        <xs:enumeration value = "metadataProvider" />
        <xs:enumeration value = "originator" />
        <xs:enumeration value = "pointOfContact" />
        <xs:enumeration value = "principalInvestigator" />
        <xs:enumeration value = "processor" />
        <xs:enumeration value = "publisher" />
        <!-- note that author and editor are not in the original ISO role 
             code list -->
        <xs:enumeration value = "author" />
        <xs:enumeration value = "editor" />
    <xs:annotation>
      <xs:appInfo>
        <tooltip>
          Role code
        </tooltip>
        <summary>
          The classification of the associated person or organization.
        </summary>
        <description>
          The role code field provides information on how a person or
          organization is related to a resource.  There may be many people
          associated, including an 'originator' of a dataset, an 'author',
          'editor', or 'publisher' of a literature resource, or an organization
          that is a 'distributor'.  the full list of choices is included in the
          example.
        </description>
        <example>
          author, contentProvider, custodianSteward, distributor, editor,
          metadataProvider, originator, pointOfContact, principalInvestigator,
          processor, publisher, or user.
        </example>
        <lineage>
          This field was derived from the ISO 19115.3 standard 
          (iso-geo-md-2000June-draft), with the addition of a few new roleCode
          values.
        </lineage>
      </xs:appInfo>
    </xs:annotation>
  </xs:simpleType>
  
</xs:schema>
