display/eml-distribution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 (http://www.xmlspy.com) by Chad Berkley (NCEAS) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
<xsd:schema targetNamespace="http://caplter.asu.edu/schemas/Distribution" xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" xmlns:fgdc="http://caplter.asu.edu/schemas/fgdc" xmlns:lit="http://caplter.asu.edu/schemas/Literature" xmlns:isorp="http://caplter.asu.edu/schemas/ISOResponsibleParty" xmlns:dist="http://caplter.asu.edu/schemas/Distribution" elementFormDefault="qualified">
	<xsd:import namespace="http://caplter.asu.edu/schemas/fgdc" schemaLocation="fgdc.xsd"/>
	<xsd:import namespace="http://caplter.asu.edu/schemas/Literature" schemaLocation="Literature.xsd"/>
	<xsd:element name="distribution">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="dist:Distribution">
					<xsd:sequence>
						<xsd:element name="contact" type="isorp:responsibleParty" minOccurs="0">
							<xsd:annotation>
								<xsd:appinfo>
									<description>
										contact information for person or organization who is responsible for this file, service or object.
									</description>
									<lineage>
										Added at Metadata Standards Meeting Albuquerque 04/03/01
									</lineage>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Distribution">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="file" type="dist:File" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: describes a distribution based on a file.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="service" type="dist:Service">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: describes a distribution based on a stateful service connection</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="other">
				<xsd:annotation>
					<xsd:documentation>
						<description>
							paragraphs describing the "other" object to be distributed. This should be described if 						
							the object being distributed is not a file or a service.
						</description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="paragraph" type="xsd:string"/>
						<xsd:element name="distInPackage" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>
									<description>
										describes if other distribution information is stored in another schema instance and is documented in the package relations.  
									</description>
									<lineage>
										John Porter recommended this tag for unambiguous description of distribution information.									   						This allows the addition of other modules that describe specific types of objects and the
										methods that are used to distribution.
									</lineage>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="File">
		<xsd:sequence>
			<xsd:element name="objectName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Source ASU Definition: Name of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataFormat" type="dist:DataFormat">
				<xsd:annotation>
					<xsd:documentation>Source ASU Definition: Definition of the file Format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="archiveFormat" type="dist:ArchiveFormat" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of any compression or archive format used </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="owner" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Owner attribute for the file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="size" type="dist:Size" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Size of the file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fileConn" type="dist:FileConn">
				<xsd:annotation>
					<xsd:documentation>Definition of the file location.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extent" type="dist:Extent">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: Defines the extent of the particular file when it is part of a distribution that has been broken up into tiles or series for the purpose of distribution.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Service">
		<xsd:sequence>
			<xsd:element name="objectName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Source ASU Definition: Name of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="objectType" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>type of object being referenced</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="owner" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Owner account or schema if applicable</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceConn" type="dist:ServiceConn" nullable="false">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: Connection information for a service distribution. Accepts a choice of elements representing different service types.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataFormat">
		<xsd:choice>
			<xsd:element name="formatType" type="dist:FormatType">
				<xsd:annotation>
					<xsd:documentation>Source FGDC Definition: identification of a formal format type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="asciiDelim" type="dist:AsciiDelim">
				<xsd:annotation>
					<xsd:documentation>Definition of an ascii delimited format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="asciiFixed" type="dist:AsciiFixed">
				<xsd:annotation>
					<xsd:documentation>Documentation of a fixed-length ascii file format.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="binary" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Documentation for a generic binary format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="raster" type="dist:Grid">
				<xsd:annotation>
					<xsd:documentation>documentation for a generic raster or image format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="other">
				<xsd:annotation>
					<xsd:documentation>
						<description>
							description of "other" files not included in standard file types.
						</description>
						<lineage>added at Metadat Standards meeting Albuquerque 04/03/01</lineage>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="paragraph" maxOccurs="unbounded"/>
						<xsd:element name="distInPackage">
							<xsd:annotation>
								<xsd:appinfo>
									<description>
										describes if other distribution information is stored in another schema instance and is documented
										in the package relations.  
									</description>
									<lineage>
										John Porter recommended this tag for unambiguous description of distribution information.									   						This allows the addition of other modules that describe specific types of objects and the
										methods that are used to distribution.
									</lineage>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="ArchiveFormat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="zip"/>
			<xsd:enumeration value="gzip"/>
			<xsd:enumeration value="tar"/>
			<xsd:enumeration value="tar+gzip"/>
			<xsd:enumeration value="binhex"/>
			<xsd:enumeration value="esriexporta"/>
			<xsd:enumeration value="esriexportb"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Size">
		<xsd:sequence>
			<xsd:element name="value" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Size value</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="units" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Size units</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileConn">
		<xsd:choice>
			<xsd:element name="fileSystem" type="dist:FileSystem">
				<xsd:annotation>
					<xsd:documentation>Fill available by a network operation system</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="url" type="dist:Url">
				<xsd:annotation>
					<xsd:documentation>Universal Resource Locator pointing to the file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srb" type="dist:Srb"/>
			<xsd:element name="dailinst" type="fgdc:Dialinst"/>
			<xsd:element name="removeableMedia" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="Extent">
		<xsd:choice>
			<xsd:element name="tileExtent" type="dist:TileExtent">
				<xsd:annotation>
					<xsd:documentation>Defines the boundaries of part of a tiled distribution in whatever map units the data are distributed in.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="seriesExtent" type="dist:SeriesExtent">
				<xsd:annotation>
					<xsd:documentation>Defines the temporal boundaries of part of a seriated distribution.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="thematicExtent" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FormatType">
		<xsd:sequence>
			<xsd:element name="formatName" type="dist:Format">
				<xsd:annotation>
					<xsd:documentation>Name of the file format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="formatVersion" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Version of the file format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentation" type="lit:Literature" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Citation of any documentation to the format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AsciiDelim">
		<xsd:sequence>
			<xsd:element name="endOfFieldString" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>String marking the end of a field.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="headerInFirstRow" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Indication of whether the first row of the file contains the column names</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endOfRecordString" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>String marking the end of a record.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endOfFileString" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>String marking the end of the file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="textDelimString" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>String used to delimit text values</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="literalString" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>String used to signal the literal interpretation of the following character.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AsciiFixed">
		<xsd:sequence>
			<xsd:element name="recordLength" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Length of the record</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endOfFileString" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>String indicating end of the file </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fieldBounds" type="dist:FieldBounds" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Beginning and ending locations of the fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Grid">
		<xsd:sequence>
			<xsd:element name="headerLength" type="xsd:integer"/>
			<xsd:element name="order" type="xsd:string"/>
			<xsd:element name="mostSigBit" type="xsd:string"/>
			<xsd:element name="nrows" type="xsd:string"/>
			<xsd:element name="ncols" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceConn">
		<xsd:sequence>
			<xsd:element name="serviceType" type="xsd:string" nullable="false">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: Generic name of the data server software</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="version" type="xsd:string" nullable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: Version of data server software</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="host" type="xsd:string" nullable="false">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: Network name or ip address of the host computer to connect to</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="instance" type="xsd:string" nullable="true" minOccurs="0"/>
			<xsd:element name="port" type="xsd:unsignedShort" nullable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition:Listening port number on the host computer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="catalog" type="xsd:string" nullable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Source ASU Definition: catalog, database or tablespace where object is located</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extendedParameters" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="parameterName" type="xsd:string"/>
						<xsd:element name="parameterValue" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileSystem">
		<xsd:sequence>
			<xsd:element name="os" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: Operating system of host computer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="version" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Source: ASU Definition: Version of operating system</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="domain" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Definition: Name of network or security domain for host computer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="host" type="xsd:string"/>
			<xsd:element name="path" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Url">
		<xsd:sequence>
			<xsd:element name="protocol" type="dist:Protocol">
				<xsd:annotation>
					<xsd:documentation>URL connection type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="host" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Internet name or ip address of host computer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="path" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>directory path to the file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Srb">
		<xsd:sequence>
			<xsd:element name="host" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TileExtent">
		<xsd:sequence>
			<xsd:element name="minx" type="xsd:string"/>
			<xsd:element name="maxx" type="xsd:string"/>
			<xsd:element name="miny" type="xsd:string"/>
			<xsd:element name="maxy" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SeriesExtent">
		<xsd:sequence>
			<xsd:element name="beginDate" type="xsd:string"/>
			<xsd:element name="endDate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Protocol">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="http"/>
			<xsd:enumeration value="https"/>
			<xsd:enumeration value="ftp"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Format">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="shape"/>
			<xsd:enumeration value="imagine"/>
			<xsd:enumeration value="grid"/>
			<xsd:enumeration value="dbf"/>
			<xsd:enumeration value="excel"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FieldBounds">
		<xsd:sequence>
			<xsd:element name="begincol">
				<xsd:annotation>
					<xsd:documentation>Beginning column for the field</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="length">
				<xsd:annotation>
					<xsd:documentation>Ending column for the field</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
