display/eml-project.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rp="iso:ResponsibleParty"
           xmlns:rs="eml:resource"
           targetNamespace="eml:project">

  <xs:annotation>
    <xs:documentation>
       '$RCSfile: eml-project.xsd,v $'
       Copyright: 2000 Regents of the University of California and the
                  National Center for Ecological Analysis and Synthesis
     For Details: http://knb.ecoinformatics.org/
  
        '$Author: berkley $'
          '$Date: 2001-04-03 21:51:16 $'
      '$Revision: 1.1 $'
    
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <moduleName>
        eml-project
      </moduleName>
      <moduleDescription>
        The EML Project Module describes the research context 
        in which the dataset was created.
      </moduleDescription>
    </xs:appinfo>
  </xs:annotation>

 <!-- import the elements from eml-resource -->
  <xs:import namespace="eml:resource"
             schemaLocation = "./eml-resource.xsd"/>

  <xs:element name="eml-project">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Research protocol descriptors
        </tooltip>
        <summary>
          Container of all research projects in which context the
          dataset was created.
        </summary>
        <description>
           Eml-project element represents the research project 
           employed by the researchers who created this dataset.
        </description>
        <example>
        </example>
        <lineage>
          The eml-project was introduced into EML 1.4 as eml-context.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "identifier" type = "xs:string"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Unique identifier
              </tooltip>
              <summary>
                The unique identifier of this metadata file or object.
              </summary>
              <description>
                The identifier field provides a unique identifier for this
                metadata documentation.  It will most likely be part of a 
                sequence of numbers or letters that are meaningful in a 
                larger context, such as a metadata catalog. That larger
                system can be identified in the "system" attribute. Multiple
                identifiers can be listed corresponding to different catalog
                systems.
              </description>
              <example>
               <![CDATA[<identifier system="metacat">nceas.3.2</identifier>]]>
              </example>
              <lineage>
                The 'identifier' field is derived from the eml-dataset 
                meta_file_id filed in EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="system" use="optional" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <tooltip>
                    Catalog system
                  </tooltip>
                  <summary>
                    The catalog system in which this identifier is used.
                  </summary>
                  <description>
                    This element gives the name of the catalog system in which
                    this identifier is used.  It is useful to determine the
                    scope of the identifier, and to determine the semantics
                    of the various subparts of the identifier. Unresolved issue:
                    can or should this be a URI/URL pointing to the catalog
                    system, or just the name?
                  </description>
                  <example><![CDATA[
                    <identifier system="metacat">nceas.3.2</identifier>]]>
                  </example>
                  <lineage>
                    New to EML 2.0.
                  </lineage>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>

        <xs:element ref="researchProject" minOccurs="1" maxOccurs="unbounded" />

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="researchProject">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Research project descriptor
        </tooltip>
        <summary>
          Descriptor of research project in which context 
          the dataset was created.
        </summary>
        <description>
          Research project element is a descriptor of
          the research methods employed by the researchers who 
          created this dataset. It can include research methods, 
          data collection methods, equations, formulas. 
        </description>
        <example>
        </example>
        <lineage>
          The researchProject element was introduced into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title" type="xs:string"
                    minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Title
              </tooltip>
              <summary>
                Title of the research project
              </summary>
              <description>
                Title of the research project
              </description>
              <example>
              </example>
              <lineage>
                The title element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation> 
        </xs:element>

        <xs:element ref="originator" type="rp:ResponsibleParty"
                    minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Originator
              </tooltip>
              <summary>
                The party who created the research project.
              </summary>
              <description>
                The party who created the research project.
              </description>
              <example>
              </example>
              <lineage>
                FGDC-STD-001.1-1999 (nbii-fgdc-std-001.1-1999)
              </lineage>
            </xs:appinfo>
          </xs:annotation> 
        </xs:element>

        <xs:element name="temporalDescription"
                    minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Temporal description
              </tooltip>
              <summary>
                Descriptor of temporal boudaries of the project.
              </summary>
              <description>
                This element describes the temporal coverage of the project.
                It specifies the duration, start and end date of the project.
              </description>
              <example>
              </example>
              <lineage>
                The temporalDescription element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="temporalCoverage" type="rs:TemporalCoverage"
                          minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <tooltip>
                        Temporal coverage
                    </tooltip>
                    <summary>
                        Temporal coverage descriptor
                    </summary>
                    <description>
                        This element specifies temporal coverage of the 
                      research project.
                    </description>
                    <example>
                    </example>
                    <lineage>
                      The temporalCoverage was introduced into EML 1.4.
                    </lineage>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="abstract"
                    minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Abstract
              </tooltip>
              <summary>
                Descriptive abstract.
              </summary>
              <description>
                Descriptive abstract in paragraph of text.
              </description>
              <example>
              </example>
              <lineage>
                The abstract element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="funding"
                    minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Funding
              </tooltip>
              <summary>
                Funding information.
              </summary>
              <description>
Composed of two elements. Source is the Grant and contract numbers, name and address of a funding source described in paragraph of text. Amount is the amount of funding in US Dollars and is optional.
              </description>
              <example>
              </example>
              <lineage>
                The funding element was introduced into EML 1.4.
              </lineage>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="source" type="xs:string"
                          minOccurs="1" maxOccurs="1"/>
<xs:element name="amount" type="xsd:currency" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
</xs:complexType>
        </xs:element>

        <xs:element ref="siteDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element ref="designDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element ref="methodDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element name="staff" type="rp:ResponsibleParty"
                          minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <tooltip>
                Project personel
              </tooltip>
              <summary>
                Project personel
              </summary>
              <description>
                Project personel.
              </description>
              <lineage>
                FGDC-STD-001.1-1999 (nbii-fgdc-std-001.1-1999)
              </lineage>
            </xs:appinfo>
          </xs:annotation> 
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="siteDescription">
    <xs:annotation>
      <xs:appinfo>
        <tooltip>
          Site description
        </tooltip>
        <summary>
          Site description.
        </summary>
        <description>
          Description of the site of the project. It can include 
          general description in paragraphs of text, habitat, geographical,
          geological, hydrological, historical, and climatological
          information.
        </description>
        <example>
        </example>
        <lineage>
          The siteDescription element was introduced into EML 1.4.
        </lineage>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
               <xs:element name="paragraph" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:annotation>
       <xs:document> The methodsDescription was removed from this module. It                     should be moved to the eml-resource module. It may also be desirable to duplicate the siteDescription within eml-resource to provide the detailed information about the specific sites involved in data collection.
      </xs:document>
  </xs:annotation>
        
</xs:schema>

