display/eml-research.xsd

<?xml version ="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2000/10/XMLSchema"
           xmlns:rp="iso:ResponsibleParty"
           xmlns:rs="eml:resource"
           targetNamespace="eml:research">

  

 <!-- import the elements from eml-resource -->
  <xs:import namespace="eml:resource"
             schemaLocation = "./eml-resource.xsd"/>

  <xs:element name="eml-research">
    
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "identifier" type = "xs:string"
                    minOccurs="1" maxOccurs="unbounded">
          
          <xs:complexType>
            <xs:attribute name="system" use="optional" type="xs:string">
              
            </xs:attribute>
          </xs:complexType>
        </xs:element>

        <xs:element ref="researchProject" minOccurs="1" maxOccurs="unbounded" />

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="researchProject">
    
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title" type="xs:string"
                    minOccurs="1" maxOccurs="1">
           
        </xs:element>

        <xs:element ref="originator" type="rp:ResponsibleParty"
                    minOccurs="1" maxOccurs="unbounded">
           
        </xs:element>

        <xs:element name="temporalDescription"
                    minOccurs="0" maxOccurs="unbounded">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="temporalCoverage" type="rs:TemporalCoverage"
                          minOccurs="0" maxOccurs="unbounded">
                
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="objectives"
                    minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="abstract"
                    minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="funding"
                    minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element ref="siteDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element ref="designDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element ref="methodDescription"
                    minOccurs="0" maxOccurs="unbounded"/>        

        <xs:element name="staff" type="rp:ResponsibleParty"
                          minOccurs="0" maxOccurs="unbounded">
           
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="siteDescription">
    
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paragraph" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="siteType" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="geography" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="geographicCoverage" type="rs:GeographicCoverage" 
                          minOccurs="0" maxOccurs="unbounded">
                
              </xs:element>
        
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="habitat" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="geology" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="hydrology" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="history" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="climate" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
              
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="chapterTitle">
    
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"
                    minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
        
  <xs:element name="designDescription">
    
    <xs:complexType>
      <xs:sequence>
        <xs:element name="designMethod" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="plots" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="sampling" minOccurs="0" maxOccurs="1">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="temporalCoverage" type="rs:TemporalCoverage"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="frequency" type="xs:string"
                          minOccurs="0" maxOccurs="1"/>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="paragraph" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="citation" type="rs:LitCitation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
        
  <xs:element name="methodsDescription">
    
    <xs:complexType>
      <xs:sequence>
        <xs:element name="method" minOccurs="0" maxOccurs="unbounded">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="instrument" minOccurs="0" maxOccurs="unbounded">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="taxonomy" minOccurs="0" maxOccurs="unbounded">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="citation" type="rs:LitCitation"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="permit" minOccurs="0" maxOccurs="unbounded">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="legalInformation" minOccurs="0" maxOccurs="unbounded">
          
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraph" type="xs:string"
                          minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
              
        <xs:element name="paragraph" type="xs:string"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="citation" type="rs:LitCitation"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
        
</xs:schema>
