xsd/eml-project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:doc="https://eml.ecoinformatics.org/documentation-2.2.0"
    xmlns:txt="https://eml.ecoinformatics.org/text-2.2.0"
    xmlns:prot="https://eml.ecoinformatics.org/protocol-2.2.0"
    xmlns:rp="https://eml.ecoinformatics.org/party-2.2.0"
    xmlns:cov="https://eml.ecoinformatics.org/coverage-2.2.0"
    xmlns:cit="https://eml.ecoinformatics.org/literature-2.2.0"
    xmlns:res="https://eml.ecoinformatics.org/resource-2.2.0"
    xmlns="https://eml.ecoinformatics.org/project-2.2.0"
    targetNamespace="https://eml.ecoinformatics.org/project-2.2.0">
    <xs:import namespace="https://eml.ecoinformatics.org/documentation-2.2.0"
  schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="https://eml.ecoinformatics.org/resource-2.2.0"
  schemaLocation="eml-resource.xsd"/>
  <xs:import namespace="https://eml.ecoinformatics.org/party-2.2.0"
  schemaLocation="eml-party.xsd"/>
  <xs:import namespace="https://eml.ecoinformatics.org/coverage-2.2.0"
  schemaLocation="eml-coverage.xsd"/>
  <xs:import namespace="https://eml.ecoinformatics.org/literature-2.2.0"
  schemaLocation="eml-literature.xsd"/>
  <xs:import namespace="https://eml.ecoinformatics.org/text-2.2.0"
  schemaLocation="eml-text.xsd"/>
  <xs:annotation>
    <xs:documentation>'$RCSfile: eml-project.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: obrien $'
          '$Date: 2009-02-25 23:51:54 $'
      '$Revision: 1.83 $'
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-project</doc:moduleName>
        <doc:moduleDescription>
          <section xmlns="">
            <title>The eml-project module - Research context information for
            resources</title>
          </section>
        </doc:moduleDescription>
        <doc:recommendedUsage>Use eml-project to document the research context
        of any dataset or project.</doc:recommendedUsage>
        <doc:standAlone>no</doc:standAlone>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="researchProject" type="ResearchProjectType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>research project</doc:tooltip>
        <doc:summary>The root element of this module.</doc:summary>
        <doc:description>The root element of this module. This is used for
        testing or if you want to instantiate a stand-alone project
        file.</doc:description>

      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResearchProjectType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Research project descriptor</doc:tooltip>
        <doc:summary>Descriptor of a research context for a dataset or another
        project.</doc:summary>
        <doc:description>The researchProject complex type describes the
        structure for documenting the research context of a dataset or another
        project. It can include research goals, motivations, theory,
        hypotheses, etc., as well as a description of research efforts that
        form the basis for other work. (To document methods specific to a
        dataset use eml-methods.) This field can be associated with a dataset
        using the project field of eml-dataset, and can be associated with
        another project using the relatedProject field of eml-project (this
        module).</doc:description>

      </xs:appinfo>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element name="title" type="res:NonEmptyStringType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Project Title</doc:tooltip>
              <doc:summary>Title of the project.</doc:summary>
              <doc:description>A descriptive title for the research
              project.</doc:description>
              <doc:example>Species diversity in Tennessee riparian
              habitats.</doc:example>

            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="personnel" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Personnel</doc:tooltip>
              <doc:summary>Contact and role information for people involved in
              the research project.</doc:summary>
              <doc:description>The Personnel field extends ResponsibleParty
              with role information and is used to document people involved in
              a research project by providing contact information and their
              role in the project.</doc:description>

            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="rp:ResponsibleParty">
                <xs:sequence maxOccurs="unbounded">
                  <xs:element name="role" type="rp:RoleType">
                    <xs:annotation>
                      <xs:appinfo>
                        <doc:tooltip>Role</doc:tooltip>
                        <doc:summary>Role information for people involved in
                        the research project.</doc:summary>
                        <doc:description>The role field contains information
                        about role a person plays in a research project. There
                        are a number of suggested roles, however, it is
                        possible to add a role if the suggested roles are not
                        adequate.</doc:description>
                        <doc:example>author</doc:example>
                        <doc:example>contentProvider</doc:example>
                        <doc:example>custodianSteward</doc:example>
                        <doc:example>distributor</doc:example>
                        <doc:example>editor</doc:example>
                        <doc:example>metadataProvider</doc:example>
                        <doc:example>originator</doc:example>
                        <doc:example>owner</doc:example>
                        <doc:example>pointOfContact</doc:example>
                        <doc:example>principalInvestigator</doc:example>
                        <doc:example>processor</doc:example>
                        <doc:example>publisher</doc:example>
                        <doc:example>user</doc:example>
                        <doc:example>fieldStationManager</doc:example>
                        <doc:example>informationManager</doc:example>

                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="abstract" type="txt:TextType" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Abstract</doc:tooltip>
              <doc:summary>Project Abstract.</doc:summary>
              <doc:description>Descriptive abstract that summarizes information
              about the research project.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="funding" type="txt:TextType" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Funding</doc:tooltip>
              <doc:summary>Funding information.</doc:summary>
              <doc:description>The funding field is used to provide general information
              about the funding for a project, generally in prose form. This field is
              included for historical compatibility, and has been augmented by the
              award field that provides structured information about funding
              included.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="award" type="AwardType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Award information</doc:tooltip>
              <doc:summary>Award information.</doc:summary>
              <doc:description>The award field is used to provide specific information
              about the funding awards for a project in a structured format.  Sub-fields
              are provided for the name of the funding agency, the Open Funder Registry
              identifiers for the agency and program that made the award, the award
              number assigned, the title of the award, and the URL to the award page
              describing the award. The award field replaces the earlier funding field
              from prior EML version releases.  In general, the funding agency should be
              listed with a cross-reference to the appropriate identifier from the
              Open Funder Registry (included in the EML distribution, but which is
              also update periodically from the Open Funder Registry).
              </doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="studyAreaDescription" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Description of the study area.</doc:tooltip>
              <doc:summary>Description of the physical area associated with the
              research project, potentially including coverage, climate,
              geology, disturbances, etc.</doc:summary>
              <doc:description>The studyAreaDescription field documents the
              physical area associated with the research project. It can
              include descriptions of the geographic, temporal, and taxonomic
              coverage of the research location and descriptions of domains
              (themes) of interest such as climate, geology, soils or
              disturbances or reference to citable biological or geophysical
              classification systems such as the Bailey Ecoregions or the
              Holdridge Life Zones.</doc:description>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="descriptor">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Non-coverage characteristics of the study
                    area</doc:tooltip>
                    <doc:summary>Description of non-coverage characteristics of
                    the study area such as climate, geology,
                    disturbances</doc:summary>
                    <doc:description>The descriptor field is used to document
                    domains (themes) of interest such as climate, geology,
                    soils or disturbances or references to citable biological
                    or geophysical classification systems such as the Bailey
                    Ecoregions or the Holdridge Life Zones.</doc:description>

                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element name="descriptorValue" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>Description of some aspect of the study
                          area.</doc:tooltip>
                          <doc:summary>Description of some aspect of the study
                          area.</doc:summary>
                          <doc:description>The descriptorValue field contains
                          the value of a descriptor, describing some aspect of
                          the study area. This may either be a general
                          description in textual form or the value part of a
                          "name/value" pair where the name is entered in the
                          attribute "name_or_id". For example, if the value of
                          the "name" attribute" of the element "descriptor" is
                          "climate", and the value of the attribute
                          "name_or_id" of the element "descriptorValue" is
                          "Annual Precipitation" then the value of this element
                          could be "12.5 inches".</doc:description>
                          <doc:example>12.5 inches</doc:example>
                          <doc:example>tundra-forest</doc:example>

                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="name_or_id" type="xs:string" use="optional">
                              <xs:annotation>
                                <xs:appinfo>
                                  <doc:tooltip>The name or ID of a descriptor
                                  value.</doc:tooltip>
                                  <doc:summary>The name part of a name/value
                                  pair of a descriptor; or ID portion of a
                                  classification, if applicable.</doc:summary>
                                  <doc:description>The name_or_id field is the
                                  name part of a name/value pair of a
                                  descriptor; or ID portion of a
                                  classification, if applicable. The values of
                                  biogeophysical classification systems, e.g.
                                  Bailey-Ecoregions, often take the form of an
                                  ID or Code along with a text representation.
                                  For example, the ID/Code M131 refers to the
                                  phrase "Open Woodland -Tundra". M131 is an
                                  unambiguous reference to a more detailed
                                  description. If one is using a published
                                  classification system then there should be a
                                  corresponding citation to the source, e.g.,
                                  Bailey,R.G., 1996 "Ecosystem
                                  Geography".</doc:description>
                                  <doc:example>M131</doc:example>
                                  <doc:example>Average Annual
                                  Rainfall</doc:example>

                                </xs:appinfo>
                              </xs:annotation>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="citation" type="cit:CitationType" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:appinfo>
                          <doc:tooltip>citation</doc:tooltip>
                          <doc:summary>A citation for this
                          descriptor.</doc:summary>
                          <doc:description>A citation for this
                          descriptor.</doc:description>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="DescriptorType" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <doc:tooltip>name</doc:tooltip>
                        <doc:summary>The name of the descriptor
                        system.</doc:summary>
                        <doc:description>The name of the descriptor system. The
                        name can be either a theme such as climate or
                        hydrology, or the name of a citable classification
                        system.</doc:description>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="citableClassificationSystem" type="xs:boolean" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <doc:tooltip>citation classification
                        system</doc:tooltip>
                        <doc:summary>This boolean attribute defines whether
                        this descriptor comes from a citable classification
                        system or not.</doc:summary>
                        <doc:description>This boolean attribute defines whether
                        this descriptor comes from a citable classification
                        system or not.</doc:description>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="citation" type="cit:CitationType" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>citation</doc:tooltip>
                    <doc:summary>The citation for this
                    descriptor.</doc:summary>
                    <doc:description>The citation for this
                    descriptor.</doc:description>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="coverage" type="cov:Coverage" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>coverage</doc:tooltip>
                    <doc:summary>The coverage of this descriptor.</doc:summary>
                    <doc:description>The coverage of this
                    descriptor.</doc:description>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="designDescription" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Description of research design</doc:tooltip>
              <doc:summary>Description of the design of the research
              project</doc:summary>
              <doc:description>The field designDescription contains general
              textual descriptions of research design. It can include detailed
              accounts of goals, motivations, theory, hypotheses, strategy,
              statistical design, and actual work. Literature citations may
              also be used to describe the research design.</doc:description>

            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="description" type="txt:TextType">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Description of research design</doc:tooltip>
                    <doc:summary>Textual description of research
                    design.</doc:summary>
                    <doc:description>The field designDescription contains
                    general textual descriptions of research design. It can
                    include detailed accounts of goals, motivations, theory,
                    hypotheses, strategy, statistical design, and actual
                    work.</doc:description>

                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="citation" type="cit:CitationType" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Citation for research design</doc:tooltip>
                    <doc:summary>Citation that describes the research
                    design.</doc:summary>
                    <doc:description>The citation field is a citation to
                    literature that describes elements of the research design,
                    such as goals, motivations, theory, hypotheses, strategy,
                    statistical design, and actual work.</doc:description>

                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="relatedProject" type="ResearchProjectType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>related project</doc:tooltip>
              <doc:summary>This field is a recursive link to another
              project.</doc:summary>
              <doc:description>This field is a recursive link to another
              project. This allows projects to be nested under one another for
              the case where one project spawns another.</doc:description>

            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:group ref="res:ReferencesGroup"/>
    </xs:choice>
    <xs:attribute name="id" type="res:IDType" use="optional"/>
    <xs:attribute name="system" type="res:SystemType" use="optional"/>
    <xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
  </xs:complexType>
  <xs:complexType name="AwardType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>AwardType</doc:tooltip>
        <doc:summary>Information about a funding award.
        resource.</doc:summary>
        <doc:description>
          <section xmlns="">
            <para>The AwardType is used to enter information about a funding award
        associated with a project.  The containing project contains the list of
        investigators and for the award, while the `award` field contains specifics
        such as the agency name, award number, and funding program identifiers.</para>
          </section>
        </doc:description>
        <doc:example>Please see the examples within each subfield.</doc:example>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
<!--
<funder_name>National Science Foundation</funder_name >
<funder_identifier>https://doi.org/10.13039/00000001<funder_identifier>
<award_number>1546024</award_number>
<title>Scientia Arctica: A Knowledge Archive for Discovery and Reproducible Science in the Arctic</title>
<awardURL>https://www.nsf.gov/awardsearch/showAward?AWD_ID=1546024</awardURL>
-->

      <xs:element name="funderName" type="res:i18nNonEmptyStringType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Funder Name</doc:tooltip>
            <doc:summary>The name of the funding institution that made this award</doc:summary>
            <doc:description>The name of the funding institution, with fully expanded acronyms
            to show the full, official name of the funding agency. In general, this should match
            the official name of the funder as listed in an Authority such as the Open
            Funder Registry.  The Open Funder Registry and other organizational authorities may
            provide a list of other alternative names for the funding agency.
            </doc:description>
            <doc:example>National Science Foundation</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="funderIdentifier" type="res:i18nNonEmptyStringType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Funder identifier</doc:tooltip>
            <doc:summary>The identifier of the funding agency.</doc:summary>
            <doc:description>The funder identifier is used to provide one or more
            canonical identifiers that reference the funder.  These identifiers
            should be globally unique.  The most common form of a funder identifier
            is a DOI identifier of an institution or program drawn from the CrossRef
            Open Funder Registry (https://github.com/Crossref/open-funder-registry),
            which assigns DOIs to each funding agency and to their programs, and
            links these together in a navigable hierarchy.  A copy of the current
            Funder Registry is included as an RDF file with EML for reference, but
            as the list is constantly growing, users can retrieve new copies of the
            RDF file to get updates and current metadata about funders.
            </doc:description>
            <doc:example>http://dx.doi.org/10.13039/100000001</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="awardNumber" type="res:i18nNonEmptyStringType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Award Number</doc:tooltip>
            <doc:summary>The assigned award number.</doc:summary>
            <doc:description>The awardNumber field provides the unique identifier used by
            the funder to uniquely identify an award.  These are typically alphanumeric values
            that are unique within the system used by a given funder.  The number should be listed
            using the canonical form that each funder uses to express its award numbers, and not
            be prefixed or postfixed with extra text such as the acronym of the funder or the name
            of the funder, which is available instead in the funderName field.
            </doc:description>
            <doc:example>1546024</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="res:i18nNonEmptyStringType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Title</doc:tooltip>
            <doc:summary>The title of the award.</doc:summary>
            <doc:description>The title field is used for the title of the award or grant
            being described.
            </doc:description>
            <doc:example>Scientia Arctica: A Knowledge Archive for Discovery and Reproducible Science in the Arctic</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="awardUrl" type="res:i18nNonEmptyStringType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Award URL</doc:tooltip>
            <doc:summary>The URL associated with award.</doc:summary>
            <doc:description>Typically, the awardUrl is use to find and locate the award, and
            generally addresses the internet location to find out more information about the
            award.  This should point to a funder site for the award, rather than a project site.
            </doc:description>
            <doc:example>https://www.nsf.gov/awardsearch/showAward?AWD_ID=1546024</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DescriptorType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Descriptor Theme Type</doc:tooltip>
        <doc:summary>The type of descriptor theme or the name of a
        classification system.</doc:summary>
        <doc:description>The DescriptorType is used to represent either the
        name of a citable classification system/controlled vocabulary such as
        the Bailey classification of ecoregions or a domain of physical
        descriptors such as climate or disturbances.</doc:description>
        <doc:example>climate</doc:example>
        <doc:example>soils</doc:example>
        <doc:example>hydrology</doc:example>
        <doc:example>"bailey"</doc:example>
        <doc:example>biome</doc:example>
        <doc:example>disturbance</doc:example>
        <doc:example>geology</doc:example>
      </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="climate"/>
          <xs:enumeration value="hydrology"/>
          <xs:enumeration value="soils"/>
          <xs:enumeration value="geology"/>
          <xs:enumeration value="disturbance"/>
          <xs:enumeration value="bailey"/>
          <xs:enumeration value="biome"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>
